Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

fix: survive sandboxed iframes — safe storage access + Origin: null CORS (#1770)
  backend/src/backend/config.py
  backend/tests/test_cors_origins.py
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/for-you.svelte.ts
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/moderation.svelte.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/lib/tracks.svelte.ts
  frontend/src/lib/utils/safe-storage.test.ts
  frontend/src/lib/utils/safe-storage.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: status — 500 followers, and the first full accounting
  STATUS.md
Due: none

fix(pre-commit): check-legal-dates runs on python3, not uv
  .pre-commit-config.yaml
Due: none

docs: status — 500 followers, and the first full accounting (#1771)
  .pre-commit-config.yaml
  STATUS.md
Due: none

revert: STATUS.md changes from #1771 (keep the pre-commit fix)
  STATUS.md
Due: none

revert: STATUS.md changes from #1771 (keep the pre-commit fix) (#1772)
  STATUS.md
Due: none

feat(observability): log own-namespace PDS record writes as the jetstream echo signal
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/jetstream.py
  backend/tests/_internal/test_record_write_echo_log.py
  loq.toml
Due: type-check

feat(observability): log own-namespace PDS record writes as the jetstream echo signal (#1775)
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/jetstream.py
  backend/tests/_internal/test_record_write_echo_log.py
  loq.toml
Due: type-check

docs: status — the blackout finally pages someone (#1775), and the broadcaster design capture (#1774)
  STATUS.md
Due: none

docs: status — the blackout finally pages someone (#1775), and the broadcaster design capture (#1774) (#1776)
  STATUS.md
Due: none

feat(upload): pick track artwork from your luminframe image records
  frontend/src/lib/components/LuminframePicker.svelte
  frontend/src/lib/utils/luminframe.test.ts
  frontend/src/lib/utils/luminframe.ts
  frontend/src/routes/upload/+page.svelte
Due: svelte-check, eslint

feat(upload): link to luminframe when the account has no images yet
  frontend/src/lib/components/LuminframePicker.svelte
Due: svelte-check, eslint

fix(tests): hand blobs to the fetch mock directly; relax loq for upload page
  frontend/src/lib/utils/luminframe.test.ts
  loq.toml
Due: svelte-check, eslint

feat(upload): offer the luminframe picker only when the account has images
  frontend/src/lib/components/LuminframePicker.svelte
  frontend/src/lib/utils/luminframe.test.ts
  frontend/src/lib/utils/luminframe.ts
  frontend/src/routes/upload/+page.svelte
Due: svelte-check, eslint

fix(frontend): transparent favicon for safari tabs
  frontend/src/lib/assets/favicon.png
  frontend/src/routes/+layout.svelte
  frontend/static/favicon.ico
Due: svelte-check, eslint

fix(frontend): transparent favicon for safari tabs (#1777)
  frontend/src/lib/assets/favicon.png
  frontend/src/routes/+layout.svelte
  frontend/static/favicon.ico
Due: svelte-check, eslint

fix(auth): keep OAuth payload encrypted in the session cache
  backend/src/backend/_internal/auth/session.py
  backend/tests/_internal/test_auth_modules.py
  backend/tests/_internal/test_session_cache.py
Due: type-check

fix(auth): keep OAuth payload encrypted in the session cache (#1783)
  backend/src/backend/_internal/auth/session.py
  backend/tests/_internal/test_auth_modules.py
  backend/tests/_internal/test_session_cache.py
Due: type-check

fix(subsonic): only developer tokens authenticate /rest
  backend/src/backend/api/subsonic/auth.py
  backend/tests/api/test_subsonic.py
Due: type-check

fix(subsonic): only developer tokens authenticate /rest (#1784)
  backend/src/backend/api/subsonic/auth.py
  backend/tests/api/test_subsonic.py
Due: type-check

feat(upload): artwork sources as peers — hidden input, preview, remove
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(upload): extract ArtworkField, drop the loq relax
  frontend/src/lib/components/ArtworkField.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs: status — the session cache was handing out PDS credentials (#1778-#1784)
  STATUS.md
  docs/research/2026-08-08-credential-handling-in-atproto-appviews.md
Due: none

fix(redis): require a password on plyr-redis
  infrastructure/redis/README.md
  infrastructure/redis/fly.staging.toml
  infrastructure/redis/fly.toml
Due: none

fix(rate-limit): survive a redis outage instead of 500ing the API
  backend/src/backend/utilities/rate_limit.py
  backend/tests/test_rate_limit.py
Due: type-check

fix(rate-limit): survive a redis outage instead of 500ing the API (#1787)
  backend/src/backend/utilities/rate_limit.py
  backend/tests/test_rate_limit.py
Due: type-check

fix(redis): require a password on plyr-redis (#1786)
  infrastructure/redis/README.md
  infrastructure/redis/fly.staging.toml
  infrastructure/redis/fly.toml
Due: none

docs: status — the session cache was handing out PDS credentials (#1778-#1784) (#1785)
  STATUS.md
  docs/research/2026-08-08-credential-handling-in-atproto-appviews.md
Due: none

docs: status — redis auth, and the blip that took the API down (#1786, #1787)
  STATUS.md
Due: none

docs: status — redis auth, and the blip that took the API down (#1786, #1787) (#1788)
  STATUS.md
Due: none

docs: diagnose the staging `SELECT neondb` errors (pool/suspend mismatch)
  STATUS.md
  docs/internal/backend/database/connection-pooling.md
Due: none

docs: diagnose the staging `SELECT neondb` errors (pool/suspend mismatch) (#1789)
  STATUS.md
  docs/internal/backend/database/connection-pooling.md
Due: none

fix(security): validate PDS endpoints before building blob URLs (#1778)
  backend/src/backend/_internal/slingshot.py
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_post_create_hooks.py
  backend/tests/test_slingshot.py
  loq.toml
Due: type-check

fix(security): mirror PDS-hosted audio into R2 after verifying its CID (#1778)
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/_internal/tasks/pds_mirror.py
  backend/tests/_internal/test_pds_mirror.py
Due: type-check

fix(security): harden the SSRF guard and backfill existing PDS-only audio (#1778)
  backend/pyproject.toml
  backend/uv.lock
  scripts/backfill_pds_blob_mirror.py
Due: type-check

fix(security): stop treating an uploader-controlled endpoint as our own storage (#1778) (#1790)
  backend/pyproject.toml
  backend/src/backend/_internal/slingshot.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/_internal/tasks/pds_mirror.py
  backend/tests/_internal/test_pds_mirror.py
  backend/tests/test_post_create_hooks.py
  backend/tests/test_slingshot.py
  backend/uv.lock
  loq.toml
  scripts/backfill_pds_blob_mirror.py
Due: type-check

fix(scripts): give the PDS mirror backfill a docket client, and ship scripts
  backend/Dockerfile
  scripts/backfill_pds_blob_mirror.py
Due: type-check

fix(security): skip copyright scans on staging when mirroring, as ingest does
  backend/src/backend/_internal/tasks/pds_mirror.py
  backend/tests/_internal/test_pds_mirror.py
Due: type-check

fix(scripts): give the PDS mirror backfill a docket client, and ship scripts in the image (#1791)
  backend/Dockerfile
  backend/src/backend/_internal/tasks/pds_mirror.py
  backend/tests/_internal/test_pds_mirror.py
  scripts/backfill_pds_blob_mirror.py
Due: type-check

revert: don't ship scripts/ in the backend image
  backend/Dockerfile
Due: none

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
