Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

feat: add script to scan tracks for copyright
  scripts/scan_tracks_copyright.py
Due: ty-check

fix: handle enterprise audd endpoint response format
  moderation/src/main.rs
Due: none

feat: add script to scan tracks for copyright (#348)
  moderation/src/main.rs
  scripts/scan_tracks_copyright.py
Due: ty-check

fix: make track embed responsive for narrow screens
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: make track embed responsive for narrow screens (#349)
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: prevent logo from overlapping title in embed
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: prevent logo from overlapping title in embed (#350)
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

feat: add artist link to track embed
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

feat: add artist link to track embed (#351)
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: use blurred background for mobile embed layout
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: use blurred background for mobile embed layout (#352)
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: make mobile embed background more transparent
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: add pointer-events: none to mobile background layers
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: mobile embed click interactivity and background opacity (#353)
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: reduce mobile background overlay opacity to 0.2
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

fix: reduce mobile background overlay opacity to 0.2 (#354)
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

feat: add oEmbed endpoint for embed discovery
  backend/src/backend/api/__init__.py
  backend/src/backend/api/oembed.py
  backend/src/backend/main.py
  backend/tests/api/test_oembed.py
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

feat: add oEmbed endpoint for embed discovery (#355)
  backend/src/backend/api/__init__.py
  backend/src/backend/api/oembed.py
  backend/src/backend/main.py
  backend/tests/api/test_oembed.py
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

fix: add og:video meta tags for iframely embed discovery
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: add og:video meta tags for iframely embed discovery (#356)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: remove og:audio to let iframely use og:video for player
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: remove og:audio to let iframely use og:video for player (#357)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

revert: remove og:video, restore og:audio
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

revert: remove og:video, restore og:audio (#358)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

feat: add timed comments on tracks
  backend/alembic/env.py
  backend/alembic/versions/2025_11_25_233843_20d550e3d14b_add_track_comments_table_and_allow_.py
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/api/preferences.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/config.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/preferences.py
  backend/src/backend/models/track_comment.py
  backend/tests/api/test_track_comments.py
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

fix: play button resume and clickable comment timestamps
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

refactor: extract _make_pds_request utility for ATProto record operations
  backend/src/backend/_internal/atproto/records.py
Due: ty-check

fix: address PR review feedback
  backend/src/backend/api/tracks/comments.py
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

feat: add constellation client for network-wide like counts
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/constellation.py
  backend/tests/test_constellation.py
Due: ty-check

chore: add user-agent header to constellation requests
  backend/src/backend/_internal/constellation.py
Due: ty-check

feat: add constellation client for network-wide like counts (#360)
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/constellation.py
  backend/tests/test_constellation.py
Due: ty-check

fix: address copilot review feedback
  backend/alembic/versions/2025_11_25_233843_20d550e3d14b_add_track_comments_table_and_allow_.py
  backend/src/backend/models/track_comment.py
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

feat: timed comments on tracks (#359)
  backend/alembic/env.py
  backend/alembic/versions/2025_11_25_233843_20d550e3d14b_add_track_comments_table_and_allow_.py
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/api/preferences.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/config.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/preferences.py
  backend/src/backend/models/track_comment.py
  backend/tests/api/test_track_comments.py
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

fix: detect stale OAuth scopes and prompt re-login
  backend/src/backend/_internal/auth.py
  backend/tests/test_scope_validation.py
  frontend/src/lib/auth.svelte.ts
Due: ty-check, frontend-build

fix: improve scope change message and add release link
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/components/Toast.svelte
  frontend/src/lib/toast.svelte.ts
Due: frontend-build

fix: detect stale OAuth scopes and prompt re-login (#361)
  backend/src/backend/_internal/auth.py
  backend/tests/test_scope_validation.py
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/components/Toast.svelte
  frontend/src/lib/toast.svelte.ts
Due: ty-check, frontend-build

fix: add trailing slash to preferences API calls in portal
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: add trailing slash to preferences API calls in portal (#362)
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

feat: add account deletion with explicit confirmation
  backend/src/backend/api/__init__.py
  backend/src/backend/api/account.py
  backend/src/backend/main.py
  backend/tests/api/test_account_deletion.py
  docs/offboarding.md
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

fix: correct test model fields and use client.request for DELETE with body
  backend/tests/api/test_account_deletion.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
