Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

widen track title container, replace inline description with disclosure icon
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

widen track title container, replace inline description with disclosure icon (#1205)
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

add top-level AT-URI resolution route
  frontend/src/routes/at/[...uri]/+server.ts
Due: svelte-check, eslint

add top-level AT-URI resolution route (#1206)
  frontend/src/routes/at/[...uri]/+server.ts
Due: svelte-check, eslint

replace manual AT-URI parsing with library utilities
  backend/src/backend/api/lists.py
  backend/src/backend/api/migration.py
  backend/src/backend/schemas.py
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: type-check, svelte-check, eslint

replace manual AT-URI parsing with library utilities (#1208)
  backend/src/backend/api/lists.py
  backend/src/backend/api/migration.py
  backend/src/backend/schemas.py
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: type-check, svelte-check, eslint

update STATUS.md — AT-URI resolution, track detail redesign, WebSocket hardening
  STATUS.md
Due: none

fix AT-URI resolution: handle :// normalization via reroute hook
  frontend/src/hooks.ts
Due: svelte-check, eslint

fix AT-URI resolution: handle :// normalization via reroute hook (#1210)
  frontend/src/hooks.ts
Due: svelte-check, eslint

fix AT-URI error pages: render in app layout, add profile redirect
  frontend/src/routes/at/[...uri]/+page.server.ts
  frontend/src/routes/at/[...uri]/+page.svelte
Due: svelte-check, eslint

fix AT-URI error pages: render in app layout, add profile redirect (#1211)
  frontend/src/routes/at/[...uri]/+page.server.ts
  frontend/src/routes/at/[...uri]/+page.svelte
Due: svelte-check, eslint

replace .actor.profile glue with bare authority → profile redirect
  frontend/src/routes/at/[...uri]/+page.server.ts
Due: svelte-check, eslint

fix: PDS blob upload failure no longer blocks track creation
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix: PDS blob upload failure no longer blocks track creation (#1213)
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/at/[...uri]/+page.server.ts
  loq.toml
Due: type-check, svelte-check, eslint

update STATUS.md — AT-URI resolution, track detail redesign, WebSocket hardening (#1209)
  STATUS.md
Due: none

add Fly HTTP health checks to detect unresponsive machines
  backend/fly.staging.toml
  backend/fly.toml
Due: none

add Fly HTTP health checks to detect unresponsive machines (#1214)
  backend/fly.staging.toml
  backend/fly.toml
Due: none

update STATUS.md — Fly health checks, Apr 2 outage retro
  STATUS.md
Due: none

update STATUS.md — Fly health checks, Apr 2 outage retro (#1215)
  STATUS.md
Due: none

add tag filter chips to homepage for positive genre filtering
  backend/src/backend/api/tracks/listing.py
  frontend/src/lib/components/TagFilter.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/+page.svelte
Due: type-check, svelte-check, eslint

add tag filter chips to homepage for positive genre filtering (#1216)
  backend/src/backend/api/tracks/listing.py
  frontend/src/lib/components/TagFilter.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/+page.svelte
Due: type-check, svelte-check, eslint

tag filter: per-tag hue colors, co-locate with hidden tags filter
  frontend/src/lib/components/TagFilter.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

tag filter: per-tag hue colors, co-locate with hidden tags filter (#1217)
  frontend/src/lib/components/TagFilter.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

tag filter: persist selection, no empty flash, selected tags sort left
  frontend/src/lib/components/TagFilter.svelte
  frontend/src/lib/tracks.svelte.ts
Due: svelte-check, eslint

perf: cache atprotofans validation in Redis, parallelize with DB work
  backend/src/backend/_internal/atprotofans.py
  backend/src/backend/api/tracks/listing.py
  backend/tests/_internal/test_atprotofans.py
  frontend/src/routes/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: use MagicMock for httpx response in atprotofans tests
  backend/tests/_internal/test_atprotofans.py
Due: type-check

tag filter: persist selection, no empty flash, sort left (#1218)
  backend/src/backend/_internal/atprotofans.py
  backend/src/backend/api/tracks/listing.py
  backend/tests/_internal/test_atprotofans.py
  frontend/src/lib/components/TagFilter.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

revert: remove track list dimming on refresh
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

revert: remove track list dimming on refresh (#1219)
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

rank tag chips by total play count instead of track count
  backend/src/backend/api/tracks/tags.py
  frontend/src/lib/components/TagFilter.svelte
Due: type-check, svelte-check, eslint

rank tag chips by total play count instead of track count (#1220)
  backend/src/backend/api/tracks/tags.py
  frontend/src/lib/components/TagFilter.svelte
Due: type-check, svelte-check, eslint

update STATUS.md — tag filtering, backend perf, tag ranking
  STATUS.md
Due: none

update STATUS.md — tag filtering, backend perf, tag ranking (#1221)
  STATUS.md
Due: none

polish search modal: center vertically, enhance glass effect
  frontend/src/lib/components/SearchModal.svelte
Due: svelte-check, eslint

polish search modal: center vertically, enhance glass effect (#1222)
  frontend/src/lib/components/SearchModal.svelte
Due: svelte-check, eslint

fix: resolve album AT-URIs through generic list resolver (#1206)
  backend/src/backend/api/lists.py
  backend/tests/api/test_list_by_uri.py
  frontend/src/routes/at/[...uri]/+page.server.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix: resolve album AT-URIs through generic list resolver (#1206) (#1223)
  backend/src/backend/api/lists.py
  backend/tests/api/test_list_by_uri.py
  frontend/src/routes/at/[...uri]/+page.server.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat: add Logfire browser observability
  backend/pyproject.toml
  backend/src/backend/api/meta.py
  backend/uv.lock
  frontend/bun.lockb
  frontend/package.json
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/observability.ts
  frontend/src/routes/+layout.svelte
Due: type-check, svelte-check, eslint

feat: add Logfire browser observability (#1224)
  backend/pyproject.toml
  backend/src/backend/api/meta.py
  backend/uv.lock
  frontend/bun.lockb
  frontend/package.json
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/observability.ts
  frontend/src/routes/+layout.svelte
Due: type-check, svelte-check, eslint

fix: prevent now-playing flood from degrading API
  backend/src/backend/api/now_playing.py
  frontend/src/lib/now-playing.svelte.ts
Due: type-check, svelte-check, eslint
