Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: move filter icon inline with heading and cache stats (#434)
  STATUS.md
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/lib/stats.svelte.ts
  frontend/src/routes/+page.svelte
Due: frontend-build

fix: remove stopPropagation from tag links to preserve playback
  docs/frontend/navigation.md
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: remove stopPropagation from tag links to preserve playback (#435)
  docs/frontend/navigation.md
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

chore: add ai tag to status maintenance uploads
  .github/workflows/status-maintenance.yml
Due: none

docs: update STATUS.md with tag filtering and SDK work
  STATUS.md
Due: none

chore: add ai tag to status maintenance uploads (#436)
  .github/workflows/status-maintenance.yml
  STATUS.md
Due: none

fix: include tags in track and album detail API responses
  backend/src/backend/api/albums.py
  backend/src/backend/api/tracks/playback.py
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

fix: include tags in track and album detail API responses (#437)
  backend/src/backend/api/albums.py
  backend/src/backend/api/tracks/playback.py
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

feat: bufo easter egg for tracks tagged with 'bufo'
  frontend/src/lib/components/BufoEasterEgg.svelte
  frontend/src/lib/components/TagEffects.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

feat: bufo easter egg for tracks tagged with 'bufo' (#438)
  frontend/src/lib/components/BufoEasterEgg.svelte
  frontend/src/lib/components/TagEffects.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

docs: update status with tags detail endpoints and bufo easter egg
  STATUS.md
Due: none

docs: update status with tags detail endpoints and bufo easter egg (#439)
  STATUS.md
Due: none

update readme
  README.md
Due: none

fix docs link
  README.md
Due: none

docs: add research issue for unified entity search
  ISSUE_entity_search.md
Due: none

feat: add light/dark theme support with CSS variables
  docs/frontend/keyboard-shortcuts.md
  frontend/src/lib/components/AlbumSelect.svelte
  frontend/src/lib/components/BrokenTracks.svelte
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/MigrationBanner.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/components/ShareButton.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/tag/[name]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+error.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

feat: add light/dark theme support with CSS variables (#441)
  docs/frontend/keyboard-shortcuts.md
  frontend/src/lib/components/AlbumSelect.svelte
  frontend/src/lib/components/BrokenTracks.svelte
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/MigrationBanner.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/components/ShareButton.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/tag/[name]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+error.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

docs: simplify onboard and status-update slash commands
  .claude/commands/onboard.md
  .claude/commands/status-update.md
Due: none

docs: simplify onboard and status-update slash commands (#442)
  .claude/commands/onboard.md
  .claude/commands/status-update.md
Due: none

feat: mobile UX improvements for header, portal, and upload
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

feat: mobile UX improvements for header, portal, and upload (#443)
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

ci: optimize pre-commit workflow with path filtering
  .github/workflows/run-pre-commit.yml
Due: none

ci: optimize pre-commit workflow with path filtering (#444)
  .github/workflows/run-pre-commit.yml
Due: none

fix: reduce player title scroll cycle time + fix upload toast
  frontend/src/lib/components/Toast.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/toast.svelte.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

fix: reduce player title scroll cycle time + fix upload toast (#445)
  frontend/src/lib/components/Toast.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/toast.svelte.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

docs: update status and fix stale frontend docs
  STATUS.md
  docs/frontend/state-management.md
  docs/frontend/toast-notifications.md
Due: none

docs: update status and fix stale frontend docs (#446)
  STATUS.md
  docs/frontend/state-management.md
  docs/frontend/toast-notifications.md
Due: none

feat: unified search with Cmd/Ctrl+K shortcut
  backend/alembic/versions/2025_12_03_000235_0d634c0a7259_add_pg_trgm_extension_and_search_indexes.py
  backend/src/backend/api/search.py
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
  frontend/src/routes/+layout.svelte
Due: ty-check, frontend-build

refactor: improve search modal UX and styling
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
Due: frontend-build

feat: show artwork/avatars in search results
  frontend/src/lib/components/SearchModal.svelte
Due: frontend-build

feat: unified search with Cmd/Ctrl+K shortcut (#447)
  backend/alembic/versions/2025_12_03_000235_0d634c0a7259_add_pg_trgm_extension_and_search_indexes.py
  backend/src/backend/api/search.py
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
  frontend/src/routes/+layout.svelte
Due: ty-check, frontend-build

docs: add unified search documentation
  docs/frontend/keyboard-shortcuts.md
  docs/frontend/search.md
Due: none

docs: add unified search to STATUS.md
  STATUS.md
Due: none

docs: add unified search documentation (#448)
  STATUS.md
  docs/frontend/keyboard-shortcuts.md
  docs/frontend/search.md
Due: none

fix: prevent comments section flash when disabled
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: prevent comments section flash when disabled (#449)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: make search modal theme-aware with styled scrollbar
  frontend/src/lib/components/SearchModal.svelte
Due: frontend-build

fix: make search modal theme-aware with styled scrollbar (#450)
  frontend/src/lib/components/SearchModal.svelte
Due: frontend-build

fix: use consistent icons in search results
  frontend/src/lib/components/SearchModal.svelte
Due: frontend-build
