Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

docs: update STATUS.md — first-class album uploads, track ordering fix
  STATUS.md
Due: none

docs: update STATUS.md — first-class album uploads, track ordering fix (#1263)
  STATUS.md
Due: none

fix: clamp long track titles in analytics cards
  frontend/src/routes/u/[handle]/+page.svelte
Due: svelte-check, eslint

fix: clamp long track titles in analytics cards (#1265)
  frontend/src/routes/u/[handle]/+page.svelte
Due: svelte-check, eslint

fix: move image moderation to background task + eliminate R2 delete spray
  backend/src/backend/_internal/image_uploads.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/moderation.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  loq.toml
Due: type-check

test: mock delete_image alongside delete in track deletion tests
  backend/tests/api/test_track_deletion.py
  loq.toml
Due: type-check

fix: move image moderation to background task + eliminate R2 delete spray (#1266)
  backend/src/backend/_internal/image_uploads.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/moderation.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_track_deletion.py
  loq.toml
Due: type-check

feat: unlisted tracks — exclude from discovery feeds
  backend/alembic/versions/2026_04_10_104404_9eda586624d0_add_unlisted_column_to_tracks.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat: unlisted tracks — exclude from discovery feeds (#1267)
  backend/alembic/versions/2026_04_10_104404_9eda586624d0_add_unlisted_column_to_tracks.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: adopt "atmosphere account" terminology
  .github/workflows/status-maintenance.yml
  README.md
  docs/internal/tools/status-maintenance.md
  docs/public/artists.md
  docs/public/glossary.md
  docs/public/listeners.md
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

docs: adopt "atmosphere account" terminology (#1268)
  .github/workflows/status-maintenance.yml
  README.md
  docs/internal/tools/status-maintenance.md
  docs/public/artists.md
  docs/public/glossary.md
  docs/public/listeners.md
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

docs: update login page screenshot with atmosphere account label
  docs/site/public/screenshots/login-page.png
Due: none

docs: update login page screenshot with atmosphere account label (#1269)
  docs/site/public/screenshots/login-page.png
Due: none

docs: replace user-facing "handle" with "account" in docs copy
  docs/public/artists.md
  docs/public/listeners.md
Due: none

docs: replace user-facing "handle" with "account" in docs copy (#1270)
  docs/public/artists.md
  docs/public/listeners.md
Due: none

feat: XRPC mention search endpoint for Leaflet integration
  backend/src/backend/api/__init__.py
  backend/src/backend/api/xrpc.py
  backend/src/backend/main.py
  backend/tests/api/test_xrpc.py
Due: type-check

feat: serve /.well-known/did.json for XRPC service discovery
  backend/src/backend/api/meta.py
Due: type-check

fix: enable pg_trgm extension in test template database
  backend/tests/conftest.py
Due: type-check

feat: XRPC mention search for Leaflet embeds (#1271)
  backend/src/backend/api/__init__.py
  backend/src/backend/api/meta.py
  backend/src/backend/api/xrpc.py
  backend/src/backend/main.py
  backend/tests/api/test_xrpc.py
  backend/tests/conftest.py
Due: type-check

feat: artist embed page + embed data in XRPC mention results
  backend/src/backend/api/xrpc.py
  backend/tests/api/test_xrpc.py
  frontend/src/routes/embed/u/[handle]/+page.server.ts
  frontend/src/routes/embed/u/[handle]/+page.svelte
Due: type-check, svelte-check, eslint

refactor: deduplicate CollectionData into $lib/types
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/embed/album/[handle]/[slug]/+page.server.ts
  frontend/src/routes/embed/playlist/[id]/+page.server.ts
  frontend/src/routes/embed/u/[handle]/+page.server.ts
Due: svelte-check, eslint

feat: artist embed page for Leaflet integration (#1272)
  backend/src/backend/api/xrpc.py
  backend/tests/api/test_xrpc.py
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/embed/album/[handle]/[slug]/+page.server.ts
  frontend/src/routes/embed/playlist/[id]/+page.server.ts
  frontend/src/routes/embed/u/[handle]/+page.server.ts
  frontend/src/routes/embed/u/[handle]/+page.svelte
Due: type-check, svelte-check, eslint

fix: use fixed pixel dimensions for embed sizing instead of aspectRatio
  backend/src/backend/api/xrpc.py
  backend/tests/api/test_xrpc.py
Due: type-check

fix: use fixed pixel dimensions for embed sizing instead of aspectRatio (#1273)
  backend/src/backend/api/xrpc.py
  backend/tests/api/test_xrpc.py
Due: type-check

docs: update STATUS.md — Leaflet embeds, atmosphere terminology, unlisted tracks
  STATUS.md
Due: none

docs: update STATUS.md — Leaflet embeds, atmosphere terminology, unlisted tracks (#1274)
  STATUS.md
Due: none

chore: remove dead osprey reference and duplicate loq rule
  STATUS.md
  loq.toml
Due: none

chore: remove dead osprey reference and duplicate loq rule (#1275)
  STATUS.md
  loq.toml
Due: none

refactor: decompose lists.py and albums.py into subpackages, fix PDS URL healing
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/albums/__init__.py
  backend/src/backend/api/albums/cache.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/albums/router.py
  backend/src/backend/api/albums/schemas.py
  backend/src/backend/api/lists/__init__.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/lists/reorder.py
  backend/src/backend/api/lists/resolver.py
  backend/src/backend/api/lists/router.py
  backend/src/backend/api/lists/schemas.py
  backend/tests/api/test_playlist_by_uri.py
  backend/tests/api/test_playlist_liked_state.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: correct mock targets for decomposed module paths
  backend/tests/_internal/test_album_cache.py
  backend/tests/test_jetstream.py
Due: type-check

fix: hoist deferred imports to top-level in decomposed modules
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/lists/reorder.py
Due: type-check

fix: update mock targets for hoisted imports in album tests
  backend/tests/api/test_albums.py
Due: type-check

refactor: decompose lists.py and albums.py into subpackages (#1276)
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/albums/__init__.py
  backend/src/backend/api/albums/cache.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/albums/router.py
  backend/src/backend/api/albums/schemas.py
  backend/src/backend/api/lists/__init__.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/lists/reorder.py
  backend/src/backend/api/lists/resolver.py
  backend/src/backend/api/lists/router.py
  backend/src/backend/api/lists/schemas.py
  backend/tests/_internal/test_album_cache.py
  backend/tests/api/test_albums.py
  backend/tests/api/test_playlist_by_uri.py
  backend/tests/api/test_playlist_liked_state.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

refactor: extract fetch_list_item_uris and hydrate_tracks_from_uris
  backend/src/backend/_internal/atproto/records/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/list.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/lists/playlists.py
  backend/tests/api/test_albums.py
  backend/tests/api/test_playlist_by_uri.py
  backend/tests/api/test_playlist_liked_state.py
Due: type-check

refactor: extract fetch_list_item_uris and hydrate_tracks_from_uris (#1277)
  backend/src/backend/_internal/atproto/records/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/list.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/lists/playlists.py
  backend/tests/api/test_albums.py
  backend/tests/api/test_playlist_by_uri.py
  backend/tests/api/test_playlist_liked_state.py
Due: type-check

feat: add CacheControl headers to R2 uploads, consolidate S3 client config
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/storage/r2.py
  backend/tests/test_storage_types.py
Due: type-check

docs: update R2 references for custom domain CDN migration
  backend/src/backend/api/CLAUDE.md
  docs/internal/backend/configuration.md
  docs/internal/local-development/setup.md
  docs/internal/moderation/sensitive-content.md
  docs/internal/security.md
  docs/public/developers/api-reference/audio.md
  docs/public/index.mdx
  docs/public/lexicons/overview.md
Due: none

feat: R2 CDN caching via custom domains + CacheControl headers (#1278)
  backend/src/backend/api/CLAUDE.md
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/storage/r2.py
  backend/tests/test_storage_types.py
  docs/internal/backend/configuration.md
  docs/internal/local-development/setup.md
  docs/internal/moderation/sensitive-content.md
  docs/internal/security.md
  docs/public/developers/api-reference/audio.md
  docs/public/index.mdx
  docs/public/lexicons/overview.md
Due: type-check
