Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

uploads: fence publication on the job row and re-sweep abandoned media (#2075)
  backend/src/backend/_internal/jobs.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/reaper.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/r2.py
  backend/tests/_internal/test_stuck_upload_reaper.py
  backend/tests/api/test_upload_job_fence.py
  backend/tests/test_storage_types.py
  docs/internal/backend/resumable-uploads.md
  loq.toml
Due: type-check

distinguish studio budget pauses and retain audio finish diagnostics
  STATUS.md
  services/musician-studio/flow.py
  services/musician-studio/studio/audio_errors.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_review_diagnostics.py
Due: type-check

keep successful audio usage accounting strict
  services/musician-studio/studio/audio_model.py
Due: type-check

Report studio budget pauses and audio finish reasons (#2076)
  STATUS.md
  services/musician-studio/flow.py
  services/musician-studio/studio/audio_errors.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_review_diagnostics.py
Due: type-check

docs: record the upload job fence and abandoned-media sweep (#2075)
  STATUS.md
Due: none

docs: record the upload job fence and abandoned-media sweep (#2075) (#2079)
  STATUS.md
Due: none

Recover truncated studio reviews through bounded Prefect retries
  STATUS.md
  services/musician-studio/docs/recovery.md
  services/musician-studio/studio/audio_errors.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/tests/test_audio_model.py
  services/musician-studio/tests/test_prefect_recovery.py
  services/musician-studio/tests/test_review_diagnostics.py
Due: type-check

Recover truncated studio reviews through bounded Prefect retries (#2081)
  STATUS.md
  services/musician-studio/docs/recovery.md
  services/musician-studio/studio/audio_errors.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/tests/test_audio_model.py
  services/musician-studio/tests/test_prefect_recovery.py
  services/musician-studio/tests/test_review_diagnostics.py
Due: type-check

docs: record the status podcast correction, #2081, and the radio/landing issues
  STATUS.md
Due: none

docs: record the status podcast correction, #2081, and the radio/landing issues (#2082)
  STATUS.md
Due: none

Pause musician studio schedule pending investigation
  STATUS.md
  services/musician-studio/prefect.yaml
Due: none

Pause musician studio schedule pending investigation (#2083)
  STATUS.md
  services/musician-studio/prefect.yaml
Due: none

Add read-only upload freshness health check
  backend/src/backend/api/health.py
  backend/src/backend/api/meta.py
  backend/tests/api/test_health.py
  docs/internal/backend/health.md
Due: type-check

Add read-only upload freshness health check (#2084)
  backend/src/backend/api/health.py
  backend/src/backend/api/meta.py
  backend/tests/api/test_health.py
  docs/internal/backend/health.md
Due: type-check

Reconcile uploads stalled before worker processing
  backend/src/backend/_internal/tasks/reaper.py
  backend/tests/_internal/test_stuck_upload_reaper.py
  docs/internal/backend/health.md
  loq.toml
Due: type-check

Reconcile uploads stalled before worker processing (#2085)
  backend/src/backend/_internal/tasks/reaper.py
  backend/tests/_internal/test_stuck_upload_reaper.py
  docs/internal/backend/health.md
  loq.toml
Due: type-check

Add actionable links to operator alerts
  backend/src/backend/_internal/notifications.py
  backend/tests/_internal/test_notification_service.py
  docs/internal/runbooks/upload-stall-alert.md
  loq.toml
Due: type-check

Add actionable links to operator alerts (#2087)
  backend/src/backend/_internal/notifications.py
  backend/tests/_internal/test_notification_service.py
  docs/internal/runbooks/upload-stall-alert.md
  loq.toml
Due: type-check

Document upload freshness and alert follow-up
  STATUS.md
Due: none

fix(auth): accept Blacksky OAuth repo scopes
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/auth/oauth_compat.py
  backend/tests/_internal/test_oauth_compat.py
  loq.toml
Due: type-check

test(auth): exercise Blacksky callback compatibility
  backend/tests/_internal/test_oauth_compat.py
Due: type-check

fix(auth): accept Blacksky OAuth repo scopes (#2089)
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/auth/oauth_compat.py
  backend/tests/_internal/test_oauth_compat.py
  loq.toml
Due: type-check

Use configurable Gemini 3.8 status TTS
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  loq.toml
  scripts/generate_tts.py
  scripts/tests/test_generate_tts.py
Due: type-check

Use configurable Gemini 3.8 status TTS (#2090)
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  loq.toml
  scripts/generate_tts.py
  scripts/tests/test_generate_tts.py
Due: type-check

Isolate status TTS credentials from agent tools
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  scripts/tests/test_status_maintenance_workflow.py
Due: type-check

Isolate status TTS credentials from agent tools (#2092)
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  scripts/tests/test_status_maintenance_workflow.py
Due: type-check

status: reference #2094
  STATUS.md
Due: none

status: restore the posted September 20 pause entry; add retirement as a new entry
  STATUS.md
Due: none

status: restore the posted September 20 pause entry; add retirement as a new entry (#2095)
  STATUS.md
Due: none

just: drop the retired tunnel.zzstoatzz.io domain from the tunnel recipe
  justfile
Due: none

Integrate native radio with authenticated listener presence
  STATUS.md
  backend/src/backend/api/radio/__init__.py
  backend/src/backend/api/radio/presence.py
  backend/src/backend/api/radio/state.py
  backend/tests/api/test_radio.py
  backend/tests/api/test_radio_presence.py
  docs/internal/frontend/radio.md
  docs/public/listeners.md
  docs/research/2026-09-27-ana-radio-integration.md
  frontend/src/lib/components/radio/Listeners.svelte
  frontend/src/lib/components/radio/PresenceController.svelte
  frontend/src/lib/player.svelte.ts
  frontend/src/lib/radio-live-empty-rotation.test.ts
  frontend/src/lib/radio-presence.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

Handle expired radio sessions and preserve swipe tuning
  backend/src/backend/api/radio/presence.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio_presence.py
  frontend/src/routes/radio/[[station]]/+page.svelte
Due: type-check, svelte-check, eslint

Integrate the actual sister-radio fork UI with native plyr playback
  STATUS.md
  docs/internal/frontend/radio.md
  docs/public/listeners.md
  docs/research/2026-09-27-ana-radio-integration.md
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/lib/components/radio/Listeners.svelte
  frontend/src/lib/components/radio/SisterRadio.svelte
  frontend/src/lib/sister-radio.test.ts
  frontend/src/lib/sister-radio.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  frontend/tsconfig.json
  frontend/vendor/sister-radio/UPSTREAM.md
  frontend/vendor/sister-radio/catalog/stations.ts
  frontend/vendor/sister-radio/frontend/src/features/equalizer/EqualizerPanel.tsx
  frontend/vendor/sister-radio/frontend/src/features/listening/share.ts
  frontend/vendor/sister-radio/frontend/src/features/listening/teal.ts
  frontend/vendor/sister-radio/frontend/src/features/playback/songPrefetch.ts
  frontend/vendor/sister-radio/frontend/src/pages/radio/RadioPage.tsx
  frontend/vendor/sister-radio/frontend/src/pages/radio/radio-panels.css
  frontend/vendor/sister-radio/frontend/src/pages/radio/radio-shell.css
  frontend/vendor/sister-radio/frontend/src/shared/components/PaginationRow.tsx
  frontend/vendor/sister-radio/frontend/src/shared/components/ProfileAvatar.tsx
  frontend/vendor/sister-radio/frontend/src/shared/components/SongCoverThumb.tsx
  frontend/vendor/sister-radio/frontend/src/shared/lib/atproto.ts
  frontend/vendor/sister-radio/frontend/src/shared/lib/auth.ts
  frontend/vendor/sister-radio/frontend/src/shared/lib/config.ts
  frontend/vendor/sister-radio/frontend/src/shared/lib/integration.ts
  frontend/vendor/sister-radio/frontend/src/shared/lib/radio.ts
  frontend/vendor/sister-radio/frontend/src/shared/lib/radioXrpc.ts
  frontend/vendor/sister-radio/frontend/src/shared/lib/stationSelection.ts
  frontend/vendor/sister-radio/frontend/src/shared/primitives/createPagedList.ts
  frontend/vendor/sister-radio/frontend/src/styles/global.css
  frontend/vendor/sister-radio/host.css
  frontend/vendor/sister-radio/host.tsx
  frontend/vite.config.ts
  frontend/vitest.config.ts
  loq.toml
Due: svelte-check, eslint

fix: preserve radio playback state across track changes
  STATUS.md
  docs/internal/frontend/radio.md
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player-radio-transition.test.ts
  frontend/src/lib/radio.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix: show radio artwork promptly and reflect liked state
  docs/internal/frontend/radio.md
  frontend/src/lib/components/radio/SisterRadio.svelte
  frontend/src/lib/sister-radio.test.ts
  frontend/src/lib/sister-radio.ts
  frontend/vendor/sister-radio/frontend/src/pages/radio/RadioPage.tsx
  frontend/vendor/sister-radio/frontend/src/shared/lib/integration.ts
  frontend/vendor/sister-radio/host.css
  loq.toml
Due: svelte-check, eslint

fix: mute radio through the native audio element
  docs/internal/frontend/radio.md
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player-radio-transition.test.ts
  frontend/src/lib/sister-radio.test.ts
  loq.toml
Due: svelte-check, eslint

test: check passive cover state before changing volume
  frontend/src/lib/sister-radio.test.ts
Due: svelte-check, eslint

feat: deploy catalog-only sister-radio syndication adapter
  .github/workflows/deploy-radio.yml
  docs/internal/frontend/radio.md
  services/radio/Dockerfile
  services/radio/README.md
  services/radio/fly.toml
  services/radio/justfile
Due: none

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
