Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

feat: add relay logo (radio tower with signal waves) and social meta tags
  frontend/src/lib/assets/favicon-option-1.svg
  frontend/src/lib/assets/favicon-option-2.svg
  frontend/src/lib/assets/favicon-option-3.svg
  frontend/src/lib/assets/favicon-option-4.svg
  frontend/src/lib/assets/favicon.svg
  frontend/src/lib/assets/logo-preview.html
  frontend/src/lib/assets/logo.png
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: use logo.png for everything, remove inconsistent svg version
  frontend/src/lib/assets/favicon.svg
  frontend/src/routes/+layout.svelte
Due: frontend-build

update logo design
  frontend/src/lib/assets/logo.png
Due: frontend-build

feat: improve player UI - add album metadata and progress track
  frontend/src/lib/components/Player.svelte
Due: frontend-build

feat: add album display and visible progress tracks to player
  frontend/src/lib/components/Player.svelte
Due: frontend-build

feat: restore queue implementation after frontend rebuild
  CLAUDE.md
  alembic/versions/5684967eb462_add_queue_state_table.py
  alembic/versions/bcb5c0fd5d43_add_auto_advance_preference.py
  docs/CLAUDE.md
  docs/queue-design.md
  frontend/CLAUDE.md
  frontend/package-lock.json
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  pyproject.toml
  src/relay/_internal/CLAUDE.md
  src/relay/_internal/__init__.py
  src/relay/_internal/queue.py
  src/relay/api/CLAUDE.md
  src/relay/api/__init__.py
  src/relay/api/artists.py
  src/relay/api/audio.py
  src/relay/api/preferences.py
  src/relay/api/queue.py
  src/relay/main.py
  src/relay/models/__init__.py
  src/relay/models/preferences.py
  src/relay/models/queue.py
  src/relay/utilities/database.py
  tests/CLAUDE.md
  tests/api/__init__.py
  tests/api/test_queue.py
  tests/conftest.py
  uv.lock
Due: ty-check, frontend-build

fix: restore mobile responsive design for player and queue toggle
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: improve mobile responsive design and queue toggle UX
  frontend/src/lib/components/Player.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: expose settings menu with auto-advance toggle in header
  frontend/src/lib/components/Header.svelte
Due: frontend-build

docs: update queue design with auto-play and mobile UX details
  docs/queue-design.md
Due: none

fix: auto-advance playback starts next track after loading
  frontend/src/lib/components/Player.svelte
Due: frontend-build

fix: queue shuffle/repeat mechanics and database migrations
  alembic/versions/008ffaa79bea_merge_queue_and_auto_advance_migrations.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/queue.svelte.ts
Due: ty-check, frontend-build

refactor: improve queue UI with visual enhancements
  frontend/src/lib/components/Queue.svelte
Due: frontend-build

fix: sync auto_advance preference from server to frontend
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  src/relay/_internal/queue.py
Due: ty-check, frontend-build

fix: include auto_advance in empty queue response
  src/relay/api/queue.py
Due: ty-check

fix: remove repeat functionality and fix font inheritance
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  src/relay/api/queue.py
Due: ty-check, frontend-build

fix: normalize share button sizing to match other action buttons
  frontend/src/lib/components/ShareButton.svelte
Due: frontend-build

fix: add font-family inherit to track button element
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: include auto_advance in queue state updates
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

feat: add cross-tab queue synchronization via BroadcastChannel
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

Fix auto-advance playback coordination
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

Remove playback debug logging
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

Address review feedback
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

Fix mobile layout overflow and player controls
  frontend/src/lib/components/Player.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

Allow iOS voice memo uploads
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

Make branding and ATProto namespaces configurable
  frontend/src/lib/branding.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  src/relay/_internal/auth.py
  src/relay/_internal/notifications.py
  src/relay/api/tracks.py
  src/relay/atproto/records.py
  src/relay/config.py
  src/relay/main.py
  tests/test_settings.py
Due: ty-check, frontend-build

refactor: migrate to nested settings structure
  alembic/env.py
  docs/configuration.md
  docs/deployment/database-migrations.md
  src/relay/_internal/auth.py
  src/relay/_internal/notifications.py
  src/relay/_internal/queue.py
  src/relay/api/audio.py
  src/relay/api/auth.py
  src/relay/api/tracks.py
  src/relay/atproto/records.py
  src/relay/config.py
  src/relay/main.py
  src/relay/storage/__init__.py
  src/relay/storage/r2.py
  src/relay/utilities/database.py
  tests/__init__.py
  tests/api/test_queue.py
  tests/conftest.py
  tests/test_settings.py
Due: ty-check

docs: update .env.example with new settings
  .env.example
Due: none

Revert "refactor: migrate to nested settings structure"
  .env.example
  alembic/env.py
  docs/configuration.md
  docs/deployment/database-migrations.md
  frontend/src/lib/branding.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  src/relay/_internal/auth.py
  src/relay/_internal/notifications.py
  src/relay/_internal/queue.py
  src/relay/api/audio.py
  src/relay/api/auth.py
  src/relay/api/tracks.py
  src/relay/atproto/records.py
  src/relay/config.py
  src/relay/main.py
  src/relay/storage/__init__.py
  src/relay/storage/r2.py
  src/relay/utilities/database.py
  tests/__init__.py
  tests/api/test_queue.py
  tests/conftest.py
  tests/test_settings.py
Due: ty-check, frontend-build

fix: restore CORS origin regex for production
  .env.example
  docs/configuration.md
  src/relay/config.py
  src/relay/main.py
Due: ty-check

perf: optimize docker build with buildkit cache mounts and bytecode compilation
  .env.example
  Dockerfile
  docs/configuration.md
  pyproject.toml
  src/relay/config.py
  uv.lock
Due: ty-check

chore: improve .dockerignore organization and coverage
  .dockerignore
Due: none

chore: add docker build profiling script and ignore logs
  .dockerignore
  .gitignore
  scripts/profile-docker-build.sh
Due: none
