Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

fix: resolve backend issues and frontend player error
  frontend/src/lib/components/Player.svelte
  src/backend/api/albums.py
  src/backend/api/tracks.py
  tests/api/test_albums.py
Due: ty-check, frontend-build

feat: add album cover art management UI to portal
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: improve album cover UX and eliminate blocking R2 calls
  frontend/src/routes/portal/+page.svelte
  src/backend/api/albums.py
Due: ty-check, frontend-build

refactor: rename discography to albums and reorder sections
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix critical bugs in album management
  frontend/src/routes/portal/+page.svelte
  src/backend/api/albums.py
Due: ty-check, frontend-build

docs: clean up README and fix PDS resolution guidance
  CLAUDE.md
  README.md
  docs/backend/atproto-identity.md
  docs/tools/pdsx.md
Due: none

update line
  docs/tools/pdsx.md
Due: none

feat(player): add smart playback controls and state persistence
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: use SvelteKit fetch in layout load function
  frontend/src/routes/+layout.ts
Due: frontend-build

perf(frontend): use server-loaded data for artist pages
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: hide duplicate album names on album detail page
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: add truncation and links for long album titles
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: handle extremely long album titles with 100-char slug limit
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  src/backend/utilities/slugs.py
  tests/utilities/test_slugs.py
Due: ty-check, frontend-build

fix(queue): persist playback position across refresh
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  src/backend/_internal/queue.py
  src/backend/api/queue.py
  tests/api/test_queue.py
Due: ty-check, frontend-build

feat: enhance link preview metadata for albums and homepage
  frontend/src/lib/components/Player.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: prevent layout metadata from overriding page-specific metadata
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: prevent layout metadata from overriding page-specific metadata (#231)
  frontend/src/routes/+layout.svelte
Due: frontend-build

docs: add frontend data loading patterns and architecture
  docs/frontend/data-loading.md
Due: none

docs: add frontend data loading patterns and architecture (#232)
  docs/frontend/data-loading.md
Due: none

feat: add hover tooltip to show who liked a track
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

fix: remove 'no likes yet' text and add debug logging
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

fix: use API_URL config for likers endpoint
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

fix: fetch likers when tooltip mounts instead of on hover
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: use $effect to fetch likers properly instead of calling in template
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

fix: update like count immediately when liking/unliking track
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

feat: add hover tooltip to show who liked a track (#233)
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

fix: display album title instead of [object Object] in portal track list
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: display album title instead of [object Object] in portal track list (#234)
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: show likers inline instead of tooltip to allow scrolling
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: show all likers in tooltip without scrolling
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

fix: show all likers in tooltip without scrolling (#236)
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

fix: prevent auto-play on page load and remove broken playback position restore
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

docs: add emoji usage guideline
  CLAUDE.md
Due: none

fix: prevent auto-play on page load (#238)
  CLAUDE.md
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

feat: implement cookie-based authentication for browser requests
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/components/BrokenTracks.svelte
  frontend/src/lib/components/ColorSettings.svelte
  frontend/src/lib/components/MigrationBanner.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/tracks.svelte.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.ts
  src/backend/_internal/auth.py
  src/backend/api/auth.py
Due: ty-check, frontend-build

fix: make CORS origins environment-aware based on FRONTEND_URL
  src/backend/config.py
Due: ty-check

fix: make CORS origins environment-aware based on FRONTEND_URL (#240)
  src/backend/config.py
Due: ty-check

docs: update environments.md with new domain structure
  docs/deployment/environments.md
Due: none

chore: remove unused scale import from toast component
  frontend/src/lib/components/Toast.svelte
Due: frontend-build

chore: remove unused scale import from toast component (#241)
  frontend/src/lib/components/Toast.svelte
Due: frontend-build

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
