Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

feat(moderation): user reports open review items (#1702)
  backend/src/backend/api/moderation.py
  backend/tests/test_moderation.py
  loq.toml
  services/moderation/src/reports.rs
Due: type-check

feat(moderation): publish decisions from the moderation account
  backend/src/backend/_internal/clients/moderation.py
  backend/src/backend/_internal/notifications.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/transparency.py
  backend/src/backend/_internal/transparency.py
  backend/src/backend/config.py
  backend/tests/test_transparency.py
  loq.toml
  services/moderation/src/events.rs
  services/moderation/src/main.rs
Due: type-check

feat(moderation): publish decisions from the moderation account (#1703)
  backend/src/backend/_internal/clients/moderation.py
  backend/src/backend/_internal/notifications.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/transparency.py
  backend/src/backend/_internal/transparency.py
  backend/src/backend/config.py
  backend/tests/test_transparency.py
  loq.toml
  services/moderation/src/events.rs
  services/moderation/src/main.rs
Due: type-check

fix(moderation): transparency posts linked a 404
  backend/src/backend/_internal/transparency.py
  backend/tests/test_transparency.py
Due: type-check

fix(moderation): transparency posts linked a 404 (#1704)
  backend/src/backend/_internal/transparency.py
  backend/tests/test_transparency.py
Due: type-check

fix(moderation): transparency posts render links as links
  backend/src/backend/_internal/notifications.py
  backend/src/backend/_internal/tasks/transparency.py
  backend/src/backend/_internal/transparency.py
  backend/tests/test_transparency.py
Due: type-check

fix(moderation): transparency posts render links as links (#1705)
  backend/src/backend/_internal/notifications.py
  backend/src/backend/_internal/tasks/transparency.py
  backend/src/backend/_internal/transparency.py
  backend/tests/test_transparency.py
Due: type-check

docs: correct the moderation docs after the label-policy change
  backend/src/backend/_internal/transparency.py
  backend/tests/test_transparency.py
  docs/internal/README.md
  docs/internal/moderation/atproto-labeler.md
  docs/internal/moderation/event-log.md
  docs/internal/moderation/overview.md
  docs/internal/runbooks/moderating-sensitive-audio.md
  docs/internal/tools/agent-access.md
  docs/public/artists.md
  docs/public/moderation.md
  docs/public/sensitive-content.md
  docs/site/astro.config.mjs
Due: type-check

docs: correct the moderation docs after the label-policy change (#1706)
  backend/src/backend/_internal/transparency.py
  backend/tests/test_transparency.py
  docs/internal/README.md
  docs/internal/moderation/atproto-labeler.md
  docs/internal/moderation/event-log.md
  docs/internal/moderation/overview.md
  docs/internal/runbooks/moderating-sensitive-audio.md
  docs/internal/tools/agent-access.md
  docs/public/artists.md
  docs/public/moderation.md
  docs/public/sensitive-content.md
  docs/site/astro.config.mjs
Due: type-check

docs: record the moderation event log and transparency publishing
  STATUS.md
Due: none

docs: record the moderation event log and transparency publishing (#1707)
  STATUS.md
Due: none

docs: the projection-refresh follow-up shipped same day
  STATUS.md
Due: none

fix(artists): an artist page shows their whole catalogue
  backend/src/backend/api/tracks/listing.py
  backend/tests/test_content_label_policy.py
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

refactor(moderation): name the render context instead of branching on artist_did
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/api/tracks/listing.py
  backend/tests/test_content_label_policy.py
  docs/internal/moderation/label-policy.md
Due: type-check

fix(artists): an artist page shows their whole catalogue (#1709)
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/api/tracks/listing.py
  backend/tests/test_content_label_policy.py
  docs/internal/moderation/label-policy.md
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: record the label context model
  docs/internal/moderation/label-policy.md
  docs/public/artists.md
  docs/public/moderation.md
  docs/public/sensitive-content.md
Due: none

docs: record the label context model (#1710)
  docs/internal/moderation/label-policy.md
  docs/public/artists.md
  docs/public/moderation.md
  docs/public/sensitive-content.md
Due: none

fix(moderation): apply the label context everywhere, and make counts agree
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/subsonic/browsing.py
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/users.py
  backend/tests/test_content_label_policy.py
  frontend/src/lib/feedback.svelte.ts
  frontend/src/lib/likers-sheet.svelte.ts
  frontend/src/lib/search.svelte.ts
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(moderation): the queue is a destination too, and pin the count edge case
  backend/src/backend/_internal/queue.py
  backend/tests/test_content_label_policy.py
Due: type-check

fix(moderation): apply the label context everywhere, and make counts agree (#1712)
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/_internal/queue.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/subsonic/browsing.py
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/users.py
  backend/tests/test_content_label_policy.py
  frontend/src/lib/feedback.svelte.ts
  frontend/src/lib/likers-sheet.svelte.ts
  frontend/src/lib/search.svelte.ts
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: one accurate answer for how labels affect visibility
  backend/tests/test_content_label_policy.py
  docs/internal/moderation/label-policy.md
  docs/public/artists.md
  docs/public/moderation.md
  docs/public/sensitive-content.md
Due: type-check

docs: one accurate answer for how labels affect visibility (#1713)
  backend/tests/test_content_label_policy.py
  docs/internal/moderation/label-policy.md
  docs/public/artists.md
  docs/public/moderation.md
  docs/public/sensitive-content.md
Due: type-check

docs: remove exposed Neon credential
  docs/internal/tools/neon.md
Due: none

docs: move published contact addresses to plyr.fm
  backend/src/backend/config.py
  docs/internal/legal/dmca-agent.md
  docs/public/index.mdx
  docs/public/legal/privacy.md
  docs/public/legal/terms.md
  docs/public/moderation.md
  docs/public/sensitive-content.md
  docs/public/troubleshooting.md
  frontend/src/routes/terms/+page.svelte
Due: type-check, svelte-check, eslint

docs: move published contact addresses to plyr.fm (#1716)
  backend/src/backend/config.py
  docs/internal/legal/dmca-agent.md
  docs/public/index.mdx
  docs/public/legal/privacy.md
  docs/public/legal/terms.md
  docs/public/moderation.md
  docs/public/sensitive-content.md
  docs/public/troubleshooting.md
  frontend/src/routes/terms/+page.svelte
Due: type-check, svelte-check, eslint

docs(legal): say what we actually do with your data
  backend/src/backend/config.py
  docs/public/legal/privacy.md
  frontend/src/routes/privacy/+page.svelte
Due: type-check, svelte-check, eslint

fix(api): rate limit per client instead of per site
  backend/src/backend/utilities/rate_limit.py
  backend/tests/utilities/test_rate_limit_key.py
  docs/public/legal/privacy.md
  frontend/src/routes/privacy/+page.svelte
Due: type-check, svelte-check, eslint

fix(api): rate limit per client instead of per site (#1718)
  backend/src/backend/config.py
  backend/src/backend/utilities/rate_limit.py
  backend/tests/utilities/test_rate_limit_key.py
  docs/public/legal/privacy.md
  frontend/src/routes/privacy/+page.svelte
Due: type-check, svelte-check, eslint

chore: status update — label context, contact addresses, per-client rate limits
  STATUS.md
Due: none

chore: status update — label context, contact addresses, per-client rate limits (#1719)
  STATUS.md
Due: none

docs(skill): teach backlog-maintenance to merge, sharpen, and move to discussions
  .claude/skills/backlog-maintenance/SKILL.md
Due: none

docs(skill): teach backlog-maintenance to merge, sharpen, and move to discussions (#1724)
  .claude/skills/backlog-maintenance/SKILL.md
Due: none

fix(tags): a tag containing a slash is reachable
  backend/src/backend/api/tracks/tags.py
  backend/tests/api/test_tag_lookup_with_slash.py
Due: type-check

fix(tags): a tag containing a slash is reachable (#1725)
  backend/src/backend/api/tracks/tags.py
  backend/tests/api/test_tag_lookup_with_slash.py
Due: type-check

fix(jetstream): mirror bluesky avatars, and register the tasks that were being dropped
  backend/src/backend/_internal/atproto/profile.py
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
  scripts/backfill_artist_identity.py
Due: type-check

fix(jetstream): mirror bluesky avatars, and register the tasks that were being dropped (#1726)
  backend/src/backend/_internal/atproto/profile.py
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
  scripts/backfill_artist_identity.py
Due: type-check

fix(accounts): an #account event describes a host, not a person
  backend/alembic/versions/2026_07_29_130609_82a75e0ecf9f_add_artist_account_status.py
  backend/src/backend/_internal/atproto/account_status.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/models/artist.py
  backend/tests/test_jetstream.py
  loq.toml
  scripts/backfill_account_status.py
Due: type-check

fix(accounts): an #account event describes a host, not a person (#1727)
  backend/alembic/versions/2026_07_29_130609_82a75e0ecf9f_add_artist_account_status.py
  backend/src/backend/_internal/atproto/account_status.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/models/artist.py
  backend/tests/test_jetstream.py
  loq.toml
  scripts/backfill_account_status.py
Due: type-check

fix(accounts): the host that emitted #account may not be the account's PDS
  backend/src/backend/_internal/atproto/account_status.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
  scripts/backfill_account_status.py
Due: type-check

fix(accounts): the host that emitted #account may not be the account's PDS (#1728)
  backend/src/backend/_internal/atproto/account_status.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
  scripts/backfill_account_status.py
Due: type-check

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
