Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: restore state machine with URI tracking in moderation loop
  scripts/moderation_loop.py
Due: ty-check

feat(ui): add active state to play button on playlist/album pages
  frontend/src/routes/+layout.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

feat(ui): add active state to play button on playlist/album pages (#667)
  frontend/src/routes/+layout.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: play button toggle works after pause on playlist/album pages
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: play button toggle works after pause on playlist/album pages (#668)
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: revert heartbeat_interval change breaking docket worker
  backend/src/backend/_internal/background.py
Due: ty-check

fix: revert heartbeat_interval change breaking docket worker (#669)
  backend/src/backend/_internal/background.py
Due: ty-check

docs: document docket worker settings and 2025-12-30 incident
  backend/src/backend/_internal/background.py
  docs/backend/background-tasks.md
Due: ty-check

docs: document docket worker settings and 2025-12-30 incident (#670)
  backend/src/backend/_internal/background.py
  docs/backend/background-tasks.md
Due: ty-check

feat(ui): add dark overlay for artwork background in dark mode
  docs/vision/ambient-state-visualization.md
  frontend/src/routes/+layout.svelte
Due: frontend-build

refactor(ui): unify play button behavior across detail pages
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

refactor(ui): unify play button behavior across detail pages (#671)
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

feat(moderation): add batch review system with mobile-friendly UI
  moderation/Cargo.toml
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/main.rs
  moderation/src/review.rs
  moderation/src/state.rs
  scripts/moderation_loop.py
Due: ty-check

feat(ci): add workflow dispatch for moderation loop
  .github/workflows/run-moderation-loop.yml
Due: none

perf(portal): parallelize API calls on mount
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

perf(portal): parallelize API calls on mount (#673)
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

infra: add self-hosted redis config, remove upstash
  frontend/src/routes/costs/+page.svelte
  redis/README.md
  redis/fly.toml
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

docs: update README costs and project structure for redis
  README.md
Due: none

infra: self-hosted redis to replace upstash (~$75/mo → ~$2/mo) (#674)
  README.md
  frontend/src/routes/costs/+page.svelte
  redis/README.md
  redis/fly.toml
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

infra: add redis staging config and CI workflow
  .github/workflows/deploy-redis.yml
  redis/fly.staging.toml
Due: none

infra: add redis staging config and CI workflow (#675)
  .github/workflows/deploy-redis.yml
  redis/fly.staging.toml
Due: none

docs: update STATUS.md with redis migration
  STATUS.md
Due: none

docs: update STATUS.md with redis migration (#676)
  STATUS.md
Due: none

docs: update redis references from upstash to self-hosted
  backend/fly.staging.toml
  backend/fly.toml
  docs/backend/background-tasks.md
  docs/deployment/environments.md
  scripts/docket_runs.py
Due: ty-check

docs: update redis references from upstash to self-hosted (#677)
  backend/fly.staging.toml
  backend/fly.toml
  docs/backend/background-tasks.md
  docs/deployment/environments.md
  scripts/docket_runs.py
Due: ty-check

feat(moderation): add batch review system with mobile-friendly UI (#672)
  .github/workflows/run-moderation-loop.yml
  moderation/Cargo.toml
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/main.rs
  moderation/src/review.rs
  moderation/src/state.rs
  scripts/moderation_loop.py
Due: ty-check

fix: use full URL in moderation DM notifications
  scripts/moderation_loop.py
Due: ty-check

fix: use full URL in moderation DM notifications (#678)
  scripts/moderation_loop.py
Due: ty-check

fix: add auth flow to review page like admin
  moderation/src/auth.rs
  moderation/src/review.rs
Due: none

ci: only check rust services that actually changed
  .github/workflows/check-rust.yml
Due: none

fix: add auth flow to review page (#679)
  .github/workflows/check-rust.yml
  moderation/src/auth.rs
  moderation/src/review.rs
Due: none

feat(moderation): improve review UI with admin consistency
  moderation/src/admin.rs
  moderation/src/auth.rs
  moderation/src/main.rs
  moderation/src/review.rs
Due: none

feat(moderation): improve review UI with admin consistency (#680)
  moderation/src/admin.rs
  moderation/src/auth.rs
  moderation/src/main.rs
  moderation/src/review.rs
Due: none

feat: auto-resolve flags for deleted tracks
  moderation/src/db.rs
  scripts/moderation_loop.py
Due: ty-check

feat: auto-resolve flags for deleted tracks (#681)
  moderation/src/db.rs
  scripts/moderation_loop.py
Due: ty-check

feat(admin): show flag count in filter row
  moderation/src/admin.rs
  moderation/static/admin.css
Due: none

feat(admin): show flag count in filter row (#682)
  moderation/src/admin.rs
  moderation/static/admin.css
Due: none

fix: send all non-false-positive flags to batch for human review
  scripts/moderation_loop.py
Due: ty-check

fix: send all non-false-positive flags to batch for human review (#683)
  scripts/moderation_loop.py
Due: ty-check

feat: add top tracks section to homepage
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/utilities/aggregations.py
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/+page.svelte
Due: ty-check, frontend-build
