Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: show liked state on playlist detail page
  backend/src/backend/api/lists.py
  backend/tests/api/test_playlist_liked_state.py
  frontend/src/routes/playlist/[id]/+page.svelte
Due: ty-check, frontend-build

fix: show liked state on playlist detail page (#589)
  backend/src/backend/api/lists.py
  backend/tests/api/test_playlist_liked_state.py
  frontend/src/routes/playlist/[id]/+page.svelte
Due: ty-check, frontend-build

perf: remove moderation service call from /tracks/ listing
  backend/src/backend/api/tracks/listing.py
Due: ty-check

perf: remove moderation service call from /tracks/ listing (#590)
  backend/src/backend/api/tracks/listing.py
Due: ty-check

perf: remove copyright check from tag listing endpoint
  backend/src/backend/api/tracks/tags.py
Due: ty-check

perf: remove copyright check from tag listing endpoint (#591)
  backend/src/backend/api/tracks/tags.py
Due: ty-check

fix: preserve album track order during ATProto sync (#587)
  backend/src/backend/_internal/atproto/sync.py
  backend/tests/api/test_list_record_sync.py
Due: ty-check

fix: use unique DID and cleanup in test to avoid CI conflicts
  backend/tests/api/test_list_record_sync.py
Due: ty-check

fix: preserve album track order during ATProto sync (#592)
  backend/src/backend/_internal/atproto/sync.py
  backend/tests/api/test_list_record_sync.py
Due: ty-check

fix: make header sticky on scroll
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

docs: update STATUS.md with Dec 14-15 work
  STATUS.md
Due: none

fix: make header sticky on scroll (#593)
  STATUS.md
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

docs: add Dec 10-12 work to STATUS.md, update background-tasks docs
  STATUS.md
  docs/backend/background-tasks.md
Due: none

docs: add Dec 10-12 work to STATUS.md, update background-tasks docs (#594)
  STATUS.md
  docs/backend/background-tasks.md
Due: none

feat: add glass effects and track item styling
  .claude/commands/deploy.md
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

feat: add ui_settings JSONB column for extensible preferences
  backend/alembic/versions/2025_12_16_000000_add_ui_settings_jsonb.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  backend/tests/api/test_preferences.py
Due: ty-check

feat: add background image settings UI
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

feat: refine track item hover behavior and glass styling
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

feat: add subtle 3D wheel scroll effect to track items
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

feat: glass button styling for background image visibility
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/ShareButton.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
Due: frontend-build

fix: consistent glass button styling and preserve bg image on refresh
  frontend/src/routes/+layout.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/tag/[name]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

feat: use playing track artwork as background option
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

feat: blur and tile playing artwork background
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: fall back to custom bg when playing track has no artwork
  frontend/src/routes/+layout.svelte
Due: frontend-build

feat: add subtle text glow for readability against backgrounds
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/tag/[name]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: use proper fallbacks for glass button styling
  frontend/src/lib/components/ShareButton.svelte
Due: frontend-build

feat: glass effects and custom background images (#595)
  .claude/commands/deploy.md
  backend/alembic/versions/2025_12_16_000000_add_ui_settings_jsonb.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  backend/tests/api/test_preferences.py
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/ShareButton.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/tag/[name]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: ty-check, frontend-build

fix: remove 3D wheel effect that broke button interactions
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: remove 3D wheel effect that broke button interactions (#596)
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

docs: add Dec 16 work and missing PRs to STATUS.md
  STATUS.md
Due: none

docs: add Dec 16 work and missing PRs to STATUS.md (#597)
  STATUS.md
Due: none

fix: improve background settings UX and fix pointer events
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

fix: improve background settings UX and fix pointer events (#598)
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

feat: add upload button to desktop header nav
  frontend/src/lib/components/Header.svelte
Due: frontend-build

feat: add upload button to desktop header nav (#599)
  frontend/src/lib/components/Header.svelte
Due: frontend-build

feat: derive AudD costs from track duration for accurate billing
  .github/workflows/export-costs.yml
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

feat: derive AudD costs from track duration for accurate billing (#600)
  .github/workflows/export-costs.yml
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

chore: switch support link to atprotofans
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

chore: switch support link to atprotofans (#601)
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

revert: remove letta-backed status maintenance, restore claude-code-action
  .github/workflows/status-maintenance.yml
  STATUS.md
  scripts/letta_status_agent.py
  scripts/status_maintenance.py
Due: ty-check
