Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

fix: hide search in margin at 1300px to prevent crowding stats
  frontend/src/lib/breakpoints.ts
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: switch to mobile layout at 1300px instead of intermediate state
  frontend/src/lib/breakpoints.ts
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: lower header mobile breakpoint from 1599px to 1300px (#646)
  frontend/src/lib/breakpoints.ts
  frontend/src/lib/components/Header.svelte
Due: frontend-build

feat: add time range toggle to costs dashboard for audd requests
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

feat: add time range toggle to costs dashboard for audd requests (#647)
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

fix: costs chart overflow and toggle button styling
  frontend/src/routes/costs/+page.svelte
Due: frontend-build

fix: costs chart overflow and toggle button styling (#648)
  frontend/src/routes/costs/+page.svelte
Due: frontend-build

fix: track detail page liked state race condition
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: track detail page liked state race condition (#649)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: center artist handle on mobile
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: center artist handle on mobile (#650)
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

copy: improve atprotofans gating hint on upload page
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

copy: improve atprotofans gating hint on upload page (#651)
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

feat: add terms of service and privacy policy pages
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: await logout and reload page to dismiss terms overlay
  frontend/src/lib/components/TermsOverlay.svelte
Due: frontend-build

feat: require terms acceptance on first login
  backend/alembic/versions/2025_12_10_184404_883e927fdd76_add_terms_accepted_at_to_user_.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/accept-terms/+page.svelte
Due: ty-check, frontend-build

docs: use protonmail for legal contact emails
  docs/legal/privacy.md
  docs/legal/terms.md
Due: none

docs: clarify safe harbor question
  docs/legal/questions.md
Due: none

simplify terms and privacy to match tangled.org style
  frontend/src/routes/cookies/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

feat: improve legal pages with configurable emails and accurate content
  backend/src/backend/config.py
  backend/src/backend/main.py
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/config.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/cookies/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/privacy/+page.ts
  frontend/src/routes/terms/+page.svelte
  frontend/src/routes/terms/+page.ts
Due: ty-check, frontend-build

docs: add legal drafts
  docs/legal/privacy.md
  docs/legal/questions.md
  docs/legal/terms.md
Due: none

feat: move sensitive images to moderation service (#544) (#644)
  backend/src/backend/_internal/moderation_client.py
  backend/src/backend/api/moderation.py
  backend/tests/test_moderation.py
  moderation/src/admin.rs
  moderation/src/auth.rs
  moderation/src/db.rs
  moderation/src/handlers.rs
  moderation/src/main.rs
  moderation/src/state.rs
  scripts/migrate_sensitive_images.py
Due: ty-check

chore: update moderation sprint status
  STATUS.md
Due: none

chore: update moderation sprint status (#652)
  STATUS.md
Due: none

chore: reduce redis overhead and add upstash to costs
  backend/src/backend/_internal/background.py
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

chore: reduce redis overhead and add upstash to costs (#653)
  backend/src/backend/_internal/background.py
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

fix: improve upload error messages with progress and mobile detection (#645)
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

fix: restore costs page styling, preserve upstash addition
  frontend/src/routes/costs/+page.svelte
Due: frontend-build

fix: restore costs page styling, preserve upstash addition (#655)
  frontend/src/routes/costs/+page.svelte
Due: frontend-build

chore: update STATUS.md for end-of-year QoL mode
  STATUS.md
Due: none

chore: add digest slash command for external resource analysis
  .claude/commands/digest.md
Due: none

refactor(css): consolidate form styles and document design tokens
  docs/frontend/design-tokens.md
  frontend/CLAUDE.md
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

refactor(css): consolidate form styles and document design tokens (#664)
  docs/frontend/design-tokens.md
  frontend/CLAUDE.md
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

feat: add autonomous moderation loop script
  scripts/moderation_loop.py
Due: ty-check

refactor: simplify moderation loop and address review feedback
  scripts/moderation_loop.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
