Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: align recommendation items with TrackItem card design language
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: align recommendation items with TrackItem card design language (#897)
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: align add-tracks button and recommendations with track card width
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: align add-tracks button and recommendations with track card width (#898)
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs: document playlist track recommendations feature
  STATUS.md
  docs/backend/playlist-recommendations.md
Due: none

docs: document playlist track recommendations feature (#899)
  STATUS.md
  docs/backend/playlist-recommendations.md
Due: none

fix: remove redundant queue/share from heart menu on track detail page
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: remove redundant queue/share from heart menu on track detail page (#901)
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

chore: sync legal docs with production pages
  docs/legal/privacy.md
  docs/legal/terms.md
Due: none

chore: sync legal docs with production pages (#902)
  docs/legal/privacy.md
  docs/legal/terms.md
Due: none

fix: add "ai-slop" to default hidden tags filter
  backend/src/backend/utilities/tags.py
  frontend/src/lib/preferences.svelte.ts
Due: type-check, svelte-check, eslint

fix: add "ai-slop" to default hidden tags filter (#903)
  backend/src/backend/utilities/tags.py
  frontend/src/lib/preferences.svelte.ts
Due: type-check, svelte-check, eslint

feat: add oEmbed + iframe embeds for playlists and albums
  backend/src/backend/api/oembed.py
  backend/tests/api/test_oembed.py
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/routes/embed/album/[handle]/[slug]/+page.server.ts
  frontend/src/routes/embed/album/[handle]/[slug]/+page.svelte
  frontend/src/routes/embed/playlist/[id]/+page.server.ts
  frontend/src/routes/embed/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: type-check, svelte-check, eslint

fix: use TypedDict for thumbnail unpack, walrus for URL matching
  backend/src/backend/api/oembed.py
Due: type-check

refactor: walrus + inline intermediates in oEmbed builders
  backend/src/backend/api/oembed.py
Due: type-check

feat: add oEmbed + iframe embeds for playlists and albums (#904)
  backend/src/backend/api/oembed.py
  backend/tests/api/test_oembed.py
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/routes/embed/album/[handle]/[slug]/+page.server.ts
  frontend/src/routes/embed/album/[handle]/[slug]/+page.svelte
  frontend/src/routes/embed/playlist/[id]/+page.server.ts
  frontend/src/routes/embed/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: type-check, svelte-check, eslint

fix: hoist "create new playlist" CTA above existing playlists
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
Due: svelte-check, eslint

fix: hoist "create new playlist" CTA above existing playlists (#905)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
Due: svelte-check, eslint

fix: prevent "create new" button text wrapping in playlist picker
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
Due: svelte-check, eslint

fix: prevent "create new" button text wrapping in playlist picker (#906)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
Due: svelte-check, eslint

feat: redesign collection embed player layout
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  loq.toml
Due: svelte-check, eslint

feat: redesign collection embed player layout (#908)
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  loq.toml
Due: svelte-check, eslint

fix: polish collection embed — link np title, inline header, fix narrow mode
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  loq.toml
Due: svelte-check, eslint

fix: polish collection embed — link np title, inline header, fix narrow mode (#909)
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  loq.toml
Due: svelte-check, eslint

feat: discover artists from your bluesky follow graph on the homepage
  backend/src/backend/api/__init__.py
  backend/src/backend/api/discover.py
  backend/src/backend/main.py
  frontend/src/routes/+page.svelte
Due: type-check, svelte-check, eslint

fix: use inner join to exclude artists with zero tracks from network discovery
  backend/src/backend/api/discover.py
  backend/tests/api/test_discover.py
Due: type-check

fix: avatar fallback from bluesky + follow-age ordering for network discovery
  backend/src/backend/api/discover.py
  backend/tests/api/test_discover.py
Due: type-check

fix: avatar fallback from bluesky + follow-age ordering for network discovery (#912)
  backend/src/backend/api/discover.py
  backend/tests/api/test_discover.py
Due: type-check

feat: horizontal trending row on homepage
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: polish top tracks cards — likers tooltip, avatar crop, heading
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: top tracks cards — horizontal layout, avatar, tooltip, icon
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: match track card shape to artist cards, move icon right of heading
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: match track card shape to artist cards, move icon right of heading (#916)
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: make track cards and artist cards both horizontal, same shape
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: make track cards and artist cards both horizontal, same shape (#917)
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: tooltip clipping in scroll container + cleaner trending icon
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: tooltip clipping in scroll container + cleaner trending icon (#918)
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: tooltip in top tracks uses fixed positioning to escape scroll container, zigzag icon
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: tooltip in top tracks uses fixed positioning to escape scroll container, zigzag icon (#919)
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: TrackCard anchor guard + likes stopPropagation + clean polyline icon
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint
