Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: use consistent icons in search results (#451)
  frontend/src/lib/components/SearchModal.svelte
Due: frontend-build

fix: add ILIKE fallback for substring matches in search
  backend/src/backend/api/search.py
Due: ty-check

fix: add ILIKE fallback for substring matches in search (#452)
  backend/src/backend/api/search.py
Due: ty-check

fix: collapse excess tags with +N button and fix mobile menu overlap
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: keep mobile menus centered but shift up for player
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/ProfileMenu.svelte
Due: frontend-build

fix: collapse excess tags with +N button and fix mobile menu overlap (#453)
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

feat: add search trigger to header and mobile menu
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/SearchTrigger.svelte
Due: frontend-build

fix: hide portal link on portal page, move search to far right
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: reorder desktop header - search in nav, logout on far right
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: swap search and portal link order in nav
  frontend/src/lib/components/Header.svelte
Due: frontend-build

more stuff
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/SearchTrigger.svelte
Due: frontend-build

yuhhhhhhhh
  frontend/src/lib/components/SearchTrigger.svelte
Due: frontend-build

header layout (#455)
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/SearchTrigger.svelte
Due: frontend-build

feat: move search to top-level mobile header
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/ProfileMenu.svelte
Due: frontend-build

fix: hide keyboard hints on mobile, smaller placeholder text
  frontend/src/lib/components/SearchModal.svelte
Due: frontend-build

feat: mobile search as top-level header icon (#456)
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/SearchModal.svelte
Due: frontend-build

fix: mobile keyboard opens when tapping search
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
Due: frontend-build

fix: mobile keyboard opens when tapping search (#457)
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
Due: frontend-build

feat: fall back to album artwork in player when track has no image
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

feat: fall back to album artwork in player when track has no image (#458)
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

fix: correct just commands in AGENTS.md
  AGENTS.md
Due: none

fix: correct just commands in AGENTS.md (#459)
  AGENTS.md
Due: none

fix: exempt now-playing endpoints from rate limiting
  backend/src/backend/api/now_playing.py
Due: ty-check

fix: exempt now-playing endpoints from rate limiting (#460)
  backend/src/backend/api/now_playing.py
Due: ty-check

fix: add --no-dev to release command to prevent dev dep installation
  backend/fly.staging.toml
  backend/fly.toml
Due: none

fix: add --no-dev to release command to prevent dev dep installation (#461)
  backend/fly.staging.toml
  backend/fly.toml
Due: none

fix: remove debug console.log statements from LikersTooltip
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

fix: remove debug console.log statements from LikersTooltip (#462)
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

fix: search input focus not working when modal opens
  frontend/src/lib/components/SearchModal.svelte
Due: frontend-build

fix: search input focus not working when modal opens (#463)
  frontend/src/lib/components/SearchModal.svelte
Due: frontend-build

docs: add status update for search polish and fixes (#449-463)
  STATUS.md
Due: none

docs: add status update for search polish and fixes (#449-463) (#464)
  STATUS.md
Due: none

fix: hide logout button when not authenticated
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: hide logout button when not authenticated (#465)
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: bypass service worker for audio to prevent iOS PWA hangs
  frontend/vite.config.ts
Due: frontend-build

fix: bypass service worker for audio to prevent iOS PWA hangs (#466)
  frontend/vite.config.ts
Due: frontend-build

checkpoint
  backend/alembic/versions/2025_12_03_172719_d4e6457a0fe3_add_enable_teal_scrobbling_preference.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/tracks/playback.py
  backend/tests/api/test_preferences.py
  backend/tests/test_teal_scrobbling.py
Due: ty-check

checkpoint
  backend/alembic/versions/2025_12_03_172719_d4e6457a0fe3_add_enable_teal_scrobbling_preference.py
  backend/src/backend/_internal/atproto/teal.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/preferences.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/src/backend/models/preferences.py
  backend/tests/api/test_preferences.py
  backend/tests/test_teal_scrobbling.py
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.ts
Due: ty-check, frontend-build

feat: teal.fm scrobbling integration
  AGENTS.md
  backend/src/backend/_internal/atproto/teal.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/preferences.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/tests/api/test_preferences.py
  backend/tests/test_teal_scrobbling.py
  frontend/src/lib/player.svelte.ts
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

refactor: code quality improvements and bug fixes
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/now_playing.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/config.py
  backend/src/backend/utilities/auth.py
  backend/tests/api/test_now_playing.py
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/now-playing.svelte.ts
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build
