Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

fix: add explicit app name to staging deploy command
  .github/workflows/deploy-staging.yml
Due: none

fix: add explicit app name to staging deploy command (#85)
  .github/workflows/deploy-staging.yml
Due: none

chore: add R2 bucket copy script for migration
  scripts/copy_r2_buckets.py
Due: ty-check

fix: use separate fly.io API tokens for staging and prod
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: none

fix: use separate fly.io API tokens for staging and prod (#87)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: none

fix: update frontend branding defaults to plyr.fm
  frontend/src/lib/branding.ts
Due: frontend-build

fix: update frontend branding defaults to plyr.fm (#88)
  frontend/src/lib/branding.ts
Due: frontend-build

chore: add R2 bucket copy script for migration (#86)
  scripts/copy_r2_buckets.py
Due: ty-check

perf: optimize pre-commit CI workflow
  .github/workflows/run-pre-commit.yml
Due: none

perf: use uvx pre-commit for faster CI execution
  .github/workflows/run-pre-commit.yml
Due: none

perf: use prek-action for faster CI execution
  .github/workflows/run-pre-commit.yml
Due: none

chore: migrate from pre-commit to prek
  pyproject.toml
  uv.lock
Due: none

perf: optimize pre-commit CI workflow (#89)
  .github/workflows/run-pre-commit.yml
  pyproject.toml
  uv.lock
Due: none

docs: update remaining relay references to plyr.fm
  .env.example
  README.md
Due: none

fix: skip no-commit-to-branch hook when running on main
  .github/workflows/run-pre-commit.yml
Due: none

docs: update remaining relay references to plyr.fm (#90)
  .env.example
  .github/workflows/run-pre-commit.yml
  README.md
Due: none

feat: configure api.plyr.fm as production backend domain
  .claude/commands/onboard.md
  fly.toml
  src/backend/config.py
  src/backend/main.py
Due: ty-check

feat: configure api.plyr.fm as production backend domain (#91)
  .claude/commands/onboard.md
  fly.toml
  src/backend/config.py
  src/backend/main.py
Due: ty-check

feat: implement namespace migration for app.relay → fm.plyr
  frontend/src/lib/components/MigrationBanner.svelte
  frontend/src/routes/portal/+page.svelte
  src/backend/api/migration.py
  src/backend/main.py
Due: ty-check, frontend-build

feat: implement namespace migration for app.relay → fm.plyr (#92)
  frontend/src/lib/components/MigrationBanner.svelte
  frontend/src/routes/portal/+page.svelte
  src/backend/api/migration.py
  src/backend/main.py
Due: ty-check, frontend-build

feat: use prd-frontend branch for production deployments
  .github/workflows/deploy-prod.yml
  scripts/release
Due: none

rename prd-frontend to production
  .github/workflows/deploy-prod.yml
  scripts/release
Due: none

fix migration ui
  frontend/src/lib/components/MigrationBanner.svelte
  frontend/src/routes/portal/+page.svelte
  src/backend/api/migration.py
  src/backend/main.py
Due: ty-check, frontend-build

fix migration ui (#94)
  frontend/src/lib/components/MigrationBanner.svelte
  frontend/src/routes/portal/+page.svelte
  src/backend/api/migration.py
  src/backend/main.py
Due: ty-check, frontend-build

fix: ensure migration banner displays collection names correctly
  frontend/src/lib/components/MigrationBanner.svelte
  src/backend/api/migration.py
Due: ty-check, frontend-build

fix: ensure migration banner displays collection names correctly (#95)
  frontend/src/lib/components/MigrationBanner.svelte
  src/backend/api/migration.py
Due: ty-check, frontend-build

feat: add figlet ascii art banner to release script
  scripts/release
Due: none

feat: add figlet ascii art banner to release script (#96)
  scripts/release
Due: none

feat: add animated success fanfare to migration banner
  frontend/src/lib/components/MigrationBanner.svelte
  scripts/atproto-records
Due: frontend-build

feat: add animated success fanfare to migration banner (#97)
  frontend/src/lib/components/MigrationBanner.svelte
  scripts/atproto-records
Due: frontend-build

feat: add generic atproto records CLI tool
  scripts/atproto-records
Due: none

fix: handle DotDict objects in migration record values
  src/backend/api/migration.py
Due: ty-check

feat: rewrite atproto-records script with rich output
  scripts/atproto-records
Due: none

feat: concurrent migration with automatic deletion
  src/backend/api/migration.py
Due: ty-check

feat: improve migration UX with concurrent operations and auto-deletion (#98)
  scripts/atproto-records
  src/backend/api/migration.py
Due: ty-check

fix: analytics dashboard not showing on user's own profile
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: make analytics dashboard public for all users
  frontend/src/routes/u/[handle]/+page.svelte
  src/backend/api/artists.py
Due: ty-check, frontend-build

fix: analytics dashboard not showing on user's own profile (#99)
  frontend/src/routes/u/[handle]/+page.svelte
  src/backend/api/artists.py
Due: ty-check, frontend-build

docs: replace custom script with pdsls library
  docs/testing-with-atproto-records.md
  justfile
  scripts/atproto-records
Due: none

docs: replace custom script with pdsls library (#100)
  docs/testing-with-atproto-records.md
  justfile
  scripts/atproto-records
Due: none

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
