Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

feat: require terms acceptance on first login
  backend/alembic/versions/2025_12_10_184404_883e927fdd76_add_terms_accepted_at_to_user_.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/accept-terms/+page.svelte
Due: ty-check, frontend-build

feat: improve legal pages with configurable emails and accurate content
  backend/src/backend/config.py
  backend/src/backend/main.py
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/config.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/cookies/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/privacy/+page.ts
  frontend/src/routes/terms/+page.svelte
  frontend/src/routes/terms/+page.ts
Due: ty-check, frontend-build

test: add redis isolation for xdist parallel tests
  backend/tests/conftest.py
  backend/tests/test_moderation.py
  docs/testing/README.md
Due: ty-check

fix: handle missing redis gracefully in test fixture
  backend/tests/conftest.py
Due: ty-check

fix: mock settings in moderation cache tests
  backend/tests/test_moderation.py
Due: ty-check

fix: use D: prefix for DOCKET_URL to allow CI override
  backend/pyproject.toml
Due: none

fix: move deferred imports to top of file, add type hints
  AGENTS.md
  GEMINI.md
  backend/src/backend/_internal/moderation.py
  backend/src/backend/utilities/redis.py
  backend/tests/conftest.py
Due: ty-check

feat: add redis cache for copyright label lookups (#566)
  AGENTS.md
  GEMINI.md
  backend/pyproject.toml
  backend/src/backend/_internal/moderation.py
  backend/src/backend/config.py
  backend/src/backend/utilities/redis.py
  backend/tests/conftest.py
  backend/tests/test_moderation.py
  backend/uv.lock
  docs/testing/README.md
Due: ty-check

fix: mobile action menus open from top, add missing actions to AddToMenu
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: mobile action menus open from top, add missing actions to AddToMenu (#569)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: add id field to PWA manifest
  frontend/static/manifest.webmanifest
Due: frontend-build

fix: add id field to PWA manifest (#570)
  frontend/static/manifest.webmanifest
Due: frontend-build

fix: mobile ui polish for album and artist pages
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: mobile ui polish for album and artist pages (#572)
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: iOS Safari AddToMenu visibility issue
  frontend/src/lib/components/AddToMenu.svelte
Due: frontend-build

fix: iOS Safari AddToMenu visibility issue (#573)
  frontend/src/lib/components/AddToMenu.svelte
Due: frontend-build

debug: add console logs to AddToMenu for iOS Safari debugging
  frontend/src/lib/components/AddToMenu.svelte
Due: frontend-build

debug: add console logs to AddToMenu for iOS Safari debugging (#574)
  frontend/src/lib/components/AddToMenu.svelte
Due: frontend-build

fix: override open-upward class in mobile media query
  frontend/src/lib/components/AddToMenu.svelte
Due: frontend-build

fix: AddToMenu open-upward override for mobile (#575)
  frontend/src/lib/components/AddToMenu.svelte
Due: frontend-build

chore: remove AddToMenu debug logging
  frontend/src/lib/components/AddToMenu.svelte
Due: frontend-build

chore: remove AddToMenu debug logging (#576)
  frontend/src/lib/components/AddToMenu.svelte
Due: frontend-build

feat: add confidential OAuth client support for longer-lived sessions
  backend/src/backend/_internal/auth.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/tests/test_auth.py
  scripts/gen_oauth_jwk.py
Due: ty-check

address review comments: remove deferred imports, add type annotations
  backend/src/backend/main.py
Due: ty-check

docs: add OAuth confidential client documentation
  docs/authentication.md
Due: none

docs: add token refresh mechanism and migration notes
  docs/authentication.md
Due: none

feat: add confidential OAuth client support for longer-lived sessions (#578)
  backend/src/backend/_internal/auth.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/tests/test_auth.py
  docs/authentication.md
  scripts/gen_oauth_jwk.py
Due: ty-check

fix: update atproto fork and fix confidential client tests
  backend/tests/test_auth.py
  backend/uv.lock
Due: ty-check

fix: update atproto fork and fix confidential client tests (#580)
  backend/tests/test_auth.py
  backend/uv.lock
Due: ty-check

fix: preserve kid in JWKS endpoint output
  backend/src/backend/_internal/auth.py
Due: ty-check

fix: preserve kid in JWKS endpoint output (#581)
  backend/src/backend/_internal/auth.py
Due: ty-check

fix: pass kid to OAuthClient for client assertion JWT header
  backend/src/backend/_internal/auth.py
  backend/uv.lock
Due: ty-check

fix: pass kid to OAuthClient for client assertion JWT header (#582)
  backend/src/backend/_internal/auth.py
  backend/uv.lock
Due: ty-check

docs: add confidential OAuth client work to STATUS.md
  STATUS.md
Due: none

docs: add confidential OAuth client work to STATUS.md (#584)
  STATUS.md
Due: none

add tap docs
  docs/tools/tap.md
Due: none

feat: add moderation agent script with audit trail support
  moderation/src/admin.rs
  moderation/static/admin.css
  scripts/moderation_agent.py
Due: ty-check

feat: add moderation agent script with audit trail support (#586)
  moderation/src/admin.rs
  moderation/static/admin.css
  scripts/moderation_agent.py
Due: ty-check

fix: improve moderation agent prompt and UI layout
  moderation/static/admin.css
  scripts/moderation_agent.py
Due: ty-check

fix: improve moderation agent prompt and UI layout (#588)
  moderation/static/admin.css
  scripts/moderation_agent.py
Due: ty-check
