Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

add live logo celestial theme
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

add live logo celestial theme (#1375)
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

make live logo celestial inherent
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

make live logo celestial inherent (#1376)
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix(font): comic sans now actually renders as comic sans on mobile
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

fix(font): comic sans now actually renders as comic sans on mobile (#1377)
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

fix(jam): toast on deep-link join so users know they're in
  frontend/src/routes/jam/[code]/+page.svelte
Due: svelte-check, eslint

fix(jam): toast on deep-link join so users know they're in (#1378)
  frontend/src/routes/jam/[code]/+page.svelte
Due: svelte-check, eslint

remove live celestial logo
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

docs(status): capture jam join toast, mobile comic sans, celestial logo, CONTRIBUTING
  STATUS.md
Due: none

docs(status): capture jam join toast, mobile comic sans, celestial logo, CONTRIBUTING (#1379)
  STATUS.md
Due: none

fix(ui): scrim cover-art background so foreground stays readable
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

feat(scripts): backfill artist identity from bsky
  scripts/backfill_artist_identity.py
Due: type-check

fix(backfill): skip handle.invalid + @jpeg-only avatar churn
  scripts/backfill_artist_identity.py
Due: type-check

feat(tags): default-hide suno + use 'voice memo' tag for /record
  backend/src/backend/utilities/tags.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/record/+page.svelte
Due: type-check, svelte-check, eslint

feat(tags): default-hide suno + use 'voice memo' tag for /record (#1383)
  backend/src/backend/utilities/tags.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/record/+page.svelte
Due: type-check, svelte-check, eslint

feat(spaces): introduce backend Space abstraction + private playlists
  backend/alembic/versions/2026_05_09_105244_d7b6becca879_add_spaces_tables_and_playlists_space_.py
  backend/src/backend/_internal/spaces/__init__.py
  backend/src/backend/_internal/spaces/nsids.py
  backend/src/backend/_internal/spaces/ops.py
  backend/src/backend/_internal/spaces/uri.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/lists/schemas.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/playlist.py
  backend/src/backend/models/space.py
  backend/tests/_internal/test_spaces.py
  backend/tests/api/test_private_playlists.py
  loq.toml
Due: type-check

feat(spaces): private playlists frontend + existence-leak hardening
  backend/src/backend/api/activity.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/oembed.py
  backend/src/backend/api/search.py
  backend/tests/api/test_private_playlists.py
  frontend/src/lib/types.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.ts
Due: type-check, svelte-check, eslint

test(spaces): hoist IntegrityError import to module top
  backend/tests/_internal/test_spaces.py
Due: type-check

style(private-playlists): drop redundant lock icons
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
Due: svelte-check, eslint

style(create-playlist): two-card visibility picker instead of checkbox
  frontend/src/routes/library/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(playlists): private playlists (app-layer, no spaces invented)
  backend/alembic/versions/2026_05_09_212255_5c56f12bc84d_add_private_playlist_columns.py
  backend/src/backend/api/activity.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/lists/schemas.py
  backend/src/backend/api/oembed.py
  backend/src/backend/api/search.py
  backend/src/backend/models/playlist.py
  backend/tests/api/test_private_playlists.py
  frontend/src/lib/types.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix(playlists): track_count matches hydrated tracks; downgrade guard
  backend/alembic/versions/2026_05_09_212255_5c56f12bc84d_add_private_playlist_columns.py
  backend/src/backend/api/lists/playlists.py
  backend/tests/api/test_private_playlists.py
Due: type-check

feat(playlists): private playlists (app-layer, v2) (#1386)
  backend/alembic/versions/2026_05_09_212255_5c56f12bc84d_add_private_playlist_columns.py
  backend/src/backend/api/activity.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/lists/schemas.py
  backend/src/backend/api/oembed.py
  backend/src/backend/api/search.py
  backend/src/backend/models/playlist.py
  backend/tests/api/test_private_playlists.py
  frontend/src/lib/types.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat(playlists): allow toggling private<->public after creation
  backend/src/backend/api/lists/playlists.py
  backend/tests/api/test_private_playlists.py
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

refactor(playlists): inline visibility-transition state in caller
  backend/src/backend/api/lists/playlists.py
  loq.toml
Due: type-check

fix(playlists): self-review fixes (ordering bug, frontend race, snapshot helper signature)
  backend/src/backend/api/lists/playlists.py
  backend/tests/api/test_private_playlists.py
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(playlists): private<->public visibility toggle (#1387)
  backend/src/backend/api/lists/playlists.py
  backend/tests/api/test_private_playlists.py
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(playlist): visibility toggle button no longer stretches like a text input
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(uploads): preserve is_safe_url + skip longform fixture without ffmpeg
  backend/src/backend/_internal/atproto/client.py
  backend/tests/integration/test_longform_upload.py
  backend/tests/test_pds_network_retry.py
  loq.toml
Due: type-check

ops: never give up restarting the worker + a runbook for the silence alert
  backend/fly.toml
  docs/internal/runbooks/README.md
  docs/internal/runbooks/worker-silence-alert.md
Due: none

ops: also restart-always on staging + add the crash-loop alert
  backend/fly.staging.toml
  docs/internal/runbooks/README.md
  docs/internal/runbooks/worker-silence-alert.md
Due: none

reaper: ownership-guarded cleanup + heartbeats + atomic claim
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/clients/transcoder.py
  backend/src/backend/_internal/jobs.py
  backend/src/backend/_internal/tasks/reaper.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_stuck_upload_reaper.py
  loq.toml
Due: type-check

fix: default docket url to memory:// for local dev
  backend/src/backend/config.py
Due: type-check

docs: add frontend/.env.example and reference it in setup guides
  docs/internal/local-development/setup.md
  docs/public/contributing.md
  frontend/.env.example
Due: svelte-check

fix: default docket url to memory:// for local dev (#1393)
  backend/src/backend/config.py
Due: type-check

chore: ruff-format follow-up to #1393
  backend/src/backend/config.py
Due: type-check

chore: ruff-format follow-up to #1393 (#1395)
  backend/src/backend/config.py
Due: type-check

chore: add backlog-maintenance skill
  .claude/skills/backlog-maintenance/SKILL.md
Due: none
