Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: proper paragraph break before "here's the latest one:"
  docs/index.mdx
Due: none

fix: proper paragraph break before "here's the latest one:" (#1058)
  docs/index.mdx
Due: none

fix: correct "leaving" docs to reflect optional ATProto record deletion
  docs/artists.md
  docs/listeners.md
Due: none

fix: correct "leaving" docs to reflect optional ATProto record deletion (#1059)
  docs/artists.md
  docs/listeners.md
Due: none

feat: default new uploads to store audio on user's PDS
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
Due: type-check, svelte-check, eslint

feat: default new uploads to store audio on user's PDS (#1060)
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
Due: type-check, svelte-check, eslint

docs: clarify that audio is stored on PDS by default
  docs/artists.md
Due: none

docs: clarify that audio is stored on PDS by default (#1061)
  docs/artists.md
Due: none

feat: add track description field and RSS feed generation
  backend/alembic/versions/2026_03_06_112610_bcf223076d43_add_track_description_column.py
  backend/pyproject.toml
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/feeds.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/main.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/api/test_feeds.py
  backend/tests/api/test_track_description.py
  backend/uv.lock
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  frontend/src/routes/upload/+page.svelte
  lexicons/track.json
  loq.toml
Due: type-check, svelte-check, eslint

refactor: move deferred import to top of feeds module
  backend/src/backend/api/feeds.py
Due: type-check

feat: add track description field and RSS feed generation (#1045)
  backend/alembic/versions/2026_03_06_112610_bcf223076d43_add_track_description_column.py
  backend/pyproject.toml
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/feeds.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/main.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/api/test_feeds.py
  backend/tests/api/test_track_description.py
  backend/uv.lock
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  frontend/src/routes/upload/+page.svelte
  lexicons/track.json
  loq.toml
Due: type-check, svelte-check, eslint

fix: handle non-png/jpg avatar URLs in RSS feeds
  backend/src/backend/api/feeds.py
  backend/tests/api/test_feeds.py
Due: type-check

revert: remove RSS feed feature and feedgen dependency
  backend/pyproject.toml
  backend/src/backend/api/__init__.py
  backend/src/backend/api/feeds.py
  backend/src/backend/main.py
  backend/tests/api/test_feeds.py
  backend/uv.lock
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: type-check, svelte-check, eslint

docs: fix casing, links, and inaccuracies in public-facing pages
  docs/artists.md
  docs/listeners.md
Due: none

docs: fix casing, links, and inaccuracies in public-facing pages (#1063)
  docs/artists.md
  docs/listeners.md
Due: none

docs: add artist and label outreach pitch templates
  docs-internal/outreach/pitches-v0.md
  docs-internal/outreach/pitches-v1.md
Due: none

docs: add v2 outreach pitches with timing angle and inline links
  docs-internal/outreach/pitches-v2.md
Due: none

feat: add ATProto Jetstream consumer for real-time record ingestion
  backend/alembic/versions/2026_03_10_151042_e2d11e296633_add_partial_index_on_tracks_atproto_.py
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/audio.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: beartype float init + unique test DIDs for xdist isolation
  backend/src/backend/_internal/jetstream.py
  backend/tests/test_jetstream.py
Due: type-check

fix: remove past-dated createdAt from test records for proper cleanup
  backend/tests/test_jetstream.py
Due: type-check

fix: expire session cache before asserting on cross-session updates
  backend/tests/test_jetstream.py
Due: type-check

fix: capture URI before expire_all to avoid lazy-load greenlet error
  backend/tests/test_jetstream.py
Due: type-check

refactor: add logfire observability, hoist deferred imports, fix dead code
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/ingest.py
Due: type-check

refactor: run Jetstream consumer as docket perpetual task
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/main.py
  backend/tests/test_jetstream.py
Due: type-check

fix: cancel perpetual task when jetstream is disabled
  backend/src/backend/_internal/jetstream.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

feat: add retry, concurrency limits, and record validation to ingest tasks
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/utilities/lexicon.py
  backend/tests/test_jetstream.py
  backend/tests/test_lexicon_validation.py
  loq.toml
Due: type-check

feat: shared post-creation hooks for track ingest pipeline
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_tracks_cache.py
  backend/tests/settings/test_notifications.py
  backend/tests/test_jetstream.py
  backend/tests/test_post_create_hooks.py
  loq.toml
Due: type-check

fix: correct notification_service mock target in tests
  backend/tests/settings/test_notifications.py
  backend/tests/test_post_create_hooks.py
Due: type-check

fix: use unique DIDs in test_jetstream fixtures for xdist isolation
  backend/tests/test_jetstream.py
Due: type-check

fix: resolve test_jetstream teardown and cross-contamination failures
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: add required audioUrl to PDS hooks test record
  backend/tests/test_jetstream.py
Due: type-check

fix: materialize supportGate, retry ordering gaps, complete update reconciliation
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: gated PDS playback + unique constraint on atproto_record_uri
  backend/alembic/versions/2026_03_10_151042_e2d11e296633_add_partial_index_on_tracks_atproto_.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/audio.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: use dependency_overrides for gated PDS playback test
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: reconcile audio storage fields in track update ingest
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: dual-source records use audio_storage='both' instead of collapsing
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: persist r2_url for dual-source tracks in create path
  backend/src/backend/_internal/tasks/ingest.py
Due: type-check

refactor: extract shared post-creation hooks from upload path
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_tracks_cache.py
  backend/tests/settings/test_notifications.py
  backend/tests/test_post_create_hooks.py
Due: type-check

refactor: extract shared post-creation hooks from upload path (#1068)
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_tracks_cache.py
  backend/tests/settings/test_notifications.py
  backend/tests/test_post_create_hooks.py
Due: type-check

fix: support PDS-backed audio playback for gated and public tracks
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
  loq.toml
Due: type-check
