Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

fix: stats placement and breakpoint gap
  frontend/src/routes/+page.svelte
Due: frontend-build

fix: align LinksMenu breakpoint with sidebar
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/+page.svelte
Due: frontend-build

style: glass effect on stats sidebar
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/routes/+page.svelte
Due: frontend-build

feat: add platform stats display on homepage (#376)
  backend/src/backend/api/__init__.py
  backend/src/backend/api/stats.py
  backend/src/backend/main.py
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/routes/+page.svelte
Due: ty-check, frontend-build

fix: improve stats sidebar design and positioning
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/routes/+page.svelte
Due: frontend-build

refactor: move platform stats from sidebar to header
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/routes/+page.svelte
Due: frontend-build

refactor: move platform stats from sidebar to header (#378)
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/routes/+page.svelte
Due: frontend-build

feat: add end-of-list animation on homepage
  frontend/src/lib/components/EndOfList.svelte
  frontend/src/routes/+page.svelte
Due: frontend-build

feat: add end-of-list animation on homepage (#379)
  frontend/src/lib/components/EndOfList.svelte
  frontend/src/routes/+page.svelte
Due: frontend-build

feat: track SDK/MCP client usage in Logfire spans
  backend/src/backend/main.py
  backend/tests/test_auth.py
  backend/tests/test_user_agent.py
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: ty-check, frontend-build

feat: track SDK/MCP client usage in Logfire spans (#380)
  backend/src/backend/main.py
  backend/tests/test_auth.py
  backend/tests/test_user_agent.py
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: ty-check, frontend-build

revert: remove end-of-list animation (mobile perf regression)
  frontend/src/lib/components/EndOfList.svelte
  frontend/src/routes/+page.svelte
Due: frontend-build

revert: remove end-of-list animation (mobile perf regression) (#381)
  frontend/src/lib/components/EndOfList.svelte
  frontend/src/routes/+page.svelte
Due: frontend-build

add another sql dashboard
  docs/tools/logfire-client-traffic-dashboard.sql
Due: none

feat: wire up copyright scan integration with moderation service
  backend/src/backend/_internal/moderation.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/test_moderation.py
Due: ty-check

fix: add missing logfire[sqlalchemy] dep to copyright scan script
  scripts/scan_tracks_copyright.py
Due: ty-check

fix: store scan errors as clear results instead of leaving tracks unscanned
  backend/src/backend/_internal/moderation.py
  backend/tests/test_moderation.py
Due: ty-check

feat: wire up copyright scan integration with moderation service (#382)
  backend/src/backend/_internal/moderation.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/test_moderation.py
  scripts/scan_tracks_copyright.py
Due: ty-check

fix: flag copyright matches by presence, not score
  moderation/src/main.rs
  scripts/scan_tracks_copyright.py
Due: ty-check

fix: flag copyright matches by presence, not score (#384)
  moderation/src/main.rs
  scripts/scan_tracks_copyright.py
Due: ty-check

feat: implement ATProto labeler for copyright violations
  backend/src/backend/_internal/moderation.py
  backend/src/backend/config.py
  backend/tests/test_moderation.py
  moderation/Cargo.lock
  moderation/Cargo.toml
  moderation/Dockerfile
  moderation/src/db.rs
  moderation/src/labels.rs
  moderation/src/main.rs
Due: ty-check

docs: update neon project names
  docs/tools/neon.md
Due: none

feat: implement ATProto labeler for copyright violations (#385)
  backend/src/backend/_internal/moderation.py
  backend/src/backend/config.py
  backend/tests/test_moderation.py
  docs/tools/neon.md
  moderation/Cargo.lock
  moderation/Cargo.toml
  moderation/Dockerfile
  moderation/src/db.rs
  moderation/src/labels.rs
  moderation/src/main.rs
Due: ty-check

docs: update moderation docs with ATProto labeler architecture
  docs/moderation/atproto-labeler.md
  docs/moderation/copyright-detection.md
  docs/moderation/overview.md
Due: none

docs: update moderation docs with ATProto labeler architecture (#386)
  docs/moderation/atproto-labeler.md
  docs/moderation/copyright-detection.md
  docs/moderation/overview.md
Due: none

feat: show copyright flag indicator in artist portal
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  frontend/src/lib/types.ts
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

feat: show copyright flag indicator in artist portal (#387)
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  frontend/src/lib/types.ts
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

feat: show primary copyright match in portal tooltip
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  frontend/src/lib/types.ts
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

feat: show primary copyright match in portal tooltip (#389)
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  frontend/src/lib/types.ts
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

feat: add admin UI for reviewing copyright flags
  moderation/Cargo.lock
  moderation/Cargo.toml
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/main.rs
Due: none

refactor: modularize moderation service
  moderation/src/admin.rs
  moderation/src/audd.rs
  moderation/src/auth.rs
  moderation/src/config.rs
  moderation/src/handlers.rs
  moderation/src/labels.rs
  moderation/src/main.rs
  moderation/src/state.rs
  moderation/src/xrpc.rs
Due: none

feat: add admin UI for reviewing copyright flags (#390)
  moderation/Cargo.lock
  moderation/Cargo.toml
  moderation/src/admin.rs
  moderation/src/audd.rs
  moderation/src/auth.rs
  moderation/src/config.rs
  moderation/src/db.rs
  moderation/src/handlers.rs
  moderation/src/labels.rs
  moderation/src/main.rs
  moderation/src/state.rs
  moderation/src/xrpc.rs
Due: none

fix: auth and CI for moderation service
  .github/workflows/deploy-moderation.yml
  moderation/src/auth.rs
Due: none

fix: auth and CI for moderation service (#391)
  .github/workflows/deploy-moderation.yml
  moderation/src/auth.rs
Due: none

feat: add label context for enriched admin UI
  backend/src/backend/_internal/moderation.py
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/handlers.rs
  moderation/src/main.rs
  scripts/backfill_copyright_labels.py
  scripts/backfill_label_context.py
Due: ty-check

fix: use --with-editable instead of sys.path hack
  scripts/backfill_copyright_labels.py
  scripts/backfill_label_context.py
Due: ty-check

fix: update test to expect full label context parameters
  backend/tests/test_moderation.py
Due: ty-check

feat: add label context for enriched admin UI (#392)
  backend/src/backend/_internal/moderation.py
  backend/tests/test_moderation.py
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/handlers.rs
  moderation/src/main.rs
  scripts/backfill_copyright_labels.py
  scripts/backfill_label_context.py
Due: ty-check

refactor: replace admin UI inline JS with htmx
  moderation/src/admin.rs
  moderation/src/main.rs
Due: none

refactor: extract admin UI to static files
  moderation/Dockerfile
  moderation/src/admin.rs
  moderation/src/main.rs
  moderation/src/state.rs
  moderation/static/admin.css
  moderation/static/admin.html
  moderation/static/admin.js
Due: none

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
