Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix(queue): keep-playing-off must not tear down a collection tail; docs
  docs/internal/frontend/collection-pages.md
  docs/internal/frontend/queue.md
  docs/public/listeners.md
  frontend/src/lib/queue-context.test.ts
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: svelte-check, eslint

feat(playback): "play through collections" setting — default on, opt-out
  docs/internal/frontend/queue.md
  frontend/src/lib/collection-playback.test.ts
  frontend/src/lib/collection-playback.ts
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(queue): shuffle For You continuation so the same track doesn't lead every refill
  frontend/src/lib/queue-context.test.ts
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: svelte-check, eslint

refactor(queue): remove duplicate surface introduced by collection continuity
  frontend/src/lib/collection-playback.test.ts
  frontend/src/lib/collection-playback.ts
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: svelte-check, eslint

feat(queue): collection continuity — tap a track inside a collection to queue the rest (#1626)
  docs/internal/frontend/collection-pages.md
  docs/internal/frontend/queue.md
  docs/public/listeners.md
  frontend/src/lib/collection-playback.test.ts
  frontend/src/lib/collection-playback.ts
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/queue-context.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(player): skip on load failure so auto-advance never dead-airs
  frontend/src/lib/audio-source.test.ts
  frontend/src/lib/audio-source.ts
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix(album): return 409 on album rename slug collision instead of 500 (#1612)
  backend/src/backend/api/albums/mutations.py
  backend/tests/api/test_albums.py
Due: type-check

fix(pre-commit): relax loq + format test after #1612
  backend/tests/api/test_albums.py
  loq.toml
Due: type-check

fix(album): surface the rename 409 detail to the toast
  frontend/src/lib/album-actions.test.ts
  frontend/src/lib/album-actions.ts
Due: svelte-check, eslint

fix(album): finish #1612 — green CI + surface the rename 409 to users (#1628)
  backend/tests/api/test_albums.py
  frontend/src/lib/album-actions.test.ts
  frontend/src/lib/album-actions.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix(player): skip on load failure so auto-advance never dead-airs (#1627)
  frontend/src/lib/audio-source.test.ts
  frontend/src/lib/audio-source.ts
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

feat(auth): browserless dev-token minting via atproto app-password
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/auth/app_password.py
  backend/src/backend/config.py
  backend/tests/_internal/test_app_password.py
  docs/internal/authentication.md
  justfile
  loq.toml
  scripts/mint_dev_token.py
Due: type-check

feat(scripts): bootstrap mint mode + handle→PDS resolution
  scripts/mint_dev_token.py
Due: type-check

docs(testing): browserless path for refreshing integration-test tokens
  docs/internal/testing/integration-tests.md
Due: none

feat(auth): browserless dev-token minting via atproto app-password (#1629)
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/auth/app_password.py
  backend/src/backend/config.py
  backend/tests/_internal/test_app_password.py
  docs/internal/authentication.md
  docs/internal/testing/integration-tests.md
  justfile
  loq.toml
  scripts/mint_dev_token.py
Due: type-check

feat(auth): JIT dev-token mint endpoint for CI (mint → use → throw away)
  .github/workflows/integration-tests.yml
  backend/src/backend/_internal/auth/app_password.py
  backend/src/backend/api/auth.py
  backend/src/backend/config.py
  backend/tests/api/test_app_password_endpoint.py
  docs/internal/authentication.md
  docs/internal/testing/integration-tests.md
  loq.toml
  scripts/mint_dev_token.py
Due: type-check

feat(auth): JIT dev-token mint endpoint for CI (mint → use → throw away) (#1630)
  .github/workflows/integration-tests.yml
  backend/src/backend/_internal/auth/app_password.py
  backend/src/backend/api/auth.py
  backend/src/backend/config.py
  backend/tests/api/test_app_password_endpoint.py
  docs/internal/authentication.md
  docs/internal/testing/integration-tests.md
  loq.toml
  scripts/mint_dev_token.py
Due: type-check

fix(auth): app-password sessions bypass the OAuth scope-coverage gate
  backend/src/backend/_internal/auth/dependencies.py
  backend/tests/_internal/test_require_auth_app_password.py
Due: type-check

fix(auth): app-password sessions bypass the OAuth scope-coverage gate (#1631)
  backend/src/backend/_internal/auth/dependencies.py
  backend/tests/_internal/test_require_auth_app_password.py
Due: type-check

fix(queue): truncate the "next from" collection label + marquee long track titles
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/ScrollingText.svelte
  loq.toml
Due: svelte-check, eslint

fix(queue): truncate the "next from" collection label + marquee long track titles (#1632)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/ScrollingText.svelte
  loq.toml
Due: svelte-check, eslint

fix(portal): tap/hover copyright popover + explain what a flag means
  docs/public/artists.md
  frontend/src/lib/components/portal/CopyrightFlag.svelte
  frontend/src/lib/components/portal/CopyrightFlag.test.ts
  frontend/src/lib/components/portal/TracksSection.svelte
Due: svelte-check, eslint

spike(frontend): storybook component-isolation harness
  frontend/.gitignore
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/justfile
  frontend/package.json
  frontend/src/lib/components/portal/CopyrightFlag.stories.svelte
Due: svelte-check, eslint

fix(portal): tap/hover copyright popover + explain what a flag means (#1633)
  docs/public/artists.md
  frontend/src/lib/components/portal/CopyrightFlag.svelte
  frontend/src/lib/components/portal/CopyrightFlag.test.ts
  frontend/src/lib/components/portal/TracksSection.svelte
Due: svelte-check, eslint

spike(frontend): storybook component-isolation harness (#1634)
  frontend/.gitignore
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/justfile
  frontend/package.json
  frontend/src/lib/components/portal/CopyrightFlag.stories.svelte
Due: svelte-check, eslint

fix(portal): polish the copyright popover
  frontend/.storybook/preview-head.html
  frontend/src/lib/components/portal/CopyrightFlag.svelte
Due: svelte-check, eslint

fix(portal): polish the copyright popover (#1635)
  frontend/.storybook/preview-head.html
  frontend/src/lib/components/portal/CopyrightFlag.svelte
Due: svelte-check, eslint

ci: publish storybook to cloudflare pages on merge to main
  .github/workflows/deploy-storybook.yml
Due: none

ci: publish storybook to cloudflare pages on merge to main (#1636)
  .github/workflows/deploy-storybook.yml
Due: none

feat(storybook): stories for a first batch of components
  frontend/src/lib/components/ConfirmDialog.stories.svelte
  frontend/src/lib/components/InfoTooltip.stories.svelte
  frontend/src/lib/components/RichText.stories.svelte
  frontend/src/lib/components/SensitiveImage.stories.svelte
  frontend/src/lib/components/SupporterBadge.stories.svelte
  frontend/src/lib/components/TagInput.stories.svelte
  frontend/src/lib/components/Toast.stories.svelte
  frontend/src/lib/components/TrackItem.stories.svelte
  frontend/src/lib/components/WaveLoading.stories.svelte
Due: svelte-check, eslint

feat(storybook): stories for a first batch of components (#1637)
  frontend/src/lib/components/ConfirmDialog.stories.svelte
  frontend/src/lib/components/InfoTooltip.stories.svelte
  frontend/src/lib/components/RichText.stories.svelte
  frontend/src/lib/components/SensitiveImage.stories.svelte
  frontend/src/lib/components/SupporterBadge.stories.svelte
  frontend/src/lib/components/TagInput.stories.svelte
  frontend/src/lib/components/Toast.stories.svelte
  frontend/src/lib/components/TrackItem.stories.svelte
  frontend/src/lib/components/WaveLoading.stories.svelte
Due: svelte-check, eslint

fix(ci): provide PUBLIC_API_URL to the storybook build
  .github/workflows/deploy-storybook.yml
  frontend/justfile
Due: svelte-check

fix(ci): provide PUBLIC_API_URL to the storybook build (#1638)
  .github/workflows/deploy-storybook.yml
  frontend/justfile
Due: svelte-check

feat(storybook): design-system surface — intro, foundations, theming, a11y
  frontend/.storybook/manager.ts
  frontend/.storybook/plyr-tokens.css
  frontend/.storybook/preview-head.html
  frontend/.storybook/preview.ts
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/WaveLoading.svelte
  frontend/src/lib/components/a11y.test.ts
  frontend/src/stories/Colors.stories.svelte
  frontend/src/stories/Introduction.mdx
  frontend/src/stories/Radius.stories.svelte
  frontend/src/stories/Typography.stories.svelte
Due: svelte-check, eslint

chore(storybook): use placeholder match in TrackItem flagged story
  frontend/src/lib/components/TrackItem.stories.svelte
Due: svelte-check, eslint

feat(storybook): design-system surface — intro, foundations, theming, a11y (#1639)
  frontend/.storybook/manager.ts
  frontend/.storybook/plyr-tokens.css
  frontend/.storybook/preview-head.html
  frontend/.storybook/preview.ts
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/TrackItem.stories.svelte
  frontend/src/lib/components/WaveLoading.svelte
  frontend/src/lib/components/a11y.test.ts
  frontend/src/stories/Colors.stories.svelte
  frontend/src/stories/Introduction.mdx
  frontend/src/stories/Radius.stories.svelte
  frontend/src/stories/Typography.stories.svelte
Due: svelte-check, eslint

feat(storybook): automated accessibility gate (axe on every story)
  .github/workflows/test-storybook.yml
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/justfile
  frontend/package.json
  frontend/src/lib/components/ConfirmDialog.stories.svelte
  frontend/src/lib/components/RichText.stories.svelte
  frontend/src/lib/components/TrackItem.stories.svelte
  frontend/src/stories/Typography.stories.svelte
  frontend/vitest.storybook.config.ts
Due: svelte-check, eslint

feat(storybook): automated accessibility gate (axe on every story) (#1640)
  .github/workflows/test-storybook.yml
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/justfile
  frontend/package.json
  frontend/src/lib/components/ConfirmDialog.stories.svelte
  frontend/src/lib/components/RichText.stories.svelte
  frontend/src/lib/components/TrackItem.stories.svelte
  frontend/src/stories/Typography.stories.svelte
  frontend/vitest.storybook.config.ts
Due: svelte-check, eslint

fix(a11y): bring existing stories into WCAG contrast compliance
  frontend/.storybook/plyr-tokens.css
  frontend/src/lib/components/ColorSettings.svelte
  frontend/src/lib/components/ConfirmDialog.stories.svelte
  frontend/src/lib/components/ConfirmDialog.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/RichText.stories.svelte
  frontend/src/lib/components/RichText.svelte
  frontend/src/lib/components/TrackItem.stories.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/contrast.test.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

fix(a11y): bring existing stories into WCAG contrast compliance (#1641)
  frontend/.storybook/plyr-tokens.css
  frontend/src/lib/components/ColorSettings.svelte
  frontend/src/lib/components/ConfirmDialog.stories.svelte
  frontend/src/lib/components/ConfirmDialog.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/RichText.stories.svelte
  frontend/src/lib/components/RichText.svelte
  frontend/src/lib/components/TrackItem.stories.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/contrast.test.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint
