Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: adopt Svelte 5.25+ patterns and improve accessibility
  docs/frontend/state-management.md
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: adopt Svelte 5.25+ patterns and improve accessibility (#624)
  docs/frontend/state-management.md
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

docs: add end-of-year sprint planning and research
  STATUS.md
  docs/research/2025-12-20-atprotofans-paywall-integration.md
  docs/research/2025-12-20-moderation-architecture-overhaul.md
Due: none

docs: add end-of-year sprint planning and research (#626)
  STATUS.md
  docs/research/2025-12-20-atprotofans-paywall-integration.md
  docs/research/2025-12-20-moderation-architecture-overhaul.md
Due: none

feat: add supporter badges for atprotofans integration (phase 1)
  docs/research/2025-12-20-atprotofans-paywall-integration.md
  docs/research/2025-12-20-supporter-gated-content-architecture.md
  frontend/src/lib/components/SupporterBadge.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: add rate limit to /moderation/sensitive-images endpoint
  backend/src/backend/api/moderation.py
Due: ty-check

fix: add rate limit to /moderation/sensitive-images endpoint (#629)
  backend/src/backend/api/moderation.py
Due: ty-check

docs: update STATUS.md with rate limiting incident response
  .claude/commands/status-update.md
  STATUS.md
Due: none

docs: update STATUS.md with rate limiting incident response (#630)
  .claude/commands/status-update.md
  STATUS.md
Due: none

feat: add supporter badges for atprotofans integration (phase 1) (#627)
  docs/research/2025-12-20-atprotofans-paywall-integration.md
  docs/research/2025-12-20-supporter-gated-content-architecture.md
  frontend/src/lib/components/SupporterBadge.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: redirect to /library after login instead of /portal
  backend/src/backend/api/auth.py
  frontend/src/routes/library/+page.svelte
Due: ty-check, frontend-build

fix: redirect to /library after login instead of /portal (#631)
  backend/src/backend/api/auth.py
  frontend/src/routes/library/+page.svelte
Due: ty-check, frontend-build

fix: revert to /portal redirect - library page breaks login flow
  frontend/src/routes/library/+page.svelte
Due: frontend-build

hotfix: revert to /portal - library breaks login
  backend/src/backend/api/auth.py
Due: ty-check

hotfix: revert to /portal - library breaks login (#633)
  backend/src/backend/api/auth.py
Due: ty-check

fix: use float literals for progress_pct to satisfy beartype
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/uploads.py
Due: ty-check

fix: use float literals for progress_pct to satisfy beartype (#634)
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/uploads.py
Due: ty-check

fix: use artist DID as signer for atprotofans validation
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: use artist DID as signer for atprotofans validation (#635)
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: add supporter-gated content infrastructure
  backend/alembic/versions/2025_12_22_190115_9ee155c078ed_add_support_gate_to_tracks.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/atprotofans.py
  backend/src/backend/api/audio.py
  backend/src/backend/config.py
  backend/src/backend/models/track.py
  backend/src/backend/storage/r2.py
  lexicons/track.json
Due: ty-check

feat: add support_gate parameter to upload flow
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/api/tracks/uploads.py
Due: ty-check

feat(frontend): add UI for supporter-gated tracks
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

fix: complete supporter-gated content implementation
  backend/.env.example
  backend/src/backend/api/audio.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/schemas.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_audio.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/playback.svelte.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: ty-check, frontend-build

fix: migrate audio to private bucket when enabling support_gate
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/storage/r2.py
Due: ty-check

refactor: unify audio bucket migration to single move_audio method
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/storage/r2.py
Due: ty-check

fix: sync ATProto record when toggling support_gate
  backend/src/backend/api/tracks/mutations.py
  frontend/src/routes/upload/+page.svelte
Due: ty-check, frontend-build

feat: supporter-gated content with atprotofans validation (#637)
  backend/.env.example
  backend/alembic/versions/2025_12_22_190115_9ee155c078ed_add_support_gate_to_tracks.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/atprotofans.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_audio.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  frontend/src/routes/upload/+page.svelte
  lexicons/track.json
Due: ty-check, frontend-build

fix: resolve gated status server-side, show lock icon for inaccessible content
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/atprotofans.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/schemas.py
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

docs: add R2_PRIVATE_BUCKET to configuration docs
  docs/backend/configuration.md
  docs/local-development/setup.md
Due: none

fix: update portal page to use lock icon for gated tracks
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

feat: show toast when non-supporter tries to queue gated track
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/playback.svelte.ts
Due: frontend-build

fix: resolve gated status server-side, show lock icon, guard queue adds (#640)
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/atprotofans.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/schemas.py
  docs/backend/configuration.md
  docs/local-development/setup.md
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

feat: add lock icon to track detail page for gated tracks
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

feat: add lock icon to track detail page for gated tracks (#641)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: allow supporters to auto-download gated tracks they like
  docs/security.md
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: allow supporters to auto-download gated tracks they like (#643)
  docs/security.md
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

feat: move sensitive images to moderation service (#544)
  backend/src/backend/_internal/moderation_client.py
  backend/src/backend/api/moderation.py
  backend/tests/test_moderation.py
  moderation/src/admin.rs
  moderation/src/auth.rs
  moderation/src/db.rs
  moderation/src/handlers.rs
  moderation/src/main.rs
  moderation/src/state.rs
  scripts/migrate_sensitive_images.py
Due: ty-check

fix: improve upload error messages with progress and mobile detection
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

fix: lower header mobile breakpoint from 1599px to 1100px
  frontend/src/lib/breakpoints.ts
  frontend/src/lib/components/Header.svelte
Due: frontend-build
