Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix(a11y): stop nesting interactive controls inside the track row
  frontend/src/lib/components/TrackItem.stories.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

fix(a11y): stop nesting interactive controls inside the track row (#1642)
  frontend/src/lib/components/TrackItem.stories.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

rename: leaflet-search → pub-search (repo was renamed on github + tangled)
  frontend/src/lib/atclients.ts
Due: svelte-check, eslint

rename: leaflet-search → pub-search (repo was renamed on github + tangled) (#1643)
  frontend/src/lib/atclients.ts
Due: svelte-check, eslint

feat(api): minimal subsonic-compatible surface at /rest
  backend/pyproject.toml
  backend/scripts/init_db.py
  backend/src/backend/api/subsonic/__init__.py
  backend/src/backend/api/subsonic/auth.py
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/subsonic/responses.py
  backend/src/backend/api/subsonic/router.py
  backend/src/backend/main.py
  backend/tests/api/test_subsonic.py
  backend/uv.lock
Due: type-check

feat(api): minimal subsonic-compatible surface at /rest (#1644)
  backend/pyproject.toml
  backend/scripts/init_db.py
  backend/src/backend/api/subsonic/__init__.py
  backend/src/backend/api/subsonic/auth.py
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/subsonic/responses.py
  backend/src/backend/api/subsonic/router.py
  backend/src/backend/main.py
  backend/tests/api/test_subsonic.py
  backend/uv.lock
Due: type-check

fix(api): answer 200 at the API root for client reachability probes
  backend/src/backend/api/meta.py
  backend/tests/api/test_root.py
Due: type-check

fix(api): answer 200 at the API root for client reachability probes (#1645)
  backend/src/backend/api/meta.py
  backend/tests/api/test_root.py
Due: type-check

feat(subsonic): album/artist browsing, scrobble, and a catch-all error envelope
  backend/src/backend/api/subsonic/__init__.py
  backend/src/backend/api/subsonic/browsing.py
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/subsonic/fallback.py
  backend/tests/api/test_subsonic.py
Due: type-check

feat(subsonic): album/artist browsing, scrobble, and a catch-all error envelope (#1646)
  backend/src/backend/api/subsonic/__init__.py
  backend/src/backend/api/subsonic/browsing.py
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/subsonic/fallback.py
  backend/tests/api/test_subsonic.py
Due: type-check

fix(subsonic): keep the experimental /rest surface out of the OpenAPI schema
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/subsonic/fallback.py
  backend/tests/api/test_subsonic.py
Due: type-check

fix(subsonic): keep the experimental /rest surface out of the OpenAPI schema (#1647)
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/subsonic/fallback.py
  backend/tests/api/test_subsonic.py
Due: type-check

fix(subsonic): include albumId/artistId/parent linkage on song entries
  backend/src/backend/api/subsonic/endpoints.py
  backend/tests/api/test_subsonic.py
Due: type-check

fix(subsonic): include albumId/artistId/parent linkage on song entries (#1648)
  backend/src/backend/api/subsonic/endpoints.py
  backend/tests/api/test_subsonic.py
Due: type-check

fix(subsonic): OpenSubsonic envelope fields (serverVersion, openSubsonic)
  backend/src/backend/api/subsonic/responses.py
  backend/tests/api/test_subsonic.py
Due: type-check

fix(subsonic): OpenSubsonic envelope fields (serverVersion, openSubsonic) (#1649)
  backend/src/backend/api/subsonic/responses.py
  backend/tests/api/test_subsonic.py
Due: type-check

feat(subsonic): navidrome-native /auth/login compat for navidrome-first clients
  backend/src/backend/api/subsonic/__init__.py
  backend/src/backend/api/subsonic/compat.py
  backend/src/backend/main.py
  backend/tests/api/test_subsonic.py
Due: type-check

feat(subsonic): navidrome-native /auth/login compat for navidrome-first clients (#1650)
  backend/src/backend/api/subsonic/__init__.py
  backend/src/backend/api/subsonic/compat.py
  backend/src/backend/main.py
  backend/tests/api/test_subsonic.py
Due: type-check

feat(subsonic): getRandomSongs + real play-count ordering for type=frequent
  backend/src/backend/api/subsonic/browsing.py
  backend/tests/api/test_subsonic.py
Due: type-check

feat(subsonic): getRandomSongs + real play-count ordering for type=frequent (#1651)
  backend/src/backend/api/subsonic/browsing.py
  backend/tests/api/test_subsonic.py
Due: type-check

fix(embed): keep the radio embed playing across track boundaries
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
Due: svelte-check, eslint

fix(embed): keep the radio embed playing across track boundaries (#1652)
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
Due: svelte-check, eslint

feat(#1445): repeat-one control on the player
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: svelte-check, eslint

test(#1445): repeat-one restarts the track at a natural end
  frontend/src/lib/player-repeat.test.ts
Due: svelte-check, eslint

feat(#1445): repeat-one control on the player (#1653)
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player-repeat.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: svelte-check, eslint

fix(player): smaller, properly centered repeat-one icon
  frontend/src/lib/components/player/PlaybackControls.svelte
  loq.toml
Due: svelte-check, eslint

fix(player): smaller, properly centered repeat-one icon (#1654)
  frontend/src/lib/components/player/PlaybackControls.svelte
  loq.toml
Due: svelte-check, eslint

feat(queue): show repeat-one as a chip on the now-playing row
  frontend/src/lib/components/Queue.svelte
  loq.toml
Due: svelte-check, eslint

feat(queue): show repeat-one as a chip on the now-playing row (#1655)
  frontend/src/lib/components/Queue.svelte
  loq.toml
Due: svelte-check, eslint

fix(queue): repeat toggle lives with the queue actions, not the label row
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint

fix(queue): repeat toggle lives with the queue actions, not the label row (#1657)
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint

docs(status): document the july 2–9 window
  STATUS.md
Due: none

docs(status): document the july 2–9 window (#1658)
  STATUS.md
Due: none

fix permissioned-space protocol drift
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/tests/_internal/test_permissioned_spaces.py
  docs/internal/architecture/permissioned-private-media.md
  docs/internal/backend/audio-streaming.md
  scripts/permissioned_smoke.py
Due: type-check

test private media against live ZDS
  .github/workflows/test-backend.yml
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/_internal/atproto/spaces/uris.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_upload.py
  backend/tests/api/test_track_deletion.py
  backend/tests/integration/test_private_media.py
  loq.toml
  scripts/permissioned_smoke.py
Due: type-check

fix permissioned-spaces client drift (#1659)
  .github/workflows/test-backend.yml
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/_internal/atproto/spaces/uris.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_upload.py
  backend/tests/api/test_track_deletion.py
  backend/tests/integration/test_private_media.py
  docs/internal/architecture/permissioned-private-media.md
  docs/internal/backend/audio-streaming.md
  loq.toml
  scripts/permissioned_smoke.py
Due: type-check

fix(ci): gate uv cache prune on the same token check as the rest of the job
  .github/workflows/integration-tests.yml
Due: none

fix(ci): fail loudly when the mint secret is missing instead of skipping
  .github/workflows/integration-tests.yml
Due: none

fix(ci): integration workflow fails loudly when unwired, and prune stops crying wolf (#1660)
  .github/workflows/integration-tests.yml
Due: none

fix(tests): repair staging integration tests now that they actually run
  .github/workflows/integration-tests.yml
  backend/tests/integration/test_lossless_uploads.py
  backend/tests/integration/test_record_formats.py
  backend/tests/integration/utils/tracks.py
Due: type-check
