Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

docs: clarify staging vs production deploy workflow in CLAUDE.md
  AGENTS.md
Due: none

docs: clarify staging vs production deploy workflow in CLAUDE.md (#875)
  AGENTS.md
Due: none

feat: paginate portal tracks list with load-more button
  backend/src/backend/api/tracks/listing.py
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat: paginate portal tracks list with load-more button (#878)
  backend/src/backend/api/tracks/listing.py
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

perf: optimize GET /tracks/top latency (p95: 1.2s baseline)
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/config.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/api/test_top_tracks.py
  backend/tests/utilities/test_aggregations.py
  loq.toml
Due: type-check

perf: optimize GET /tracks/top latency (p95: 1.2s baseline) (#879)
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/config.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/api/test_top_tracks.py
  backend/tests/utilities/test_aggregations.py
  loq.toml
Due: type-check

docs: status update for GET /tracks/top optimization (#879)
  STATUS.md
  loq.toml
Due: none

docs: status update for GET /tracks/top optimization (#879) (#880)
  STATUS.md
  loq.toml
Due: none

fix: exclude reverted PR #846 from status maintenance filter
  .github/workflows/status-maintenance.yml
Due: none

fix: exclude reverted PR #846 from status maintenance filter (#881)
  .github/workflows/status-maintenance.yml
Due: none

fix: add manual upload-audio workflow, fix grep -c bug
  .github/workflows/status-maintenance.yml
  .github/workflows/upload-audio.yml
Due: none

fix: add manual upload-audio workflow, fix grep -c bug (#883)
  .github/workflows/status-maintenance.yml
  .github/workflows/upload-audio.yml
Due: none

revert: status maintenance #882, exclude from filter
  .github/workflows/status-maintenance.yml
  .status_history/2026-01.md
  STATUS.md
Due: none

revert: status maintenance #882, exclude from filter (#884)
  .github/workflows/status-maintenance.yml
  .status_history/2026-01.md
  STATUS.md
Due: none

fix: refresh auth state after account switch/login
  frontend/src/lib/auth.svelte.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix: refresh auth state after account switch/login (#887)
  frontend/src/lib/auth.svelte.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

docs: fix stale references and update README to reflect full feature set
  README.md
  docs/README.md
  docs/backend/background-tasks.md
  docs/backend/database/connection-pooling.md
  docs/frontend/search.md
  docs/moderation/copyright-detection.md
Due: none

docs: fix stale references and update README to reflect full feature set (#888)
  README.md
  docs/README.md
  docs/backend/background-tasks.md
  docs/backend/database/connection-pooling.md
  docs/frontend/search.md
  docs/moderation/copyright-detection.md
Due: none

chore: fix OAuth permission set display, update status
  STATUS.md
  lexicons/authFullApp.json
  scripts/publish_permission_set.py
Due: type-check

chore: fix OAuth permission set display, update status (#889)
  STATUS.md
  lexicons/authFullApp.json
  scripts/publish_permission_set.py
Due: type-check

fix: re-fetch track by ID in _send_track_notification to avoid detached session error
  backend/src/backend/api/tracks/uploads.py
  backend/tests/settings/test_notifications.py
Due: type-check

fix: re-fetch track by ID in _send_track_notification to avoid detached session error (#891)
  backend/src/backend/api/tracks/uploads.py
  backend/tests/settings/test_notifications.py
Due: type-check

fix: eagerly resolve share URL to preserve mobile clipboard access
  frontend/src/lib/components/ShareButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
Due: svelte-check, eslint

fix: eagerly resolve share URL to preserve mobile clipboard access (#892)
  frontend/src/lib/components/ShareButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
Due: svelte-check, eslint

docs: document developer token scoping and fix stale scope references
  docs/authentication.md
  docs/backend/configuration.md
Due: none

docs: document developer token scoping and fix stale scope references (#893)
  docs/authentication.md
  docs/backend/configuration.md
Due: none

refactor: extract main.py into focused modules
  backend/src/backend/__main__.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/meta.py
  backend/src/backend/main.py
  backend/src/backend/utilities/middleware.py
  backend/src/backend/utilities/observability.py
  backend/tests/test_user_agent.py
Due: type-check

refactor: extract main.py into focused modules (#890)
  backend/src/backend/__main__.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/meta.py
  backend/src/backend/main.py
  backend/src/backend/utilities/middleware.py
  backend/src/backend/utilities/observability.py
  backend/tests/test_user_agent.py
Due: type-check

fix: limit tracks on artist detail page so albums aren't buried
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: svelte-check, eslint

fix: limit tracks on artist detail page so albums aren't buried (#894)
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: svelte-check, eslint

feat: show recommended tracks when editing a playlist
  backend/src/backend/_internal/clients/tpuf.py
  backend/src/backend/_internal/recommendations.py
  backend/src/backend/api/lists.py
  backend/tests/test_recommendations.py
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat: show recommended tracks when editing a playlist (#895)
  backend/src/backend/_internal/clients/tpuf.py
  backend/src/backend/_internal/recommendations.py
  backend/src/backend/api/lists.py
  backend/tests/test_recommendations.py
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: match recommendation items to TrackItem design language
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: match recommendation items to TrackItem design language (#896)
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
