Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

Record production publishing smoke and client release (#2055)
  STATUS.md
  docs/plans/2026-09-13-publishing-release.md
Due: none

Restore PDS audio when publishing restrictions are removed
  STATUS.md
  backend/src/backend/_internal/pds_audio.py
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/publishing.py
  backend/src/backend/api/tracks/publishing_public.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_publishing_changes.py
  backend/tests/api/test_publishing_roundtrip.py
  backend/tests/api/track_audio_replace/test_revisions.py
  backend/tests/test_storage_types.py
  loq.toml
Due: type-check

Restore PDS audio when publishing restrictions are removed (#2056)
  STATUS.md
  backend/src/backend/_internal/pds_audio.py
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/publishing.py
  backend/src/backend/api/tracks/publishing_public.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_publishing_changes.py
  backend/tests/api/test_publishing_roundtrip.py
  backend/tests/api/track_audio_replace/test_revisions.py
  backend/tests/test_storage_types.py
  loq.toml
Due: type-check

Limit Space authority checks to Space-member audio
  STATUS.md
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio_space_checks.py
Due: type-check

Limit Space authority checks to Space-member audio (#2057)
  STATUS.md
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio_space_checks.py
Due: type-check

docs: record publishing production releases and verification
  STATUS.md
Due: none

docs: record publishing production releases and verification (#2058)
  STATUS.md
Due: none

use publishing policy for musician uploads
  STATUS.md
  services/musician-studio/studio/platform.py
  services/musician-studio/tests/test_platform.py
Due: type-check

use publishing policy for musician uploads (#2060)
  STATUS.md
  services/musician-studio/studio/platform.py
  services/musician-studio/tests/test_platform.py
Due: type-check

queue: serialize NOTIFY and heartbeat on the shared asyncpg connection
  backend/src/backend/_internal/queue.py
  backend/tests/test_queue.py
Due: type-check

queue tests: type hints on the regression fixtures and tests
  backend/tests/test_queue.py
Due: type-check

spaces: send readPolicy and writePolicy to simplespace createSpace
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/tests/_internal/test_permissioned_spaces.py
  docs/internal/architecture/permissioned-private-media.md
  loq.toml
Due: type-check

queue: serialize NOTIFY and heartbeat on the shared asyncpg connection (#2061)
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/_internal/queue.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/test_queue.py
  docs/internal/architecture/permissioned-private-media.md
  loq.toml
Due: type-check

queue: make revision increment and first write atomic
  backend/src/backend/_internal/queue.py
  backend/tests/test_queue.py
Due: type-check

queue: make revision increment and first write atomic (#2062)
  backend/src/backend/_internal/queue.py
  backend/tests/test_queue.py
Due: type-check

uploads: make duplicate check atomic with row reservation, guard double submit
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_concurrent_duplicate.py
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

uploads: make duplicate check atomic with row reservation, guard double submit (#2063)
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_concurrent_duplicate.py
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

e2e: match the "who can listen?" label without exact
  frontend/e2e/private-media.mjs
  frontend/e2e/record-private.mjs
Due: svelte-check

e2e: match the "who can listen?" label without exact (#2064)
  frontend/e2e/private-media.mjs
  frontend/e2e/record-private.mjs
Due: svelte-check

e2e: wait until staging serves the head of main before running
  .github/workflows/e2e-private-media.yml
  frontend/e2e/wait-for-staging.mjs
Due: svelte-check

likes: tombstone the like URI on unlike so a late create echo cannot re-insert it
  backend/src/backend/_internal/tasks/pds.py
  backend/src/backend/api/tracks/likes.py
  backend/tests/api/test_track_likes.py
Due: type-check

e2e: declare AbortSignal for the e2e scripts' lint globals
  frontend/eslint.config.js
Due: svelte-check

e2e: wait for staging to serve the head of main before the private media run (#2065)
  .github/workflows/e2e-private-media.yml
  frontend/e2e/wait-for-staging.mjs
  frontend/eslint.config.js
Due: svelte-check

e2e: require every referenced asset to load, six samples running, before starting
  frontend/e2e/wait-for-staging.mjs
Due: svelte-check

e2e: require every referenced asset to load, six samples running, before starting (#2067)
  frontend/e2e/wait-for-staging.mjs
Due: svelte-check

likes: tombstone the like URI on unlike so a late create echo cannot re-insert it (#2066)
  backend/src/backend/_internal/tasks/pds.py
  backend/src/backend/api/tracks/likes.py
  backend/tests/api/test_track_likes.py
Due: type-check

ci: retry the integration suite's token mint on transient failures
  .github/workflows/integration-tests.yml
Due: none

likes: every ordering of unlike and the create echo ends with no like
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/_internal/tasks/pds.py
  backend/tests/test_jetstream.py
  backend/tests/test_pds_create_like_tombstone.py
  loq.toml
Due: type-check

uploads: schedule audio optimization even when Jetstream finalizes the row
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_session_reload.py
Due: type-check

ci: retry the integration suite's token mint on transient failures (#2068)
  .github/workflows/integration-tests.yml
Due: none

likes: every ordering of unlike and the create echo ends with no like (#2069)
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/_internal/tasks/pds.py
  backend/tests/test_jetstream.py
  backend/tests/test_pds_create_like_tombstone.py
  loq.toml
Due: type-check

uploads: schedule audio optimization even when Jetstream finalizes the row (#2070)
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_session_reload.py
Due: type-check

atproto: reuse the PDS DPoP nonce across requests and prime it before streamed uploads
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/atproto/records/fm_plyr/profile.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/utilities/pds_nonce.py
  backend/tests/_internal/test_pds_blob_upload_resilience.py
  backend/tests/_internal/test_pds_nonce.py
  backend/tests/_internal/test_upload_stream_cleanup.py
  loq.toml
Due: type-check

atproto: reuse the PDS DPoP nonce across requests and prime it before streamed uploads (#2072)
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/atproto/records/fm_plyr/profile.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/utilities/pds_nonce.py
  backend/tests/_internal/test_pds_blob_upload_resilience.py
  backend/tests/_internal/test_pds_nonce.py
  backend/tests/_internal/test_upload_stream_cleanup.py
  loq.toml
Due: type-check

atproto: remember the PDS nonce from every response, not only from a 401 retry
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/utilities/pds_nonce.py
  backend/tests/_internal/test_pds_nonce.py
  backend/tests/test_pds_network_retry.py
Due: type-check

atproto: remember the PDS nonce from every response, not only from a 401 retry (#2073)
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/utilities/pds_nonce.py
  backend/tests/_internal/test_pds_nonce.py
  backend/tests/test_pds_network_retry.py
Due: type-check

docs: record the DPoP nonce fix, the double-submit upload arc and the queue atomicity fixes
  STATUS.md
Due: none

docs: record the DPoP nonce fix, the double-submit upload arc and the queue atomicity fixes (#2074)
  STATUS.md
Due: none

uploads: fence publication on the job row and re-sweep abandoned media
  backend/src/backend/_internal/jobs.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/reaper.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_stuck_upload_reaper.py
  backend/tests/api/test_upload_job_fence.py
  docs/internal/backend/resumable-uploads.md
  loq.toml
Due: type-check

reaper: keep bytes a live upload claims and quiet deletes of missing keys
  backend/src/backend/_internal/tasks/reaper.py
  backend/src/backend/storage/r2.py
  backend/tests/_internal/test_stuck_upload_reaper.py
  backend/tests/test_storage_types.py
  docs/internal/backend/resumable-uploads.md
  loq.toml
Due: type-check
