Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix(spaces): enforce private-track visibility across all read/interact surfaces (#1528)
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/discover.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/oembed.py
  backend/src/backend/api/search.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/users.py
  backend/tests/api/test_private_media_visibility.py
Due: type-check

feat(spaces): private media on ATProto permissioned spaces (#1528) (#1552)
  backend/alembic/versions/2026_06_07_000000_a1b2c3d4e5f6_add_private_media_to_track.py
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/_internal/atproto/spaces/uris.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/discover.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/meta.py
  backend/src/backend/api/oembed.py
  backend/src/backend/api/search.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/api/users.py
  backend/src/backend/config.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_upload.py
  backend/tests/api/test_private_media_visibility.py
  backend/tests/api/test_scope_upgrade.py
  docs/internal/architecture/permissioned-private-media.md
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
  lexicons/privateMedia.json
  loq.toml
  scripts/permissioned_smoke.py
Due: type-check, svelte-check, eslint

fix(migrations): regenerate private-media migration with a unique revision id
  backend/alembic/versions/2026_06_07_235801_0387de28f52e_add_private_media_columns_to_track.py
Due: type-check

fix(migrations): regenerate private-media migration with a unique revision id (#1553)
  backend/alembic/versions/2026_06_07_235801_0387de28f52e_add_private_media_columns_to_track.py
Due: type-check

fix(upload): group visibility & access toggles into one card (#1528)
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(upload): group visibility & access toggles into one card (#1528) (#1554)
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(spaces): request private-media access via include:<permission-set>, not a bare space: scope (#1528)
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_upload.py
  lexicons/privateMedia.json
  loq.toml
  scripts/publish_permission_set.py
Due: type-check

fix(spaces): request private-media access via include:<permission-set>, not a bare space: scope (#1528) (#1555)
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_upload.py
  lexicons/privateMedia.json
  loq.toml
  scripts/publish_permission_set.py
Due: type-check

fix(spaces): capability probe must fail closed — don't show private media on unsupporting PDSes (#1528)
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/tests/_internal/test_permissioned_spaces.py
Due: type-check

fix(spaces): capability probe must fail closed — don't show private media on unsupporting PDSes (#1528) (#1556)
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/tests/_internal/test_permissioned_spaces.py
Due: type-check

refactor(visibility): collapse unlisted/is_private/support_gate into one visibility model + PDS-native private upload (#1528)
  backend/alembic/versions/2026_06_08_130945_816ec59cc00a_collapse_track_visibility_flags_into_.py
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/discover.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/radio/corpus.py
  backend/src/backend/api/search.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/api/test_private_media_upload.py
  backend/tests/api/test_private_media_visibility.py
  backend/tests/api/test_radio.py
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(spaces): thread the PDS BlobRef through to the worker for private uploads (#1528)
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_private_media_upload.py
  loq.toml
Due: type-check

fix(uploads): never delete R2 objects when cleaning up failed private uploads
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_private_media_upload.py
  loq.toml
Due: type-check

refactor(visibility): one visibility model + PDS-native private media (#1528) (#1557)
  backend/alembic/versions/2026_06_08_130945_816ec59cc00a_collapse_track_visibility_flags_into_.py
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/discover.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/radio/corpus.py
  backend/src/backend/api/search.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/api/test_private_media_upload.py
  backend/tests/api/test_private_media_visibility.py
  backend/tests/api/test_radio.py
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(uploads): dead atproto session → 401 (not a misleading "connection failed")
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/main.py
  backend/tests/api/test_private_media_upload.py
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix(uploads): dead atproto session → 401 (not a misleading "connection failed") (#1558)
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/main.py
  backend/tests/api/test_private_media_upload.py
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat(private-media): request space scope at login; derive capability from scope
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_oauth_login_scope.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_upload.py
  loq.toml
Due: type-check

feat(private-media): request space scope at login; derive capability from scope (#1559)
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_oauth_login_scope.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_upload.py
  loq.toml
Due: type-check

fix(private-media): on-demand scope only; never request scopes a PDS can't satisfy
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_oauth_login_scope.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_upload.py
  frontend/src/lib/upload-form-stash.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(private-media): on-demand scope only; never request scopes a PDS can't satisfy (#1560)
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_oauth_login_scope.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_upload.py
  frontend/src/lib/upload-form-stash.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(auth): surface the real OAuth-start exception instead of an empty error
  backend/src/backend/_internal/auth/oauth.py
  loq.toml
Due: type-check

fix(auth): surface the real OAuth-start exception instead of an empty error (#1561)
  backend/src/backend/_internal/auth/oauth.py
  loq.toml
Due: type-check

fix(login): start sign-in immediately on typeahead select
  frontend/src/routes/login/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(login): start sign-in immediately on typeahead select (#1562)
  frontend/src/routes/login/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(private-media): resume upload after the scope-upgrade instead of stranding on settings
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(private-media): resume upload after the scope-upgrade instead of stranding on settings (#1563)
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(upload): preserve form on failed upload; reject non-web-playable private client-side
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(upload): preserve form on failed upload; reject non-web-playable private client-side (#1564)
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(uploads): stop silently dropping PDS blobs under concurrent token rotation
  backend/src/backend/_internal/atproto/client.py
  backend/tests/_internal/test_pds_blob_upload_resilience.py
  backend/tests/test_integration_upload.py
  loq.toml
Due: type-check

fix(uploads): stop silently dropping PDS blobs under concurrent token rotation (#1565)
  backend/src/backend/_internal/atproto/client.py
  backend/tests/_internal/test_pds_blob_upload_resilience.py
  backend/tests/test_integration_upload.py
  loq.toml
Due: type-check

fix(auth): retry OAuth PAR on transient authserver failures
  backend/src/backend/_internal/auth/oauth.py
  backend/tests/_internal/test_oauth_par_retry.py
  loq.toml
Due: type-check

fix(auth): retry OAuth PAR on transient authserver failures (#1566)
  backend/src/backend/_internal/auth/oauth.py
  backend/tests/_internal/test_oauth_par_retry.py
  loq.toml
Due: type-check

fix(track page): owner can open their own private track (no more 404)
  frontend/src/routes/track/[id]/+page.server.ts
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(track page): owner can open their own private track (no more 404) (#1567)
  frontend/src/routes/track/[id]/+page.server.ts
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs(status): private media on permissioned spaces — experimental, staging-only (#1557→#1567)
  STATUS.md
Due: none

docs(status): private media on permissioned spaces — experimental, staging-only (#1557→#1567) (#1568)
  STATUS.md
Due: none

docs(lexicons): document fm.plyr.authFullApp permission set
  lexicons/authFullApp.json
  scripts/publish_permission_set.py
Due: type-check

docs(lexicons): describe the interface, not the current expansion
  lexicons/authFullApp.json
Due: none

docs(lexicons): document fm.plyr.authFullApp permission set (#1569)
  lexicons/authFullApp.json
  scripts/publish_permission_set.py
Due: type-check
