Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

Preserve study and upload reservations across session retries
  experiments/agent-musicians/studio/brain.py
  experiments/agent-musicians/studio/flow.py
  experiments/agent-musicians/studio/state.py
  experiments/agent-musicians/tests/test_limits.py
Due: type-check

Document and pin durable studio recovery
  experiments/agent-musicians/STUDIO.md
  experiments/agent-musicians/prefect.yaml
Due: none

Let musician drafts compose Python audio in an isolated container
  services/musician-studio/.dockerignore
  services/musician-studio/.gitignore
  services/musician-studio/Dockerfile
  services/musician-studio/README.md
  services/musician-studio/compose.py
  services/musician-studio/profiles/kite.json
  services/musician-studio/profiles/moss.json
  services/musician-studio/profiles/reed.json
Due: type-check

Give composers bounded prior work and musical peer context
  services/musician-studio/README.md
  services/musician-studio/compose.py
  services/musician-studio/studio/context.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_context.py
Due: type-check

Reconnect Python musicians to publishing and peer playlists
  services/musician-studio/accounts.json
  services/musician-studio/flow.py
  services/musician-studio/justfile
  services/musician-studio/prefect.yaml
  services/musician-studio/pyproject.toml
  services/musician-studio/studio/context.py
  services/musician-studio/studio/platform.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_limits.py
  services/musician-studio/tests/test_platform.py
  services/musician-studio/uv.lock
Due: type-check

Persist musical revisions and maintain the recurring studio
  .github/workflows/test-musician-studio.yml
  STATUS.md
  services/musician-studio/README.md
  services/musician-studio/compose.py
  services/musician-studio/flow.py
  services/musician-studio/prefect.yaml
  services/musician-studio/renew_tokens.py
  services/musician-studio/tests/test_composition.py
  services/musician-studio/tests/test_renew_tokens.py
Due: type-check

Activate the bounded six-hour musician schedule
  STATUS.md
  services/musician-studio/prefect.yaml
Due: none

Run persistent Python musicians with inspirations, peer playlists, and bot labels (#2031)
  .github/workflows/test-musician-studio.yml
  STATUS.md
  frontend/src/lib/bot-label.test.ts
  frontend/src/lib/bot-label.ts
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
  services/musician-studio/.dockerignore
  services/musician-studio/.gitignore
  services/musician-studio/Dockerfile
  services/musician-studio/README.md
  services/musician-studio/accounts.json
  services/musician-studio/compose.py
  services/musician-studio/flow.py
  services/musician-studio/generation-usage.jsonl
  services/musician-studio/justfile
  services/musician-studio/prefect.yaml
  services/musician-studio/profiles/kite.json
  services/musician-studio/profiles/moss.json
  services/musician-studio/profiles/reed.json
  services/musician-studio/provision_tokens.py
  services/musician-studio/pyproject.toml
  services/musician-studio/renew_tokens.py
  services/musician-studio/seed_profiles.py
  services/musician-studio/studio/__init__.py
  services/musician-studio/studio/context.py
  services/musician-studio/studio/identity.py
  services/musician-studio/studio/platform.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_composition.py
  services/musician-studio/tests/test_context.py
  services/musician-studio/tests/test_limits.py
  services/musician-studio/tests/test_platform.py
  services/musician-studio/tests/test_renew_tokens.py
  services/musician-studio/uv.lock
Due: type-check, svelte-check, eslint

Edit owned tracks in place from the track page and portal (#2030)
  docs/internal/frontend/design-tokens.md
  docs/internal/frontend/interaction-quality.md
  frontend/src/lib/audio-replacement-status.test.ts
  frontend/src/lib/components/AlbumSelect.svelte
  frontend/src/lib/components/AutocompleteInteraction.test.ts
  frontend/src/lib/components/EditTrackModal.svelte
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/TrackEditForm.svelte
  frontend/src/lib/components/TrackEditForm.test.ts
  frontend/src/lib/components/portal/TracksSection.stories.svelte
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/lib/components/track-edit/TrackAccessFields.svelte
  frontend/src/lib/components/track-edit/TrackArtworkField.svelte
  frontend/src/lib/components/track-edit/TrackAudioEditor.svelte
  frontend/src/lib/queue-identity.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

Require native audio self-review, revision, and peer feedback before publishing
  STATUS.md
  services/musician-studio/README.md
  services/musician-studio/audio-validation.json
  services/musician-studio/audio_round.py
  services/musician-studio/compose.py
  services/musician-studio/flow.py
  services/musician-studio/prefect.yaml
  services/musician-studio/provision_tokens.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/studio/context.py
  services/musician-studio/studio/listening.py
  services/musician-studio/studio/platform.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_audio_model.py
  services/musician-studio/tests/test_audio_round.py
  services/musician-studio/tests/test_platform.py
Due: type-check

Describe the audio-gated studio and pending live validation
  services/musician-studio/README.md
Due: none

Pin the paused deployment to the required audio-review code
  services/musician-studio/prefect.yaml
Due: none

Require audio self-review and peer listening before musician uploads (#2032)
  STATUS.md
  services/musician-studio/README.md
  services/musician-studio/audio-validation.json
  services/musician-studio/audio_round.py
  services/musician-studio/compose.py
  services/musician-studio/flow.py
  services/musician-studio/prefect.yaml
  services/musician-studio/provision_tokens.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/studio/context.py
  services/musician-studio/studio/listening.py
  services/musician-studio/studio/platform.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_audio_model.py
  services/musician-studio/tests/test_audio_round.py
  services/musician-studio/tests/test_platform.py
Due: type-check

Raise musician spending limits to the authorized ten dollars
  services/musician-studio/README.md
  services/musician-studio/flow.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_limits.py
Due: type-check

Record the verified audio cycle and resume recurring music studies
  STATUS.md
  services/musician-studio/README.md
  services/musician-studio/prefect.yaml
Due: none

Raise the musician budget and complete audio-cycle verification (#2033)
  STATUS.md
  services/musician-studio/README.md
  services/musician-studio/flow.py
  services/musician-studio/prefect.yaml
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_limits.py
Due: type-check

show suggested tag availability and retry failures
  frontend/src/lib/components/TrackEditForm.svelte
  frontend/src/lib/components/TrackEditForm.test.ts
  loq.toml
Due: svelte-check, eslint

show suggested tag availability and retry failures (#2034)
  frontend/src/lib/components/TrackEditForm.svelte
  frontend/src/lib/components/TrackEditForm.test.ts
  loq.toml
Due: svelte-check, eslint

generate tag suggestions for PDS audio
  backend/src/backend/api/tracks/tags.py
  backend/tests/api/test_recommended_tags.py
  backend/tests/api/test_track_description.py
Due: type-check

generate tag suggestions for PDS audio (#2035)
  backend/src/backend/api/tracks/tags.py
  backend/tests/api/test_recommended_tags.py
  backend/tests/api/test_track_description.py
Due: type-check

Use an inline robot indicator on artist profiles
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: svelte-check, eslint

Use an inline robot indicator on artist profiles (#2036)
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: svelte-check, eslint

Plan musical phrases before rendering with reusable instruments
  services/musician-studio/README.md
  services/musician-studio/compose.py
  services/musician-studio/flow.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/studio/context.py
  services/musician-studio/studio/state.py
  services/musician-studio/studio_instruments.py
  services/musician-studio/tests/test_audio_model.py
  services/musician-studio/tests/test_composition.py
  services/musician-studio/tests/test_instruments.py
  services/musician-studio/tests/test_limits.py
Due: type-check

Keep audio reviews blind to plans and verify evaluation isolation
  STATUS.md
  services/musician-studio/README.md
  services/musician-studio/compose.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/studio/context.py
  services/musician-studio/tests/test_audio_model.py
  services/musician-studio/tests/test_context.py
  services/musician-studio/tests/test_evaluation.py
Due: type-check

Pin the studio manifest to musical planning improvements
  services/musician-studio/prefect.yaml
Due: none

Give musicians a composition plan and reusable instruments (#2037)
  STATUS.md
  services/musician-studio/README.md
  services/musician-studio/compose.py
  services/musician-studio/flow.py
  services/musician-studio/prefect.yaml
  services/musician-studio/studio/audio_model.py
  services/musician-studio/studio/context.py
  services/musician-studio/studio/state.py
  services/musician-studio/studio_instruments.py
  services/musician-studio/tests/test_audio_model.py
  services/musician-studio/tests/test_composition.py
  services/musician-studio/tests/test_context.py
  services/musician-studio/tests/test_evaluation.py
  services/musician-studio/tests/test_instruments.py
  services/musician-studio/tests/test_limits.py
Due: type-check

Exclude old synthesizer code from peer inspiration context
  STATUS.md
  services/musician-studio/studio/context.py
  services/musician-studio/tests/test_context.py
Due: type-check

Exclude old synthesizer code from peer inspiration context (#2038)
  STATUS.md
  services/musician-studio/studio/context.py
  services/musician-studio/tests/test_context.py
Due: type-check

Measure basic listener perception with blind audio controls
  STATUS.md
  services/musician-studio/README.md
  services/musician-studio/calibration.py
  services/musician-studio/flow.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/tests/test_calibration.py
Due: type-check

Measure basic listener perception with blind audio controls (#2039)
  STATUS.md
  services/musician-studio/README.md
  services/musician-studio/calibration.py
  services/musician-studio/flow.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/tests/test_calibration.py
Due: type-check

fix musician syntax errors with one budgeted correction
  services/musician-studio/compose.py
  services/musician-studio/tests/test_composition.py
Due: type-check

fix musician syntax errors with one budgeted correction (#2040)
  services/musician-studio/compose.py
  services/musician-studio/tests/test_composition.py
Due: type-check

test listener perception of bass entrances and melody changes
  services/musician-studio/README.md
  services/musician-studio/calibration.py
  services/musician-studio/flow.py
  services/musician-studio/tests/test_calibration.py
  services/musician-studio/tests/test_evaluation.py
Due: type-check

test listener perception of bass entrances and melody changes (#2041)
  services/musician-studio/README.md
  services/musician-studio/calibration.py
  services/musician-studio/flow.py
  services/musician-studio/tests/test_calibration.py
  services/musician-studio/tests/test_evaluation.py
Due: type-check

fix: recover musician audio requests with Prefect tasks
  STATUS.md
  services/musician-studio/audio_round.py
  services/musician-studio/compose.py
  services/musician-studio/docs/recovery.md
  services/musician-studio/flow.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_audio_round.py
  services/musician-studio/tests/test_prefect_recovery.py
Due: type-check

fix: avoid duplicating cached listening evidence
  services/musician-studio/studio/listening.py
  services/musician-studio/tests/test_audio_round.py
Due: type-check

test: exercise the studio audio request entrypoint
  services/musician-studio/tests/test_prefect_recovery.py
Due: type-check

fix: use Prefect tasks for musician audio recovery (#2042)
  STATUS.md
  services/musician-studio/audio_round.py
  services/musician-studio/compose.py
  services/musician-studio/docs/recovery.md
  services/musician-studio/flow.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/studio/listening.py
  services/musician-studio/studio/state.py
  services/musician-studio/tests/test_audio_round.py
  services/musician-studio/tests/test_prefect_recovery.py
Due: type-check

fix: close interrupted PDS upload streams
  STATUS.md
  backend/src/backend/_internal/atproto/client.py
  backend/tests/_internal/test_upload_stream_cleanup.py
  loq.toml
Due: type-check
