Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix(tests): gated upload speaks the post-#1557 contract
  backend/tests/integration/test_lossless_uploads.py
Due: type-check

fix(tests): migrate integration tests to the namespaced plyrfm SDK
  backend/tests/integration/test_audio_revisions.py
  backend/tests/integration/test_interactions.py
  backend/tests/integration/test_longform_upload.py
  backend/tests/integration/test_lossless_uploads.py
  backend/tests/integration/test_record_formats.py
  backend/tests/integration/test_track_lifecycle.py
  backend/tests/integration/utils/tracks.py
  backend/uv.lock
Due: type-check

fix(tests): repair staging integration suite now that it actually runs (#1661)
  .github/workflows/integration-tests.yml
  backend/tests/integration/test_audio_revisions.py
  backend/tests/integration/test_interactions.py
  backend/tests/integration/test_longform_upload.py
  backend/tests/integration/test_lossless_uploads.py
  backend/tests/integration/test_record_formats.py
  backend/tests/integration/test_track_lifecycle.py
  backend/tests/integration/utils/tracks.py
  backend/uv.lock
Due: type-check

feat(playlists): composite covers from member-track artwork
  backend/alembic/versions/2026_07_12_000000_a1c4f2b7d3e9_add_playlist_preview_thumbnails.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/lists/previews.py
  backend/src/backend/api/lists/schemas.py
  backend/src/backend/models/playlist.py
  backend/tests/api/test_playlist_preview_thumbnails.py
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/PlaylistCover.stories.svelte
  frontend/src/lib/components/PlaylistCover.svelte
  frontend/src/lib/playlist-cover.ts
  frontend/src/lib/types.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(playlists): composite covers from member-track artwork (#1663)
  backend/alembic/versions/2026_07_12_000000_a1c4f2b7d3e9_add_playlist_preview_thumbnails.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/lists/previews.py
  backend/src/backend/api/lists/schemas.py
  backend/src/backend/models/playlist.py
  backend/tests/api/test_playlist_preview_thumbnails.py
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/PlaylistCover.stories.svelte
  frontend/src/lib/components/PlaylistCover.svelte
  frontend/src/lib/playlist-cover.ts
  frontend/src/lib/types.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(playlists): remove-cover action so composites can take over
  backend/src/backend/api/lists/__init__.py
  backend/src/backend/api/lists/covers.py
  backend/src/backend/api/lists/playlists.py
  backend/tests/api/test_playlist_preview_thumbnails.py
  frontend/src/lib/playlist-actions.ts
  frontend/src/routes/playlist/[id]/+page.svelte
Due: type-check, svelte-check, eslint

feat(playlists): remove-cover action so composites can take over (#1664)
  backend/src/backend/api/lists/__init__.py
  backend/src/backend/api/lists/covers.py
  backend/src/backend/api/lists/playlists.py
  backend/tests/api/test_playlist_preview_thumbnails.py
  frontend/src/lib/playlist-actions.ts
  frontend/src/routes/playlist/[id]/+page.svelte
Due: type-check, svelte-check, eslint

feat(playlists): og-cover endpoint so link previews match the composite
  backend/src/backend/api/lists/covers.py
  backend/tests/api/test_playlist_preview_thumbnails.py
  frontend/src/routes/playlist/[id]/+page.svelte
Due: type-check, svelte-check, eslint

feat(playlists): og-cover endpoint so link previews match the composite (#1665)
  backend/src/backend/api/lists/covers.py
  backend/tests/api/test_playlist_preview_thumbnails.py
  frontend/src/routes/playlist/[id]/+page.svelte
Due: type-check, svelte-check, eslint

fix(playlists): carry preview_thumbnails through the SSR meta path
  frontend/src/routes/playlist/[id]/+page.ts
Due: svelte-check, eslint

test(playlists): regression test for SSR meta preview passthrough
  frontend/src/routes/playlist/[id]/og-meta.test.ts
Due: svelte-check, eslint

fix(playlists): carry preview_thumbnails through the SSR meta path (#1666)
  frontend/src/routes/playlist/[id]/+page.ts
  frontend/src/routes/playlist/[id]/og-meta.test.ts
Due: svelte-check, eslint

fix(queue): drop the redundant queue chip, honest shuffle tooltip, empty-state CTA
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint

fix(queue): drop the redundant queue chip, honest shuffle tooltip, empty-state CTA (#1667)
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint

fix(queue): clear means clear your picks — never veto keep-playing
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/queue-context.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
Due: svelte-check, eslint

fix(queue): clear means clear your picks — never veto keep-playing (#1668)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/queue-context.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
Due: svelte-check, eslint

fix(queue): give the empty up-next region a drop target
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/queue-context.test.ts
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix(queue): give the empty up-next region a drop target (#1669)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/queue-context.test.ts
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix(radio): like button opens the same add-to menu as everywhere else
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(radio): like button opens the same add-to menu as everywhere else (#1670)
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(radio): cache the per-station rotation instead of rebuilding it every poll
  backend/src/backend/api/radio/cache.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/config.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

fix(radio): single-flight the rotation rebuild on cache miss
  backend/src/backend/api/radio/cache.py
  backend/src/backend/api/radio/state.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

fix(radio): cache the per-station rotation instead of rebuilding it every poll (#1671)
  backend/src/backend/api/radio/cache.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/config.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

perf(images): serve display-sized artwork renditions from the CDN edge
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/utils/display-image.test.ts
  frontend/src/lib/utils/display-image.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

perf(images): serve display-sized artwork renditions from the CDN edge (#1672)
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/utils/display-image.test.ts
  frontend/src/lib/utils/display-image.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(costs): identify ourselves to the infra-costs feed
  scripts/costs/export_costs.py
Due: type-check

fix(costs): identify ourselves to the infra-costs feed (#1673)
  scripts/costs/export_costs.py
Due: type-check

fix(release): count scripts/costs/ as release-worthy changes
  scripts/release
Due: none

fix(release): count scripts/costs/ as release-worthy changes (#1674)
  scripts/release
Due: none

fix(playlists): composite covers render at display resolution
  backend/src/backend/api/lists/covers.py
  backend/src/backend/api/lists/previews.py
  backend/tests/api/test_playlist_preview_thumbnails.py
  frontend/src/lib/components/PlaylistCover.svelte
  frontend/src/lib/components/PlaylistCover.test.ts
  frontend/src/routes/playlist/[id]/+page.svelte
Due: type-check, svelte-check, eslint

fix(playlists): composite covers render at display resolution (#1675)
  backend/src/backend/api/lists/covers.py
  backend/src/backend/api/lists/previews.py
  backend/tests/api/test_playlist_preview_thumbnails.py
  frontend/src/lib/components/PlaylistCover.svelte
  frontend/src/lib/components/PlaylistCover.test.ts
  frontend/src/routes/playlist/[id]/+page.svelte
Due: type-check, svelte-check, eslint

fix(moderation): preserve private audio response
  backend/src/backend/schemas.py
  backend/tests/api/test_private_media_visibility.py
Due: type-check

fix(settings): clarify sensitive toggle hierarchy
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(settings): clarify sensitive toggle hierarchy (#1677)
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(moderation): support creator self-labels
  backend/alembic/versions/2026_07_16_000000_c8f3a6d9e2b1_add_track_self_labels.py
  backend/scripts/backfill_track_self_labels.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/atproto/self_labels.py
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_self_labels.py
  backend/tests/api/test_albums.py
  backend/tests/api/test_audio.py
  backend/tests/api/test_audio_optimize.py
  backend/tests/api/test_track_edit_pds_sync.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  backend/tests/test_jetstream.py
  docs/internal/moderation/atproto-labeler.md
  docs/internal/moderation/sensitive-content.md
  docs/public/artists.md
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/components/TrackEntryCard.svelte
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/lib/types.ts
  frontend/src/lib/upload-form-stash.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(moderation): support creator self-labels (#1682)
  backend/alembic/versions/2026_07_16_000000_c8f3a6d9e2b1_add_track_self_labels.py
  backend/scripts/backfill_track_self_labels.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/atproto/self_labels.py
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_self_labels.py
  backend/tests/api/test_albums.py
  backend/tests/api/test_audio.py
  backend/tests/api/test_audio_optimize.py
  backend/tests/api/test_track_edit_pds_sync.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  backend/tests/test_jetstream.py
  docs/internal/moderation/atproto-labeler.md
  docs/internal/moderation/sensitive-content.md
  docs/public/artists.md
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/components/TrackEntryCard.svelte
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/lib/types.ts
  frontend/src/lib/upload-form-stash.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: document sensitive content operations
  AGENTS.md
  STATUS.md
  docs/internal/README.md
  docs/internal/deployment/environments.md
  docs/internal/moderation/atproto-labeler.md
  docs/internal/moderation/overview.md
  docs/internal/moderation/sensitive-content.md
  docs/internal/runbooks/README.md
  docs/internal/runbooks/moderating-sensitive-audio.md
  docs/internal/tools/agent-access.md
  docs/internal/tools/neon.md
  docs/public/artists.md
  docs/public/lexicons/overview.md
  docs/public/listeners.md
  docs/public/sensitive-content.md
  docs/site/astro.config.mjs
Due: none

docs: document sensitive content operations (#1681)
  AGENTS.md
  STATUS.md
  docs/internal/README.md
  docs/internal/deployment/environments.md
  docs/internal/moderation/atproto-labeler.md
  docs/internal/moderation/overview.md
  docs/internal/moderation/sensitive-content.md
  docs/internal/runbooks/README.md
  docs/internal/runbooks/moderating-sensitive-audio.md
  docs/internal/tools/agent-access.md
  docs/internal/tools/neon.md
  docs/public/artists.md
  docs/public/lexicons/overview.md
  docs/public/listeners.md
  docs/public/sensitive-content.md
  docs/site/astro.config.mjs
Due: none
