Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: handle docket worker teardown on stale event loop
  backend/src/backend/_internal/background.py
Due: type-check

fix: skip docket worker in test lifespan to fix xdist teardown
  backend/src/backend/_internal/background.py
  backend/tests/conftest.py
Due: type-check

perf: add per-branch LIMIT and created_at indexes for activity feed
  backend/alembic/versions/2026_03_02_011216_a3d9fe3d8d02_add_activity_feed_indexes.py
  backend/src/backend/api/activity.py
  backend/src/backend/models/artist.py
  backend/src/backend/models/track_comment.py
  backend/src/backend/models/track_like.py
Due: type-check

feat: add platform-wide activity feed (#1001)
  backend/alembic/versions/2026_03_02_011216_a3d9fe3d8d02_add_activity_feed_indexes.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/activity.py
  backend/src/backend/main.py
  backend/src/backend/models/artist.py
  backend/src/backend/models/track_comment.py
  backend/src/backend/models/track_like.py
  backend/tests/api/test_activity.py
  backend/tests/api/test_audio.py
  backend/tests/conftest.py
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/activity/+page.svelte
  frontend/src/routes/activity/+page.ts
Due: type-check, svelte-check, eslint

fix: filter corrupted artists + redesign activity feed
  backend/src/backend/api/activity.py
  frontend/src/routes/activity/+page.svelte
Due: type-check, svelte-check, eslint

fix: filter corrupted artists + redesign activity feed (#1002)
  backend/src/backend/api/activity.py
  frontend/src/routes/activity/+page.svelte
Due: type-check, svelte-check, eslint

fix: redesign activity feed — better icons, visual hierarchy
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: redesign activity feed — better icons, visual hierarchy (#1003)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

feat: activity feed — track artwork, avatar placeholders, stats header
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

feat: activity feed — track artwork, avatar placeholders, stats header (#1004)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

feat: activity feed — lava lamp background, artwork-left layout, glass cards
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

feat: activity feed — lava lamp background, artwork-left layout, glass cards (#1005)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

feat: activity sparkline + neon glow accent + fix avatar square frame
  backend/src/backend/api/activity.py
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/activity/+page.svelte
Due: type-check, svelte-check, eslint

feat: activity sparkline + neon glow accent + fix avatar square frame (#1006)
  backend/src/backend/api/activity.py
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/activity/+page.svelte
Due: type-check, svelte-check, eslint

fix: activity sparkline visibility, glow taper, timestamp tooltip
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: activity sparkline visibility, glow taper, timestamp tooltip (#1007)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: activity feed polish — verb styling, artist avatar, sparkline, pagination
  backend/src/backend/api/activity.py
  frontend/src/lib/types.ts
  frontend/src/routes/activity/+page.svelte
Due: type-check, svelte-check, eslint

fix: activity feed polish — verb styling, artist avatar, sparkline, pagination (#1008)
  backend/src/backend/api/activity.py
  frontend/src/lib/types.ts
  frontend/src/routes/activity/+page.svelte
Due: type-check, svelte-check, eslint

fix: sparkline visibility + smooth pagination in activity feed
  frontend/src/routes/activity/+page.svelte
  frontend/src/routes/activity/+page.ts
Due: svelte-check, eslint

fix: sparkline visibility + smooth pagination in activity feed (#1009)
  frontend/src/routes/activity/+page.svelte
  frontend/src/routes/activity/+page.ts
Due: svelte-check, eslint

fix: use Promise.allSettled so histogram failure doesn't break feed
  frontend/src/routes/activity/+page.ts
Due: svelte-check, eslint

fix: use Promise.allSettled so histogram failure doesn't break feed (#1010)
  frontend/src/routes/activity/+page.ts
Due: svelte-check, eslint

fix: histogram 500 — CAST() instead of :: to avoid SQLAlchemy bind collision
  backend/src/backend/api/activity.py
Due: type-check

fix: histogram 500 — CAST() instead of :: to avoid SQLAlchemy bind collision (#1011)
  backend/src/backend/api/activity.py
Due: type-check

fix: activity UX — avatar next to name, "uploaded" verb, hide redundant "by self"
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: activity UX — avatar next to name, "uploaded" verb, hide redundant "by self" (#1012)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: activity card vertical alignment — avatar, icon, text centered
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: activity card vertical alignment — avatar, icon, text centered (#1013)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: align action icon with header avatar — center 14px icon in 20px space
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: align action icon with header avatar — center 14px icon in 20px space (#1014)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: center-align action icons with header avatar
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix: center-align action icons with header avatar (#1015)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

feat: add activity link to homepage — pulse icon next to filters
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

feat: add activity link to homepage — pulse icon next to filters (#1016)
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: remove redundant "feed" nav link — logo already goes home
  frontend/src/lib/components/Header.svelte
Due: svelte-check, eslint

fix: remove redundant "feed" nav link — logo already goes home (#1017)
  frontend/src/lib/components/Header.svelte
Due: svelte-check, eslint

fix: use bar chart icon for status page link — deduplicate pulse icon
  frontend/src/lib/components/Header.svelte
Due: svelte-check, eslint

fix: use bar chart icon for status page link — deduplicate pulse icon (#1018)
  frontend/src/lib/components/Header.svelte
Due: svelte-check, eslint

fix: update status icon in LinksMenu to match header
  frontend/src/lib/components/LinksMenu.svelte
Due: svelte-check, eslint

fix: update status icon in LinksMenu to match header (#1019)
  frontend/src/lib/components/LinksMenu.svelte
Due: svelte-check, eslint
