Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

fix: status maintenance workflow time window detection (#513)
  .github/workflows/status-maintenance.yml
Due: none

docs: add lexicons overview documentation
  docs/lexicons/overview.md
Due: none

docs: add lexicons overview documentation (#514)
  docs/lexicons/overview.md
Due: none

fix: detail page button layouts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: AddToMenu opens upward when near bottom of viewport
  frontend/src/lib/components/AddToMenu.svelte
Due: frontend-build

fix: detail page button layouts and AddToMenu positioning (#515)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: use unique branch names for status maintenance
  .github/workflows/status-maintenance.yml
Due: none

fix: use unique branch names for status maintenance (#517)
  .github/workflows/status-maintenance.yml
Due: none

fix: make playlist detail page publicly viewable
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/api/lists.py
  frontend/src/routes/playlist/[id]/+page.ts
Due: ty-check, frontend-build

fix: make playlist detail page publicly viewable (#519)
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/api/lists.py
  frontend/src/routes/playlist/[id]/+page.ts
Due: ty-check, frontend-build

fix: improve status maintenance prompt clarity
  .github/workflows/CLAUDE.md
  .github/workflows/status-maintenance.yml
Due: none

fix: improve status maintenance prompt clarity (#520)
  .github/workflows/CLAUDE.md
  .github/workflows/status-maintenance.yml
Due: none

feat: add total duration to platform stats and artist analytics
  backend/src/backend/api/artists.py
  backend/src/backend/api/stats.py
  backend/tests/api/test_analytics.py
  backend/tests/api/test_stats.py
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/lib/stats.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/u/[handle]/+page.svelte
  scripts/user_upload_stats.py
Due: ty-check, frontend-build

fix: improve status maintenance prompt for better narrative structure
  .github/workflows/status-maintenance.yml
Due: none

fix: improve status maintenance prompt for better narrative structure (#523)
  .github/workflows/status-maintenance.yml
Due: none

fix: use JSON array format for tags and smarter episode naming
  .github/workflows/status-maintenance.yml
Due: none

fix: use JSON array format for tags and smarter episode naming (#526)
  .github/workflows/status-maintenance.yml
Due: none

fix: sync copyright flag resolution from labeler to portal
  backend/src/backend/_internal/moderation.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/test_moderation.py
  backend/tests/utilities/test_aggregations.py
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/main.rs
Due: ty-check

feat: add copyright attestation checkbox to upload flow
  frontend/src/routes/upload/+page.svelte
Due: frontend-build

feat: copyright moderation improvements (#480)
  backend/src/backend/_internal/moderation.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/test_moderation.py
  backend/tests/utilities/test_aggregations.py
  frontend/src/routes/upload/+page.svelte
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/main.rs
Due: ty-check, frontend-build

feat: add total duration to platform stats and artist analytics (#522)
  backend/src/backend/api/artists.py
  backend/src/backend/api/stats.py
  backend/tests/api/test_analytics.py
  backend/tests/api/test_stats.py
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/lib/stats.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/u/[handle]/+page.svelte
  scripts/user_upload_stats.py
Due: ty-check, frontend-build

fix: reload data when navigating between detail pages of same type
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: add Tangled repo link and fix responsive header breakpoints
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
Due: frontend-build

fix: bump responsive breakpoint to 1399px to prevent stats/search collision
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: accent color on hover for nav-link and Tangled icon
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
Due: frontend-build

fix: reload data when navigating between detail pages of same type (#527)
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: combine stats and search into single centered margin container
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/PlatformStats.svelte
Due: frontend-build

fix: combine stats and search into single centered margin container (#528)
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/PlatformStats.svelte
Due: frontend-build

feat: letta-backed status maintenance
  .github/workflows/status-maintenance.yml
  scripts/letta_status_agent.py
  scripts/status_maintenance.py
Due: ty-check

fix: use structured outputs and read full STATUS.md
  scripts/status_maintenance.py
Due: ty-check

fix: use opus 4.5 by default, make model configurable
  scripts/status_maintenance.py
Due: ty-check

fix: memory blocks for project understanding, restore full prompt guidance
  scripts/status_maintenance.py
Due: ty-check

chore: tighten system prompt (-75 lines)
  scripts/status_maintenance.py
Due: ty-check

Add unified edit mode for playlists with track deletion
  frontend/src/routes/playlist/[id]/+page.svelte
Due: frontend-build

fix: simplify playlist edit mode UX
  frontend/src/routes/playlist/[id]/+page.svelte
Due: frontend-build

feat: inline playlist editing with direct cover upload
  frontend/src/routes/playlist/[id]/+page.svelte
Due: frontend-build

feat: inline playlist editing with direct cover upload (#531)
  frontend/src/routes/playlist/[id]/+page.svelte
Due: frontend-build

feat: letta-backed status maintenance (#529)
  .github/workflows/status-maintenance.yml
  scripts/letta_status_agent.py
  scripts/status_maintenance.py
Due: ty-check

feat: add artist support link setting
  backend/alembic/versions/2025_12_08_170130_a6069b752a90_add_support_url_to_user_preferences.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  backend/tests/api/test_preferences.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

refactor: move support link to portal profile section
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
