Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

fix(moderation): clarify creator label controls
  STATUS.md
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_self_labels.py
  backend/tests/api/test_my_tracks_search_sort.py
  docs/public/sensitive-content.md
  frontend/src/lib/components/TrackEntryCard.svelte
  frontend/src/lib/components/portal/TracksSection.stories.svelte
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(a11y): raise suggested tag contrast
  frontend/src/lib/components/portal/TracksSection.svelte
Due: svelte-check, eslint

fix(moderation): clarify creator label controls (#1683)
  STATUS.md
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_self_labels.py
  backend/tests/api/test_my_tracks_search_sort.py
  docs/public/sensitive-content.md
  frontend/src/lib/components/TrackEntryCard.svelte
  frontend/src/lib/components/portal/TracksSection.stories.svelte
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

align private media with permissioned data proposal
  STATUS.md
  backend/alembic/versions/2026_07_20_000000_d4f7a2c9b831_canonicalize_permissioned_space_uris.py
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/_internal/atproto/spaces/uris.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_visibility.py
  backend/tests/api/test_track_deletion.py
  backend/tests/integration/test_private_media.py
  docs/internal/architecture/permissioned-private-media.md
  lexicons/privateMedia.json
  lexicons/privateMediaAccess.json
  loq.toml
  scripts/permissioned_smoke.py
  scripts/publish_permission_set.py
Due: type-check

tighten private media space type
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/config.py
  backend/tests/_internal/test_permissioned_spaces.py
Due: type-check

address permissioned data review
  backend/src/backend/api/audio.py
  backend/tests/_internal/test_permissioned_spaces.py
  loq.toml
Due: type-check

document permissioned private media rollout
  docs/internal/README.md
  docs/internal/architecture/permissioned-private-media.md
  docs/internal/backend/audio-streaming.md
  docs/public/artists.md
  docs/public/developers/index.md
  docs/public/lexicons/overview.md
  docs/public/listeners.md
Due: none

fix lexicon publication command
  docs/internal/architecture/permissioned-private-media.md
  scripts/publish_permission_set.py
Due: type-check

Align private media with permissioned data Proposal 0016 (#1685)
  STATUS.md
  backend/alembic/versions/2026_07_20_000000_d4f7a2c9b831_canonicalize_permissioned_space_uris.py
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/_internal/atproto/spaces/uris.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_visibility.py
  backend/tests/api/test_track_deletion.py
  backend/tests/integration/test_private_media.py
  docs/internal/README.md
  docs/internal/architecture/permissioned-private-media.md
  docs/internal/backend/audio-streaming.md
  docs/public/artists.md
  docs/public/developers/index.md
  docs/public/lexicons/overview.md
  docs/public/listeners.md
  lexicons/privateMedia.json
  lexicons/privateMediaAccess.json
  loq.toml
  scripts/permissioned_smoke.py
  scripts/publish_permission_set.py
Due: type-check

Reduce repetitive frontend chrome
  frontend/src/lib/components/TagFilter.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix(tracks): sensitive-audio filtering no longer corrupts listing pagination
  backend/src/backend/api/tracks/listing.py
  backend/tests/api/test_tracks_sensitive_pagination.py
  frontend/src/lib/tracks.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix(tracks): project operator labels into SQL so filtering composes with pagination
  backend/alembic/versions/2026_07_23_123853_581366546d5c_project_operator_labels_onto_tracks.py
  backend/src/backend/_internal/clients/moderation.py
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/labels.py
  backend/src/backend/api/radio/corpus.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_self_labels.py
  backend/tests/api/test_tracks_sensitive_pagination.py
  backend/tests/test_moderation.py
  loq.toml
  services/moderation/src/admin.rs
  services/moderation/src/db.rs
  services/moderation/src/main.rs
Due: type-check

fix(tracks): project operator labels into SQL so filtering composes with pagination (#1688)
  backend/alembic/versions/2026_07_23_123853_581366546d5c_project_operator_labels_onto_tracks.py
  backend/src/backend/_internal/clients/moderation.py
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/labels.py
  backend/src/backend/api/radio/corpus.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_self_labels.py
  backend/tests/api/test_tracks_sensitive_pagination.py
  backend/tests/test_moderation.py
  loq.toml
  services/moderation/src/admin.rs
  services/moderation/src/db.rs
  services/moderation/src/main.rs
Due: type-check

fix(moderation): flag mixes of copyrighted songs, not just single-song rips
  scripts/scan_tracks_copyright.py
  services/moderation/src/audd.rs
  services/moderation/src/config.rs
  services/moderation/src/main.rs
  services/moderation/src/state.rs
Due: type-check

fix(moderation): flag mixes of copyrighted songs, not just single-song rips (#1689)
  scripts/scan_tracks_copyright.py
  services/moderation/src/audd.rs
  services/moderation/src/config.rs
  services/moderation/src/main.rs
  services/moderation/src/state.rs
Due: type-check

feat(frontend): emit at-tags meta on track, album, playlist, and artist pages
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(frontend): emit at-tags meta on track, album, playlist, and artist pages (#1690)
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(moderation): serve service-to-service endpoints under /internal
  docs/internal/moderation/atproto-labeler.md
  docs/internal/moderation/overview.md
  docs/internal/tools/agent-access.md
  services/moderation/Cargo.lock
  services/moderation/Cargo.toml
  services/moderation/src/main.rs
Due: none

refactor(moderation): serve service-to-service endpoints under /internal (#1692)
  docs/internal/moderation/atproto-labeler.md
  docs/internal/moderation/overview.md
  docs/internal/tools/agent-access.md
  services/moderation/Cargo.lock
  services/moderation/Cargo.toml
  services/moderation/src/main.rs
Due: none

refactor(moderation): call the labeler's /internal surface from the backend
  backend/src/backend/_internal/clients/moderation.py
  backend/tests/test_moderation.py
  loq.toml
Due: type-check

refactor(moderation): call the labeler's /internal surface from the backend (#1693)
  backend/src/backend/_internal/clients/moderation.py
  backend/tests/test_moderation.py
  loq.toml
Due: type-check

refactor(scripts): share one moderation client across the operator tooling
  scripts/_moderation.py
  scripts/backfill_label_context.py
  scripts/moderation_agent.py
  scripts/moderation_loop.py
Due: type-check

fix(moderation): invalidate the label cache from the labeler stream
  backend/src/backend/_internal/label_stream.py
  backend/src/backend/config.py
  backend/src/backend/jetstream.py
  backend/tests/test_label_stream.py
  docs/internal/moderation/atproto-labeler.md
  loq.toml
Due: type-check

refactor(scripts): share one moderation client across the operator tooling (#1694)
  scripts/_moderation.py
  scripts/backfill_label_context.py
  scripts/moderation_agent.py
  scripts/moderation_loop.py
Due: type-check

fix(moderation): invalidate the label cache from the labeler stream (#1695)
  backend/src/backend/_internal/label_stream.py
  backend/src/backend/config.py
  backend/src/backend/jetstream.py
  backend/tests/test_label_stream.py
  docs/internal/moderation/atproto-labeler.md
  loq.toml
Due: type-check

docs: record the moderation boundary split and the label-cache fix
  STATUS.md
Due: none

docs: record the moderation boundary split and the label-cache fix (#1696)
  STATUS.md
Due: none

docs(moderation): snapshot the copyright worklist before retracting labels
  docs/internal/moderation/copyright-worklist-2026-07-25.md
Due: none

fix(moderation): make labels act, and stop gating permalinks on them
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/_internal/label_stream.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/radio/corpus.py
  backend/src/backend/api/tracks/listing.py
  backend/tests/api/test_audio.py
  backend/tests/test_content_label_policy.py
  docs/internal/moderation/label-policy.md
  loq.toml
Due: type-check

fix(moderation): make labels act, and stop gating permalinks on them (#1697)
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/_internal/label_stream.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/radio/corpus.py
  backend/src/backend/api/tracks/listing.py
  backend/tests/api/test_audio.py
  backend/tests/test_content_label_policy.py
  docs/internal/moderation/copyright-worklist-2026-07-25.md
  docs/internal/moderation/label-policy.md
  loq.toml
Due: type-check

docs: record the label policy split and copyright enforcement
  STATUS.md
Due: none

docs: record the label policy split and copyright enforcement (#1698)
  STATUS.md
Due: none

feat(moderation): add the moderation event log
  loq.toml
  services/moderation/src/db.rs
  services/moderation/src/events.rs
  services/moderation/src/main.rs
Due: none

style(moderation): format the crate and relax the limits that moved
  loq.toml
  services/moderation/src/admin.rs
  services/moderation/src/db.rs
  services/moderation/src/handlers.rs
  services/moderation/src/reports.rs
  services/moderation/src/state.rs
Due: none

feat(moderation): add the moderation event log (#1699)
  loq.toml
  services/moderation/src/admin.rs
  services/moderation/src/db.rs
  services/moderation/src/events.rs
  services/moderation/src/handlers.rs
  services/moderation/src/main.rs
  services/moderation/src/reports.rs
  services/moderation/src/state.rs
Due: none

feat(moderation): wire scan flags into the event log, honor overrides
  backend/alembic/versions/2026_07_25_002308_28201f72683d_add_moderation_override_to_tracks.py
  backend/src/backend/_internal/clients/moderation.py
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/tasks/labels.py
  backend/src/backend/models/track.py
  backend/tests/api/test_tracks_sensitive_pagination.py
  backend/tests/test_content_label_policy.py
  backend/tests/test_moderation.py
  loq.toml
  scripts/backfill_moderation_queue.py
Due: type-check

feat(moderation): wire scan flags into the event log, honor overrides (#1700)
  backend/alembic/versions/2026_07_25_002308_28201f72683d_add_moderation_override_to_tracks.py
  backend/src/backend/_internal/clients/moderation.py
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/tasks/labels.py
  backend/src/backend/models/track.py
  backend/tests/api/test_tracks_sensitive_pagination.py
  backend/tests/test_content_label_policy.py
  backend/tests/test_moderation.py
  loq.toml
  scripts/backfill_moderation_queue.py
Due: type-check

feat(moderation): point the dashboard at the real review queue
  loq.toml
  services/moderation/static/admin.css
  services/moderation/static/admin.html
  services/moderation/static/admin.js
Due: none

feat(moderation): point the dashboard at the real review queue (#1701)
  loq.toml
  services/moderation/static/admin.css
  services/moderation/static/admin.html
  services/moderation/static/admin.js
Due: none

feat(moderation): user reports open review items
  backend/src/backend/api/moderation.py
  backend/tests/test_moderation.py
  loq.toml
  services/moderation/src/reports.rs
Due: type-check

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
