Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix(radio): player-mode audit — spacebar, track-switch staleness, footer layout
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/radio/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): player-mode audit — spacebar, track-switch staleness, footer layout (#1500)
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/radio/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix radio cold start audio
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix radio cold start audio (#1502)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

polish radio playback surfaces
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/routes/radio/+page.svelte
  loq.toml
Due: svelte-check, eslint

Revert "polish radio playback surfaces (#1503)"
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/routes/radio/+page.svelte
  loq.toml
Due: svelte-check, eslint

rework radio polish with original layout
  frontend/src/lib/components/Queue.svelte
  frontend/src/routes/radio/+page.svelte
  loq.toml
Due: svelte-check, eslint

Rework radio polish with original layout (#1504)
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

polish radio artwork and links
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

tighten radio page layout
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

fix(docs): add API reference landing page so /developers/api-reference/ stops 404ing
  docs/public/developers/api-reference/index.md
  docs/site/justfile
  docs/site/templates/api-reference-index.md
Due: none

Revert "tighten radio page layout (#1506)"
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

restore vertical radio up next list
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

restore vertical radio up next list (#1509)
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

reshape radio page around live station
  frontend/src/lib/player.svelte.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

reshape radio rotation preview
  backend/src/backend/api/radio.py
  backend/tests/api/test_radio.py
  frontend/src/routes/radio/+page.svelte
Due: type-check, svelte-check, eslint

polish radio rotation artwork
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

center radio now playing artwork
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

refine radio player section
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

refine radio player section (#1514)
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

fit radio page within viewport
  frontend/src/routes/radio/+page.svelte
  loq.toml
Due: svelte-check, eslint

fit radio page within viewport (#1515)
  frontend/src/routes/radio/+page.svelte
  loq.toml
Due: svelte-check, eslint

balance radio page stack
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

balance radio page stack (#1516)
  frontend/src/routes/radio/+page.svelte
Due: svelte-check, eslint

fix(#1408): precommit compliance — ruff format + loq line count
  backend/src/backend/api/tracks/audio_optimize.py
  loq.toml
Due: type-check

fix(uploads): never block track creation on transcoding
  .claude/scheduled_tasks.lock
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_audio_optimize.py
  frontend/src/lib/components/PdsSaveControl.svelte
  frontend/src/lib/components/PdsSaveModal.svelte
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/lib/utils/track-audio.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix(player): show "processing" for interim tracks unplayable in this browser
  .claude/scheduled_tasks.lock
  .gitignore
  frontend/src/lib/audio-source.ts
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix(uploads): never block track creation on transcoding (#1519)
  .gitignore
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_audio_optimize.py
  frontend/src/lib/audio-source.ts
  frontend/src/lib/components/PdsSaveControl.svelte
  frontend/src/lib/components/PdsSaveModal.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/lib/utils/track-audio.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat(scripts): coupled traffic report — Cloudflare edge + Logfire app lens
  scripts/traffic_report.py
Due: type-check

docs(skill): rebuild traffic-overview around the coupled script
  .claude/skills/traffic-overview/SKILL.md
Due: none

docs(status): radio player mode, portal redesign, transcode-never-blocks (May 27–31)
  STATUS.md
Due: none

fix(#1408): support gated lossless optimization
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_audio_optimize.py
  loq.toml
Due: type-check

test(integration): cover gated lossless upload optimization
  backend/tests/integration/test_lossless_uploads.py
Due: type-check

feat(radio): station lineup over the full corpus with an airtime-fair sampler
  backend/src/backend/api/radio/__init__.py
  backend/src/backend/api/radio/corpus.py
  backend/src/backend/api/radio/lenses.py
  backend/src/backend/api/radio/router.py
  backend/src/backend/api/radio/sampler.py
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
Due: type-check

refactor(radio): honest sampler/lens wording + lens semantic tests
  backend/src/backend/api/radio/lenses.py
  backend/src/backend/api/radio/sampler.py
  backend/tests/api/test_radio.py
Due: type-check

feat(radio): station-flip UI — segmented pills + swipe/keys
  frontend/src/lib/components/radio/StationPills.svelte
  frontend/src/lib/horizontal-swipe.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(radio): station lineup over the full corpus with an airtime-fair sampler (#1525)
  backend/src/backend/api/radio/__init__.py
  backend/src/backend/api/radio/corpus.py
  backend/src/backend/api/radio/lenses.py
  backend/src/backend/api/radio/router.py
  backend/src/backend/api/radio/sampler.py
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/src/lib/components/radio/StationPills.svelte
  frontend/src/lib/horizontal-swipe.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

refactor(radio): make fresh/deep-cuts genuinely distinct stations
  backend/src/backend/api/radio/lenses.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/src/lib/radio.svelte.ts
Due: type-check, svelte-check, eslint
