Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: restyle floating activity with distinct shapes and ephemeral motion (#1152)
  frontend/src/lib/components/FloatingActivity.svelte
Due: svelte-check, eslint

feat: replace floating activity pills with text echoes
  frontend/src/lib/components/FloatingActivity.svelte
Due: svelte-check, eslint

feat: replace floating activity pills with text echoes (#1153)
  frontend/src/lib/components/FloatingActivity.svelte
Due: svelte-check, eslint

Revert "feat: replace floating activity pills with text echoes (#1153)"
  frontend/src/lib/components/FloatingActivity.svelte
Due: svelte-check, eslint

Revert "feat: add floating activity background to homepage (#1151)"
  frontend/src/lib/components/FloatingActivity.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

Revert "fix: restyle floating activity with distinct shapes and ephemeral motion (#1152)"
  frontend/src/lib/components/FloatingActivity.svelte
Due: svelte-check, eslint

revert: remove floating activity background (PRs #1151-#1153) (#1154)
  frontend/src/lib/components/FloatingActivity.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

feat: add activity shelf and dismissible homepage sections
  frontend/src/lib/components/ActivityCard.svelte
  frontend/src/lib/dismissed-sections.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat: add activity shelf and dismissible homepage sections (#1155)
  frontend/src/lib/components/ActivityCard.svelte
  frontend/src/lib/dismissed-sections.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

Revert "feat: add activity shelf and dismissible homepage sections (#1155)"
  frontend/src/lib/components/ActivityCard.svelte
  frontend/src/lib/dismissed-sections.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

Revert "feat: add activity shelf and dismissible homepage sections (#1155)" (#1156)
  frontend/src/lib/components/ActivityCard.svelte
  frontend/src/lib/dismissed-sections.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs: document failed homepage activity integration experiments
  STATUS.md
Due: none

docs: document failed homepage activity integration experiments (#1157)
  STATUS.md
Due: none

fix: detect temperature unit from browser locale for ambient theme
  frontend/src/lib/ambient.svelte.ts
Due: svelte-check, eslint

fix: detect temperature unit from browser locale for ambient theme (#1158)
  frontend/src/lib/ambient.svelte.ts
Due: svelte-check, eslint

fix: reduce gradient color banding on ambient live theme
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

fix: reduce gradient color banding on ambient live theme (#1159)
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

fix: reduce ambient gradient banding with interpolated color stops
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

fix: reduce ambient gradient banding with interpolated color stops (#1160)
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

fix: cache ambient weather data for instant theme restore
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/components/InfoTooltip.svelte
Due: svelte-check, eslint

fix: cache ambient weather data for instant theme restore (#1161)
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/components/InfoTooltip.svelte
Due: svelte-check, eslint

docs: status update — chromaprint.zig, ambient polish, AuDD replacement plan
  STATUS.md
Due: none

feat: replace AuDD with fpcalc + AcoustID for copyright scanning
  .github/workflows/export-costs.yml
  docs/legal/privacy.md
  frontend/src/routes/costs/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  scripts/costs/export_costs.py
  services/moderation/Cargo.lock
  services/moderation/Cargo.toml
  services/moderation/Dockerfile
  services/moderation/justfile
  services/moderation/src/admin.rs
  services/moderation/src/audd.rs
  services/moderation/src/config.rs
  services/moderation/src/handlers.rs
  services/moderation/src/main.rs
  services/moderation/src/state.rs
Due: type-check, svelte-check, eslint

fix: use single-dash -json flag for fpcalc
  services/moderation/src/audd.rs
Due: none

test: add unit tests for AcoustID response parsing and match extraction
  loq.toml
  services/moderation/src/audd.rs
Due: none

feat: replace AuDD with fpcalc + AcoustID for copyright scanning (#1163)
  .github/workflows/export-costs.yml
  STATUS.md
  docs/legal/privacy.md
  frontend/src/routes/costs/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  loq.toml
  scripts/costs/export_costs.py
  services/moderation/Cargo.lock
  services/moderation/Cargo.toml
  services/moderation/Dockerfile
  services/moderation/justfile
  services/moderation/src/admin.rs
  services/moderation/src/audd.rs
  services/moderation/src/config.rs
  services/moderation/src/handlers.rs
  services/moderation/src/main.rs
  services/moderation/src/state.rs
Due: type-check, svelte-check, eslint

fix: bump privacy policy date to reflect AudD → AcoustID change
  docs/legal/privacy.md
  frontend/src/routes/privacy/+page.svelte
Due: svelte-check, eslint

fix: bump privacy policy date to reflect AudD → AcoustID change (#1164)
  docs/legal/privacy.md
  frontend/src/routes/privacy/+page.svelte
Due: svelte-check, eslint

fix: tie costs export to production release tag
  .github/workflows/export-costs.yml
  .pre-commit-config.yaml
  scripts/check_legal_dates.py
  scripts/costs/export_costs.py
Due: type-check

fix: tie costs export to production release tag (#1166)
  .github/workflows/export-costs.yml
  .pre-commit-config.yaml
  scripts/check_legal_dates.py
  scripts/costs/export_costs.py
Due: type-check

fix: remove dead R2_BUCKET env vars from costs export workflow
  .github/workflows/export-costs.yml
Due: none

fix: remove dead R2_BUCKET env vars from costs export workflow (#1167)
  .github/workflows/export-costs.yml
Due: none

fix: bump terms_last_updated to match privacy policy change
  backend/src/backend/config.py
Due: type-check

fix: check backend terms_last_updated stays in sync with privacy policy
  scripts/check_legal_dates.py
Due: type-check

fix: bump terms_last_updated to 2026-03-20 (#1168)
  backend/src/backend/config.py
  scripts/check_legal_dates.py
Due: type-check

docs: status update — costs export fix, AuDD removal complete
  STATUS.md
Due: none

docs: status update — costs export fix, AuDD removal complete (#1169)
  STATUS.md
Due: none

fix: narrow check-legal-dates hook to +page.svelte only
  .pre-commit-config.yaml
Due: none

fix: narrow check-legal-dates hook to +page.svelte only (#1171)
  .pre-commit-config.yaml
Due: none

feat: surface collection activity in the feed
  backend/alembic/versions/2026_03_20_131821_4e5638f6576a_add_collection_events_table.py
  backend/src/backend/api/activity.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/services.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/collection_event.py
  frontend/src/lib/types.ts
  frontend/src/routes/activity/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint
