Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

lay secure zig auth state foundation
  backend-zig/README.md
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/api/auth.zig
  backend-zig/src/api/router.zig
  backend-zig/src/config.zig
  backend-zig/src/internal/auth/bearer_token.zig
  backend-zig/src/internal/auth/postgres_store.zig
  backend-zig/src/internal/auth/sealed_secret.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_10_010000_e82b3d0f5a94_add_zig_auth_store.py
Due: type-check

bound zig oauth start work in redis
  backend-zig/README.md
  backend-zig/fly.canary.toml
  backend-zig/scripts/test_canary_smoke.py
  backend-zig/src/api/auth.zig
  backend-zig/src/api/response.zig
  backend-zig/src/api/router.zig
  backend-zig/src/config.zig
  backend-zig/src/internal/auth/redis_start_admission.zig
  backend-zig/src/internal/auth/start_admission.zig
  backend-zig/src/internal/http/client_identity.zig
  backend-zig/src/internal/metrics/redis_play_dedup_store.zig
  backend-zig/src/internal/redis/connection_config.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-canary.md
  loq.toml
Due: type-check

accept did identifiers in zig oauth start
  backend-zig/src/api/auth.zig
  backend-zig/src/internal/application/browser_login.zig
  backend-zig/src/internal/auth/login_identifier.zig
  backend-zig/src/internal/auth/oauth_gateway.zig
  loq.toml
Due: none

fix: use production Teal lexicon defaults
  backend/src/backend/_internal/atproto/records/fm_teal/play.py
  backend/src/backend/_internal/atproto/records/fm_teal/status.py
  backend/src/backend/api/auth.py
  backend/src/backend/config.py
  backend/src/backend/models/preferences.py
  backend/tests/test_teal_scrobbling.py
  docs/public/developers/api-reference/auth.md
  docs/public/developers/auth.md
  docs/public/lexicons/overview.md
  frontend/src/routes/settings/+page.svelte
Due: type-check, svelte-check, eslint

fix isolated zig canary deployment gates
  .github/workflows/deploy-staging.yml
  .pre-commit-config.yaml
Due: none

expose verified track artwork in zig v1
  backend-zig/src/internal/domain/track.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_track_chart_store.zig
  frontend/src/lib/api/zig-v1-playlists.test.ts
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  loq.toml
Due: svelte-check, eslint

fence zig oauth credential refresh
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/application/browser_login.zig
  backend-zig/src/internal/application/credential_refresh.zig
  backend-zig/src/internal/auth/oauth_gateway.zig
  backend-zig/src/internal/auth/oauth_state.zig
  backend-zig/src/internal/auth/postgres_store.zig
  backend-zig/src/internal/auth/store.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_13_010000_b6a82c5140de_fence_zig_oauth_refresh.py
  loq.toml
Due: type-check

execute authenticated PDS commands safely
  backend-zig/src/internal/application/authenticated_pds.zig
  backend-zig/src/internal/application/browser_login.zig
  backend-zig/src/internal/application/credential_refresh.zig
  backend-zig/src/internal/auth/pds_gateway.zig
  backend-zig/src/internal/auth/postgres_store.zig
  backend-zig/src/internal/auth/store.zig
  backend-zig/src/main.zig
Due: none

reserve replay-safe PDS record keys
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/command/postgres_record_key_store.zig
  backend-zig/src/internal/command/record_key_store.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_13_020000_c7b913f2a6ed_add_zig_command_keys.py
  loq.toml
Due: type-check

write track likes to the PDS first
  backend-zig/fly.canary.toml
  backend-zig/scripts/test_canary_smoke.py
  backend-zig/scripts/test_http.py
  backend-zig/src/api/auth.zig
  backend-zig/src/api/response.zig
  backend-zig/src/api/router.zig
  backend-zig/src/api/tracks.zig
  backend-zig/src/config.zig
  backend-zig/src/internal/application/authenticated_pds.zig
  backend-zig/src/internal/application/like_track.zig
  backend-zig/src/internal/application/list_track_likes.zig
  backend-zig/src/internal/index/like_query_store.zig
  backend-zig/src/internal/index/postgres_like_query_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-canary.md
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  frontend/src/lib/tracks.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

delete track likes from the PDS first
  backend-zig/fly.canary.toml
  backend-zig/scripts/test_canary_smoke.py
  backend-zig/scripts/test_http.py
  backend-zig/src/api/auth.zig
  backend-zig/src/api/router.zig
  backend-zig/src/api/tracks.zig
  backend-zig/src/config.zig
  backend-zig/src/internal/application/like_track.zig
  backend-zig/src/internal/application/list_track_likes.zig
  backend-zig/src/internal/application/unlike_track.zig
  backend-zig/src/internal/application/verified_track_subject.zig
  backend-zig/src/internal/auth/repo_scope.zig
  backend-zig/src/internal/index/like_query_store.zig
  backend-zig/src/internal/index/postgres_like_query_store.zig
  backend-zig/src/internal/testing/verified_track_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-canary.md
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  frontend/src/lib/tracks.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

resolve viewer likes without personalizing tracks
  backend-zig/README.md
  backend-zig/scripts/test_http.py
  backend-zig/src/api/router.zig
  backend-zig/src/api/viewer.zig
  backend-zig/src/internal/application/resolve_viewer_likes.zig
  backend-zig/src/internal/index/postgres_like_query_store.zig
  backend-zig/src/internal/index/viewer_like_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-rest-api-scope.md
  docs/internal/architecture/zig-v1-track-likes.md
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  frontend/src/lib/tracks.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

list verified liked tracks for the viewer
  backend-zig/README.md
  backend-zig/scripts/test_http.py
  backend-zig/src/api/auth.zig
  backend-zig/src/api/router.zig
  backend-zig/src/api/viewer.zig
  backend-zig/src/internal/application/list_viewer_liked_tracks.zig
  backend-zig/src/internal/index/liked_track_store.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-rest-api-scope.md
  docs/internal/architecture/zig-v1-track-likes.md
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  frontend/src/lib/tracks.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat: track downloads for public, ungated, unflagged tracks
  backend/alembic/versions/2026_08_13_000000_b3d1a7e42c90_add_allow_downloads_to_user_preferences.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/src/backend/utilities/downloads.py
  backend/tests/api/test_audio_download.py
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/downloads.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(downloads): hide the button instead of toasting a refusal
  backend/src/backend/models/artist.py
  backend/src/backend/schemas.py
  backend/tests/api/test_audio_download.py
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: type-check, svelte-check, eslint

refactor(downloads): one policy function, and never presign a key we don't hold
  backend/src/backend/api/audio.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/downloads.py
  backend/tests/api/test_audio_download.py
  loq.toml
Due: type-check

fix(track-page): download is a utility, not a playback action
  frontend/src/lib/components/DownloadButton.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

feat: track downloads for public, ungated, unflagged tracks (#1824)
  backend/alembic/versions/2026_08_13_000000_b3d1a7e42c90_add_allow_downloads_to_user_preferences.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/artist.py
  backend/src/backend/models/preferences.py
  backend/src/backend/schemas.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/src/backend/utilities/downloads.py
  backend/tests/api/test_audio_download.py
  frontend/src/lib/components/DownloadButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/downloads.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: circular import crashed the staging app at boot
  backend/src/backend/storage/r2.py
  backend/src/backend/utilities/downloads.py
  backend/tests/api/test_audio_download.py
  loq.toml
Due: type-check

fix: circular import crashed the staging app at boot (#1825)
  backend/src/backend/storage/r2.py
  backend/src/backend/utilities/downloads.py
  backend/tests/api/test_audio_download.py
  loq.toml
Due: type-check

feat(track-page): regroup the detail page per brooke's sketch
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(track-page): ft-tags are tags — do not bless the misuse
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix(track-page): size the controls to the app's language
  frontend/src/lib/components/DownloadButton.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix(track-page): let the bottom breathe
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix(track-page): fluid spacing, unboxed utilities
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(track-page): even vertical rhythm at the bottom
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

feat(track-page): regroup the detail page per brooke's sketch (#1826)
  frontend/src/lib/components/DownloadButton.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs: status — track downloads and the detail-page regroup (#1824-#1826)
  STATUS.md
Due: none

docs: status — track downloads and the detail-page regroup (#1824-#1826) (#1827)
  STATUS.md
Due: none

fix(track-page): the signed-in like trigger goes quiet too
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(track-page): the signed-in like trigger goes quiet too (#1828)
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(track-page): true-center the play disc, and let the signed-out heart ask
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(track-page): true-center the play disc, and let the signed-out heart ask (#1829)
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(track-page): say 'sign in' once in the like nudge
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix(track-page): say 'sign in' once in the like nudge (#1830)
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix(uploads): bound in-flight upload memory, keep scans off the event loop
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/r2.py
  loq.toml
Due: type-check

fix(uploads): bound in-flight upload memory, keep scans off the event loop (#1831)
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/r2.py
  loq.toml
Due: type-check

fix(uploads): cap the io_queue — the real memory bomb was the reader, not the uploaders
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/r2.py
  loq.toml
Due: type-check

fix(uploads): cap the io_queue — the real memory bomb was the reader, not the uploaders (#1832)
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/r2.py
  loq.toml
Due: type-check

docs: retro — the upload memory wedge (#1831, #1832)
  STATUS.md
  docs/internal/runbooks/2026-08-14-upload-memory-wedge.md
Due: none
