Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

tweak uv command
  docs/public/contributing.md
Due: none

docs: clarify local db setup steps (#1601)
  docs/public/contributing.md
Due: none

fix(jetstream): resolve handle on #identity events (they carry no handle)
  backend/fly.toml
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/slingshot.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/jetstream.py
  backend/tests/test_jetstream.py
  backend/tests/test_slingshot.py
  docs/internal/runbooks/worker-silence-alert.md
Due: type-check

fix(jetstream): resolve handle on #identity events (they carry no handle) (#1603)
  backend/fly.toml
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/slingshot.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/jetstream.py
  backend/tests/test_jetstream.py
  backend/tests/test_slingshot.py
  docs/internal/runbooks/worker-silence-alert.md
Due: type-check

fix(jetstream): size the jetstream VM at 1gb (512mb OOM-crash-looped)
  backend/fly.toml
Due: none

fix(jetstream): add the jetstream process group to staging too
  backend/fly.staging.toml
Due: none

fix(jetstream): correct VM memory (1gb) + add the process group to staging (#1604)
  backend/fly.staging.toml
  backend/fly.toml
Due: none

fix(radio): use the shared WaveLoading loader while tuning
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): use the shared WaveLoading loader while tuning (#1605)
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(frontend): remove stale package-lock.json so CF honors bun.lockb
  frontend/package-lock.json
Due: svelte-check

fix(frontend): remove stale package-lock.json so CF honors bun.lockb (#1606)
  frontend/package-lock.json
Due: svelte-check

fix(frontend): migrate to text bun.lock so CF Pages honors the lockfile
  frontend/bun.lock
  frontend/bun.lockb
Due: svelte-check

fix(frontend): migrate to text bun.lock so CF Pages honors the lockfile (#1607)
  frontend/bun.lock
  frontend/bun.lockb
Due: svelte-check

fix(frontend): keep client logos transparent with a theme-aware contrast halo
  frontend/src/lib/components/ClientLogo.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix(frontend): keep client logos transparent with a theme-aware contrast halo (#1608)
  frontend/src/lib/components/ClientLogo.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix(frontend): soften client-logo halo to a thin keyline (no glow)
  frontend/src/lib/components/ClientLogo.svelte
Due: svelte-check, eslint

fix(frontend): soften client-logo halo to a thin keyline (no glow) (#1609)
  frontend/src/lib/components/ClientLogo.svelte
Due: svelte-check, eslint

docs: backfill STATUS.md with ~2 weeks of work (June 11–25)
  STATUS.md
Due: none

docs: backfill STATUS.md with ~2 weeks of work (June 11–25) (#1610)
  STATUS.md
Due: none

fix(album): return 409 on album rename slug collision instead of 500
  backend/src/backend/api/albums/mutations.py
  backend/tests/api/test_albums.py
Due: type-check

fix(copyright): clear flags only on explicit negation, not absent labels (#1602)
  backend/src/backend/_internal/clients/moderation.py
  backend/src/backend/_internal/tasks/copyright.py
  backend/tests/test_moderation.py
  loq.toml
  services/moderation/src/admin.rs
  services/moderation/src/db.rs
  services/moderation/src/main.rs
Due: type-check

fix(copyright): clear flags only on explicit negation, not absent labels (#1602) (#1615)
  backend/src/backend/_internal/clients/moderation.py
  backend/src/backend/_internal/tasks/copyright.py
  backend/tests/test_moderation.py
  loq.toml
  services/moderation/src/admin.rs
  services/moderation/src/db.rs
  services/moderation/src/main.rs
Due: type-check

fix(ingest): verify R2 object exists before trusting a record's audioUrl
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix(ingest): verify R2 object exists before trusting a record's audioUrl (#1616)
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

docs: fix stale internal doc references
  backend/src/backend/_internal/CLAUDE.md
  docs/internal/CLAUDE.md
  docs/internal/README.md
  docs/internal/tools/logfire.md
Due: none

docs: audio dispatch + jetstream ingest + dead-audioUrl retrospective
  docs/internal/README.md
  docs/internal/architecture/jetstream-ingest.md
  docs/internal/backend/audio-streaming.md
  docs/internal/retrospectives/2026-06-30-dead-audiourl-ingest.md
Due: none

docs: fix stale internal doc references (#1617)
  backend/src/backend/_internal/CLAUDE.md
  docs/internal/CLAUDE.md
  docs/internal/README.md
  docs/internal/tools/logfire.md
Due: none

docs: audio dispatch + jetstream ingest + dead-audioUrl retrospective (#1619)
  docs/internal/README.md
  docs/internal/architecture/jetstream-ingest.md
  docs/internal/backend/audio-streaming.md
  docs/internal/retrospectives/2026-06-30-dead-audiourl-ingest.md
Due: none

feat(radio): widen rotation breadth — per-station decay, 4h reseed, exploration floor
  backend/src/backend/api/radio/sampler.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

feat(radio): widen rotation breadth — per-station decay, 4h reseed, exploration floor (#1620)
  backend/src/backend/api/radio/sampler.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

fix(player): count plays + dispatch teal scrobbles for radio listening
  frontend/src/lib/player-radio.test.ts
  frontend/src/lib/player.svelte.ts
Due: svelte-check, eslint

fix(player): count plays + dispatch teal scrobbles for radio listening (#1622)
  frontend/src/lib/player-radio.test.ts
  frontend/src/lib/player.svelte.ts
Due: svelte-check, eslint

docs: status update — radio breadth + radio scrobbles arc, June 29-30 fixes
  STATUS.md
Due: none

docs: status update — radio breadth + radio scrobbles arc, June 29-30 fixes (#1623)
  STATUS.md
Due: none

feat(auth): listener/creator no-intent default + vitest coverage
  frontend/src/lib/utils/auth-redirect.test.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/tests/stubs/app-navigation.ts
  frontend/vitest.config.ts
Due: svelte-check, eslint

feat(auth): global post-login intent preservation (revives #1448) + listener/creator landing default (#1624)
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/utils/auth-redirect.test.ts
  frontend/src/lib/utils/auth-redirect.ts
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/upload/+page.svelte
  frontend/src/tests/stubs/app-navigation.ts
  frontend/vitest.config.ts
  loq.toml
Due: svelte-check, eslint

feat(queue): collection continuity — tap a track inside a collection to queue the rest
  frontend/src/lib/collection-playback.ts
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/queue-context.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
