Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

docs(skills): self-review checks copy reuse and shortcut collisions
  .claude/skills/self-review/SKILL.md
Due: none

docs(skills): self-review checks copy reuse and shortcut collisions (#1918)
  .claude/skills/self-review/SKILL.md
Due: none

fix(queue): sync conflicts keep the user's intent; dismissed rows leave no dead nodes
  frontend/src/lib/queue-sync.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/swipe.test.ts
  frontend/src/lib/swipe.ts
  loq.toml
Due: svelte-check, eslint

fix(queue): sync conflicts keep the user's intent; dismissed rows leave no dead nodes (#1919)
  frontend/src/lib/queue-sync.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/swipe.test.ts
  frontend/src/lib/swipe.ts
  loq.toml
Due: svelte-check, eslint

fix(swipe): decide the gesture once, with a horizontal bias
  frontend/src/lib/swipe.test.ts
  frontend/src/lib/swipe.ts
Due: svelte-check, eslint

fix(swipe): decide the gesture once, with a horizontal bias (#1920)
  frontend/src/lib/swipe.test.ts
  frontend/src/lib/swipe.ts
Due: svelte-check, eslint

feat(queue): touch reorder feels like picking the row up
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/reorder-plan.test.ts
  frontend/src/lib/reorder-plan.ts
  loq.toml
Due: svelte-check, eslint

feat(queue): touch reorder feels like picking the row up (#1921)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/reorder-plan.test.ts
  frontend/src/lib/reorder-plan.ts
  loq.toml
Due: svelte-check, eslint

fix(queue): one reorder engine for mouse and touch; the line lands where the row will
  frontend/src/lib/components/Queue.svelte
  loq.toml
Due: svelte-check, eslint

fix(queue): one reorder engine for mouse and touch; the line lands where the row will (#1922)
  frontend/src/lib/components/Queue.svelte
  loq.toml
Due: svelte-check, eslint

docs: status — queue polish round two (#1914–#1922)
  STATUS.md
Due: none

docs: status — queue polish round two (#1914–#1922) (#1923)
  STATUS.md
Due: none

feat(queue): three matching header buttons — repeat leaves, clear joins the family
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint

feat(queue): three matching header buttons — repeat leaves, clear joins the family (#1924)
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint

docs: status — header buttons shipped (#1924)
  STATUS.md
Due: none

docs: status — header buttons shipped (#1924) (#1925)
  STATUS.md
Due: none

docs: the 66-track repair is tracked in #1927
  STATUS.md
Due: none

docs: the 66-track repair is tracked in #1927 (#1928)
  STATUS.md
Due: none

docs: end the owner-only era in prose; refresh onboard and cross-link ui-check
  .claude/skills/change/SKILL.md
  .claude/skills/onboard/SKILL.md
  .claude/skills/self-review/SKILL.md
  docs/internal/architecture/permissioned-private-media.md
  docs/public/artists.md
  docs/public/lexicons/overview.md
Due: none

docs: hold the 66-track repair record in STATUS, not the issue tracker
  STATUS.md
Due: none

docs: maintenance sweep — owner-only prose, onboard skill, ui-check cross-links (#1929)
  .claude/skills/change/SKILL.md
  .claude/skills/onboard/SKILL.md
  .claude/skills/self-review/SKILL.md
  STATUS.md
  docs/internal/architecture/permissioned-private-media.md
  docs/public/artists.md
  docs/public/lexicons/overview.md
Due: none

private media: never store membership — ask the space authority per credential
  STATUS.md
  backend/alembic/versions/2026_08_23_000000_a81c2d9e4f07_drop_private_media_members.py
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/_internal/private_access.py
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/albums/downloads.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/oembed.py
  backend/src/backend/api/subsonic/browsing.py
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/users.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/private_media_member.py
  backend/tests/_internal/test_private_access.py
  backend/tests/api/test_private_media_members.py
  backend/tests/api/test_private_media_visibility.py
  docs/internal/architecture/private-media-access-list.md
  frontend/src/lib/components/portal/PrivateMediaSection.svelte
Due: type-check, svelte-check, eslint

private access: ask fresh when nothing is held; gate and bound the listing probe
  backend/src/backend/_internal/private_access.py
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/tracks/listing.py
  backend/tests/_internal/test_private_access.py
  backend/tests/api/test_private_media_visibility.py
Due: type-check

spaces client: credential lifetime from exp, one mint per pair in flight, listMembers cursor guard
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/api/artists.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_members.py
  loq.toml
Due: type-check

private media: never store membership — the space authority answers per credential (#1930)
  STATUS.md
  backend/alembic/versions/2026_08_23_000000_a81c2d9e4f07_drop_private_media_members.py
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/_internal/private_access.py
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/albums/downloads.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/lists/playlists.py
  backend/src/backend/api/oembed.py
  backend/src/backend/api/subsonic/browsing.py
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/users.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/private_media_member.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/_internal/test_private_access.py
  backend/tests/api/test_private_media_members.py
  backend/tests/api/test_private_media_visibility.py
  docs/internal/architecture/private-media-access-list.md
  frontend/src/lib/components/portal/PrivateMediaSection.svelte
  loq.toml
Due: type-check, svelte-check, eslint

deploy skill: allow model invocation; body still requires user confirmation
  .claude/skills/deploy/SKILL.md
Due: none

deploy skill: allow model invocation; body still requires user confirmation (#1931)
  .claude/skills/deploy/SKILL.md
Due: none

tracks: grey out play affordances while a rendition is still processing
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/TrackItem.test.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

tracks: show processing in the row meta line and suppress the lossless label meanwhile
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

track page: keep pause reachable if a processing track is already current
  frontend/src/lib/components/TrackItem.test.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

tracks: grey out play affordances while a rendition is still processing (#1934)
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/TrackItem.test.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

docs: status update for #1934, #1932/#1933 and the mu.social embed PR
  STATUS.md
Due: none

docs: status update for #1934, #1932/#1933 and the mu.social embed PR (#1935)
  STATUS.md
Due: none

docs: plyr × ATM integration position for first call with Joe
  docs/internal/research/2026-08-25-plyr-atm-position.md
Due: none

docs: plyr × ATM integration position for first call with Joe (#1936)
  docs/internal/research/2026-08-25-plyr-atm-position.md
Due: none

docs: research on Content ID and platform music licensing
  docs/research/2026-08-25-content-id-and-music-licensing.md
Due: none

docs: ATM integration plan for post-allowlist work
  docs/internal/research/2026-08-26-atm-integration-plan.md
Due: none

docs: ATM integration plan (post-allowlist) (#1938)
  docs/internal/research/2026-08-26-atm-integration-plan.md
  docs/research/2026-08-25-content-id-and-music-licensing.md
Due: none

supporters: verify attested.network payment attestations
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/atprotofans.py
  backend/src/backend/_internal/attested.py
  backend/src/backend/_internal/supporters.py
  backend/src/backend/config.py
  backend/tests/_internal/test_attested.py
  backend/tests/_internal/test_supporters.py
Due: type-check

attested: bound the whole verification behind a 10s deadline
  backend/src/backend/_internal/attested.py
  backend/src/backend/_internal/supporters.py
Due: type-check

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
