Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

chore: inline good-first criteria in skill, drop memory cross-ref
  .claude/skills/backlog-maintenance/SKILL.md
Due: none

docs(status): may 13 — first external PR, upload outage cluster, private playlists
  STATUS.md
Due: none

docs(status): may 13 — first external PR, upload outage cluster, private playlists (#1397)
  STATUS.md
Due: none

docs: brief mention of private playlists in listeners.md
  STATUS.md
  docs/public/listeners.md
Due: none

docs: brief mention of private playlists in listeners.md (#1398)
  STATUS.md
  docs/public/listeners.md
Due: none

feat(copyright): add ch.indiemusi.alpha record writers + paradigm config (phase 1)
  backend/alembic/versions/2026_05_14_112932_16cfa67553bd_add_user_copyright_configs_table_and_.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/__init__.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/actor_publishing_owner.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/models.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/recording.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/song.py
  backend/src/backend/config.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/track.py
  backend/src/backend/models/user_copyright_config.py
  backend/tests/_internal/test_ch_indiemusi_records.py
  loq.toml
Due: type-check

chore: quality pass on phase 1
  backend/src/backend/_internal/atproto/records/ch_indiemusi/__init__.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/actor_publishing_owner.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/models.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/recording.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/song.py
  backend/src/backend/config.py
  backend/src/backend/models/user_copyright_config.py
Due: type-check

feat(copyright): portal section + scope-upgrade plumbing (phase 2)
  backend/alembic/versions/2026_05_14_124145_2ff28fd69210_add_paradigm_data_and_redirect_to_to_.py
  backend/src/backend/_internal/auth/account_groups.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/auth/session.py
  backend/src/backend/_internal/copyright.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/copyright.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/src/backend/models/pending_scope_upgrade.py
  backend/tests/api/test_copyright_setup.py
  frontend/src/lib/components/CopyrightSection.svelte
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(copyright): portal section + scope-upgrade plumbing (phase 2) (#1401)
  backend/alembic/versions/2026_05_14_124145_2ff28fd69210_add_paradigm_data_and_redirect_to_to_.py
  backend/src/backend/_internal/auth/account_groups.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/auth/session.py
  backend/src/backend/_internal/copyright.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/copyright.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/src/backend/models/pending_scope_upgrade.py
  backend/tests/api/test_copyright_setup.py
  frontend/src/lib/components/CopyrightSection.svelte
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(copyright): phase 3a — upload rights, per-track endpoints, audio gating
  backend/src/backend/_internal/copyright.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/copyright.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_copyright_track.py
  frontend/src/lib/components/CopyrightRightsPanel.svelte
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(copyright): wire edit form panel + surface copyright URIs (completes phase 3)
  backend/src/backend/schemas.py
  frontend/src/lib/types.ts
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(copyright): address review findings P1.1, P1.2, P2.1, P2.2, P3 + regression tests
  backend/src/backend/_internal/atproto/records/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/copyright.py
  backend/src/backend/api/copyright.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/tests/api/test_copyright_followups.py
  frontend/src/lib/components/CopyrightSection.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(copyright): raise on PDS rebuild failure; sync move + post-move rebuild on clear
  backend/src/backend/_internal/copyright.py
  backend/tests/api/test_copyright_followups.py
  backend/tests/api/test_track_deletion.py
  loq.toml
Due: type-check

fix(copyright): drop "paradigm" jargon, uppercase IPI, add field tooltips
  frontend/src/lib/components/CopyrightRightsPanel.svelte
  frontend/src/lib/components/CopyrightSection.svelte
Due: svelte-check, eslint

fix(copyright): actually two-phase commit so phase B failure doesn't drop URIs
  backend/src/backend/_internal/copyright.py
Due: type-check

fix(copyright): validate IPI / ISWC / ISRC formats — backend pattern + inline errors
  backend/src/backend/_internal/atproto/records/ch_indiemusi/__init__.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/models.py
  backend/src/backend/_internal/copyright.py
  backend/tests/_internal/test_copyright_format_validation.py
  frontend/src/lib/components/CopyrightRightsPanel.svelte
  frontend/src/lib/components/CopyrightSection.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(auth): declare indiemusi scopes in oauth client metadata + lock the coupling
  .pre-commit-config.yaml
  backend/src/backend/_internal/CLAUDE.md
  backend/src/backend/api/CLAUDE.md
  backend/src/backend/api/meta.py
  backend/tests/api/test_oauth_client_metadata.py
Due: type-check

feat(copyright): inline "change" link next to the credited owner on the rights panel
  frontend/src/lib/components/CopyrightRightsPanel.svelte
Due: svelte-check, eslint

fix(uploads): copyright-gated uploads no longer require atprotofans setup
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_copyright_gate.py
  loq.toml
Due: type-check

fix(uploads): copyright-gated uploads no longer require atprotofans setup (#1407)
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_copyright_gate.py
  loq.toml
Due: type-check

feat(copyright): feature-flag the paradigm surface behind copyright-paradigm
  backend/src/backend/_internal/auth/session.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/copyright.py
  backend/src/backend/api/tracks/copyright.py
  backend/tests/api/test_copyright_feature_flag.py
  frontend/src/lib/components/CopyrightRightsPanel.svelte
  frontend/src/lib/components/CopyrightSection.svelte
  frontend/src/lib/config.ts
  loq.toml
Due: type-check, svelte-check, eslint

test(copyright): seed feature flag in copyright endpoint test fixtures
  backend/tests/api/test_copyright_feature_flag.py
  backend/tests/api/test_copyright_followups.py
  backend/tests/api/test_copyright_setup.py
  loq.toml
Due: type-check

feat(copyright): feature-flag the paradigm surface behind `copyright-paradigm` (#1410)
  backend/src/backend/_internal/auth/session.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/copyright.py
  backend/src/backend/api/tracks/copyright.py
  backend/tests/api/test_copyright_feature_flag.py
  backend/tests/api/test_copyright_followups.py
  backend/tests/api/test_copyright_setup.py
  frontend/src/lib/components/CopyrightRightsPanel.svelte
  frontend/src/lib/components/CopyrightSection.svelte
  frontend/src/lib/config.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat(copyright): publishingOwner record manager — list/use/edit/create/delete
  backend/src/backend/_internal/atproto/records/ch_indiemusi/__init__.py
  backend/src/backend/_internal/atproto/records/ch_indiemusi/actor_publishing_owner.py
  backend/src/backend/_internal/copyright.py
  backend/src/backend/api/copyright.py
  backend/tests/_internal/test_copyright_owner_manager.py
  backend/tests/api/test_copyright_setup.py
  frontend/src/lib/components/CopyrightSection.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(copyright): disconnect is DB-only; use-owner tolerates unknown fields
  backend/src/backend/_internal/copyright.py
  backend/src/backend/api/copyright.py
  backend/tests/api/test_copyright_feature_flag.py
  backend/tests/api/test_copyright_followups.py
  loq.toml
Due: type-check

test(copyright): hoist deferred imports to module top
  backend/tests/api/test_copyright_followups.py
Due: type-check

docs(listeners): freshen intro, kill sovereign slop, add inline like icon
  docs/public/listeners.md
Due: none

ci(pre-commit): skip oauth-scope-universe hook when no backend changes
  .github/workflows/run-pre-commit.yml
Due: none

docs(listeners): freshen intro, kill sovereign slop, add inline like icon (#1412)
  .github/workflows/run-pre-commit.yml
  docs/public/listeners.md
Due: none

fix(storage): type R2 keys so save/read extension drift becomes unrepresentable
  backend/src/backend/_internal/audio.py
  backend/src/backend/storage/keys.py
  backend/src/backend/storage/r2.py
  backend/tests/integration/utils/audio.py
  backend/tests/integration/utils/test_audio.py
  backend/tests/test_storage_keys.py
  backend/tests/test_storage_types.py
Due: type-check

style: ruff format
  backend/src/backend/storage/keys.py
  backend/tests/integration/utils/audio.py
  backend/tests/test_storage_keys.py
  backend/tests/test_storage_types.py
Due: type-check

fix(storage): route /me/file-sizes and exports through typed-key API
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/api/tracks/listing.py
Due: type-check

test(exports): mock null original_file_* so AudioKey validation passes
  backend/tests/test_background_tasks.py
Due: type-check

fix(auth): AppView XRPC fallback when bsky edge 403s .well-known/atproto-did
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/_internal/auth/oauth.py
  backend/tests/_internal/test_handles_resolution_fallback.py
  loq.toml
Due: type-check

style: apply ruff format to handles.py + test file
  backend/src/backend/_internal/atproto/handles.py
  backend/tests/_internal/test_handles_resolution_fallback.py
Due: type-check

fix(auth): AppView XRPC fallback when bsky edge 403s handle resolution (#1414)
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/_internal/auth/oauth.py
  backend/tests/_internal/test_handles_resolution_fallback.py
  loq.toml
Due: type-check

Revert "fix(auth): AppView XRPC fallback when bsky edge 403s handle resolution (#1414)"
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/_internal/auth/oauth.py
  backend/tests/_internal/test_handles_resolution_fallback.py
  loq.toml
Due: type-check

Revert "fix(auth): AppView XRPC fallback when bsky edge 403s handle resolution (#1414)" (#1415)
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/_internal/auth/oauth.py
  backend/tests/_internal/test_handles_resolution_fallback.py
  loq.toml
Due: type-check

feat(auth): identify ourselves to bsky's edge with a real User-Agent
  backend/fly.toml
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(auth): identify ourselves to bsky's edge with a real User-Agent (#1416)
  backend/fly.toml
  backend/pyproject.toml
  backend/uv.lock
Due: none

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
