Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fail upload when atproto sync fails
  .claude/commands/check-spans.md
  src/backend/api/tracks/uploads.py
Due: ty-check

fail upload when atproto sync fails (#297)
  .claude/commands/check-spans.md
  src/backend/api/tracks/uploads.py
Due: ty-check

fix: remove empty album placeholder gap in player
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

tweak: shrink metadata height when album missing
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

fix: maintain consistent track title position
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

fix: maintain consistent track title position (#298)
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

hotfix: remove broken isinstance checks on storage proxy
  src/backend/api/albums.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/uploads.py
  src/backend/models/album.py
  src/backend/models/track.py
Due: ty-check

hotfix: remove broken isinstance checks on storage proxy (#299)
  src/backend/api/albums.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/uploads.py
  src/backend/models/album.py
  src/backend/models/track.py
Due: ty-check

feat: add media export functionality
  frontend/src/routes/portal/+page.svelte
  src/backend/api/__init__.py
  src/backend/api/exports.py
  src/backend/main.py
Due: ty-check, frontend-build

improve: enhance export UX with progress toasts and better placement
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

feat: add SSE-based progress tracking for exports
  frontend/src/routes/portal/+page.svelte
  src/backend/_internal/exports.py
  src/backend/api/exports.py
Due: ty-check, frontend-build

feat: add media export functionality (#300)
  frontend/src/routes/portal/+page.svelte
  src/backend/_internal/exports.py
  src/backend/api/__init__.py
  src/backend/api/exports.py
  src/backend/main.py
Due: ty-check, frontend-build

fix: add friendly 404 pages with Bluesky integration
  frontend/src/routes/+error.svelte
  frontend/src/routes/u/[handle]/+error.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: ensure ATProto records sync when tracks are updated
  src/backend/api/tracks/mutations.py
Due: ty-check

docs: clarify environment-specific ATProto namespaces
  CLAUDE.md
  docs/tools/pdsx.md
Due: none

fix: show feedback when featured artist handle not found
  frontend/src/lib/components/HandleSearch.svelte
Due: frontend-build

fix: prevent form submission with unresolved featured artist input
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: add friendly 404 pages with Bluesky integration (#301)
  frontend/src/routes/+error.svelte
  frontend/src/routes/u/[handle]/+error.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: ensure ATProto records sync when tracks are updated (#302)
  CLAUDE.md
  docs/tools/pdsx.md
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/routes/portal/+page.svelte
  src/backend/api/tracks/mutations.py
Due: ty-check, frontend-build

fix: portal page reactivity issue with Svelte 5 runes
  docs/frontend/state-management.md
  docs/tools/logfire.md
  frontend/CLAUDE.md
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: portal page reactivity issue with Svelte 5 runes (#303)
  docs/frontend/state-management.md
  docs/tools/logfire.md
  frontend/CLAUDE.md
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: replace stdlib logging with logfire in exports API
  src/backend/api/exports.py
Due: ty-check

fix: replace stdlib logging with logfire in exports API (#304)
  src/backend/api/exports.py
Due: ty-check

fix: validate r2_url before using in RedirectResponse
  src/backend/api/audio.py
Due: ty-check

fix: validate r2_url before using in RedirectResponse (#305)
  src/backend/api/audio.py
Due: ty-check

fix: handle duplicate file_ids in audio endpoint
  src/backend/api/audio.py
Due: ty-check

fix: handle duplicate file_ids in audio endpoint (#306)
  src/backend/api/audio.py
Due: ty-check

Stop making Cloudflare think it needs to do python things
  .python-version
Due: none

Stop making Cloudflare think it needs to do python things (#307)
  .python-version
Due: none

fix: add SSE timeout config for export progress streaming
  fly.staging.toml
Due: none

fix: portal auth race condition and export toast visibility
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

improve export logging to include track titles
  src/backend/api/exports.py
Due: ty-check

fix: portal auth race condition and export toast visibility (#309)
  frontend/src/routes/portal/+page.svelte
  src/backend/api/exports.py
Due: ty-check, frontend-build

fix: queue listener reconnection strategy and test isolation
  src/backend/_internal/queue.py
  src/backend/config.py
  tests/conftest.py
Due: ty-check

fix: queue listener reconnection strategy and test isolation (#310)
  src/backend/_internal/queue.py
  src/backend/config.py
  tests/conftest.py
Due: ty-check

fix: self-healing logic for missing image URLs
  src/backend/api/tracks/listing.py
Due: ty-check

fix: self-healing logic for missing image URLs (#311)
  src/backend/api/tracks/listing.py
Due: ty-check

add gemini stuff to gitignore
  .gitignore
Due: none

update gitignore
  .gitignore
Due: none

update gitignore (#313)
  .gitignore
Due: none
