Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

add menu: judge outside clicks by the event path, not the target's ancestors
  frontend/src/lib/components/AddToMenu.svelte
  loq.toml
Due: svelte-check, eslint

add menu: judge outside clicks by the event path, not the target's ancestors (#1998)
  frontend/src/lib/components/AddToMenu.svelte
  loq.toml
Due: svelte-check, eslint

player: next button on the phone stage bar; add-menu sheet rises from above the player
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  loq.toml
Due: svelte-check, eslint

player: next button on the phone stage bar; add-menu sheet rises from above the player (#1999)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  loq.toml
Due: svelte-check, eslint

player: the stage layout is the player; drop the skip-buttons flag and the classic footer
  backend/src/backend/_internal/feature_flags.py
  docs/internal/backend/feature-flags.md
  docs/internal/frontend/keyboard-shortcuts.md
  docs/internal/frontend/state-management.md
  frontend/CLAUDE.md
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/components/player/VolumeControl.svelte
  frontend/src/lib/config.ts
  frontend/src/routes/+layout.svelte
Due: type-check, svelte-check, eslint

player: the volume slider stays inside its column; the heart hover is colour only
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/player/VolumeControl.svelte
Due: svelte-check, eslint

player: the stage layout is the player; drop the skip-buttons flag and the classic footer (#2000)
  backend/src/backend/_internal/feature_flags.py
  docs/internal/backend/feature-flags.md
  docs/internal/frontend/keyboard-shortcuts.md
  docs/internal/frontend/state-management.md
  frontend/CLAUDE.md
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/components/player/VolumeControl.svelte
  frontend/src/lib/config.ts
  frontend/src/routes/+layout.svelte
Due: type-check, svelte-check, eslint

layout: hide the queue fab on desktop again
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

layout: hide the queue fab on desktop again (#2001)
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

player: the queue button lives in the phone bar; the floating queue button is gone
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

player: the queue button lives in the phone bar; the floating queue button is gone (#2002)
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

player: the phone scrubber row is its own flex row
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

player: the phone scrubber row is its own flex row (#2003)
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

player: radio on phones — ∞ marker and play no longer share a column; queue ends the live row
  frontend/src/lib/components/player/PlaybackControls.svelte
Due: svelte-check, eslint

player: radio on phones — ∞ marker and play no longer share a column; queue ends the live row (#2004)
  frontend/src/lib/components/player/PlaybackControls.svelte
Due: svelte-check, eslint

status: the footer became spotify's and then the only footer (#1987–#2004)
  STATUS.md
Due: none

status: the footer became spotify's and then the only footer (#1987–#2004) (#2005)
  STATUS.md
Due: none

jetstream: rotate hosts on an unechoed own write, not on quiet; refresh DIDs for a new account's first records; dispatch profile create
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/config.py
  backend/tests/_internal/test_record_write_echo_log.py
  backend/tests/test_jetstream.py
  docs/internal/architecture/jetstream-ingest.md
  loq.toml
Due: type-check

jetstream: tolerate 30s of clock skew between the write stamp and firehose time
  backend/src/backend/_internal/jetstream.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

jetstream: rotate hosts on an unechoed own write, not on quiet; refresh DIDs for a new account's first records; dispatch profile create (#2006)
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/config.py
  backend/tests/_internal/test_record_write_echo_log.py
  backend/tests/test_jetstream.py
  docs/internal/architecture/jetstream-ingest.md
  loq.toml
Due: type-check

status: the ingest-blackout alert fired on a sign-up; quiet-window rotation removed (#2006)
  STATUS.md
Due: none

status: the ingest-blackout alert fired on a sign-up; quiet-window rotation removed (#2006) (#2007)
  STATUS.md
Due: none

status maintenance: a window report of releases, promotes and public posts feeds the run
  .github/workflows/status-maintenance.yml
  .gitignore
  docs/internal/tools/status-maintenance.md
  scripts/status_window.py
Due: type-check

status window: allow 300 merged PRs per window
  scripts/status_window.py
Due: type-check

status maintenance: a window report of releases, promotes and public posts feeds the run (#2008)
  .github/workflows/status-maintenance.yml
  .gitignore
  docs/internal/tools/status-maintenance.md
  scripts/status_window.py
Due: type-check

status maintenance: build the window report in its own step; report_only input
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  scripts/status_window.py
Due: type-check

status maintenance: build the window report in its own step; report_only input (#2010)
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  scripts/status_window.py
Due: type-check

status window: page Pages deployments 25 at a time
  scripts/status_window.py
Due: type-check

status window: page Pages deployments 25 at a time (#2011)
  scripts/status_window.py
Due: type-check

status: #2001–#2004 reached prod as frontend promotes on September 3, not the later backend release
  STATUS.md
Due: none

status: #2001–#2004 reached prod as frontend promotes on September 3, not the later backend release (#2012)
  STATUS.md
Due: none

status maintenance: pub-search research subagent; the model is named once and printed in the PR
  .github/mcp/status-maintenance.json
  .github/workflows/status-maintenance.yml
  .gitignore
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: pub-search research subagent; the model is named once and printed in the PR (#2013)
  .github/mcp/status-maintenance.json
  .github/workflows/status-maintenance.yml
  .gitignore
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: window_since input; publish run outputs to the summary and an artifact
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: window_since input; publish run outputs to the summary and an artifact (#2014)
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: keep the Claude execution file with the run outputs
  .github/workflows/status-maintenance.yml
  .gitignore
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: keep the Claude execution file with the run outputs (#2015)
  .github/workflows/status-maintenance.yml
  .gitignore
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: the pub-search research is its own step before the writer
  .github/workflows/status-maintenance.yml
  .gitignore
  docs/internal/tools/status-maintenance.md
  loq.toml
Due: none

status maintenance: the pub-search research is its own step before the writer (#2016)
  .github/workflows/status-maintenance.yml
  .gitignore
  docs/internal/tools/status-maintenance.md
  loq.toml
Due: none

status maintenance: the research keeps only writing that bears on a window change, and says nothing about the rest
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  loq.toml
Due: none
