Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

polish: improve create account UX with official signup links
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

fix: restore 'atmosphere' phrasing with atproto.com link
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

polish login page copy and UX for create account flow
  backend/src/backend/api/auth.py
  backend/src/backend/config.py
  frontend/src/routes/login/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

polish login page copy and UX for create account flow (#818)
  backend/src/backend/api/auth.py
  backend/src/backend/config.py
  frontend/src/routes/login/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: remove non-existent filesystem storage backend references
  docs/backend/streaming-uploads.md
Due: none

docs: remove non-existent filesystem storage backend references (#819)
  docs/backend/streaming-uploads.md
Due: none

feat: add robots.txt and sitemap.xml for SEO
  backend/src/backend/main.py
  frontend/src/routes/sitemap.xml/+server.ts
  frontend/static/robots.txt
Due: type-check, svelte-check, eslint

fix: move deferred imports to top of file
  backend/src/backend/main.py
Due: type-check

feat: add robots.txt and sitemap.xml for SEO (#820)
  backend/src/backend/main.py
  frontend/src/routes/sitemap.xml/+server.ts
  frontend/static/robots.txt
Due: type-check, svelte-check, eslint

rebrand from "music on ATProto" to "audio streaming app"
  AGENTS.md
  README.md
  backend/.env.example
  backend/src/backend/config.py
  frontend/src/lib/branding.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
  moderation/src/handlers.rs
Due: type-check, svelte-check, eslint, cargo-check-moderation

rebrand from "music on ATProto" to "audio streaming app" (#821)
  AGENTS.md
  README.md
  backend/.env.example
  backend/src/backend/config.py
  frontend/src/lib/branding.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
  moderation/src/handlers.rs
Due: type-check, svelte-check, eslint, cargo-check-moderation

chore: mirror to tangled on release
  scripts/release
Due: none

chore: mirror to tangled on release (#822)
  scripts/release
Due: none

feat: store audio blobs on user's PDS for data ownership
  backend/alembic/versions/2026_01_28_232100_e88dbd481272_add_pds_blob_storage_columns.py
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/src/backend/storage/r2.py
  docs/research/2026-01-29-pds-blob-storage.md
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  lexicons/track.json
  loq.toml
Due: type-check, svelte-check, eslint

refactor: move imports to module level
  backend/src/backend/api/tracks/mutations.py
Due: type-check

fix: resolve type warning in search result iteration
  backend/tests/integration/test_track_lifecycle.py
Due: type-check

feat(frontend): add PDS indicator to track detail page
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs: update STATUS.md with PDS blob storage
  STATUS.md
Due: none

feat: store audio blobs on user's PDS for data ownership (#823)
  STATUS.md
  backend/alembic/versions/2026_01_28_232100_e88dbd481272_add_pds_blob_storage_columns.py
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/src/backend/storage/r2.py
  backend/tests/integration/test_track_lifecycle.py
  docs/research/2026-01-29-pds-blob-storage.md
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
  lexicons/track.json
  loq.toml
Due: type-check, svelte-check, eslint

fix: update atproto to fix headers lost on DPoP retry
  backend/uv.lock
Due: none

fix: update atproto to fix headers lost on DPoP retry (#824)
  backend/uv.lock
Due: none

fix: fail upload on unexpected PDS errors instead of silent fallback
  backend/src/backend/api/tracks/uploads.py
Due: type-check

fix: fail upload on unexpected PDS errors instead of silent fallback (#825)
  backend/src/backend/api/tracks/uploads.py
Due: type-check

feat: add blob scope for PDS uploads
  backend/src/backend/config.py
Due: type-check

feat: add blob scope for PDS uploads (#826)
  backend/src/backend/config.py
Due: type-check

fix: add blob scope to permission sets path
  backend/src/backend/config.py
Due: type-check

fix: add blob scope to permission sets path (#827)
  backend/src/backend/config.py
Due: type-check

chore: remove pds indicator from track UI
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

chore: remove pds indicator from track UI (#828)
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

Add background PDS audio migration
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/image.py
  backend/src/backend/_internal/pds_migration_tasks.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/exports.py
  backend/src/backend/api/pds_migrations.py
  backend/src/backend/main.py
  backend/src/backend/models/job.py
  backend/tests/test_background_tasks.py
  frontend/src/lib/components/PdsMigrationControl.svelte
  frontend/src/routes/portal/+page.svelte
Due: type-check, svelte-check, eslint

refactor: rename pds migration to pds backfill
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/pds_backfill_tasks.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/pds_backfill.py
  backend/src/backend/main.py
  backend/src/backend/models/job.py
  backend/tests/test_background_tasks.py
  frontend/src/lib/components/PdsBackfillControl.svelte
  frontend/src/routes/portal/+page.svelte
Due: type-check, svelte-check, eslint

feat: add PDS audio backfill for existing tracks (#829)
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/image.py
  backend/src/backend/_internal/pds_backfill_tasks.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/exports.py
  backend/src/backend/api/pds_backfill.py
  backend/src/backend/main.py
  backend/src/backend/models/job.py
  backend/tests/test_background_tasks.py
  frontend/src/lib/components/PdsBackfillControl.svelte
  frontend/src/routes/portal/+page.svelte
Due: type-check, svelte-check, eslint

fix: remove confidence score from copyright DM notifications
  backend/src/backend/_internal/notifications.py
Due: type-check

fix: remove confidence score from copyright DM notifications (#831)
  backend/src/backend/_internal/notifications.py
Due: type-check

Clarify PDS delisting in terms
  docs/legal/terms.md
Due: none

Align terms UI with PDS storage
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/terms/+page.svelte
Due: svelte-check, eslint

Clarify PDS delisting in terms (#832)
  docs/legal/terms.md
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/terms/+page.svelte
Due: svelte-check, eslint

Feature flag PDS audio uploads
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/tracks/uploads.py
  docs/backend/feature-flags.md
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/upload/+page.svelte
Due: type-check, svelte-check, eslint

fix: address review issues in PDS upload flag
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
  frontend/src/lib/config.ts
Due: type-check, svelte-check, eslint

feat: gate PDS audio uploads behind feature flag and user setting (#833)
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/tracks/uploads.py
  docs/backend/feature-flags.md
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/upload/+page.svelte
Due: type-check, svelte-check, eslint
