Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

fix(spaces): bind credentials to DPoP
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/tests/_internal/test_permissioned_space_dpop.py
  backend/tests/_internal/test_permissioned_spaces.py
  docs/internal/architecture/permissioned-private-media.md
  scripts/permissioned_smoke.py
Due: type-check

fix(spaces): bind credentials to DPoP (#1856)
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/tests/_internal/test_permissioned_space_dpop.py
  backend/tests/_internal/test_permissioned_spaces.py
  docs/internal/architecture/permissioned-private-media.md
  scripts/permissioned_smoke.py
Due: type-check

fix(slugs): transliterate accented characters instead of deleting them
  backend/src/backend/utilities/slugs.py
  backend/tests/utilities/test_slugs.py
  frontend/src/routes/u/[handle]/album/[slug]/+page.ts
  scripts/backfill_album_slugs.py
Due: type-check, svelte-check, eslint

fix(slugs): transliterate accented characters instead of deleting them (#1858)
  backend/src/backend/utilities/slugs.py
  backend/tests/utilities/test_slugs.py
  frontend/src/routes/u/[handle]/album/[slug]/+page.ts
  scripts/backfill_album_slugs.py
Due: type-check, svelte-check, eslint

fix(mobile): media session arrows/scrubber, settings link, fold + button-size polish
  frontend/src/lib/components/DownloadButton.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(mobile): media session arrows/scrubber, settings link, fold + button-size polish (#1860)
  frontend/src/lib/components/DownloadButton.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(player): let iOS drive the lock-screen scrubber natively
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix(player): let iOS drive the lock-screen scrubber natively (#1861)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

debug: static lock-screen scrub bisect page
  frontend/static/scrub-test.html
Due: svelte-check

debug: static lock-screen scrub bisect page (#1862)
  frontend/static/scrub-test.html
Due: svelte-check

debug: serve the scrub bisect via a route; static .html is unreachable on Pages
  frontend/src/routes/scrub-test/+server.ts
Due: svelte-check, eslint

debug: serve the scrub bisect via a route; static .html is unreachable on Pages (#1863)
  frontend/src/routes/scrub-test/+server.ts
Due: svelte-check, eslint

debug: any tap starts playback on the scrub bisect page
  frontend/static/scrub-test.html
Due: svelte-check

debug: any tap starts playback on the scrub bisect page (#1864)
  frontend/static/scrub-test.html
Due: svelte-check

fix(player): restore seekto + position state — required for lock-screen scrubbing
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix(player): restore seekto + position state — required for lock-screen scrubbing (#1865)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

debug: artwork variants on the scrub bisect page
  frontend/static/scrub-test.html
Due: svelte-check

debug: artwork variants on the scrub bisect page (#1866)
  frontend/static/scrub-test.html
Due: svelte-check

chore: remove the scrub-test diagnostic page
  frontend/src/routes/scrub-test/+server.ts
  frontend/static/scrub-test.html
Due: svelte-check, eslint

chore: remove the scrub-test diagnostic page (#1867)
  frontend/src/routes/scrub-test/+server.ts
  frontend/static/scrub-test.html
Due: svelte-check, eslint

fix(player): stop resetting Now Playing position state every frame
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

fix(player): stop resetting Now Playing position state every frame (#1868)
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

revert: unwind post-#1860 media-session experiments
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

revert: unwind post-#1860 media-session experiments (#1869)
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

fix: use production Teal lexicon defaults (#1823)
  backend/src/backend/_internal/atproto/records/fm_teal/play.py
  backend/src/backend/_internal/atproto/records/fm_teal/status.py
  backend/src/backend/api/auth.py
  backend/src/backend/config.py
  backend/src/backend/models/preferences.py
  backend/tests/test_teal_scrobbling.py
  docs/public/developers/api-reference/auth.md
  docs/public/developers/auth.md
  docs/public/lexicons/overview.md
  frontend/src/routes/settings/+page.svelte
Due: type-check, svelte-check, eslint

fix(comments): first click on a comment timestamp seeks the wrong source
  AGENTS.md
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player-comment-seek.test.ts
  frontend/src/lib/player.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix(comments): first click on a comment timestamp seeks the wrong source (#1873)
  AGENTS.md
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player-comment-seek.test.ts
  frontend/src/lib/player.svelte.ts
  loq.toml
Due: svelte-check, eslint

docs: status — download policy, comments panel, DPoP credentials, slug transliteration, the iOS scrub unwind, first-click timestamp seek (#1842-#1873)
  STATUS.md
Due: none

docs: status — download policy, comments panel, DPoP credentials, slug transliteration, the iOS scrub unwind, first-click timestamp seek (#1842-#1873) (#1874)
  STATUS.md
Due: none

fix(spaces): send the spaces-alpha createSpace body; page listRepos/listRepoOps by cursor (#1876)
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/api/audio.py
  backend/tests/_internal/test_permissioned_spaces.py
  docs/internal/architecture/permissioned-private-media.md
  docs/internal/backend/audio-streaming.md
  loq.toml
  scripts/permissioned_smoke.py
Due: type-check

fix(spaces): send the spaces-alpha createSpace body; page listRepos/listRepoOps by cursor (#1876) (#1877)
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/api/audio.py
  backend/tests/_internal/test_permissioned_spaces.py
  docs/internal/architecture/permissioned-private-media.md
  docs/internal/backend/audio-streaming.md
  loq.toml
  scripts/permissioned_smoke.py
Due: type-check

chore(spaces): remove the pre-DPoP Bearer fallback
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/tests/_internal/test_permissioned_space_dpop.py
Due: type-check

test: plain AsyncMock for the credential minter
  backend/tests/_internal/test_permissioned_space_dpop.py
Due: type-check

chore(spaces): remove the pre-DPoP Bearer fallback (#1878)
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/tests/_internal/test_permissioned_space_dpop.py
Due: type-check

docs: status — spaces-alpha createSpace drift, cursor paging, pre-DPoP bridge removal (#1876–#1878)
  STATUS.md
Due: none

docs: status — spaces-alpha createSpace drift, cursor paging, pre-DPoP bridge removal (#1876–#1878) (#1879)
  STATUS.md
Due: none

feat(spaces): read private-media capability from the token's expanded scope (#1880)
  backend/alembic/versions/2026_08_21_000000_d5f3c9a62eb2_add_spaces_unsupported_pds_to_artists.py
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/auth/space_scope.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/artist.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/_internal/test_space_scope.py
  backend/tests/api/test_private_media_upload.py
  backend/tests/api/test_scope_upgrade.py
  docs/internal/architecture/permissioned-private-media.md
  frontend/src/lib/types.ts
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(spaces): handle a PAR-time invalid_scope refusal, not just the callback
  backend/src/backend/api/auth.py
  backend/tests/api/test_scope_upgrade.py
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

chore(spaces): trim paragraph comments, drop a pass-through re-export
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_permissioned_spaces.py
  frontend/src/routes/+page.svelte
Due: type-check, svelte-check, eslint

feat(spaces): read private-media capability from the token's expanded scope (#1881)
  backend/alembic/versions/2026_08_21_000000_d5f3c9a62eb2_add_spaces_unsupported_pds_to_artists.py
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/auth/space_scope.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/artist.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/_internal/test_space_scope.py
  backend/tests/api/test_private_media_upload.py
  backend/tests/api/test_scope_upgrade.py
  docs/internal/architecture/permissioned-private-media.md
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
