Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

refactor(accounts): hoist imports, drop a vestigial parameter
  backend/src/backend/_internal/atproto/account_status.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  scripts/backfill_account_status.py
Due: type-check

chore(accounts): record the reason during reconciliation too
  scripts/backfill_account_status.py
Due: type-check

chore(accounts): self-review cleanup on the account-status work (#1729)
  backend/src/backend/_internal/atproto/account_status.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  scripts/backfill_account_status.py
Due: type-check

fix(radio): an artist can't air twice in a row
  backend/src/backend/api/radio/sampler.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

fix(radio): an artist can't air twice in a row (#1730)
  backend/src/backend/api/radio/sampler.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

docs: status update — account status, jetstream avatars, radio artist spacing
  STATUS.md
Due: none

docs: status update — account status, jetstream avatars, radio artist spacing (#1731)
  STATUS.md
Due: none

fix(uploads): staged cleanup must never delete a published track's audio
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_track_deletion.py
  backend/tests/api/test_upload_storage_cleanup.py
  backend/tests/storage/test_discard_staged.py
  loq.toml
Due: type-check

fix(uploads): staged cleanup must never delete a published track's audio (#1733)
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_track_deletion.py
  backend/tests/api/test_upload_storage_cleanup.py
  backend/tests/storage/test_discard_staged.py
  loq.toml
Due: type-check

fix(audio): fall back to the artist's PDS when R2 has no object
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
  loq.toml
  scripts/restore_r2_from_pds.py
Due: type-check

fix(audio): fall back to the artist's PDS when R2 has no object (#1734)
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
  loq.toml
  scripts/restore_r2_from_pds.py
Due: type-check

fix(storage): refcount every media column, not just audio
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_upload_storage_cleanup.py
  backend/tests/storage/test_discard_staged.py
  docs/internal/retrospectives/2026-07-30-staged-cleanup-deleted-published-audio.md
  loq.toml
  scripts/audit_media_integrity.py
Due: type-check

fix(storage): refcount every media column, not just audio (#1735)
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_upload_storage_cleanup.py
  backend/tests/storage/test_discard_staged.py
  docs/internal/retrospectives/2026-07-30-staged-cleanup-deleted-published-audio.md
  loq.toml
  scripts/audit_media_integrity.py
Due: type-check

docs: correct the incident retrospective's attribution and recovery count
  docs/internal/retrospectives/2026-07-30-staged-cleanup-deleted-published-audio.md
Due: none

docs: correct the incident retrospective's attribution and recovery count (#1737)
  docs/internal/retrospectives/2026-07-30-staged-cleanup-deleted-published-audio.md
Due: none

fix(ingest): a re-delivered commit must not overwrite newer state
  backend/alembic/versions/2026_07_30_031018_4aaed6c819f1_add_atproto_record_rev_to_tracks.py
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/_internal/track_revisions.py
  backend/src/backend/models/track.py
  backend/tests/api/track_audio_replace/test_revisions.py
  backend/tests/test_jetstream.py
  backend/tests/test_origin_trust.py
  loq.toml
Due: type-check

docs: the firehose does not promise order (#1736)
  .status_history/2026-07.md
  STATUS.md
  docs/internal/architecture/jetstream-ingest.md
Due: none

fix(ingest): a re-delivered commit must not overwrite newer state (#1738)
  .status_history/2026-07.md
  STATUS.md
  backend/alembic/versions/2026_07_30_031018_4aaed6c819f1_add_atproto_record_rev_to_tracks.py
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/_internal/track_revisions.py
  backend/src/backend/models/track.py
  backend/tests/api/track_audio_replace/test_revisions.py
  backend/tests/test_jetstream.py
  backend/tests/test_origin_trust.py
  docs/internal/architecture/jetstream-ingest.md
  loq.toml
Due: type-check

fix(jetstream): consume from jetstream1 — jetstream2 had a partial view
  backend/src/backend/config.py
  loq.toml
Due: type-check

fix(jetstream): consume from jetstream1 — jetstream2 had a partial view (#1739)
  backend/src/backend/config.py
  loq.toml
Due: type-check

fix(jetstream): rotate hosts, and detect a host that goes blind on our own collections
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/config.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix(jetstream): rotate hosts, and detect a host that goes blind on our own collections (#1740)
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/config.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

feat(radio): a live broadcast can preempt a station, starting with firehose
  backend/src/backend/api/radio/live.py
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/lib/player-live-radio.test.ts
  frontend/src/lib/player.svelte.ts
  frontend/src/lib/radio.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat(radio): a live broadcast can preempt a station, starting with firehose (#1741)
  backend/src/backend/api/radio/live.py
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/lib/player-live-radio.test.ts
  frontend/src/lib/player.svelte.ts
  frontend/src/lib/radio.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix(radio): a live station with an empty rotation is still on the air
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/radio-live-empty-rotation.test.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): a live station with an empty rotation is still on the air (#1742)
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/radio-live-empty-rotation.test.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(radio): a broadcast carries its own cover
  backend/src/backend/api/radio/live.py
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/tests/api/test_radio.py
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(radio): a cover fits at its own aspect ratio, never cropped
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(radio): a broadcast carries its own cover (#1743)
  backend/src/backend/api/radio/live.py
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/tests/api/test_radio.py
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(radio): an empty station must never be a dead end
  frontend/src/lib/radio-live-empty-rotation.test.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): an empty station must never be a dead end (#1744)
  frontend/src/lib/radio-live-empty-rotation.test.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): close the dead band under the cover, and don't trust one liveness bit
  backend/src/backend/api/radio/live.py
  backend/tests/api/test_radio.py
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(radio): close the dead band under the cover, and don't trust one liveness bit (#1745)
  backend/src/backend/api/radio/live.py
  backend/tests/api/test_radio.py
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(radio): a station can credit where its audio comes from
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(radio): a station can credit where its audio comes from (#1746)
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: status update — live radio, and a firehose that promised neither order nor delivery
  .status_history/2026-07.md
  STATUS.md
  loq.toml
Due: none

docs: status update — live radio, and a firehose that promised neither order nor delivery (#1747)
  .status_history/2026-07.md
  STATUS.md
  loq.toml
Due: none

fix(radio): don't take Chrome's word for native HLS
  frontend/src/lib/player-live-radio.test.ts
  frontend/src/lib/player.svelte.ts
Due: svelte-check, eslint

fix(radio): don't take Chrome's word for native HLS (#1749)
  frontend/src/lib/player-live-radio.test.ts
  frontend/src/lib/player.svelte.ts
Due: svelte-check, eslint
