Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix(radio): don't spend the tap's autoplay permission on a module fetch
  frontend/src/lib/player-live-radio.test.ts
  frontend/src/lib/player.svelte.ts
  frontend/src/lib/radio.svelte.ts
Due: svelte-check, eslint

fix(radio): don't spend the tap's autoplay permission on a module fetch (#1750)
  frontend/src/lib/player-live-radio.test.ts
  frontend/src/lib/player.svelte.ts
  frontend/src/lib/radio.svelte.ts
Due: svelte-check, eslint

docs: status update — the live station was on air and silent
  STATUS.md
Due: none

docs: status update — the live station was on air and silent (#1751)
  STATUS.md
Due: none

feat(radio): artwork-accent wash + CRT treatment on the on-air stage
  frontend/src/lib/components/radio/AccentWash.svelte
  frontend/src/lib/utils/artwork-accent.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(radio): artwork-accent wash + CRT treatment on the on-air stage (#1753)
  frontend/src/lib/components/radio/AccentWash.svelte
  frontend/src/lib/utils/artwork-accent.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): stop pinning the rotation deck to the viewport bottom; two-row title
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): stop pinning the rotation deck to the viewport bottom; two-row title (#1754)
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): don't let a short viewport squeeze the station under the deck
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): don't let a short viewport squeeze the station under the deck (#1755)
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): remove CRT overlays from cover art; fit the page without scroll
  frontend/src/routes/radio/[[station]]/+page.svelte
Due: svelte-check, eslint

fix(radio): remove CRT overlays from cover art; fit the page without scroll (#1756)
  frontend/src/routes/radio/[[station]]/+page.svelte
Due: svelte-check, eslint

fix(radio): stop radio toggling from eating the queue
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player-radio.test.ts
  frontend/src/lib/player.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix(radio): stop radio toggling from eating the queue (#1757)
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player-radio.test.ts
  frontend/src/lib/player.svelte.ts
  loq.toml
Due: svelte-check, eslint

docs: research — player architecture, why source-conflict bugs manifest
  docs/research/2026-08-03-player-architecture.md
Due: none

docs: research — player architecture, why source-conflict bugs manifest (#1758)
  docs/research/2026-08-03-player-architecture.md
Due: none

fix(player): don't strand jam participants paused when radio releases
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

fix(player): don't strand jam participants paused when radio releases (#1759)
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): never switch tracks mid-song — pin rotations, hand over on track boundaries
  backend/src/backend/api/radio/cache.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/config.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

feat(scripts): chart cumulative users from network profile records
  scripts/users_over_time.py
Due: type-check

feat(scripts): chart cumulative users from network profile records (#1761)
  scripts/users_over_time.py
Due: type-check

fix(radio): never switch tracks mid-song — pin rotations, hand over on track boundaries (#1760)
  backend/src/backend/api/radio/cache.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/config.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

fix(radio): a superseded load's play() rejection must not pause its successor
  frontend/src/lib/player-radio.test.ts
  frontend/src/lib/player.svelte.ts
Due: svelte-check, eslint

fix(radio): a superseded load's play() rejection must not pause its successor (#1762)
  frontend/src/lib/player-radio.test.ts
  frontend/src/lib/player.svelte.ts
Due: svelte-check, eslint

feat(home): pin the active tag selection; scroll the rest
  frontend/src/lib/components/TagFilter.svelte
Due: svelte-check, eslint

docs: status update — a radio day
  STATUS.md
Due: none

feat(home): pin the active tag selection; scroll the rest (#1763)
  frontend/src/lib/components/TagFilter.svelte
Due: svelte-check, eslint

docs: status update — a radio day (#1764)
  STATUS.md
Due: none

docs: status — the handover, observed
  STATUS.md
Due: none

docs: status — the handover, observed (#1765)
  STATUS.md
Due: none

feat: /atlas — a 2D semantic map of the catalog
  .github/workflows/build-atlas.yml
  .gitignore
  backend/src/backend/api/stats.py
  backend/src/backend/config.py
  frontend/eslint.config.js
  frontend/src/routes/atlas/+page.svelte
  frontend/src/routes/atlas/renderer.ts
  loq.toml
  scripts/build_atlas.py
Due: type-check, svelte-check, eslint

feat: /atlas — a 2D semantic map of the catalog (#1766)
  .github/workflows/build-atlas.yml
  .gitignore
  backend/src/backend/api/stats.py
  backend/src/backend/config.py
  frontend/eslint.config.js
  frontend/src/routes/atlas/+page.svelte
  frontend/src/routes/atlas/renderer.ts
  loq.toml
  scripts/build_atlas.py
Due: type-check, svelte-check, eslint

fix(atlas): strip the sqlalchemy driver suffix from the CI database URL
  loq.toml
  scripts/build_atlas.py
Due: type-check

fix(atlas): strip the sqlalchemy driver suffix from the CI database URL (#1767)
  loq.toml
  scripts/build_atlas.py
Due: type-check

feat(atlas): bigger nodes; artists visible at every zoom
  frontend/src/routes/atlas/renderer.ts
  loq.toml
Due: svelte-check, eslint

feat(atlas): bigger nodes; artists visible at every zoom (#1768)
  frontend/src/routes/atlas/renderer.ts
  loq.toml
Due: svelte-check, eslint

docs: codify that public audio is analyzed and derived data is published
  .pre-commit-config.yaml
  backend/src/backend/config.py
  docs/public/artists.md
  docs/public/glossary.md
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: type-check, svelte-check, eslint

chore: run check_legal_dates via uv like everything else
  .pre-commit-config.yaml
Due: none

docs: codify that public audio is analyzed and derived data is published (#1769)
  .pre-commit-config.yaml
  backend/src/backend/config.py
  docs/public/artists.md
  docs/public/glossary.md
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: type-check, svelte-check, eslint

fix: survive sandboxed iframes — safe storage access + Origin: null CORS
  backend/src/backend/config.py
  backend/tests/test_cors_origins.py
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/for-you.svelte.ts
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/moderation.svelte.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/lib/tracks.svelte.ts
  frontend/src/lib/utils/safe-storage.test.ts
  frontend/src/lib/utils/safe-storage.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: type-check, svelte-check, eslint
