Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

fix: stop DMing users about copyright flags (#941)
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/notifications.py
Due: type-check

fix: restore admin-only DM on copyright flags
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/notifications.py
Due: type-check

fix: restore admin-only DM on copyright flags (#942)
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/notifications.py
Due: type-check

fix: show Bluesky avatars for supporters not in plyr.fm database
  frontend/src/lib/atprotofans.ts
Due: svelte-check, eslint

fix: show Bluesky avatars for supporters not in plyr.fm database (#943)
  frontend/src/lib/atprotofans.ts
Due: svelte-check, eslint

docs: update STATUS.md with supporter avatar fallback fix
  STATUS.md
Due: none

docs: update STATUS.md with supporter avatar fallback fix (#944)
  STATUS.md
Due: none

feat: add tag autocomplete to hidden tags filter
  frontend/src/lib/components/HiddenTagsFilter.svelte
Due: svelte-check, eslint

feat: add tag autocomplete to hidden tags filter (#945)
  frontend/src/lib/components/HiddenTagsFilter.svelte
Due: svelte-check, eslint

docs: update STATUS.md with hidden tag filter autocomplete (#945)
  STATUS.md
Due: none

docs: update STATUS.md with hidden tag filter autocomplete (#945) (#946)
  STATUS.md
Due: none

feat: persist playback position across page reloads and sessions
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: svelte-check, eslint

feat: persist playback position across page reloads and sessions (#948)
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: svelte-check, eslint

feat: add jams — shared listening rooms via queue bridge pattern
  .claude/commands/enable-flag.md
  STATUS.md
  backend/alembic/env.py
  backend/alembic/versions/2026_02_19_001258_f4ff6ce7d78b_add_jams_tables.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/jams.py
  backend/src/backend/main.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/jam.py
  backend/tests/api/test_jams.py
  docs/architecture/jams-queue-integration.md
  docs/architecture/jams-transport-decision.md
  docs/architecture/jams.md
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/jam/[code]/+page.svelte
  frontend/src/routes/jam/[code]/+page.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix: jam join uses goto() instead of full reload, reconnect on startup
  docs/architecture/jams.md
  frontend/src/routes/+layout.svelte
  frontend/src/routes/jam/[code]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: address 5 review items for jams feature
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  docs/architecture/jams.md
  frontend/src/lib/jam.svelte.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: close remaining jam bridge bypasses and stale WS connections
  backend/src/backend/_internal/jams.py
  frontend/src/lib/components/player/Player.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: block unbridged queue mutations during jams, add DID socket test
  backend/tests/api/test_jams.py
  docs/architecture/jams.md
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix: handle terminal WS close codes, implement participant event handler
  frontend/src/lib/jam.svelte.ts
Due: svelte-check, eslint

fix: report flag margin position, queue stuck open during jam
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

fix: gate fetchActive behind jams flag to skip wasted 403 for non-flagged users
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

feat: jams — shared listening rooms (#949)
  .claude/commands/enable-flag.md
  STATUS.md
  backend/alembic/env.py
  backend/alembic/versions/2026_02_19_001258_f4ff6ce7d78b_add_jams_tables.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/jams.py
  backend/src/backend/main.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/jam.py
  backend/tests/api/test_jams.py
  docs/architecture/jams-queue-integration.md
  docs/architecture/jams-transport-decision.md
  docs/architecture/jams.md
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/jam/[code]/+page.svelte
  frontend/src/routes/jam/[code]/+page.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: surface backend error detail on jam join failure
  frontend/src/lib/jam.svelte.ts
  frontend/src/routes/jam/[code]/+page.svelte
Due: svelte-check, eslint

fix: surface backend error detail on jam join failure (#951)
  frontend/src/lib/jam.svelte.ts
  frontend/src/routes/jam/[code]/+page.svelte
Due: svelte-check, eslint

fix: prevent personal queue fetch from overwriting jam state
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

fix: prevent personal queue fetch from overwriting jam state (#952)
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

feat: jam output device — single-speaker, everyone else controls
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  docs/architecture/jams.md
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat: jam output device — single-speaker, everyone else controls (#953)
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  docs/architecture/jams.md
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: type-check, svelte-check, eslint

docs: add device support research for future reference
  docs/research/2026-02-22-device-support.md
Due: none

feat: adopt spec-compliant scope parsing from atproto SDK
  backend/src/backend/_internal/auth/__init__.py
  backend/src/backend/_internal/auth/dependencies.py
  backend/src/backend/_internal/auth/scopes.py
  backend/src/backend/api/preferences.py
  backend/tests/_internal/test_auth_modules.py
  backend/tests/test_scope_validation.py
  backend/uv.lock
Due: type-check

fix: address self-review — imports, dead code, consistent teal scope checks
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/auth/scopes.py
  backend/src/backend/api/preferences.py
  backend/src/backend/api/tracks/playback.py
  backend/uv.lock
Due: type-check

feat: adopt spec-compliant scope parsing from atproto SDK (#955)
  backend/src/backend/_internal/auth/__init__.py
  backend/src/backend/_internal/auth/dependencies.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/auth/scopes.py
  backend/src/backend/api/preferences.py
  backend/src/backend/api/tracks/playback.py
  backend/tests/_internal/test_auth_modules.py
  backend/tests/test_scope_validation.py
  backend/uv.lock
Due: type-check

fix: handle include: scope expansion in check_scope_coverage
  backend/src/backend/_internal/auth/scopes.py
  backend/tests/test_scope_validation.py
Due: type-check

fix: handle include: scope expansion in check_scope_coverage (#957)
  backend/src/backend/_internal/auth/scopes.py
  backend/tests/test_scope_validation.py
Due: type-check

fix: use deepcopy for jam state to prevent shallow-copy clobber
  backend/src/backend/_internal/jams.py
  backend/tests/api/test_jams.py
  loq.toml
Due: type-check

fix: use deepcopy for jam state to prevent shallow-copy clobber (#959)
  backend/src/backend/_internal/jams.py
  backend/tests/api/test_jams.py
  loq.toml
Due: type-check

feat: enable reorder and clear queue during jams
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

refactor: replace per-command jam queue logic with single update_queue
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/queue.svelte.ts
Due: type-check, svelte-check, eslint

refactor: unify queue and jam — single update_queue command (#960)
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
