Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

update gitignore
  .gitignore
  STATUS.md
Due: none

jrrz
  .gitignore
Due: none

chore: stop tracking STATUS.md (#314)
  .gitignore
  STATUS.md
Due: none

feat: add security headers middleware
  src/backend/main.py
  tests/conftest.py
  tests/test_security_headers.py
Due: ty-check

feat: add security headers middleware (#315)
  src/backend/main.py
  tests/conftest.py
  tests/test_security_headers.py
Due: ty-check

fix: normalize ATProto avatar URLs to use CDN
  src/backend/_internal/atproto/__init__.py
  src/backend/_internal/atproto/profile.py
  src/backend/api/artists.py
Due: ty-check

fix(frontend): use silhouette fallback for missing/broken avatars
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

fix: normalize ATProto avatar URLs to use CDN (#317)
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  src/backend/_internal/atproto/__init__.py
  src/backend/_internal/atproto/profile.py
  src/backend/api/artists.py
Due: ty-check, frontend-build

update gitignore
  .gitignore
Due: none

feat: implement rate limiting with slowapi
  pyproject.toml
  src/backend/api/auth.py
  src/backend/api/tracks/uploads.py
  src/backend/config.py
  src/backend/main.py
  src/backend/utilities/rate_limit.py
  uv.lock
Due: ty-check

docs: add security and rate limiting documentation
  docs/backend/rate-limiting.md
  docs/backend/security.md
Due: none

docs: restructure security documentation
  docs/rate-limiting.md
  docs/security.md
Due: none

docs: clarify in-memory rate limiting limitations
  docs/rate-limiting.md
Due: none

docs: remove internal reference from rate limiting docs
  docs/rate-limiting.md
Due: none

feat: implement API rate limiting (#318)
  docs/rate-limiting.md
  docs/security.md
  pyproject.toml
  src/backend/api/auth.py
  src/backend/api/tracks/uploads.py
  src/backend/config.py
  src/backend/main.py
  src/backend/utilities/rate_limit.py
  uv.lock
Due: ty-check

chore: add staging smoke test script
  scripts/smoke_test_staging.py
Due: ty-check

chore: add staging smoke test script (#319)
  scripts/smoke_test_staging.py
Due: ty-check

chore: unify agent context into AGENTS.md
  .gitignore
  AGENTS.md
  GEMINI.md
  justfile
Due: none

chore: unify agent context into AGENTS.md (#320)
  .gitignore
  AGENTS.md
  GEMINI.md
  justfile
Due: none

fix: update deploy workflows and documentation for backend directory
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  README.md
Due: none

fix: update deploy workflows and documentation for backend directory (#323)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  README.md
Due: none

fix: docker build context and validation
  .github/workflows/build-docker.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  backend/Dockerfile
  backend/fly.staging.toml
  backend/fly.toml
Due: none

fix: docker build context and validation (#324)
  .github/workflows/build-docker.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  backend/Dockerfile
  backend/fly.staging.toml
  backend/fly.toml
Due: none

fix: docker build context and validation (#324)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  README.md
  backend/fly.staging.toml
  backend/fly.toml
  backend/justfile
Due: none

fix: docker build context and validation (#324) (#325)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  README.md
  backend/fly.staging.toml
  backend/fly.toml
  backend/justfile
Due: none

update docs
  docs/backend/database/neon.md
Due: none

for new structure
  .claude/commands/onboard.md
  .claude/commands/status-update.md
Due: none

for new structure (#326)
  .claude/commands/onboard.md
  .claude/commands/status-update.md
Due: none

fix: update oauth metadata path to /oauth-client-metadata.json
  backend/src/backend/main.py
Due: ty-check

fix: update oauth metadata path to /oauth-client-metadata.json (#327)
  backend/src/backend/main.py
Due: ty-check

docs: update oauth client metadata path references
  backend/fly.toml
  docs/backend/atproto-identity.md
  docs/backend/configuration.md
  docs/deployment/environments.md
  docs/local-development/setup.md
Due: none

docs: update oauth client metadata path references (#328)
  backend/fly.toml
  docs/backend/atproto-identity.md
  docs/backend/configuration.md
  docs/deployment/environments.md
  docs/local-development/setup.md
Due: none

chore: move release command and scripts back to root
  backend/justfile
  justfile
  scripts/backfill_atproto_records.py
  scripts/backfill_image_urls.py
  scripts/copy_r2_buckets.py
  scripts/delete_track.py
  scripts/generate_audio_sample.py
  scripts/migrate_atproto_namespace.py
  scripts/migrate_images_to_new_buckets.py
  scripts/migrate_r2_bucket.py
  scripts/release
  scripts/run_migration.py
  scripts/simulate_broken_tracks.py
  scripts/smoke_test_staging.py
  scripts/test-transcoder.sh
Due: ty-check

chore: move release command and scripts back to root (#329)
  backend/justfile
  justfile
  scripts/backfill_atproto_records.py
  scripts/backfill_image_urls.py
  scripts/copy_r2_buckets.py
  scripts/delete_track.py
  scripts/generate_audio_sample.py
  scripts/migrate_atproto_namespace.py
  scripts/migrate_images_to_new_buckets.py
  scripts/migrate_r2_bucket.py
  scripts/release
  scripts/run_migration.py
  scripts/simulate_broken_tracks.py
  scripts/smoke_test_staging.py
  scripts/test-transcoder.sh
Due: ty-check

small docs updates
  README.md
  justfile
Due: none

feat(frontend): add /embed/track/[id] route for external players
  frontend/src/routes/embed/track/[id]/+page.server.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

feat(frontend): add /embed/track/[id] route for external players (#330)
  frontend/src/routes/embed/track/[id]/+page.server.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

update agents.md
  AGENTS.md
Due: none

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
