Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

fix: restore mobile bottom padding to 1.25rem (#267)
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: restore per-page padding, fix album track clearance
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: restore per-page padding, fix album track clearance (#268)
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

feat: add debug-level instrumentation to PDS resolution
  src/backend/api/tracks.py
Due: ty-check

feat: add debug-level instrumentation to PDS resolution (#269)
  src/backend/api/tracks.py
Due: ty-check

fix: add timeout and heartbeat to queue NOTIFY to prevent 15min hangs
  src/backend/_internal/queue.py
  tests/test_queue.py
  tests/test_token_refresh.py
Due: ty-check

fix: remove error swallowing around conn.close()
  src/backend/_internal/queue.py
Due: ty-check

fix: make heartbeat intervals configurable for faster tests
  src/backend/_internal/queue.py
  tests/test_queue.py
Due: ty-check

fix: add timeout and heartbeat to queue NOTIFY to prevent 15min hangs (#270)
  src/backend/_internal/queue.py
  tests/test_queue.py
  tests/test_token_refresh.py
Due: ty-check

feat: add logfire instrumentation to R2 get_url operations
  src/backend/storage/r2.py
Due: ty-check

fix: remove broad exception swallowing in R2 get_url
  src/backend/storage/r2.py
Due: ty-check

feat: add logfire instrumentation to R2 get_url operations (#271)
  src/backend/storage/r2.py
Due: ty-check

feat: add logfire instrumentation to track and album serialization
  src/backend/schemas.py
Due: ty-check

feat: add logfire instrumentation to track and album serialization (#272)
  src/backend/schemas.py
Due: ty-check

fix: catch ClientError 404s in R2 get_url to prevent serialization failures
  src/backend/storage/r2.py
Due: ty-check

fix: catch ClientError 404s in R2 get_url to prevent serialization failures (#273)
  src/backend/storage/r2.py
Due: ty-check

optimize R2 image lookups with file_type parameter
  scripts/backfill_image_urls.py
  src/backend/models/album.py
  src/backend/models/track.py
  src/backend/storage/r2.py
Due: ty-check

optimize R2 image lookups with file_type parameter (#274)
  scripts/backfill_image_urls.py
  src/backend/models/album.py
  src/backend/models/track.py
  src/backend/storage/r2.py
Due: ty-check

Refactor tracks API into package
  src/backend/api/albums.py
  src/backend/api/tracks.py
  src/backend/api/tracks/__init__.py
  src/backend/api/tracks/constants.py
  src/backend/api/tracks/likes.py
  src/backend/api/tracks/listing.py
  src/backend/api/tracks/mutations.py
  src/backend/api/tracks/playback.py
  src/backend/api/tracks/router.py
  src/backend/api/tracks/services.py
  src/backend/api/tracks/uploads.py
  tests/api/test_track_deletion.py
  tests/api/test_track_likes.py
Due: ty-check

Refine track metadata update helpers
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/mutations.py
Due: ty-check

Drop future annotations imports in track modules
  src/backend/api/tracks/likes.py
  src/backend/api/tracks/listing.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/mutations.py
  src/backend/api/tracks/playback.py
  src/backend/api/tracks/services.py
  src/backend/api/tracks/uploads.py
Due: ty-check

Pin local Python version to 3.12
  .python-version
Due: none

Expand track API docstrings per review
  src/backend/api/tracks/likes.py
  src/backend/api/tracks/listing.py
  src/backend/api/tracks/mutations.py
  src/backend/api/tracks/playback.py
  src/backend/api/tracks/uploads.py
Due: ty-check

Refactor tracks API into package (#275)
  .python-version
  src/backend/api/albums.py
  src/backend/api/tracks.py
  src/backend/api/tracks/__init__.py
  src/backend/api/tracks/constants.py
  src/backend/api/tracks/likes.py
  src/backend/api/tracks/listing.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/mutations.py
  src/backend/api/tracks/playback.py
  src/backend/api/tracks/router.py
  src/backend/api/tracks/services.py
  src/backend/api/tracks/uploads.py
  tests/api/test_track_deletion.py
  tests/api/test_track_likes.py
Due: ty-check

remove periodic notification polling in favor of event-driven notifications
  src/backend/_internal/notifications.py
  src/backend/main.py
Due: ty-check

remove periodic notification polling in favor of event-driven notifications (#277)
  src/backend/_internal/notifications.py
  src/backend/main.py
Due: ty-check

remove logfire spans from track and album serialization
  src/backend/schemas.py
Due: ty-check

remove logfire spans from track and album serialization (#278)
  src/backend/schemas.py
Due: ty-check

fix type safety issues across backend modules
  src/backend/_internal/atproto/handles.py
  src/backend/_internal/queue.py
  src/backend/api/tracks/listing.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/mutations.py
Due: ty-check

remove unused __main__ block from test file
  tests/storage/test_r2_upload.py
Due: ty-check

fix type safety issues across backend modules (#279)
  src/backend/_internal/atproto/handles.py
  src/backend/_internal/queue.py
  src/backend/api/tracks/listing.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/mutations.py
  tests/storage/test_r2_upload.py
Due: ty-check

hotfix: add configurable timeout to queue listener database connection
  src/backend/_internal/queue.py
  src/backend/config.py
Due: ty-check

hotfix: add configurable timeout to queue listener database connection (#280)
  src/backend/_internal/queue.py
  src/backend/config.py
Due: ty-check

add configurable database connection pool settings
  docs/backend/database/connection-pooling.md
  src/backend/config.py
  src/backend/utilities/database.py
Due: ty-check

add database performance dashboard for logfire
  docs/tools/logfire-database-dashboard.sql
  docs/tools/logfire.md
Due: none

fix database dashboard to extract tables from actual SQL queries
  docs/tools/logfire-database-dashboard.sql
Due: none

fix query timeline to use per-minute buckets instead of hourly
  docs/tools/logfire-database-dashboard.sql
Due: none

Add configurable database connection pool settings (#281)
  docs/backend/database/connection-pooling.md
  docs/tools/logfire-database-dashboard.sql
  docs/tools/logfire.md
  src/backend/config.py
  src/backend/utilities/database.py
Due: ty-check

add streaming upload progress tracking for R2 uploads
  src/backend/_internal/uploads.py
  src/backend/api/tracks/uploads.py
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
Due: ty-check

improve upload progress messaging to avoid confusion
  frontend/src/lib/uploader.svelte.ts
  src/backend/api/tracks/uploads.py
Due: ty-check, frontend-build

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
