Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

refactor: remove unnecessary is_active tracking
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
Due: ty-check

refactor: remove is_active from API response and types
  backend/src/backend/api/auth.py
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/lib/types.ts
Due: ty-check, frontend-build

feat: accounts submenu with avatars and logout-all fix
  backend/src/backend/api/auth.py
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: ty-check, frontend-build

fix: improve multi-account UX
  backend/src/backend/api/auth.py
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

fix: prevent unbounded memory growth in token refresh locks
  backend/src/backend/_internal/atproto/client.py
Due: ty-check

fix: use shared httpx client for connection pooling
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/_internal/atproto/profile.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/api/stats.py
  backend/src/backend/main.py
  backend/src/backend/utilities/http.py
Due: ty-check

fix: cache sessionmaker per engine to avoid recreation overhead
  backend/src/backend/utilities/database.py
Due: ty-check

fix: use LRUCache instead of TTLCache for _refresh_locks
  backend/src/backend/_internal/atproto/client.py
  backend/tests/test_token_refresh.py
Due: ty-check

style: use 10_000 format and clean up test imports
  backend/src/backend/_internal/atproto/client.py
  backend/tests/test_token_refresh.py
Due: ty-check

docs: add multi-account experience design spec
  docs/research/2026-01-03-multi-account-experience.md
Due: none

fix: deactivate other sessions when adding new account
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
Due: ty-check

fix: add-account flow now prompts for new handle
  backend/src/backend/api/auth.py
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: ty-check, frontend-build

docs: add bluesky implementation study to multi-account spec
  docs/research/2026-01-03-multi-account-experience.md
Due: none

fix: filter other accounts by DID, not is_active flag
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: frontend-build

docs: expand bluesky implementation study with detailed patterns
  docs/research/2026-01-03-multi-account-experience.md
Due: none

chore: update atproto SDK with prompt parameter support
  backend/uv.lock
Due: none

fix: stop propagation on add account click
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: frontend-build

feat: implement multi-account experience
  backend/alembic/versions/2026_01_03_183351_3e972db238c6_add_session_groups_for_multi_account.py
  backend/alembic/versions/2026_01_03_184157_5d2522e9f7e9_add_pending_add_accounts_table.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/pending_add_account.py
  backend/src/backend/models/session.py
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/lib/types.ts
Due: ty-check, frontend-build

feat: convert logout prompt to centered modal
  frontend/src/lib/components/LogoutModal.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/lib/logout.svelte.ts
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: prevent logout button click from closing menu before prompt shows
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: frontend-build

test: add multi-account session management tests
  backend/tests/test_auth.py
Due: ty-check

refactor: remove is_active and avatar_url from session model
  backend/alembic/versions/2026_01_03_183351_3e972db238c6_add_session_groups_for_multi_account.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/models/session.py
Due: ty-check

migrate: drop is_active and avatar_url from user_sessions
  backend/alembic/versions/2026_01_05_010511_732d7de222b0_drop_is_active_and_avatar_url_from_user_.py
Due: ty-check

fix: make column drop migration idempotent
  backend/alembic/versions/2026_01_05_010511_732d7de222b0_drop_is_active_and_avatar_url_from_user_.py
Due: ty-check

feat: multi-account experience (#707)
  backend/alembic/versions/2026_01_03_183351_3e972db238c6_add_session_groups_for_multi_account.py
  backend/alembic/versions/2026_01_03_184157_5d2522e9f7e9_add_pending_add_accounts_table.py
  backend/alembic/versions/2026_01_05_010511_732d7de222b0_drop_is_active_and_avatar_url_from_user_.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/pending_add_account.py
  backend/src/backend/models/session.py
  backend/tests/test_auth.py
  backend/uv.lock
  docs/research/2026-01-03-multi-account-experience.md
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LogoutModal.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/lib/logout.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

fix: reload page after switching accounts
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: frontend-build

fix: reload page after switching accounts (#713)
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: frontend-build

perf: reuse db session in multi-account endpoints
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
Due: ty-check

perf: reuse db session in multi-account endpoints (#714)
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
Due: ty-check

docs: clean up STATUS.md with accurate history
  STATUS.md
Due: none

docs: update STATUS.md with January work and fix stale sections
  STATUS.md
Due: none

docs: update STATUS.md with January work and fix stale sections (#717)
  STATUS.md
Due: none

fix: add httpx instrumentation for external HTTP call visibility
  backend/pyproject.toml
  backend/src/backend/main.py
  backend/uv.lock
Due: ty-check

fix: add targeted logfire span for PDS record fetching
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
Due: ty-check

fix: add targeted logfire span for PDS record fetching (#721)
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
Due: ty-check

fix: add back to home link on login page
  frontend/src/routes/login/+page.svelte
Due: frontend-build
