Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: move service setup to lifespan and restore upload notifications
  src/relay/main.py
Due: ty-check

refactor: replace periodic OAuth state cleanup with lazy cleanup pattern
  src/relay/main.py
  src/relay/stores/postgres.py
Due: ty-check

feat: add artist analytics dashboard
  frontend/src/lib/types.ts
  frontend/src/routes/u/[handle]/+page.svelte
  src/relay/api/artists.py
Due: ty-check, frontend-build

perf: optimize analytics loading and add smooth skeleton state
  frontend/src/routes/u/[handle]/+page.svelte
  src/relay/api/artists.py
Due: ty-check, frontend-build

fix: eliminate layout shift in analytics loading transition
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: implement dev/staging/prod environment separation
  .github/workflows/deploy-production.yml
  docs/deployment/environments.md
  fly.staging.toml
Due: none

feat: separate R2 buckets by environment
  .env.example
  fly.staging.toml
Due: none

fix: queue accessibility warnings
  frontend/src/lib/components/Queue.svelte
Due: frontend-build

docs: update deployment documentation and STATUS.md
  docs/deployment/environments.md
  docs/deployment/overview.md
Due: none

feat: isolate ATProto namespaces per environment
  docs/deployment/environments.md
Due: none

feat: add workflow_dispatch trigger to staging deploy
  .github/workflows/deploy-backend.yml
Due: none

fix: use alembic stamp instead of upgrade for staging
  fly.staging.toml
Due: none

feat: improve queue icon to show list with plus sign
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

refactor: remove atproto record button from track items
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

docs: add cloudflare pages setup guide and update environments
  docs/deployment/cloudflare-pages-setup.md
  docs/deployment/environments.md
Due: none

feat: improve queue icon (#75)
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

docs: add cloudflare pages setup guide and update environments (#73)
  docs/deployment/cloudflare-pages-setup.md
  docs/deployment/environments.md
Due: none

docs: fix deployment documentation - remove incorrect cloudflare branch setup
  docs/deployment/cloudflare-pages-setup.md
  docs/deployment/environments.md
Due: none

fix: use alembic upgrade head everywhere for consistency
  fly.staging.toml
Due: none

docs: remove all stamp head references from environments.md
  docs/deployment/environments.md
Due: none

fix: correct deployment docs and use upgrade head everywhere (#78)
  docs/deployment/cloudflare-pages-setup.md
  docs/deployment/environments.md
  fly.staging.toml
Due: none

docs: add custom domain (plyr.fm) to deployment documentation
  docs/deployment/environments.md
Due: none

docs: show exact production CORS regex (without localhost)
  docs/deployment/environments.md
Due: none

fix: add custom domain CORS support for plyr.fm (#79)
  docs/deployment/environments.md
Due: none

chore: add release script with nebula timestamp versioning
  justfile
  scripts/migrate.sh
  scripts/migrate_artists.py
  scripts/release.py
Due: ty-check

chore: add release script with nebula timestamp versioning (#80)
  justfile
  scripts/migrate.sh
  scripts/migrate_artists.py
  scripts/release.py
Due: ty-check

fix: simplify release script to use gh auto-generated notes
  justfile
  scripts/release
  scripts/release.py
Due: ty-check

redact
  docs/deployment/database-migrations.md
  scripts/release
  src/backend/utilities/database.py
Due: ty-check

fix: simplify release script (#81)
  docs/deployment/database-migrations.md
  justfile
  scripts/release
  scripts/release.py
  src/backend/utilities/database.py
Due: ty-check

fix(deploy): explicitly specify app name in production deployment
  .github/workflows/deploy-production.yml
Due: none

fix(deploy): explicitly specify app name in production deployment (#82)
  .github/workflows/deploy-production.yml
Due: none

refactor(config): rename relay to plyr.fm
  src/backend/config.py
Due: ty-check

chore(infra): update R2 bucket references to generic names
  fly.staging.toml
  fly.toml
Due: none

chore(frontend): rename wrangler project from relay to plyr
  frontend/wrangler.toml
Due: frontend-build

docs: update project name from relay to plyr in root docs
  CLAUDE.md
Due: none

refactor: rename relay to plyr.fm (#83)
  CLAUDE.md
  fly.staging.toml
  fly.toml
  frontend/wrangler.toml
  src/backend/config.py
Due: ty-check, frontend-build

refactor: rename workflows deploy-backend→deploy-staging, deploy-production→deploy-prod
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: none

fix: remove overly permissive transition:generic from OAuth scope
  src/backend/config.py
Due: ty-check

refactor: rename deployment workflows for clarity (#84)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  src/backend/config.py
Due: ty-check
