Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: reduce ambient gradient banding with more stops and calmer animation
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

fix: reduce ambient gradient banding with more stops and calmer animation (#1299)
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

Revert "fix: reduce ambient gradient banding with more stops and calmer animation (#1299)"
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

feat: global font selector in settings and profile menu
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat: global font selector in settings and profile menu (#1300)
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: stabilize search modal height to prevent layout jolt
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix: stabilize search modal height to prevent layout jolt (#1301)
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
  loq.toml
Due: svelte-check, eslint

feat: inline liker avatar stack + shared AvatarStack primitive
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/users.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/utilities/test_aggregations.py
  frontend/src/lib/components/AvatarStack.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat: inline liker avatar stack + shared AvatarStack primitive (#1302)
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/users.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/utilities/test_aggregations.py
  frontend/src/lib/components/AvatarStack.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: likers strip expands inline, no separate panel
  frontend/src/lib/components/AvatarStack.svelte
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/components/LikersStrip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/likers-sheet.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: likers strip expands inline, no separate panel (#1303)
  frontend/src/lib/components/AvatarStack.svelte
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/components/LikersStrip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/likers-sheet.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: show "liked N ago" in liker stack avatar tooltips
  backend/src/backend/utilities/aggregations.py
  backend/tests/utilities/test_aggregations.py
  frontend/src/lib/components/AvatarStack.svelte
  frontend/src/lib/components/LikersStrip.svelte
  frontend/src/lib/types.ts
Due: type-check, svelte-check, eslint

fix: show "liked N ago" in liker stack avatar tooltips (#1304)
  backend/src/backend/utilities/aggregations.py
  backend/tests/utilities/test_aggregations.py
  frontend/src/lib/components/AvatarStack.svelte
  frontend/src/lib/components/LikersStrip.svelte
  frontend/src/lib/types.ts
Due: type-check, svelte-check, eslint

fix: stop liker strip clicks from triggering track playback
  frontend/src/lib/components/LikersStrip.svelte
Due: svelte-check, eslint

fix: stop liker strip clicks from triggering track playback (#1305)
  frontend/src/lib/components/LikersStrip.svelte
Due: svelte-check, eslint

fix: prefix liker stack with "liked by" label
  frontend/src/lib/components/LikersStrip.svelte
Due: svelte-check, eslint

fix: prefix liker stack with "liked by" label (#1306)
  frontend/src/lib/components/LikersStrip.svelte
Due: svelte-check, eslint

fix: don't eat anchor clicks in liker strip — it was nuking playback
  frontend/src/lib/components/LikersStrip.svelte
Due: svelte-check, eslint

fix: don't eat anchor clicks in liker strip — it was nuking playback (#1307)
  frontend/src/lib/components/LikersStrip.svelte
Due: svelte-check, eslint

fix: don't render dead-end "+1" / "+2" tiles in avatar stacks
  backend/src/backend/utilities/aggregations.py
  backend/tests/utilities/test_aggregations.py
  frontend/src/lib/components/AvatarStack.svelte
Due: type-check, svelte-check, eslint

fix: don't render dead-end "+1" / "+2" tiles in avatar stacks (#1308)
  backend/src/backend/utilities/aggregations.py
  backend/tests/utilities/test_aggregations.py
  frontend/src/lib/components/AvatarStack.svelte
Due: type-check, svelte-check, eslint

revert: roll back liker avatar strip redesign
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/users.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/utilities/test_aggregations.py
  frontend/src/lib/components/AvatarStack.svelte
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/components/LikersStrip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/likers-sheet.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

revert: roll back liker avatar strip redesign (#1309)
  backend/src/backend/api/albums/listing.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/lists/hydration.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/users.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/utilities/test_aggregations.py
  frontend/src/lib/components/AvatarStack.svelte
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/components/LikersStrip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/likers-sheet.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: split search into explicit keyword/mood modes
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix: split search into explicit keyword/mood modes (#1310)
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
  loq.toml
Due: svelte-check, eslint

feat(backend): replace audio on existing track via PUT /tracks/{id}/audio
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/tests/api/track_audio_replace/__init__.py
  backend/tests/api/track_audio_replace/_helpers.py
  backend/tests/api/track_audio_replace/conftest.py
  backend/tests/api/track_audio_replace/test_endpoint.py
  backend/tests/api/track_audio_replace/test_hooks.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  backend/tests/conftest.py
  backend/tests/test_moderation.py
  loq.toml
Due: type-check

fix(audio-replace): tighten rollback scope + handle gated bucket
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/track_audio_replace/_helpers.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  backend/tests/conftest.py
  loq.toml
Due: type-check

feat(backend): replace audio on existing track (#1311)
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/track_audio_replace/__init__.py
  backend/tests/api/track_audio_replace/_helpers.py
  backend/tests/api/track_audio_replace/conftest.py
  backend/tests/api/track_audio_replace/test_endpoint.py
  backend/tests/api/track_audio_replace/test_hooks.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  backend/tests/conftest.py
  backend/tests/test_moderation.py
  loq.toml
Due: type-check

feat(frontend): replace audio file from track edit form
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(frontend): replace audio file from track edit form (#1312)
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(audio-replace): show useful context in current label
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(audio-replace): show useful context in current label (#1313)
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat: audio revisions with confirm-before-replace and restore
  backend/alembic/versions/2026_04_19_123626_8bd123b1513d_add_track_revisions_table.py
  backend/src/backend/_internal/track_revisions.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/track_revision.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  backend/tests/api/track_audio_replace/test_revisions.py
  frontend/src/lib/components/AudioRevisionsSheet.svelte
  frontend/src/lib/components/ConfirmDialog.svelte
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

test: integration coverage for audio revisions + restore
  backend/tests/integration/test_audio_revisions.py
Due: type-check

feat: audio revisions with confirm-before-replace and restore (#1318)
  backend/alembic/versions/2026_04_19_123626_8bd123b1513d_add_track_revisions_table.py
  backend/src/backend/_internal/track_revisions.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/track_revision.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  backend/tests/api/track_audio_replace/test_revisions.py
  backend/tests/integration/test_audio_revisions.py
  frontend/src/lib/components/AudioRevisionsSheet.svelte
  frontend/src/lib/components/ConfirmDialog.svelte
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(restore): preserve PDS blob ref on restored track record
  backend/src/backend/api/tracks/revisions.py
  backend/tests/api/track_audio_replace/test_revisions.py
Due: type-check

fix(restore): preserve PDS blob ref on restored track record (#1319)
  backend/src/backend/api/tracks/revisions.py
  backend/tests/api/track_audio_replace/test_revisions.py
Due: type-check

fix(restore): fall back when PDS has GC'd old blob
  backend/src/backend/api/tracks/revisions.py
  backend/tests/api/track_audio_replace/test_revisions.py
  loq.toml
Due: type-check

test(integration): retry-poll the liked_tracks check in test_cross_user_like
  backend/tests/integration/test_interactions.py
Due: type-check

fix(restore): fall back gracefully when PDS has GC'd the old blob (#1320)
  backend/src/backend/api/tracks/revisions.py
  backend/tests/api/track_audio_replace/test_revisions.py
  backend/tests/integration/test_interactions.py
  loq.toml
Due: type-check
