Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

refactor: simplify profile sync to silent fire-and-forget
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/api/artists.py
Due: ty-check

chore: remove unused check_profile_record_sync_needed
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/records.py
Due: ty-check

fix: always sync profile record, not just when bio exists
  backend/src/backend/api/artists.py
Due: ty-check

feat: sync albums and liked tracks as ATProto list records on login
  backend/alembic/versions/2025_12_06_233456_89f7fd3db111_add_liked_list_uri_and_liked_list_cid_.py
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/api/artists.py
  backend/src/backend/models/preferences.py
  backend/tests/api/test_list_record_sync.py
  frontend/src/routes/liked/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

feat: add library hub page and update navigation
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/library/+page.ts
Due: frontend-build

docs: update feat/playlists branch status in STATUS.md
  STATUS.md
Due: none

update pdsx docs to focus on MCP usage
  docs/CLAUDE.md
  docs/tools/pdsx.md
Due: none

balance MCP and CLI documentation
  docs/tools/pdsx.md
Due: none

feat: add scope upgrade OAuth flow for teal.fm integration
  STATUS.md
  backend/alembic/versions/2025_12_07_004958_6c07ebda9721_add_pending_scope_upgrades_table.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/migration.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/pending_scope_upgrade.py
  backend/tests/api/test_scope_upgrade.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
Due: ty-check, frontend-build

docs: update STATUS.md with scope upgrade OAuth flow
  STATUS.md
Due: none

fix: resolve test failures from connection pool exhaustion
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_token_refresh.py
Due: ty-check

feat: add full-page overlay for developer token display
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

feat: scope upgrade OAuth flow for teal.fm integration (#503)
  STATUS.md
  backend/alembic/versions/2025_12_07_004958_6c07ebda9721_add_pending_scope_upgrades_table.py
  backend/pyproject.toml
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/migration.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/pending_scope_upgrade.py
  backend/tests/api/test_scope_upgrade.py
  backend/tests/conftest.py
  backend/tests/test_token_refresh.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
Due: ty-check, frontend-build

docs: update STATUS.md with completed scope upgrade work
  STATUS.md
Due: none

docs: remove confusing album migration note from STATUS.md
  STATUS.md
Due: none

feat: implement playlist CRUD with ATProto integration
  STATUS.md
  backend/alembic/versions/2025_12_07_121500_add_playlists_table.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/main.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/artist.py
  backend/src/backend/models/playlist.py
  backend/src/backend/schemas.py
  backend/tests/api/test_list_record_sync.py
  frontend/src/lib/types.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/library/+page.ts
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.ts
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: ty-check, frontend-build

fix: use API_URL for playlist endpoints and fix button font inheritance
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/library/+page.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.ts
Due: frontend-build

feat: add share button and link previews for playlists
  backend/src/backend/api/lists.py
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.server.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.ts
Due: ty-check, frontend-build

feat: playlist enhancements and UX improvements
  backend/alembic/versions/2025_12_07_124259_7a1bce049e3f_add_playlist_image_columns.py
  backend/alembic/versions/2025_12_07_130605_0ccb2cff4cec_add_show_on_profile_to_playlists.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/search.py
  backend/src/backend/models/playlist.py
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/search.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: ty-check, frontend-build

fix: portal album/playlist consistency
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: standardize liked tracks page buttons to match playlist/album style
  STATUS.md
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

fix: populate is_liked on playlist tracks and resolve svelte-check warnings
  backend/src/backend/api/lists.py
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: ty-check, frontend-build

fix: add toast notifications for mutations (playlist CRUD, profile updates)
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

feat: graceful degradation for unavailable tracks in playlists
  backend/src/backend/api/lists.py
  frontend/src/lib/types.ts
  frontend/src/routes/playlist/[id]/+page.svelte
Due: ty-check, frontend-build

jpeg fix and a couple other tings
  STATUS.md
  backend/src/backend/_internal/image.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/listing.py
  backend/tests/test_image_formats.py
  docs/backend/liked-tracks.md
  frontend/src/lib/types.ts
  frontend/src/routes/playlist/[id]/+page.svelte
Due: ty-check, frontend-build

perf: defer ATProto sync queries to background task
  backend/src/backend/api/artists.py
  frontend/src/routes/playlist/[id]/+page.svelte
Due: ty-check, frontend-build

refactor: move ATProto sync from /artists/me to login callback
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/auth.py
  backend/tests/api/test_list_record_sync.py
Due: ty-check

perf: move ATProto sync to login callback (#505)
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/auth.py
  backend/tests/api/test_list_record_sync.py
  frontend/src/routes/playlist/[id]/+page.svelte
Due: ty-check, frontend-build

fix: include image_url in playlist SSR data for og:image
  frontend/src/routes/playlist/[id]/+page.ts
Due: frontend-build

fix: include image_url in playlist SSR data for og:image (#507)
  frontend/src/routes/playlist/[id]/+page.ts
Due: frontend-build

fix: invalidate layout data after token exchange
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

fix: invalidate layout data after token exchange (#508)
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

fix: playlist menus and link previews
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: playlist menus and link previews (#509)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: inline playlist creation to avoid navigation-based playback interruption
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player.svelte.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/library/+page.ts
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: inline playlist creation to avoid navigation-based playback interruption (#510)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player.svelte.ts
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/library/+page.ts
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

docs: update STATUS.md with playlist release fast-follow fixes (#507-510)
  STATUS.md
Due: none

docs: update STATUS.md with playlist release fast-follow fixes (#507-510) (#511)
  STATUS.md
Due: none

fix: status maintenance workflow time window detection
  .github/workflows/status-maintenance.yml
Due: none

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
