Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: TrackCard anchor guard + likes stopPropagation + clean polyline icon (#920)
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: remove stopPropagation from TrackCard artist link
  frontend/src/lib/components/TrackCard.svelte
Due: svelte-check, eslint

fix: remove stopPropagation from TrackCard artist link (#921)
  frontend/src/lib/components/TrackCard.svelte
Due: svelte-check, eslint

fix: match angles on trending icon zigzag segments
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: remove trending icon from top tracks heading
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: remove trending icon from top tracks heading (#922)
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: homepage quality pass — track cards, scroll, tooltip
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: homepage quality pass — track cards, scroll, tooltip (#923)
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

feat: likers bottom sheet for TrackCard — replaces broken tooltip
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/likers-sheet.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

feat: likers bottom sheet for TrackCard — replaces broken tooltip (#924)
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/likers-sheet.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

fix: use hover tooltip on desktop, bottom sheet on mobile for TrackCard likers
  frontend/src/lib/components/TrackCard.svelte
Due: svelte-check, eslint

fix: use hover tooltip on desktop, bottom sheet on mobile for TrackCard likers (#925)
  frontend/src/lib/components/TrackCard.svelte
Due: svelte-check, eslint

fix: use likers bottom sheet on mobile for TrackItem and track detail page
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: use likers bottom sheet on mobile for TrackItem and track detail page (#926)
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: broken network artist avatars + rename to "artists you know"
  backend/src/backend/api/discover.py
  frontend/src/routes/+page.svelte
Due: type-check, svelte-check, eslint

fix: broken network artist avatars + rename to "artists you know" (#927)
  backend/src/backend/api/discover.py
  frontend/src/routes/+page.svelte
Due: type-check, svelte-check, eslint

docs: update STATUS.md with Feb 13-16 work
  STATUS.md
Due: none

docs: update STATUS.md with Feb 13-16 work (#928)
  STATUS.md
Due: none

feat: add Redis read-through cache to get_session()
  backend/src/backend/_internal/auth/session.py
  backend/tests/_internal/test_auth_modules.py
  backend/tests/_internal/test_session_cache.py
Due: type-check

fix: close session cache race and centralize invalidation
  backend/src/backend/_internal/auth/account_groups.py
  backend/src/backend/_internal/auth/developer_tokens.py
  backend/src/backend/_internal/auth/session.py
  backend/src/backend/api/account.py
Due: type-check

feat: Redis read-through cache for get_session() (#930)
  backend/src/backend/_internal/auth/account_groups.py
  backend/src/backend/_internal/auth/developer_tokens.py
  backend/src/backend/_internal/auth/session.py
  backend/src/backend/api/account.py
  backend/tests/_internal/test_auth_modules.py
  backend/tests/_internal/test_session_cache.py
Due: type-check

fix: check expiry on session cache hits
  backend/src/backend/_internal/auth/session.py
  backend/tests/_internal/test_session_cache.py
Due: type-check

fix: check expiry on session cache hits (#932)
  backend/src/backend/_internal/auth/session.py
  backend/tests/_internal/test_session_cache.py
Due: type-check

feat: Redis read-through cache for album detail endpoint
  backend/src/backend/api/albums.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_album_cache.py
  loq.toml
Due: type-check

feat: Redis read-through cache for album detail endpoint (#933)
  backend/src/backend/api/albums.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/_internal/test_album_cache.py
  loq.toml
Due: type-check

fix: album cache invalidation gaps from review
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/mutations.py
  loq.toml
Due: type-check

fix: album cache invalidation gaps from review (#934)
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/mutations.py
  loq.toml
Due: type-check

fix: prevent uv runtime sync in production Dockerfile
  backend/Dockerfile
Due: none

fix: prevent uv runtime sync in production Dockerfile (#935)
  backend/Dockerfile
Due: none

docs: update STATUS.md with Feb 16-17 work
  STATUS.md
Due: none

docs: update STATUS.md with Feb 16-17 work (#936)
  STATUS.md
Due: none

docs: fix stale file paths from package split, add missing index entries
  docs/README.md
  docs/backend/genre-classification.md
  docs/backend/mood-search.md
Due: none

docs: fix stale file paths from package split, add missing index entries (#937)
  docs/README.md
  docs/backend/genre-classification.md
  docs/backend/mood-search.md
Due: none

fix: remove duplicate heading on liked tracks empty state
  frontend/src/routes/liked/+page.svelte
Due: svelte-check, eslint

fix: remove duplicate heading on liked tracks empty state (#938)
  frontend/src/routes/liked/+page.svelte
Due: svelte-check, eslint

fix: remove duplicate heading on public user liked tracks empty state
  frontend/src/routes/u/[handle]/liked/+page.svelte
Due: svelte-check, eslint

fix: remove duplicate heading on public user liked tracks empty state (#939)
  frontend/src/routes/u/[handle]/liked/+page.svelte
Due: svelte-check, eslint

docs: update STATUS.md with liked empty state fix
  STATUS.md
Due: none

docs: update STATUS.md with liked empty state fix (#940)
  STATUS.md
Due: none

fix: stop DMing users about copyright flags
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/notifications.py
Due: type-check
