Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

feat(record): visibility picker with private media, and an aesthetic refresh
  frontend/eslint.config.js
  frontend/src/lib/record-stash.ts
  frontend/src/routes/record/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(record): extract the recorder, the visibility picker, and the web-playable rule
  frontend/src/lib/components/VisibilityPicker.svelte
  frontend/src/lib/recorder.svelte.ts
  frontend/src/lib/utils/web-playable.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(record): visibility picker with private media, and an aesthetic refresh (#1882)
  frontend/eslint.config.js
  frontend/src/lib/components/VisibilityPicker.svelte
  frontend/src/lib/record-stash.ts
  frontend/src/lib/recorder.svelte.ts
  frontend/src/lib/utils/web-playable.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(record): drop the PDS capability note from the idle screen
  frontend/src/routes/record/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(record): drop the PDS capability note from the idle screen (#1883)
  frontend/src/routes/record/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(record): convert the recording instead of telling people to switch browsers
  frontend/src/lib/audio/wav.test.ts
  frontend/src/lib/audio/wav.ts
  frontend/src/lib/recorder.svelte.ts
  frontend/src/routes/record/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(record): convert the recording instead of telling people to switch browsers (#1884)
  frontend/src/lib/audio/wav.test.ts
  frontend/src/lib/audio/wav.ts
  frontend/src/lib/recorder.svelte.ts
  frontend/src/routes/record/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(spaces): read capability from the authserver's advertised scopes
  backend/alembic/versions/2026_08_21_000000_d5f3c9a62eb2_add_spaces_unsupported_pds_to_artists.py
  backend/alembic/versions/2026_08_21_120000_e7a4d1b93fc5_drop_spaces_unsupported_pds.py
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/api/auth.py
  backend/src/backend/models/artist.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_scope_upgrade.py
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: type-check, svelte-check, eslint

fix(record): never pick a weaker visibility after a private failure
  frontend/src/routes/record/+page.svelte
Due: svelte-check, eslint

fix(spaces): read capability from the authserver's advertised scopes (#1885)
  backend/alembic/versions/2026_08_21_000000_d5f3c9a62eb2_add_spaces_unsupported_pds_to_artists.py
  backend/alembic/versions/2026_08_21_120000_e7a4d1b93fc5_drop_spaces_unsupported_pds.py
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/api/auth.py
  backend/src/backend/models/artist.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_scope_upgrade.py
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: type-check, svelte-check, eslint

fix(migrations): restore the applied revision the drop was chained past
  backend/alembic/versions/2026_08_21_000000_d5f3c9a62eb2_add_spaces_unsupported_pds_to_artists.py
  backend/alembic/versions/2026_08_21_120000_e7a4d1b93fc5_drop_spaces_unsupported_pds.py
Due: type-check

fix(migrations): restore the applied revision the drop was chained past (#1886)
  backend/alembic/versions/2026_08_21_000000_d5f3c9a62eb2_add_spaces_unsupported_pds_to_artists.py
  backend/alembic/versions/2026_08_21_120000_e7a4d1b93fc5_drop_spaces_unsupported_pds.py
Due: type-check

test(e2e): drive the private-media flow in a real browser on every merge to main
  .github/workflows/e2e-private-media.yml
  frontend/e2e/private-media.mjs
Due: svelte-check

test(e2e): drive the private-media flow in a real browser on every merge to main (#1887)
  .github/workflows/e2e-private-media.yml
  frontend/e2e/private-media.mjs
Due: svelte-check

fix(e2e): lint the node script, and say what the browser did when a stage fails
  .github/workflows/e2e-private-media.yml
  frontend/.gitignore
  frontend/e2e/private-media.mjs
  frontend/eslint.config.js
Due: svelte-check

fix(e2e): lint the node script, and say what the browser did when a stage fails (#1888)
  .github/workflows/e2e-private-media.yml
  frontend/.gitignore
  frontend/e2e/private-media.mjs
  frontend/eslint.config.js
Due: svelte-check

test(e2e): record a private voice memo in a real browser on a spaces PDS
  .github/workflows/e2e-private-media.yml
  frontend/e2e/lib.mjs
  frontend/e2e/private-media.mjs
  frontend/e2e/record-private.mjs
  frontend/eslint.config.js
Due: svelte-check

fix(record): private memos never reached consent — the stash rejected the tags proxy
  frontend/src/routes/record/+page.svelte
Due: svelte-check, eslint

fix(record): private memos never reached consent; e2e the /record flow in a real browser (#1889)
  .github/workflows/e2e-private-media.yml
  frontend/e2e/lib.mjs
  frontend/e2e/private-media.mjs
  frontend/e2e/record-private.mjs
  frontend/eslint.config.js
  frontend/src/routes/record/+page.svelte
Due: svelte-check, eslint

docs: status — private memos from /record, browser e2e for private media (#1887–#1889)
  STATUS.md
Due: none

docs: status — private memos from /record, browser e2e for private media (#1887–#1889) (#1890)
  STATUS.md
Due: none

feat(auth): request private media at sign-in; finish the save after a legacy consent
  backend/src/backend/_internal/auth/oauth.py
  backend/tests/_internal/test_permissioned_spaces.py
  docs/internal/architecture/permissioned-private-media.md
  frontend/e2e/private-media.mjs
  frontend/e2e/record-private.mjs
  frontend/src/lib/record-stash.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(auth): request private media at sign-in; finish the save after a legacy consent (#1891)
  backend/src/backend/_internal/auth/oauth.py
  backend/tests/_internal/test_permissioned_spaces.py
  docs/internal/architecture/permissioned-private-media.md
  frontend/e2e/private-media.mjs
  frontend/e2e/record-private.mjs
  frontend/src/lib/record-stash.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: status — private media requested at sign-in (#1891)
  STATUS.md
Due: none

docs: status — private media requested at sign-in (#1891) (#1892)
  STATUS.md
Due: none

fix(artist): the owner's private tracks were missing from their own page, and counted for everyone
  backend/src/backend/api/artists.py
  backend/tests/api/test_analytics.py
  frontend/e2e/private-media.mjs
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(artist): the owner's private tracks were missing from their own page, and counted for everyone (#1893)
  backend/src/backend/api/artists.py
  backend/tests/api/test_analytics.py
  frontend/e2e/private-media.mjs
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

test(e2e): a stranger's analytics count is lower than the owner's, not owner minus one
  frontend/e2e/private-media.mjs
Due: svelte-check

test(e2e): a stranger's analytics count is lower than the owner's, not owner minus one (#1894)
  frontend/e2e/private-media.mjs
Due: svelte-check

fix(copy): say what private means, not where the bytes live
  frontend/src/lib/components/VisibilityPicker.svelte
Due: svelte-check, eslint

fix(copy): say what private means, not where the bytes live (#1895)
  frontend/src/lib/components/VisibilityPicker.svelte
Due: svelte-check, eslint

docs: status — 2026.0821.231527 (#1891, #1893–#1895)
  STATUS.md
Due: none

docs: status — 2026.0821.231527 (#1891, #1893–#1895) (#1896)
  STATUS.md
Due: none

docs: private media access list — reconciliation with supporters, downloads, attestation
  docs/internal/architecture/private-media-access-list.md
Due: none

feat(spaces): a reader permission in the private-media set, so members can play what artists share
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/auth/space_scope.py
  backend/src/backend/api/auth.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_scope_upgrade.py
  docs/internal/architecture/permissioned-private-media.md
  frontend/e2e/private-media.mjs
  frontend/e2e/record-private.mjs
  frontend/src/lib/types.ts
  lexicons/privateMediaAccess.json
  loq.toml
Due: type-check, svelte-check, eslint

docs: access-list design — revocation, implicit authority membership, discovery, appAccess (from the 0016/zds digest)
  docs/internal/architecture/private-media-access-list.md
Due: none

feat(spaces): member-list wrappers, and a two-account membership leg in the smoke script
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/tests/_internal/test_permissioned_spaces.py
  loq.toml
  scripts/permissioned_smoke.py
Due: type-check

feat(spaces): member-list wrappers, and a two-account membership leg in the smoke script (#1899)
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/tests/_internal/test_permissioned_spaces.py
  loq.toml
  scripts/permissioned_smoke.py
Due: type-check

feat(spaces): members of an artist's private-media space can see and play their private tracks
  backend/alembic/versions/2026_08_22_000000_f3a9c1d27b4e_private_media_members.py
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/oembed.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/private_media_member.py
  backend/tests/api/test_private_media_members.py
  backend/tests/api/test_private_media_visibility.py
  loq.toml
Due: type-check

feat(portal): people who can hear your private tracks
  .github/workflows/e2e-private-media.yml
  frontend/e2e/lib.mjs
  frontend/e2e/private-media.mjs
  frontend/src/lib/components/VisibilityPicker.svelte
  frontend/src/lib/components/portal/PrivateMediaSection.svelte
  frontend/src/routes/portal/manage/+page.svelte
Due: svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
