Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

fix: restrict image uploads to supported formats and improve link previews (#132)
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: initialize image_format in upload handler to prevent UnboundLocalError
  frontend/src/routes/+page.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

fix: initialize image_format in upload handler to prevent UnboundLocalError (#133)
  frontend/src/routes/+page.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

fix: initialize image_format in R2 storage to prevent UnboundLocalError
  src/backend/storage/r2.py
Due: ty-check

fix: initialize image_format in R2 storage to prevent UnboundLocalError (#134)
  src/backend/storage/r2.py
Due: ty-check

test: fix filesystem storage tests to check audio/ subdirectory
  tests/storage/test_large_file_upload.py
Due: ty-check

refactor: add ImageFormat.validate_and_extract helper
  src/backend/models/image.py
Due: ty-check

test: upgrade pytest-asyncio to fix deprecation warnings
  pyproject.toml
  uv.lock
Due: none

refactor: actually use ImageFormat.validate_and_extract() helper
  src/backend/api/tracks.py
  src/backend/storage/r2.py
Due: ty-check

refactor: fix tests and centralize image format handling (#135)
  pyproject.toml
  src/backend/api/tracks.py
  src/backend/models/image.py
  src/backend/storage/r2.py
  tests/storage/test_large_file_upload.py
  uv.lock
Due: ty-check

fix: prevent layout meta tags from overriding track page SEO
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: prevent layout meta tags from overriding content page previews
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: prevent layout meta tags from overriding content page previews (#137)
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: add og:image:secure_url for imessage link previews
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: add og:image:secure_url for iMessage link previews (#138)
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

revert: restore layout og:image for iMessage compatibility
  frontend/src/routes/+layout.svelte
Due: frontend-build

revert: restore layout og:image for iMessage compatibility (#139)
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: prevent layout meta tags from overriding track page SEO (#136)
  frontend/src/routes/+layout.svelte
Due: frontend-build

feat: consolidate profile into portal page
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/+page.svelte
Due: frontend-build

feat: consolidate profile into portal page (#140)
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/+page.svelte
Due: frontend-build

fix: simplify navigation - remove portal link, add public profile view
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: simplify navigation - remove portal link, add public profile view (#142)
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

actually try to fix sticky bottom on mobile
  frontend/src/lib/components/Player.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

actually try to fix sticky bottom on mobile (#143)
  frontend/src/lib/components/Player.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

feat: add bluesky (@plyr.fm) attribution link to header
  frontend/src/lib/components/Header.svelte
Due: frontend-build

perf: cache artist PDS URLs to eliminate N+1 resolution
  alembic/versions/2d9a62e170d6_add_pds_url_to_artists_table_for_caching.py
  scripts/delete_track.py
  src/backend/api/artists.py
  src/backend/api/tracks.py
  src/backend/models/artist.py
Due: ty-check

perf: cache artist PDS URLs to eliminate N+1 resolution (#148)
  alembic/versions/2d9a62e170d6_add_pds_url_to_artists_table_for_caching.py
  scripts/delete_track.py
  src/backend/api/artists.py
  src/backend/api/tracks.py
  src/backend/models/artist.py
Due: ty-check

perf: make R2 operations async to eliminate blocking I/O
  pyproject.toml
  scripts/run_migration.py
  src/backend/api/audio.py
  src/backend/api/tracks.py
  src/backend/models/track.py
  src/backend/storage/r2.py
  tests/storage/test_r2_upload.py
  uv.lock
Due: ty-check

perf: make R2 operations async to eliminate blocking I/O (#149)
  pyproject.toml
  scripts/run_migration.py
  src/backend/api/audio.py
  src/backend/api/tracks.py
  src/backend/models/track.py
  src/backend/storage/r2.py
  tests/storage/test_r2_upload.py
  uv.lock
Due: ty-check

perf: resolve PDS URLs concurrently instead of serially
  src/backend/api/tracks.py
Due: ty-check

perf: optimize artist deduplication with O(1) dict lookups
  .claude/commands/consider-review.md
  src/backend/api/tracks.py
Due: ty-check

perf: resolve PDS URLs concurrently instead of serially (#150)
  .claude/commands/consider-review.md
  src/backend/api/tracks.py
Due: ty-check

feat: make storage operations fully async to prevent event loop blocking
  src/backend/api/tracks.py
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
  tests/storage/test_large_file_upload.py
  tests/storage/test_r2_upload.py
Due: ty-check

feat: make storage operations fully async to prevent event loop blocking (#151)
  src/backend/api/tracks.py
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
  tests/storage/test_large_file_upload.py
  tests/storage/test_r2_upload.py
Due: ty-check

fix: support .aif file extension for AIFF audio files
  src/backend/models/audio.py
Due: ty-check

reject AIFF/AIF uploads and add format hints
  .gitignore
  docs/logfire-querying.md
  frontend/src/routes/portal/+page.svelte
  src/backend/api/tracks.py
  src/backend/models/audio.py
  src/backend/storage/r2.py
  tests/test_audio_formats.py
Due: ty-check, frontend-build

reject AIFF/AIF uploads due to browser compatibility (#152)
  .gitignore
  docs/logfire-querying.md
  frontend/src/routes/portal/+page.svelte
  src/backend/api/tracks.py
  src/backend/models/audio.py
  src/backend/storage/r2.py
  tests/test_audio_formats.py
Due: ty-check, frontend-build

feat: deploy transcoder API service
  .gitignore
  justfile
  scripts/test-transcoder.sh
  transcoder/Cargo.lock
  transcoder/Cargo.toml
  transcoder/Dockerfile
  transcoder/Justfile
  transcoder/fly.toml
  transcoder/src/main.rs
Due: none

feat: deploy transcoder API service (#156)
  .gitignore
  justfile
  scripts/test-transcoder.sh
  transcoder/Cargo.lock
  transcoder/Cargo.toml
  transcoder/Dockerfile
  transcoder/Justfile
  transcoder/fly.toml
  transcoder/src/main.rs
Due: none

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
