Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

feat: implement track likes with ATProto integration
  alembic/env.py
  alembic/versions/32c17ef04e98_add_track_likes_table_for_indexing_.py
  src/backend/api/tracks.py
  src/backend/models/__init__.py
  src/backend/models/track_like.py
Due: ty-check

feat: add liked tracks UI
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

fix: use bearer token auth for like endpoints
  frontend/src/lib/tracks.svelte.ts
Due: frontend-build

fix: implement proper ATProto like record creation/deletion
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  src/backend/api/tracks.py
  src/backend/atproto/__init__.py
  src/backend/atproto/records.py
Due: ty-check, frontend-build

fix: add app.bsky.feed.like to OAuth scope
  src/backend/config.py
Due: ty-check

fix: use fm.plyr.like collection instead of app.bsky.feed.like
  src/backend/atproto/records.py
  src/backend/config.py
Due: ty-check

docs: add critical reminder about ATProto namespaces
  CLAUDE.md
Due: none

fix: add Header component to liked tracks page
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

fix: like button state persistence and UI consistency
  .claude/commands/consider-review.md
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/Toast.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/liked/+page.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

debug: add console logging to track like button state
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tracks.svelte.ts
Due: frontend-build

perf: batch like status checks to eliminate N+1 query
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tracks.svelte.ts
  src/backend/api/tracks.py
Due: ty-check, frontend-build

feat: add error handling and tests for like operations
  justfile
  src/backend/api/tracks.py
  tests/api/test_track_likes.py
  tests/storage/test_r2_upload.py
  tests/test_audio_formats.py
Due: ty-check

feat: add liked tracks feature (#157)
  .claude/commands/consider-review.md
  CLAUDE.md
  alembic/env.py
  alembic/versions/32c17ef04e98_add_track_likes_table_for_indexing_.py
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/Toast.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  justfile
  src/backend/api/tracks.py
  src/backend/atproto/__init__.py
  src/backend/atproto/records.py
  src/backend/config.py
  src/backend/models/__init__.py
  src/backend/models/track_like.py
  tests/api/test_track_likes.py
  tests/storage/test_r2_upload.py
  tests/test_audio_formats.py
Due: ty-check, frontend-build

docs: update plyr.fm documentation and add features
  docs/README.md
  docs/architecture/global-state-management.md
  docs/configuration.md
  docs/deployment/database-migrations.md
  docs/deployment/environments.md
  docs/features/liked-tracks.md
  docs/services/transcoder.md
Due: none

docs: update plyr.fm documentation and add features (#158)
  docs/README.md
  docs/architecture/global-state-management.md
  docs/configuration.md
  docs/deployment/database-migrations.md
  docs/deployment/environments.md
  docs/features/liked-tracks.md
  docs/services/transcoder.md
Due: none

ui: improve mobile responsiveness and add navigation features
  frontend/src/lib/branding.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

ui: improve mobile responsiveness and add navigation features (#159)
  frontend/src/lib/branding.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

ui: use accent color for liked tracks instead of hardcoded pink
  frontend/src/lib/components/LikeButton.svelte
Due: frontend-build

ui: use accent color for liked tracks instead of hardcoded pink (#160)
  frontend/src/lib/components/LikeButton.svelte
Due: frontend-build

feat: improve mobile UX with compact action menus and better navigation
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  justfile
Due: frontend-build

feat: improve mobile UX with compact action menus and better navigation (#161)
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  justfile
Due: frontend-build

fix: track metadata edits not persisting to database
  frontend/src/routes/portal/+page.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

fix: track metadata edits not persisting to database (#162)
  frontend/src/routes/portal/+page.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

fix: show liked state on artist page tracks
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: show liked state on artist page tracks (#163)
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: add track detail page with large cover art
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: reduce cover art size and adjust button styling
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: prevent scrolling and fix play button
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: make play button reactive and constrain page scroll
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: remove scrollbar and overflow issues
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: remove autoplay to prevent browser blocking and state conflicts
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: disable scrolling on track detail page and load liked state
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: load liked state efficiently via server-side fetch with auth cookie
  frontend/src/routes/track/[id]/+page.server.ts
  frontend/src/routes/track/[id]/+page.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

fix: load liked state client-side with auth from localStorage
  frontend/src/routes/track/[id]/+page.server.ts
  frontend/src/routes/track/[id]/+page.svelte
  justfile
Due: frontend-build

refactor: clean up backend auth checks
  frontend/src/routes/track/[id]/+page.server.ts
  src/backend/api/tracks.py
Due: ty-check, frontend-build

refactor: apply same cleanup to list_tracks endpoint
  src/backend/api/tracks.py
Due: ty-check

refactor: move get_session import to module level
  src/backend/api/tracks.py
Due: ty-check

feat: add origin validation for image URLs
  src/backend/atproto/records.py
  src/backend/config.py
  tests/test_origin_validation.py
Due: ty-check

Fix track detail page play button to update queue state
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

feat: add like counts to track responses and analytics
  src/backend/api/artists.py
  src/backend/api/tracks.py
  src/backend/utilities/aggregations.py
  tests/api/test_analytics.py
  tests/utilities/test_aggregations.py
Due: ty-check
