Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

change claude command and add docs
  .claude/commands/onboard.md
  docs/neon-mcp-guide.md
Due: none

fix: store image URLs in database to eliminate N+1 R2 API calls (#184)
  .claude/commands/onboard.md
  alembic/versions/14fff0296365_add_image_url_to_tracks.py
  alembic/versions/2d6d201752ef_add_performance_indexes_on_track_.py
  docs/neon-mcp-guide.md
  src/backend/_internal/queue.py
  src/backend/api/tracks.py
  src/backend/models/track.py
  src/backend/models/track_like.py
Due: ty-check

improve ui consistency and player navigation
  docs/ui-performance-assessment.md
  frontend/src/lib/components/Player.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  scripts/backfill_image_urls.py
  scripts/release
Due: ty-check, frontend-build

improve ui consistency and player navigation (#185)
  docs/ui-performance-assessment.md
  frontend/src/lib/components/Player.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  scripts/backfill_image_urls.py
  scripts/release
Due: ty-check, frontend-build

fix: prevent race conditions during rapid track clicks
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

fix: prevent race conditions during rapid track clicks (#187)
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

Revert "fix: prevent race conditions during rapid track clicks (#187)"
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

Revert "fix: prevent race conditions during rapid track clicks (#187)" (#188)
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/queue.svelte.ts
Due: frontend-build

fix: prevent duplicate notifications on server hot reload
  .claude/commands/onboard.md
  alembic/versions/07c4ad820a27_add_notification_sent_to_tracks.py
  src/backend/_internal/notifications.py
  src/backend/api/tracks.py
  src/backend/models/track.py
  tests/settings/test_notifications.py
Due: ty-check

fix: prevent duplicate notifications on server hot reload (#190)
  .claude/commands/onboard.md
  alembic/versions/07c4ad820a27_add_notification_sent_to_tracks.py
  src/backend/_internal/notifications.py
  src/backend/api/tracks.py
  src/backend/models/track.py
  tests/settings/test_notifications.py
Due: ty-check

fix: prevent data loss from duplicate uploads and track deletion
  src/backend/api/tracks.py
  src/backend/storage/r2.py
  tests/api/test_track_deletion.py
Due: ty-check

fix: delete exact R2 keys using stored file_type
  docs/pdsx-guide.md
  src/backend/api/tracks.py
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
Due: ty-check

fix: prevent data loss from duplicate uploads and track deletion (#191)
  docs/pdsx-guide.md
  src/backend/api/tracks.py
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
  tests/api/test_track_deletion.py
Due: ty-check

refactor: prepare codebase for public release
  alembic.ini
  alembic/versions/2025_11_01_13_34_23_aabe82c8f0fb_add_features_column_to_tracks.py
  alembic/versions/2025_11_01_14_18_45_547a171dfd11_drop_old_artist_columns.py
  alembic/versions/2025_11_02_12_21_41_06daebe03213_add_user_preferences_table.py
  alembic/versions/2025_11_02_12_22_19_9e8c7aa5b945_add_user_preferences_table_fixed.py
  alembic/versions/2025_11_02_14_04_59_31e69ba0c570_add_timezone_support_to_datetime_columns.py
  alembic/versions/2025_11_02_20_53_02_846cc6b867b8_add_oauth_states_table.py
  alembic/versions/2025_11_03_10_15_32_ec40ac6453bc_add_exchange_tokens_table_for_secure_.py
  alembic/versions/2025_11_03_18_13_14_5684967eb462_add_queue_state_table.py
  alembic/versions/2025_11_04_00_27_13_008ffaa79bea_merge_queue_and_auto_advance_migrations.py
  alembic/versions/2025_11_04_04_10_00_bcb5c0fd5d43_add_auto_advance_preference.py
  alembic/versions/2025_11_09_02_23_52_ba46ea4ba64e_remove_unique_constraint_from_tracks_.py
  alembic/versions/2025_11_09_14_34_08_36868f2c20e5_add_image_id_to_tracks.py
  alembic/versions/2025_11_10_17_10_08_2d9a62e170d6_add_pds_url_to_artists_table_for_caching.py
  alembic/versions/2025_11_11_12_11_10_32c17ef04e98_add_track_likes_table_for_indexing_.py
  alembic/versions/2025_11_12_01_54_02_14fff0296365_add_image_url_to_tracks.py
  alembic/versions/2025_11_12_02_06_23_2d6d201752ef_add_performance_indexes_on_track_.py
  alembic/versions/2025_11_12_14_34_51_07c4ad820a27_add_notification_sent_to_tracks.py
  justfile
  src/backend/_internal/auth.py
  src/backend/_internal/oauth_stores/__init__.py
  src/backend/_internal/oauth_stores/postgres.py
  src/backend/stores/__init__.py
Due: ty-check

refactor: prepare codebase for public release (#192)
  alembic.ini
  alembic/versions/2025_11_01_13_34_23_aabe82c8f0fb_add_features_column_to_tracks.py
  alembic/versions/2025_11_01_14_18_45_547a171dfd11_drop_old_artist_columns.py
  alembic/versions/2025_11_02_12_21_41_06daebe03213_add_user_preferences_table.py
  alembic/versions/2025_11_02_12_22_19_9e8c7aa5b945_add_user_preferences_table_fixed.py
  alembic/versions/2025_11_02_14_04_59_31e69ba0c570_add_timezone_support_to_datetime_columns.py
  alembic/versions/2025_11_02_20_53_02_846cc6b867b8_add_oauth_states_table.py
  alembic/versions/2025_11_03_10_15_32_ec40ac6453bc_add_exchange_tokens_table_for_secure_.py
  alembic/versions/2025_11_03_18_13_14_5684967eb462_add_queue_state_table.py
  alembic/versions/2025_11_04_00_27_13_008ffaa79bea_merge_queue_and_auto_advance_migrations.py
  alembic/versions/2025_11_04_04_10_00_bcb5c0fd5d43_add_auto_advance_preference.py
  alembic/versions/2025_11_09_02_23_52_ba46ea4ba64e_remove_unique_constraint_from_tracks_.py
  alembic/versions/2025_11_09_14_34_08_36868f2c20e5_add_image_id_to_tracks.py
  alembic/versions/2025_11_10_17_10_08_2d9a62e170d6_add_pds_url_to_artists_table_for_caching.py
  alembic/versions/2025_11_11_12_11_10_32c17ef04e98_add_track_likes_table_for_indexing_.py
  alembic/versions/2025_11_12_01_54_02_14fff0296365_add_image_url_to_tracks.py
  alembic/versions/2025_11_12_02_06_23_2d6d201752ef_add_performance_indexes_on_track_.py
  alembic/versions/2025_11_12_14_34_51_07c4ad820a27_add_notification_sent_to_tracks.py
  justfile
  src/backend/_internal/auth.py
  src/backend/_internal/oauth_stores/__init__.py
  src/backend/_internal/oauth_stores/postgres.py
  src/backend/stores/__init__.py
Due: ty-check

fix: update release script to deploy production frontend
  scripts/release
Due: none

fix: update release script to deploy production frontend (#193)
  scripts/release
Due: none

docs: update deployment docs and costs for production-fe workflow
  README.md
  docs/deployment/environments.md
  docs/deployment/overview.md
Due: none

feat: add hot reloading to transcoder with cargo-watch
  transcoder/Justfile
Due: none

refactor: organize frontend commands into nested justfile
  README.md
  docs/deployment/environments.md
  frontend/justfile
  justfile
Due: frontend-build

refactor: standardize logging with logfire handler
  README.md
  pyproject.toml
  src/backend/_internal/notifications.py
  src/backend/main.py
  src/backend/utilities/database.py
Due: ty-check

refactor: simplify frontend justfile to only used targets
  frontend/justfile
Due: frontend-build

docs: update deployment docs and standardize logging (#194)
  README.md
  docs/deployment/environments.md
  docs/deployment/overview.md
  frontend/justfile
  justfile
  pyproject.toml
  src/backend/_internal/notifications.py
  src/backend/main.py
  src/backend/utilities/database.py
  transcoder/Justfile
Due: ty-check, frontend-build

refactor: move atproto and format enums to _internal
  src/backend/_internal/atproto/__init__.py
  src/backend/_internal/atproto/handles.py
  src/backend/_internal/atproto/profile.py
  src/backend/_internal/atproto/records.py
  src/backend/_internal/atproto/tid.py
  src/backend/_internal/audio.py
  src/backend/_internal/image.py
  src/backend/api/artists.py
  src/backend/api/audio.py
  src/backend/api/migration.py
  src/backend/api/search.py
  src/backend/api/tracks.py
  src/backend/models/__init__.py
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
  src/backend/utilities/aggregations.py
  src/backend/utilities/database.py
  tests/test_audio_formats.py
  tests/test_image_formats.py
  tests/test_token_refresh.py
Due: ty-check

refactor: move atproto and format enums to _internal (#195)
  src/backend/_internal/atproto/__init__.py
  src/backend/_internal/atproto/handles.py
  src/backend/_internal/atproto/profile.py
  src/backend/_internal/atproto/records.py
  src/backend/_internal/atproto/tid.py
  src/backend/_internal/audio.py
  src/backend/_internal/image.py
  src/backend/api/artists.py
  src/backend/api/audio.py
  src/backend/api/migration.py
  src/backend/api/search.py
  src/backend/api/tracks.py
  src/backend/models/__init__.py
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
  src/backend/utilities/aggregations.py
  src/backend/utilities/database.py
  tests/test_audio_formats.py
  tests/test_image_formats.py
  tests/test_token_refresh.py
Due: ty-check

refactor: remove hardcoded staging password check
  frontend/src/routes/+layout.svelte
Due: frontend-build

refactor: remove hardcoded staging password check (#197)
  frontend/src/routes/+layout.svelte
Due: frontend-build

words
  README.md
Due: none

words (#198)
  README.md
Due: none

minor cleanup
  README.md
  scripts/profile-docker-build.sh
  scripts/sync-fly-secrets.sh
Due: none

minor cleanup (#199)
  README.md
  scripts/profile-docker-build.sh
  scripts/sync-fly-secrets.sh
Due: none

fix: sync queue state when playing tracks on liked page
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

fix: sync queue state when playing tracks on liked page (#200)
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

chore: standardize script shebangs and add audio generator
  scripts/backfill_atproto_records.py
  scripts/backfill_image_urls.py
  scripts/copy_r2_buckets.py
  scripts/delete_track.py
  scripts/generate_audio_sample.py
  scripts/migrate_images_to_new_buckets.py
  scripts/migrate_r2_bucket.py
  scripts/run_migration.py
  scripts/simulate_broken_tracks.py
Due: ty-check

chore: standardize script shebangs and add audio generator (#201)
  scripts/backfill_atproto_records.py
  scripts/backfill_image_urls.py
  scripts/copy_r2_buckets.py
  scripts/delete_track.py
  scripts/generate_audio_sample.py
  scripts/migrate_images_to_new_buckets.py
  scripts/migrate_r2_bucket.py
  scripts/run_migration.py
  scripts/simulate_broken_tracks.py
Due: ty-check

ci: add backend tests to pull requests
  .github/workflows/test-backend.yml
Due: none

ci: also trigger tests on workflow changes
  .github/workflows/test-backend.yml
Due: none

test: fix import paths and suppress logfire warnings
  pyproject.toml
  tests/api/test_track_deletion.py
  tests/storage/test_r2_upload.py
  tests/test_token_refresh.py
Due: ty-check

ci: optimize test workflow for performance
  .github/workflows/test-backend.yml
Due: none
