Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

docs: document audio persistence known issue in bluesky in-app browser (#780)
  STATUS.md
Due: none

fix: check auth once on mount instead of every navigation
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/moderation.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  loq.toml
Due: svelte-check, eslint

fix: use auth singleton in library/liked pages after layout simplification
  frontend/src/routes/library/+page.ts
  frontend/src/routes/liked/+page.ts
Due: svelte-check, eslint

fix: use auth singleton in library/liked pages after layout simplification (#782)
  frontend/src/routes/library/+page.ts
  frontend/src/routes/liked/+page.ts
Due: svelte-check, eslint

docs: add auth check optimization to status
  STATUS.md
Due: none

docs: add auth check optimization to status (#783)
  STATUS.md
Due: none

fix: add cache headers to sensitive-images endpoint
  STATUS.md
  backend/src/backend/api/moderation.py
Due: type-check

fix: add cache headers to sensitive-images endpoint (#784)
  STATUS.md
  backend/src/backend/api/moderation.py
Due: type-check

fix: remove SSR sensitive-images fetch
  STATUS.md
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: svelte-check, eslint

feat: add localStorage caching for sensitive images
  frontend/src/lib/moderation.svelte.ts
Due: svelte-check, eslint

fix: remove SSR sensitive-images fetch (#785)
  STATUS.md
  frontend/src/lib/moderation.svelte.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: svelte-check, eslint

feat: add transcoder test matrix with CI
  .github/workflows/test-transcoder.yml
  scripts/transcoder/test-matrix.py
Due: type-check

feat: add per-user feature flag infrastructure
  backend/alembic/versions/2026_01_24_233325_b07a9095707e_add_enabled_flags_to_artists.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/auth.py
  backend/src/backend/models/artist.py
  loq.toml
  scripts/feature_flag.py
Due: type-check

refactor: move feature flags to dedicated table
  backend/alembic/versions/2026_01_24_233325_b07a9095707e_add_enabled_flags_to_artists.py
  backend/alembic/versions/2026_01_24_235203_1a94c1ea171d_add_feature_flags_table.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/auth.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/artist.py
  backend/src/backend/models/feature_flag.py
  scripts/feature_flag.py
Due: type-check

docs: add feature flags documentation
  docs/backend/feature-flags.md
Due: none

feat: add per-user feature flag infrastructure (#788)
  .github/workflows/test-transcoder.yml
  backend/alembic/versions/2026_01_24_235203_1a94c1ea171d_add_feature_flags_table.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/auth.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/feature_flag.py
  docs/backend/feature-flags.md
  loq.toml
  scripts/feature_flag.py
  scripts/transcoder/test-matrix.py
Due: type-check

feat: add lossless format support to data model
  backend/alembic/versions/2026_01_25_012502_38dd0d1af1b7_add_original_file_columns_to_tracks.py
  backend/src/backend/_internal/audio.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  loq.toml
Due: type-check

feat: add lossless format support to data model (#789)
  backend/alembic/versions/2026_01_25_012502_38dd0d1af1b7_add_original_file_columns_to_tracks.py
  backend/src/backend/_internal/audio.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  loq.toml
Due: type-check

feat: integrate transcoder for lossless audio uploads
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/transcoder_client.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  loq.toml
Due: type-check

fix: address PR review feedback
  backend/src/backend/_internal/transcoder_client.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/test_transcoder.py
  loq.toml
Due: type-check

fix: use AnyHttpUrl properly for transcoder service_url
  backend/src/backend/config.py
Due: type-check

fix: update audio format tests for AIFF/FLAC support
  backend/tests/test_audio_formats.py
Due: type-check

feat: integrate transcoder for lossless audio uploads (#790)
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/transcoder_client.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/test_audio_formats.py
  backend/tests/test_transcoder.py
  loq.toml
Due: type-check

feat: frontend support for lossless audio uploads
  frontend/src/lib/types.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat: frontend support for lossless audio uploads (#791)
  frontend/src/lib/types.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: support .aif as alias for .aiff format
  backend/src/backend/_internal/audio.py
  backend/tests/test_audio_formats.py
  frontend/src/routes/upload/+page.svelte
Due: type-check, svelte-check, eslint

fix: support .aif as alias for .aiff format (#792)
  backend/src/backend/_internal/audio.py
  backend/tests/test_audio_formats.py
  frontend/src/routes/upload/+page.svelte
Due: type-check, svelte-check, eslint

fix: improve upload progress toast display
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/uploader.svelte.ts
Due: type-check, svelte-check, eslint

fix: improve upload progress toast display (#793)
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/uploader.svelte.ts
Due: type-check, svelte-check, eslint

fix: proper progress tracking for transcoded files + expose original_file_type
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/schemas.py
Due: type-check

feat: add lossless audio indicator for compatible browsers
  frontend/src/lib/audio-support.ts
  frontend/src/lib/components/LosslessBadge.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: proper progress tracking for transcoded files + expose original_file_type (#794)
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/schemas.py
  frontend/src/lib/audio-support.ts
  frontend/src/lib/components/LosslessBadge.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: type-check, svelte-check, eslint

fix: only show lossless separator when badge is visible
  frontend/src/lib/components/LosslessBadge.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

feat: expose original_file_id and serve lossless when browser supports it
  backend/src/backend/schemas.py
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/types.ts
Due: type-check, svelte-check, eslint

fix: only show lossless separator when badge is visible (#795)
  backend/src/backend/schemas.py
  frontend/src/lib/components/LosslessBadge.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: type-check, svelte-check, eslint

fix: audio endpoint now serves lossless originals when requested
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
  loq.toml
Due: type-check

fix: audio endpoint now serves lossless originals when requested (#796)
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
  loq.toml
Due: type-check

fix: store actual file extension, not normalized format name
  backend/src/backend/api/tracks/uploads.py
Due: type-check

fix: store actual file extension, not normalized format name (#797)
  backend/src/backend/api/tracks/uploads.py
Due: type-check

docs: update STATUS.md with lossless audio support
  STATUS.md
Due: none

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
