Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

feat(spaces): members of an artist's private-media space can see and play their private tracks (#1900)
  backend/alembic/versions/2026_08_22_000000_f3a9c1d27b4e_private_media_members.py
  backend/src/backend/_internal/track_visibility.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/oembed.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/private_media_member.py
  backend/tests/api/test_private_media_members.py
  backend/tests/api/test_private_media_visibility.py
  loq.toml
Due: type-check

feat(portal): people who can hear your private tracks (#1901)
  .github/workflows/e2e-private-media.yml
  frontend/e2e/lib.mjs
  frontend/e2e/private-media.mjs
  frontend/src/lib/components/VisibilityPicker.svelte
  frontend/src/lib/components/portal/PrivateMediaSection.svelte
  frontend/src/routes/portal/manage/+page.svelte
Due: svelte-check, eslint

docs: status — the private-media access list arc (#1897–#1901)
  STATUS.md
Due: none

docs: status — the private-media access list arc (#1897–#1901) (#1902)
  STATUS.md
Due: none

chore(spaces): the grant is the only capability signal — drop the advertised-scopes check
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/api/auth.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_scope_upgrade.py
  docs/internal/architecture/permissioned-private-media.md
Due: type-check

docs: access-list design — listMembers is owner-only across implementations (atproto-crates is the outlier)
  docs/internal/architecture/private-media-access-list.md
Due: none

chore(spaces): the grant is the only capability signal — drop the advertised-scopes check (#1903)
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/api/auth.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_scope_upgrade.py
  docs/internal/architecture/permissioned-private-media.md
Due: type-check

feat(spaces): a reader permission in the private-media set, so members can play what artists share (#1898)
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/auth/space_scope.py
  backend/src/backend/api/auth.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_scope_upgrade.py
  docs/internal/architecture/permissioned-private-media.md
  frontend/e2e/private-media.mjs
  frontend/e2e/record-private.mjs
  frontend/src/lib/types.ts
  lexicons/privateMediaAccess.json
  loq.toml
Due: type-check, svelte-check, eslint

fix(pds): editing a track no longer deletes its audio from the PDS
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/tests/api/test_track_edit_pds_sync.py
Due: type-check

fix(pds): editing a track no longer deletes its audio from the PDS (#1904)
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/tests/api/test_track_edit_pds_sync.py
Due: type-check

fix(spaces): refusals are refusals, not 500s; honest copy about removal
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/api/artists.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_members.py
  frontend/src/lib/components/portal/PrivateMediaSection.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: access-list design — pre-release review notes
  docs/internal/architecture/private-media-access-list.md
Due: none

fix(spaces): refusals are refusals, not 500s; honest copy about removal (#1905)
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/api/artists.py
  backend/tests/_internal/test_permissioned_spaces.py
  backend/tests/api/test_private_media_members.py
  frontend/src/lib/components/portal/PrivateMediaSection.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: private media access list — reconciliation and design (#1897)
  docs/internal/architecture/private-media-access-list.md
Due: none

docs: status — 2026.0822.185531 (#1904 PDS audio deletion, access-list arc released)
  STATUS.md
Due: none

docs: status — 2026.0822.185531 (#1904 PDS audio deletion, access-list arc released) (#1906)
  STATUS.md
Due: none

feat(queue): swipe a row right to like it, left to remove it
  .claude/skills/change/SKILL.md
  .claude/skills/self-review/SKILL.md
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/swipe.test.ts
  frontend/src/lib/swipe.ts
  loq.toml
Due: svelte-check, eslint

fix(swipe): a swipe never eats the next tap; the drag handle keeps its gesture
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/swipe.test.ts
  frontend/src/lib/swipe.ts
  loq.toml
Due: svelte-check, eslint

feat(queue): swipe a row right to like it, left to remove it (#1907)
  .claude/skills/change/SKILL.md
  .claude/skills/self-review/SKILL.md
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/swipe.test.ts
  frontend/src/lib/swipe.ts
  loq.toml
Due: svelte-check, eslint

fix(queue): rows no longer clip on phones; the swipe has weight
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/swipe.test.ts
  frontend/src/lib/swipe.ts
  loq.toml
Due: svelte-check, eslint

fix(queue): rows no longer clip on phones; the swipe has weight (#1908)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/swipe.test.ts
  frontend/src/lib/swipe.ts
  loq.toml
Due: svelte-check, eslint

fix(review): queue boundary rejects null, feed-mode writes go through safe storage, the ssr default is tested
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/playlist/[id]/og-meta.test.ts
  loq.toml
Due: svelte-check, eslint

docs: status — queue swipe, anti-slop sweep, delivery skills (#1907–#1909)
  STATUS.md
Due: none

docs: status — queue swipe, anti-slop sweep, delivery skills (#1907–#1909) (#1910)
  STATUS.md
Due: none

feat(queue): swipe is the only remove; calm iconography; one-time versioned hints
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/hints.svelte.ts
  frontend/src/lib/hints.test.ts
  frontend/src/lib/preferences.svelte.ts
  loq.toml
Due: svelte-check, eslint

feat(queue): swipe is the only remove; calm iconography; one-time versioned hints (#1911)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/hints.svelte.ts
  frontend/src/lib/hints.test.ts
  frontend/src/lib/preferences.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix(queue): the empty-state cta closes the queue it lives under, and looks tappable
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/Queue.test.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

fix(queue): the empty-state cta closes the queue it lives under, and looks tappable (#1912)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/Queue.test.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

docs: status — queue arc shipped (#1911, #1912)
  STATUS.md
Due: none

docs: status — queue arc shipped (#1911, #1912) (#1913)
  STATUS.md
Due: none

feat(queue): keyboard actions on rows — arrows move, delete removes, l likes
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/Queue.test.ts
  loq.toml
Due: svelte-check, eslint

feat(queue): keyboard actions on rows — arrows move, delete removes, l likes (#1914)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/Queue.test.ts
  loq.toml
Due: svelte-check, eslint

fix(queue): drop the row-level l binding — it shadowed the global next-track shortcut
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/Queue.test.ts
Due: svelte-check, eslint

fix(queue): drop the row-level l binding — it shadowed the global next-track shortcut (#1915)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/Queue.test.ts
Due: svelte-check, eslint

style(toast): the toasts wear the app's glass
  frontend/src/lib/components/Toast.svelte
Due: svelte-check, eslint

style(toast): the toasts wear the app's glass (#1916)
  frontend/src/lib/components/Toast.svelte
Due: svelte-check, eslint

fix(queue): the like toast names the track, same as everywhere else
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint

fix(queue): the like toast names the track, same as everywhere else (#1917)
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint
