Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: reload auth session after PDS blob upload to prevent stale token 401 (#982)
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_session_reload.py
Due: type-check

fix: polish jam UI — hide code, clarify output labels, add link previews
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/routes/jam/[code]/+page.server.ts
  frontend/src/routes/jam/[code]/+page.svelte
  frontend/src/routes/jam/[code]/+page.ts
Due: type-check, svelte-check, eslint

chore: bump loq limit for test_jams.py, restore readable test style
  backend/tests/api/test_jams.py
  loq.toml
Due: type-check

feat: collapse participant strip to 2 avatars + N chip
  frontend/src/lib/components/Queue.svelte
  loq.toml
Due: svelte-check, eslint

fix: polish jam UI — hide code, clarify labels, add link previews (#983)
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/routes/jam/[code]/+page.server.ts
  frontend/src/routes/jam/[code]/+page.svelte
  frontend/src/routes/jam/[code]/+page.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix: remove disconnecting WS from connections before publishing events
  backend/src/backend/_internal/jams.py
Due: type-check

fix: remove disconnecting WS from connections before publishing events (#984)
  backend/src/backend/_internal/jams.py
Due: type-check

feat: add device switching — see your sessions, transfer playback (phases 1+2)
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/devices.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/devices.py
  backend/src/backend/main.py
  backend/src/backend/utilities/user_agent.py
  backend/tests/api/test_devices.py
  frontend/src/lib/components/DevicePicker.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/devices.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
Due: type-check, svelte-check, eslint

fix: address self-review issues in device switching
  backend/src/backend/_internal/devices.py
  backend/src/backend/api/devices.py
  frontend/src/lib/devices.svelte.ts
  frontend/src/routes/+layout.svelte
Due: type-check, svelte-check, eslint

feat(player): add shared top bar glow for playback state
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

feat(player): add shared top bar glow for playback state (#986)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix: thin player top bar glow from 2px to 1.5px
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix: thin player top bar glow from 2px to 1.5px (#988)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix: thinner top bar (1px) with snappier glow transition
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix: thinner top bar (1px) with snappier glow transition (#989)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix: jam link previews showing generic plyr.fm branding
  frontend/src/routes/+layout.svelte
  frontend/src/routes/jam/[code]/+page.svelte
Due: svelte-check, eslint

fix: jam link previews showing generic plyr.fm branding (#990)
  frontend/src/routes/+layout.svelte
  frontend/src/routes/jam/[code]/+page.svelte
Due: svelte-check, eslint

fix: jam stripe pill renders above glow bar with solid background
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix: jam stripe pill renders above glow bar with solid background (#991)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix: restore glass blur on jam stripe pill with opaque-enough background
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix: restore glass blur on jam stripe pill with opaque-enough background (#992)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

feat: preserve jam link through login flow
  frontend/src/lib/utils/return-url.ts
  frontend/src/routes/jam/[code]/+page.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
Due: svelte-check, eslint

fix: address self-review — open redirect, design consistency, docs
  docs/frontend/redirect-after-login.md
  frontend/src/lib/utils/return-url.ts
  frontend/src/routes/jam/[code]/+page.svelte
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

feat: preserve jam link through login flow (#993)
  docs/frontend/redirect-after-login.md
  frontend/src/lib/utils/return-url.ts
  frontend/src/routes/jam/[code]/+page.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
Due: svelte-check, eslint

feat: allow zzstoatzz.github.io in production CORS
  backend/src/backend/config.py
Due: type-check

feat: allow zzstoatzz.github.io in production CORS (#994)
  backend/src/backend/config.py
Due: type-check

fix: allow zzstoatzz.io (custom domain) in production CORS
  backend/src/backend/config.py
Due: type-check

fix: allow zzstoatzz.io (custom domain) in production CORS (#995)
  backend/src/backend/config.py
Due: type-check

fix: track embed layout for tall/portrait containers
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: track embed layout for tall/portrait containers (#996)
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: track embed clipping at short heights, guard collection WIDE query
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: track embed clipping at short heights, guard collection WIDE query (#997)
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: svelte-check, eslint

feat: add glow bar and share button to track/collection embeds
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat: add glow bar and share button to track/collection embeds (#998)
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs: update STATUS.md with embed glow bar + share button (PRs #996-998)
  STATUS.md
Due: none

docs: update STATUS.md with embed glow bar + share button (PRs #996-998) (#999)
  STATUS.md
Due: none

docs: add redirect-after-login UX research
  docs/research/2026-02-28-redirect-after-login-ux.md
Due: none

docs: add redirect-after-login UX research (#1000)
  docs/research/2026-02-28-redirect-after-login-ux.md
Due: none

feat: add platform-wide activity feed (#971)
  backend/src/backend/api/__init__.py
  backend/src/backend/api/activity.py
  backend/src/backend/main.py
  backend/tests/api/test_activity.py
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/activity/+page.svelte
  frontend/src/routes/activity/+page.ts
Due: type-check, svelte-check, eslint

fix: add db_session to audio tests missing database setup
  backend/tests/api/test_audio.py
Due: type-check
