Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

feat: teal.fm scrobbling integration (#467)
  AGENTS.md
  backend/alembic/versions/2025_12_03_172719_d4e6457a0fe3_add_enable_teal_scrobbling_preference.py
  backend/src/backend/_internal/atproto/teal.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/now_playing.py
  backend/src/backend/api/preferences.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/src/backend/models/preferences.py
  backend/src/backend/utilities/auth.py
  backend/tests/api/test_now_playing.py
  backend/tests/api/test_preferences.py
  backend/tests/test_teal_scrobbling.py
  frontend/src/lib/now-playing.svelte.ts
  frontend/src/lib/player.svelte.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

docs: update STATUS.md with teal.fm scrobbling integration
  STATUS.md
Due: none

docs: update STATUS.md with teal.fm scrobbling integration (#468)
  STATUS.md
Due: none

feat: extract and store track duration for teal.fm scrobbles
  backend/pyproject.toml
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/utilities/audio.py
  backend/uv.lock
  scripts/backfill_duration.py
Due: ty-check

feat: extract and store track duration for teal.fm scrobbles (#469)
  backend/pyproject.toml
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/utilities/audio.py
  backend/uv.lock
  scripts/backfill_duration.py
Due: ty-check

feat: blur explicit artwork with user opt-in to show
  backend/alembic/versions/2025_12_04_170000_add_explicit_artwork_flag.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

refactor: extract ExplicitArtwork component to reduce duplication
  frontend/src/lib/components/ExplicitArtwork.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: simplify explicit artwork tooltip
  frontend/src/lib/components/ExplicitArtwork.svelte
Due: frontend-build

fix: hide explicit artwork from link previews (og:image)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

feat: blur explicit images with user opt-in to show
  backend/alembic/versions/2025_12_04_172759_212fe5ee7e63_add_explicit_images_table_and_show_.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/moderation.py
  backend/src/backend/api/preferences.py
  backend/src/backend/main.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/explicit_image.py
  backend/src/backend/models/preferences.py
  frontend/src/lib/components/ExplicitImage.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/moderation.svelte.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

fix: prevent duplicate teal.fm scrobbles from race condition
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player.svelte.ts
Due: frontend-build

fix: prevent duplicate teal.fm scrobbles from race condition (#472)
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/player.svelte.ts
Due: frontend-build

feat: add cloudflare analytics dashboard script
  scripts/cf_analytics.py
Due: ty-check

feat: add cloudflare analytics dashboard script (#473)
  scripts/cf_analytics.py
Due: ty-check

feat: add playback keyboard shortcuts
  AGENTS.md
  docs/frontend/keyboard-shortcuts.md
  frontend/src/routes/+layout.svelte
Due: frontend-build

feat: add playback keyboard shortcuts (#474)
  AGENTS.md
  docs/frontend/keyboard-shortcuts.md
  frontend/src/routes/+layout.svelte
Due: frontend-build

docs: document iOS PWA audio hanging known issue
  STATUS.md
Due: none

docs: document iOS PWA audio hanging known issue (#475)
  STATUS.md
Due: none

chore: use 'sensitive' instead of 'explicit' in tooltip
  frontend/src/lib/components/ExplicitImage.svelte
Due: frontend-build

refactor: rename explicit to sensitive throughout codebase
  backend/alembic/versions/2025_12_05_101709_effe28dd977b_add_sensitive_images_table_and_show_.py
  backend/src/backend/api/moderation.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/preferences.py
  backend/src/backend/models/sensitive_image.py
  frontend/src/lib/components/SensitiveImage.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/moderation.svelte.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

feat: blur sensitive images with user opt-in (#471)
  backend/alembic/versions/2025_12_05_101709_effe28dd977b_add_sensitive_images_table_and_show_.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/moderation.py
  backend/src/backend/api/preferences.py
  backend/src/backend/main.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/preferences.py
  backend/src/backend/models/sensitive_image.py
  frontend/src/lib/components/SensitiveImage.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/moderation.svelte.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

fix: match R2 URL pattern for sensitive image detection
  frontend/src/lib/moderation.svelte.ts
Due: frontend-build

fix: match R2 URL pattern and blur non-R2 images
  frontend/src/lib/moderation.svelte.ts
Due: frontend-build

fix: match R2 URL pattern and blur non-R2 images (#477)
  frontend/src/lib/moderation.svelte.ts
Due: frontend-build

fix: remove aggressive non-R2 image blocking
  frontend/src/lib/moderation.svelte.ts
Due: frontend-build

fix: remove aggressive non-R2 image blocking (#478)
  frontend/src/lib/moderation.svelte.ts
Due: frontend-build

fix: fetch sensitive images server-side for SSR meta tags
  frontend/src/lib/moderation.svelte.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: fetch sensitive images server-side for SSR meta tags (#479)
  frontend/src/lib/moderation.svelte.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: sync copyright flag resolution from labeler to portal
  backend/src/backend/_internal/moderation.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/test_moderation.py
  backend/tests/utilities/test_aggregations.py
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/main.rs
Due: ty-check

fix: use data prop instead of parent() for sensitive images SSR
  frontend/src/routes/+layout.ts
Due: frontend-build

fix: handle nullable data parameter in layout load function
  frontend/src/routes/+layout.ts
Due: frontend-build

fix: use data prop instead of parent() for sensitive images SSR (#481)
  frontend/src/routes/+layout.ts
Due: frontend-build

fix: improve likers tooltip UX and blur sensitive avatars
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: improve likers tooltip UX and blur sensitive avatars (#482)
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

docs: add sensitive image moderation to STATUS.md
  STATUS.md
Due: none

docs: add sensitive content moderation documentation
  docs/moderation/sensitive-content.md
Due: none

fix: likers tooltip z-index and compact mode for sensitive avatars
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/SensitiveImage.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: likers tooltip improvements and sensitive content docs (#483)
  STATUS.md
  docs/moderation/sensitive-content.md
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/SensitiveImage.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: proper z-index stacking and viewport-aware positioning for likers tooltip
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: proper z-index stacking and viewport-aware positioning for likers tooltip (#484)
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build
