Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: handle empty turbopuffer namespace gracefully
  backend/src/backend/_internal/tpuf_client.py
Due: type-check

fix: handle empty turbopuffer namespace gracefully (#855)
  backend/src/backend/_internal/tpuf_client.py
Due: type-check

chore: concurrent backfill script, rename vibe-search docs to mood-search
  docs/backend/mood-search.md
  scripts/backfill_embeddings.py
Due: type-check

chore: concurrent backfill script, rename vibe-search docs to mood-search (#856)
  docs/backend/mood-search.md
  scripts/backfill_embeddings.py
Due: type-check

fix: cold start latency + unified search results
  clap/app.py
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
Due: type-check, svelte-check, eslint

fix: cold start latency + unified search results (#857)
  clap/app.py
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
Due: type-check, svelte-check, eslint

fix: merge search results by score instead of separating by type
  frontend/src/lib/search.svelte.ts
Due: svelte-check, eslint

fix: merge search results by score instead of separating by type (#858)
  frontend/src/lib/search.svelte.ts
Due: svelte-check, eslint

feat: recommend tags for tracks based on audio similarity
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/api/tracks/tags.py
  backend/tests/api/test_recommended_tags.py
Due: type-check

feat: recommend tags for tracks based on audio similarity (#859)
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/api/tracks/tags.py
  backend/tests/api/test_recommended_tags.py
Due: type-check

fix: use include_attributes for tpuf vector fetch, log unhandled exceptions
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/main.py
Due: type-check

fix: use include_attributes for tpuf vector fetch, log unhandled exceptions (#860)
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/main.py
Due: type-check

fix: tpuf get_vector needs rank_by for query to work
  backend/src/backend/_internal/tpuf_client.py
Due: type-check

fix: tpuf get_vector needs rank_by for query to work (#861)
  backend/src/backend/_internal/tpuf_client.py
Due: type-check

docs: add recommended-tags endpoint, document namespace naming
  docs/backend/mood-search.md
Due: none

docs: add recommended-tags endpoint, document namespace naming (#862)
  docs/backend/mood-search.md
Due: none

feat: genre classification via Replicate effnet-discogs
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/replicate_client.py
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/api/test_recommended_tags.py
  docs/backend/mood-search.md
  frontend/src/routes/privacy/+page.svelte
  loq.toml
  scripts/backfill_genres.py
Due: type-check, svelte-check, eslint

feat: genre classification via Replicate effnet-discogs (#864)
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/replicate_client.py
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/api/test_recommended_tags.py
  docs/backend/mood-search.md
  frontend/src/routes/privacy/+page.svelte
  loq.toml
  scripts/backfill_genres.py
Due: type-check, svelte-check, eslint

fix: clean Discogs genre names, add genre classification docs
  backend/src/backend/_internal/replicate_client.py
  docs/backend/genre-classification.md
Due: type-check

fix: clean Discogs genre names, add genre classification docs (#865)
  backend/src/backend/_internal/replicate_client.py
  docs/backend/genre-classification.md
Due: type-check

docs: link genre-classification from docs index
  docs/README.md
Due: none

docs: link genre-classification from docs index (#866)
  docs/README.md
Due: none

fix: invalidate genre predictions when audio file changes
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/tags.py
  backend/tests/api/test_recommended_tags.py
  scripts/backfill_genres.py
Due: type-check

fix: invalidate genre predictions when audio file changes (#867)
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/tags.py
  backend/tests/api/test_recommended_tags.py
  scripts/backfill_genres.py
Due: type-check

feat: show suggested genre tags in track edit modal
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat: show suggested genre tags in track edit modal (#868)
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs: update docs and STATUS.md for genre classification feature
  STATUS.md
  docs/README.md
  docs/backend/background-tasks.md
  docs/backend/genre-classification.md
Due: none

docs: update docs and STATUS.md for genre classification feature (#869)
  STATUS.md
  docs/README.md
  docs/backend/background-tasks.md
  docs/backend/genre-classification.md
Due: none

fix: split genre/subgenre into separate tags
  backend/src/backend/_internal/replicate_client.py
  docs/backend/genre-classification.md
Due: type-check

fix: split genre/subgenre into separate tags (#870)
  backend/src/backend/_internal/replicate_client.py
  docs/backend/genre-classification.md
Due: type-check

feat: auto-tag tracks with recommended genres at upload time
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat: auto-tag tracks with recommended genres at upload time (#871)
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

chore: add ML processing audit script
  scripts/ml_audit.py
Due: type-check

chore: add ML processing audit script (#872)
  scripts/ml_audit.py
Due: type-check

docs: update docs for auto-tag at upload and ML audit script
  STATUS.md
  docs/backend/background-tasks.md
  docs/backend/genre-classification.md
Due: none

docs: update docs for auto-tag at upload and ML audit script (#873)
  STATUS.md
  docs/backend/background-tasks.md
  docs/backend/genre-classification.md
Due: none

fix: remove duplicate auto-download toggle from playback section
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix: remove duplicate auto-download toggle from playback section (#874)
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint
