Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: correct audd cost calculation with one-time adjustment
  scripts/costs/export_costs.py
Due: ty-check

docs: update STATUS.md - cost dashboard complete
  STATUS.md
Due: none

feat: public costs dashboard (#548)
  .github/workflows/export-costs.yml
  STATUS.md
  backend/src/backend/api/stats.py
  backend/src/backend/config.py
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

fix: use dedicated plyr-stats R2 bucket for costs dashboard
  backend/src/backend/config.py
  scripts/costs/export_costs.py
Due: ty-check

fix: use dedicated plyr-stats R2 bucket for costs dashboard (#549)
  backend/src/backend/config.py
  scripts/costs/export_costs.py
Due: ty-check

fix: album delete endpoint and track ordering from ATProto list
  backend/src/backend/api/albums.py
  backend/tests/api/test_albums.py
Due: ty-check

feat: album edit mode with ATProto sync and portal UX improvements
  backend/src/backend/api/albums.py
  backend/tests/api/test_albums.py
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: ty-check, frontend-build

feat: album management improvements (#550)
  backend/src/backend/api/albums.py
  backend/tests/api/test_albums.py
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: ty-check, frontend-build

fix: sync album list record name when title is updated
  backend/src/backend/api/albums.py
  backend/tests/api/test_albums.py
Due: ty-check

fix: sync album list record name when title is updated (#551)
  backend/src/backend/api/albums.py
  backend/tests/api/test_albums.py
Due: ty-check

fix: optimistic UI update for album title changes
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: optimistic UI update for album title changes (#552)
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: restore show on profile toggle for playlists
  frontend/src/routes/playlist/[id]/+page.svelte
Due: frontend-build

fix: restore show on profile toggle for playlists (#553)
  frontend/src/routes/playlist/[id]/+page.svelte
Due: frontend-build

feat: add pagination and infinite scroll to tracks list
  backend/src/backend/api/tracks/listing.py
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/+page.svelte
Due: ty-check, frontend-build

fix: address PR feedback
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/config.py
Due: ty-check

feat: add pagination and infinite scroll to tracks list (#554)
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/config.py
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/+page.svelte
Due: ty-check, frontend-build

docs: audit and update documentation for Dec 10
  STATUS.md
  docs/backend/background-tasks.md
  docs/frontend/state-management.md
Due: none

docs: audit and update documentation for Dec 10 (#556)
  STATUS.md
  docs/backend/background-tasks.md
  docs/frontend/state-management.md
Due: none

fix: sync album slug when title is updated via PATCH
  backend/src/backend/api/albums.py
  backend/tests/api/test_albums.py
Due: ty-check

fix: sync album slug when title is updated via PATCH (#557)
  backend/src/backend/api/albums.py
  backend/tests/api/test_albums.py
Due: ty-check

feat: add targeted album list sync background task
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_albums.py
  backend/tests/api/test_track_deletion.py
Due: ty-check

feat: add targeted album list sync background task (#558)
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_track_deletion.py
Due: ty-check

fix: reduce docket redis polling from 250ms to 5s
  backend/src/backend/_internal/background.py
  backend/src/backend/config.py
  scripts/costs/export_costs.py
Due: ty-check

fix: reduce docket redis polling from 250ms to 5s (#559)
  backend/src/backend/_internal/background.py
  backend/src/backend/config.py
  scripts/costs/export_costs.py
Due: ty-check

fix: trigger album list sync when owner views album missing ATProto record
  backend/src/backend/_internal/background.py
  backend/src/backend/api/albums.py
  backend/src/backend/config.py
  backend/tests/api/test_albums.py
  scripts/costs/export_costs.py
Due: ty-check

feat: move like and comment PDS writes to background tasks
  .claude/commands/investigate-report.md
  backend/alembic/versions/2025_12_10_125948_4febe85be5a4_allow_null_atproto_like_uri_for_.py
  backend/alembic/versions/2025_12_10_131338_37cc1d6980c3_allow_null_atproto_comment_uri_for_.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/models/track_comment.py
  backend/src/backend/models/track_like.py
  backend/tests/api/test_track_comments.py
  backend/tests/api/test_track_likes.py
Due: ty-check

refactor: move deferred imports to module level
  backend/src/backend/_internal/background_tasks.py
Due: ty-check

feat: move like and comment PDS writes to background tasks (#561)
  .claude/commands/investigate-report.md
  backend/alembic/versions/2025_12_10_125948_4febe85be5a4_allow_null_atproto_like_uri_for_.py
  backend/alembic/versions/2025_12_10_131338_37cc1d6980c3_allow_null_atproto_comment_uri_for_.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/models/track_comment.py
  backend/src/backend/models/track_like.py
  backend/tests/api/test_track_comments.py
  backend/tests/api/test_track_likes.py
Due: ty-check

feat: add atprotofans support link mode
  backend/src/backend/api/preferences.py
  backend/tests/api/test_preferences.py
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

fix: validate atprotofans eligibility before selection
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: use ATProto SDK for proper handle/PDS resolution
  backend/src/backend/_internal/atproto/handles.py
  frontend/bun.lockb
  frontend/package.json
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/u/[handle]/+error.svelte
Due: ty-check, frontend-build

fix: show 'profile ready' as link to atprotofans profile
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: correct atprotofans URL to use /u/{did} not /profile/{handle}
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: add atprotofans support link mode (#562)
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/api/preferences.py
  backend/tests/api/test_preferences.py
  frontend/bun.lockb
  frontend/package.json
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/u/[handle]/+error.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

feat: add alpha badge to header branding
  frontend/src/lib/branding.ts
  frontend/src/lib/components/Header.svelte
Due: frontend-build

feat: add alpha badge to header branding (#563)
  frontend/src/lib/branding.ts
  frontend/src/lib/components/Header.svelte
Due: frontend-build

feat: add redis cache for copyright label lookups
  backend/pyproject.toml
  backend/src/backend/_internal/moderation.py
  backend/src/backend/utilities/redis.py
  backend/tests/test_moderation.py
  backend/uv.lock
Due: ty-check

refactor: move cache settings to config, add async context manager
  backend/src/backend/_internal/moderation.py
  backend/src/backend/config.py
  backend/src/backend/utilities/redis.py
  backend/tests/test_moderation.py
Due: ty-check

feat: add terms of service and privacy policy pages
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build
