Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

docs: add ATProto media service patterns research and update status
  STATUS.md
  docs/research/2026-01-29-atproto-media-service-patterns.md
Due: none

docs: add ATProto media service patterns research and update status (#834)
  STATUS.md
  docs/research/2026-01-29-atproto-media-service-patterns.md
Due: none

fix: tighten PDS upload copy
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
Due: svelte-check, eslint

fix: tighten PDS upload copy (#835)
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
Due: svelte-check, eslint

fix: remove R2 impl detail from user-facing copy
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
Due: svelte-check, eslint

fix: remove R2 impl detail from user-facing copy (#836)
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
Due: svelte-check, eslint

fix: hide share links with no interactions from portal list
  backend/src/backend/api/tracks/shares.py
Due: type-check

fix: hide share links with no interactions from portal list (#837)
  backend/src/backend/api/tracks/shares.py
Due: type-check

feat: per-track PDS migration modal with file sizes
  backend/src/backend/_internal/pds_backfill_tasks.py
  backend/src/backend/api/pds_backfill.py
  backend/src/backend/api/tracks/listing.py
  frontend/src/lib/components/PdsBackfillControl.svelte
  frontend/src/lib/components/PdsMigrationModal.svelte
  frontend/src/routes/portal/+page.svelte
Due: type-check, svelte-check, eslint

fix: align modal UI with established patterns
  frontend/src/lib/components/PdsMigrationModal.svelte
  frontend/src/routes/portal/+page.svelte
Due: svelte-check, eslint

feat: per-track PDS migration modal with file sizes (#838)
  backend/src/backend/_internal/pds_backfill_tasks.py
  backend/src/backend/api/pds_backfill.py
  backend/src/backend/api/tracks/listing.py
  frontend/src/lib/components/PdsBackfillControl.svelte
  frontend/src/lib/components/PdsMigrationModal.svelte
  frontend/src/routes/portal/+page.svelte
Due: type-check, svelte-check, eslint

fix: modal closes immediately on migrate, progress via toasts
  frontend/src/lib/components/PdsBackfillControl.svelte
  frontend/src/lib/components/PdsMigrationModal.svelte
Due: svelte-check, eslint

fix: modal closes immediately on migrate, progress via toasts (#839)
  frontend/src/lib/components/PdsBackfillControl.svelte
  frontend/src/lib/components/PdsMigrationModal.svelte
Due: svelte-check, eslint

docs: status update for PRs #835-839
  STATUS.md
Due: none

docs: status update for PRs #835-839 (#840)
  STATUS.md
Due: none

fix: use shared ShareButton on track detail page
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: use shared ShareButton on track detail page (#841)
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: gate PDS backfill behind pds-audio-uploads feature flag
  backend/src/backend/api/pds_backfill.py
  frontend/src/lib/components/PdsBackfillControl.svelte
Due: type-check, svelte-check, eslint

fix: gate PDS backfill behind pds-audio-uploads feature flag (#842)
  backend/src/backend/api/pds_backfill.py
  frontend/src/lib/components/PdsBackfillControl.svelte
Due: type-check, svelte-check, eslint

fix: prevent handle hint text wrap on mobile login page
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

fix: prevent handle hint text wrap on mobile login page (#843)
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

fix: hide handle hint text on mobile, show only service links
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

fix: hide handle hint text on mobile, show only service links (#844)
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

fix: adaptively size handle hint on mobile
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

fix: adaptively size handle hint on mobile (#845)
  frontend/src/routes/login/+page.svelte
Due: svelte-check, eslint

feat: vibe search MVP with CLAP embeddings + version-aware terms acceptance
  backend/pyproject.toml
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/clap_client.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/api/search.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/uv.lock
  clap/app.py
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/search.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
  loq.toml
  scripts/backfill_embeddings.py
Due: type-check, svelte-check, eslint

address PR review: rename vibe→semantic, fix imports and types
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/clap_client.py
  backend/src/backend/api/search.py
  backend/src/backend/config.py
  clap/app.py
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
Due: type-check, svelte-check, eslint

feat: vibe search MVP with version-aware terms acceptance (#848)
  backend/pyproject.toml
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/clap_client.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/api/search.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/uv.lock
  clap/app.py
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/search.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
  loq.toml
  scripts/backfill_embeddings.py
Due: type-check, svelte-check, eslint

fix: CLAP service m4a support, correct R2 URL, update Modal API
  clap/app.py
  docs/README.md
  docs/backend/vibe-search.md
  scripts/backfill_embeddings.py
Due: type-check

fix: CLAP service m4a support, correct R2 URL, update Modal API (#849)
  clap/app.py
  docs/README.md
  docs/backend/vibe-search.md
  scripts/backfill_embeddings.py
Due: type-check

fix: correct CLAP embedding pipeline and normalize similarity scores
  backend/src/backend/api/search.py
  clap/app.py
Due: type-check

fix: correct CLAP embedding pipeline and normalize similarity scores (#850)
  backend/src/backend/api/search.py
  clap/app.py
Due: type-check

feat: unified search with parallel keyword + semantic results
  backend/src/backend/api/search.py
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
Due: type-check, svelte-check, eslint

feat: unified search with parallel keyword + semantic results (#851)
  backend/src/backend/api/search.py
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
Due: type-check, svelte-check, eslint

fix: semantic search quality — distance threshold, cap results, remove separator
  backend/src/backend/api/search.py
  frontend/src/lib/components/SearchModal.svelte
Due: type-check, svelte-check, eslint

fix: semantic search quality — distance threshold, cap results, remove separator (#852)
  backend/src/backend/api/search.py
  frontend/src/lib/components/SearchModal.svelte
Due: type-check, svelte-check, eslint

fix: add spread check to filter low-signal semantic results, rename vibe→mood
  backend/src/backend/api/search.py
  frontend/src/lib/components/SearchModal.svelte
Due: type-check, svelte-check, eslint

fix: add spread check to filter low-signal semantic results, rename vibe→mood (#853)
  backend/src/backend/api/search.py
  frontend/src/lib/components/SearchModal.svelte
Due: type-check, svelte-check, eslint

fix: switch CLAP model from larger_clap_music to clap-htsat-unfused
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/api/search.py
  clap/app.py
Due: type-check

fix: switch CLAP model from larger_clap_music to clap-htsat-unfused (#854)
  backend/src/backend/_internal/tpuf_client.py
  backend/src/backend/api/search.py
  clap/app.py
Due: type-check
