Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

fix: close interrupted PDS upload streams (#2043)
  STATUS.md
  backend/src/backend/_internal/atproto/client.py
  backend/tests/_internal/test_upload_stream_cleanup.py
  loq.toml
Due: type-check

Refresh radio, track and collection embeds
  STATUS.md
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/components/embed/CollectionEmbed.test.ts
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/routes/embed/+layout@.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

Refresh radio, track and collection embeds (#2044)
  STATUS.md
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/components/embed/CollectionEmbed.test.ts
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/routes/embed/+layout@.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

Fix scrolling in the mobile track editor
  STATUS.md
  frontend/src/lib/components/EditTrackModal.stories.svelte
  frontend/src/lib/components/EditTrackModal.svelte
Due: svelte-check, eslint

Fix scrolling in the mobile track editor (#2045)
  STATUS.md
  frontend/src/lib/components/EditTrackModal.stories.svelte
  frontend/src/lib/components/EditTrackModal.svelte
Due: svelte-check, eslint

fix studio daily quota diagnosis and retries
  STATUS.md
  services/musician-studio/studio/audio_errors.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/tests/test_audio_model.py
Due: type-check

fix studio daily quota diagnosis and retries (#2046)
  STATUS.md
  services/musician-studio/studio/audio_errors.py
  services/musician-studio/studio/audio_model.py
  services/musician-studio/tests/test_audio_model.py
Due: type-check

Add public listening with private files when Spaces is unavailable
  backend/src/backend/api/audio.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/schemas.py
  backend/tests/api/test_audio.py
  backend/tests/api/test_audio_download.py
  backend/tests/api/test_upload_copyright_gate.py
  backend/tests/api/test_upload_sessions.py
  frontend/src/lib/components/TrackEditForm.svelte
  frontend/src/lib/components/TrackEditForm.test.ts
  frontend/src/lib/components/VisibilityPicker.stories.svelte
  frontend/src/lib/components/VisibilityPicker.svelte
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/lib/components/track-edit/TrackAccessFields.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

Separate download permission from track visibility
  backend/src/backend/api/tracks/upload_sessions.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_sessions.py
  docs/internal/contracts/client-api.json
  frontend/src/lib/components/TrackEditForm.test.ts
  frontend/src/lib/components/VisibilityPicker.stories.svelte
  frontend/src/lib/components/VisibilityPicker.svelte
  frontend/src/lib/components/track-edit/TrackAccessFields.svelte
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

Audit audio storage and access before revising download controls
  docs/internal/architecture/audio-access-reconciliation.md
Due: none

Close protected-audio lifecycle gaps found in self-review
  backend/src/backend/_internal/track_revisions.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/utilities/downloads.py
  backend/tests/api/test_pds_save_access.py
  backend/tests/api/test_track_deletion.py
  backend/tests/api/test_upload_sessions.py
  backend/tests/api/track_audio_replace/test_revisions.py
  docs/internal/architecture/audio-access-reconciliation.md
  frontend/src/lib/components/VisibilityPicker.stories.svelte
  frontend/src/lib/components/VisibilityPicker.svelte
  loq.toml
Due: type-check, svelte-check, eslint

Default top tracks to the past month
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: preserve upload rights across sign-in
  frontend/src/lib/upload-form-stash.test.ts
  frontend/src/lib/upload-form-stash.ts
  frontend/src/routes/upload/+page.svelte
Due: svelte-check, eslint

fix: use protected playback renditions and current Space contract
  backend/tests/integration/test_private_media.py
  docs/plans/2026-09-12-publishing-access.md
  frontend/src/lib/audio-source.ts
  frontend/src/lib/protected-playback.test.ts
Due: type-check, svelte-check, eslint

test: drive Space access through publishing controls
  frontend/e2e/private-media.mjs
  frontend/e2e/record-private.mjs
Due: svelte-check

fix: inherit album access for uploads identified by name
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_sessions.py
  loq.toml
Due: type-check

fix: preserve publishing defaults when Portal loading fails
  docs/plans/2026-09-12-publishing-access.md
  frontend/src/lib/components/portal/ProfileSection.svelte
  frontend/src/lib/components/portal/ProfileSection.test.ts
Due: svelte-check, eslint

fix: expose recording rights override consistently
  docs/plans/2026-09-12-publishing-access.md
  frontend/src/routes/record/+page.svelte
Due: svelte-check, eslint

fix: describe actual listening restrictions in playback
  docs/plans/2026-09-12-publishing-access.md
  frontend/src/lib/access-denial.test.ts
  frontend/src/lib/access-denial.ts
  frontend/src/lib/audio-source.ts
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/publishing.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: report album publishing conflicts and partial saves
  backend/pyproject.toml
  backend/scripts/init_db.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/albums/publishing.py
  backend/tests/api/test_publishing_changes.py
  docs/plans/2026-09-12-publishing-access.md
  frontend/src/lib/publishing-jobs.test.ts
  frontend/src/lib/publishing-jobs.ts
  frontend/src/lib/upload-session.ts
Due: type-check, svelte-check, eslint

docs: record track and album browser smoke evidence
  docs/plans/2026-09-12-publishing-access.md
Due: none

fix: separate upload access and attestation cards
  docs/plans/2026-09-12-publishing-access.md
  frontend/src/routes/upload/+page.svelte
Due: svelte-check, eslint

fix: reject unsupported Space download settings
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_private_media_upload.py
  docs/plans/2026-09-12-publishing-access.md
  frontend/src/lib/components/PublishingControls.svelte
  frontend/src/lib/components/PublishingSettings.stories.svelte
  loq.toml
Due: type-check, svelte-check, eslint

retain bounded Python render errors in studio runs
  STATUS.md
  services/musician-studio/compose.py
  services/musician-studio/studio/render_process.py
  services/musician-studio/tests/test_render_process.py
Due: type-check

retain bounded Python render errors in studio runs (#2050)
  STATUS.md
  services/musician-studio/compose.py
  services/musician-studio/studio/render_process.py
  services/musician-studio/tests/test_render_process.py
Due: type-check

give musician scripts one bounded runtime correction
  STATUS.md
  services/musician-studio/audio_round.py
  services/musician-studio/flow.py
  services/musician-studio/studio/render_repair.py
  services/musician-studio/tests/test_audio_round.py
  services/musician-studio/tests/test_render_repair.py
Due: type-check

give musician scripts one bounded runtime correction (#2051)
  STATUS.md
  services/musician-studio/audio_round.py
  services/musician-studio/flow.py
  services/musician-studio/studio/render_repair.py
  services/musician-studio/tests/test_audio_round.py
  services/musician-studio/tests/test_render_repair.py
Due: type-check

docs: record staging access matrix and quiet smoke uploads
  .agents/skills/change/SKILL.md
  STATUS.md
  docs/plans/2026-09-12-staging-publishing-smoke.md
Due: none

fix: use the standard error page for unavailable tracks
  frontend/src/lib/components/ErrorPage.svelte
  frontend/src/routes/+error.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/track/[id]/page.test.ts
Due: svelte-check, eslint

fix: use the standard error page for unavailable tracks (#2053)
  frontend/src/lib/components/ErrorPage.svelte
  frontend/src/routes/+error.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/track/[id]/page.test.ts
Due: svelte-check, eslint

fix: restore the sign-in CTA for signed-out likes
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/AddToMenu.test.ts
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/likes.svelte.ts
  frontend/src/lib/likes.test.ts
Due: svelte-check, eslint

fix: restore the sign-in CTA for signed-out likes (#2054)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/AddToMenu.test.ts
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/likes.svelte.ts
  frontend/src/lib/likes.test.ts
Due: svelte-check, eslint

Default top tracks to the past month (#2048)
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

Document publishing access and production release verification
  STATUS.md
  docs/plans/2026-09-12-staging-publishing-smoke.md
  docs/plans/2026-09-13-publishing-release.md
  docs/public/artists.md
  docs/public/developers/api-reference/tracks/mutations.md
  docs/public/developers/api-reference/tracks/uploads.md
  docs/public/developers/publishing.md
  docs/public/glossary.md
  docs/public/listeners.md
  docs/site/astro.config.mjs
  docs/site/public/llms-full.txt
  frontend/static/llms.txt
Due: svelte-check

Document publishing access and release verification (#2052)
  .agents/skills/change/SKILL.md
  STATUS.md
  docs/plans/2026-09-12-staging-publishing-smoke.md
  docs/plans/2026-09-13-publishing-release.md
  docs/public/artists.md
  docs/public/developers/api-reference/tracks/mutations.md
  docs/public/developers/api-reference/tracks/uploads.md
  docs/public/developers/publishing.md
  docs/public/glossary.md
  docs/public/listeners.md
  docs/site/astro.config.mjs
  docs/site/public/llms-full.txt
  frontend/static/llms.txt
Due: svelte-check

Record production publishing smoke and client release
  STATUS.md
  docs/plans/2026-09-13-publishing-release.md
Due: none

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
