Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix(notifications): say which environment an operator alert fired on
  backend/src/backend/_internal/notifications.py
  backend/tests/_internal/test_notification_service.py
Due: type-check

revert: don't ship scripts/ in the backend image (#1792)
  backend/Dockerfile
Due: none

fix(notifications): say which environment an operator alert fired on (#1793)
  backend/src/backend/_internal/notifications.py
  backend/tests/_internal/test_notification_service.py
Due: type-check

fix: correct the pool_recycle guidance, and isolate integration albums per run
  STATUS.md
  backend/tests/integration/test_album_upload.py
  docs/internal/backend/database/connection-pooling.md
Due: type-check

fix: correct the pool_recycle guidance, and isolate integration albums per run (#1794)
  STATUS.md
  backend/tests/integration/test_album_upload.py
  docs/internal/backend/database/connection-pooling.md
Due: type-check

fix(radio): honor the moderation exclude override in the corpus and atlas
  backend/src/backend/api/radio/corpus.py
  backend/tests/api/test_radio.py
  loq.toml
  scripts/build_atlas.py
Due: type-check

feat(transparency): announce a batch decision as one post, not one per subject
  backend/src/backend/_internal/tasks/transparency.py
  backend/src/backend/_internal/transparency.py
  backend/tests/test_transparency.py
Due: type-check

fix(radio): honor the moderation exclude override in the corpus and atlas (#1797)
  backend/src/backend/api/radio/corpus.py
  backend/tests/api/test_radio.py
  loq.toml
  scripts/build_atlas.py
Due: type-check

fix(moderation): exclude is curation, not removal — never empty a destination
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/models/track.py
  backend/tests/test_content_label_policy.py
  docs/internal/moderation/event-log.md
Due: type-check

fix(moderation): exclude is curation, not removal — never empty a destination (#1799)
  backend/src/backend/_internal/content_labels.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/models/track.py
  backend/tests/test_content_label_policy.py
  docs/internal/moderation/event-log.md
Due: type-check

docs: status — exclude semantics, the alert's first firing, search ranking (#1797, #1799, #1796, #1523)
  STATUS.md
Due: none

docs: status — exclude semantics, the alert's first firing, search ranking (#1797, #1799, #1796, #1523) (#1800)
  STATUS.md
Due: none

fix(search): rank lexical intent above trigram fuzz (#1523)
  backend/src/backend/api/search.py
  backend/tests/api/test_search_ranking.py
Due: type-check

fix(search): rank lexical intent above trigram fuzz (#1523) (#1801)
  backend/src/backend/api/search.py
  backend/tests/api/test_search_ranking.py
Due: type-check

docs: status — search ranks lexical intent above trigram fuzz (#1523, #1801)
  STATUS.md
Due: none

docs: status — search ranks lexical intent above trigram fuzz (#1523, #1801) (#1802)
  STATUS.md
Due: none

docs: status — retire stale known issues verified against reality
  STATUS.md
Due: none

docs: status — retire stale known issues verified against reality (#1803)
  STATUS.md
Due: none

fix: drop image origin validation from the record write path
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/config.py
  backend/tests/test_origin_validation.py
Due: type-check

feat: surface PDS blob failures to the user instead of burying them in logs
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/api/pds_save.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_progress_sse.py
  frontend/src/lib/components/PdsSaveControl.svelte
  frontend/src/lib/toast.svelte.ts
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix: drop image origin validation from the record write path (#1805)
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/config.py
  backend/tests/test_origin_validation.py
Due: type-check

feat(portal): all-caught-up state for PDS save + shorter share links list
  frontend/src/lib/components/PdsSaveControl.svelte
  frontend/src/lib/components/portal/SharesSection.svelte
  loq.toml
Due: svelte-check, eslint

feat(portal): all-caught-up state for PDS save + shorter share links list (#1807)
  frontend/src/lib/components/PdsSaveControl.svelte
  frontend/src/lib/components/portal/SharesSection.svelte
  loq.toml
Due: svelte-check, eslint

feat: surface PDS blob failures to the user instead of burying them in logs (#1806)
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/api/pds_save.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_progress_sse.py
  frontend/src/lib/components/PdsSaveControl.svelte
  frontend/src/lib/toast.svelte.ts
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat(portal): dismissible banner when audio relies on plyr.fm storage
  backend/src/backend/api/tracks/listing.py
  backend/tests/api/test_my_tracks_search_sort.py
  frontend/src/lib/components/PdsSaveBanner.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

respect pds_audio_uploads_enabled opt-out in save banner
  frontend/src/lib/components/PdsSaveBanner.svelte
Due: svelte-check, eslint

refactor: single source of truth for the optimizing predicate
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  frontend/src/lib/types.ts
  frontend/src/lib/utils/track-audio.ts
Due: type-check, svelte-check, eslint

refactor: move audio format definitions to backend.utilities.audio_formats
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/storage/keys.py
  backend/src/backend/storage/r2.py
  backend/src/backend/utilities/audio_formats.py
  backend/tests/api/test_audio_optimize.py
  backend/tests/api/test_private_media_upload.py
  backend/tests/api/test_upload_phases.py
  backend/tests/api/test_upload_session_reload.py
  backend/tests/api/test_upload_storage_cleanup.py
  backend/tests/api/track_audio_replace/_helpers.py
  backend/tests/test_audio_formats.py
  backend/tests/test_storage_keys.py
Due: type-check

fix(tests): make parallel test-database bootstrap timeout-proof
  backend/tests/conftest.py
  backend/tests/docker-compose.yml
  loq.toml
Due: type-check

fix(tests): make parallel test-database bootstrap timeout-proof (#1809)
  backend/tests/conftest.py
  backend/tests/docker-compose.yml
  loq.toml
Due: type-check

feat(portal): dismissible banner when audio relies on plyr.fm storage (#1808)
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/src/backend/storage/keys.py
  backend/src/backend/storage/r2.py
  backend/src/backend/utilities/audio_formats.py
  backend/tests/api/test_audio_optimize.py
  backend/tests/api/test_my_tracks_search_sort.py
  backend/tests/api/test_private_media_upload.py
  backend/tests/api/test_upload_phases.py
  backend/tests/api/test_upload_session_reload.py
  backend/tests/api/test_upload_storage_cleanup.py
  backend/tests/api/track_audio_replace/_helpers.py
  backend/tests/test_audio_formats.py
  backend/tests/test_storage_keys.py
  frontend/src/lib/components/PdsSaveBanner.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils/track-audio.ts
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(portal): banner CTA opens the PDS picker instead of dropping you on /manage
  frontend/src/lib/components/PdsSaveBanner.svelte
  frontend/src/lib/components/PdsSaveControl.svelte
  frontend/src/lib/uploader.svelte.ts
Due: svelte-check, eslint

fix(portal): banner CTA opens the PDS picker instead of dropping you on /manage (#1810)
  frontend/src/lib/components/PdsSaveBanner.svelte
  frontend/src/lib/components/PdsSaveControl.svelte
  frontend/src/lib/uploader.svelte.ts
Due: svelte-check, eslint

fix(pds-save): every counted failure now reports why
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/api/pds_save.py
  backend/tests/_internal/test_pds_save_failure_reporting.py
  frontend/src/lib/components/PdsSaveControl.svelte
Due: type-check, svelte-check, eslint

fix(pds-save): locate audio by its real storage key, not the record rkey
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/storage/keys.py
  backend/tests/_internal/test_pds_save_failure_reporting.py
  backend/tests/test_audio_key_for_track.py
Due: type-check

fix(storage): resolve every track-keyed storage call via AudioKey.for_track
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/track_revisions.py
  backend/src/backend/api/account.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/revisions.py
  backend/tests/test_audio_key_for_track.py
  backend/tests/test_background_tasks.py
  loq.toml
Due: type-check

fix(pds-save): locate audio by its real storage key, and explain every failure (#1811)
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/pds_save_tasks.py
  backend/src/backend/_internal/track_revisions.py
  backend/src/backend/api/account.py
  backend/src/backend/api/pds_save.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/storage/keys.py
  backend/tests/_internal/test_pds_save_failure_reporting.py
  backend/tests/test_audio_key_for_track.py
  backend/tests/test_background_tasks.py
  frontend/src/lib/components/PdsSaveControl.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: status — the PDS-audio arc, and file_id is not a storage key (#1805-#1811)
  STATUS.md
Due: none

docs: status — the PDS-audio arc, and file_id is not a storage key (#1805-#1811) (#1816)
  STATUS.md
Due: none

feat(scripts): publish community.lexicon.app.profile for plyr.fm
  scripts/publish_app_profile.py
Due: type-check
