Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix(profiles): scope preferred-client to the signed-in account (#1440)
  frontend/src/lib/atclients.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix(settings): move "open links in" picker out of appearance into integrations
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix(plays): stop tab-refresh from inflating play counts (#1441)
  backend/src/backend/api/tracks/playback.py
  backend/tests/api/test_play_count_dedup.py
  frontend/src/lib/player.svelte.ts
Due: type-check, svelte-check, eslint

style: apply ruff-format (collapse single-line statements)
  backend/src/backend/api/tracks/playback.py
  backend/tests/api/test_play_count_dedup.py
Due: type-check

fix(plays): stop tab-refresh from inflating play counts (#1441) (#1443)
  backend/src/backend/api/tracks/playback.py
  backend/tests/api/test_play_count_dedup.py
  frontend/src/lib/player.svelte.ts
Due: type-check, svelte-check, eslint

feat(settings): deep-linkable section headers
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(auth): global post-login intent preservation
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/playback.svelte.ts
  frontend/src/lib/utils/auth-redirect.ts
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(settings): deep-linkable section headers (#1447)
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(tracks): resolve Track at runtime so track edits sync to ATProto (#1444)
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/tests/_internal/test_track_pds_rebuild_typing.py
Due: type-check

test(#1444): integration test through PATCH /tracks/{id} edit→PDS-sync
  backend/tests/_internal/test_track_pds_rebuild_typing.py
  backend/tests/api/test_track_edit_pds_sync.py
Due: type-check

feat(playback): "keep playing" — backfill the queue tail from For You
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(playback): address review — model the ambient tail as a persisted boundary
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: svelte-check, eslint

refactor(playback): name the mechanism, not the product; make clear authoritative
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

feat(shortcuts): open settings with Cmd/Ctrl+,
  docs/internal/frontend/keyboard-shortcuts.md
  docs/public/listeners.md
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

feat(shortcuts): open settings with Cmd/Ctrl+, (#1451)
  docs/internal/frontend/keyboard-shortcuts.md
  docs/public/listeners.md
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

fix(queue): make the "next from: for you" zone consistent + linkable
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint

refactor(queue): unify queue items — artwork, alignment, handle-less drag
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: svelte-check, eslint

refactor(queue): right-side drag handle instead of whole-row long-press
  frontend/src/lib/components/Queue.svelte
Due: svelte-check, eslint

refactor(queue): unify items — artwork, alignment, handle-less drag (#1453)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: svelte-check, eslint

docs(status): keep-playing + queue refactor, client picker, play-count/edit fixes
  STATUS.md
Due: none

docs(status): keep-playing + queue refactor, client picker, play-count/edit fixes (#1454)
  STATUS.md
Due: none

fix(queue): "keep playing" toggle now tears down the materialized continuation tail
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

docs(status): fold in #1455 — "keep playing" toggle prunes the continuation tail
  STATUS.md
Due: none

docs(status): fold in #1455 — "keep playing" toggle prunes the continuation tail (#1456)
  STATUS.md
Due: none

fix(now-playing): make the rate limit an abuse backstop, not a usage throttle
  backend/src/backend/api/now_playing.py
  backend/tests/api/test_now_playing.py
Due: type-check

feat(uploads): decouple publish from MP3 optimization — AIFF publishes instantly as WAV
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/src/backend/models/job.py
  backend/tests/api/test_audio_optimize.py
  backend/tests/test_transcoder.py
  loq.toml
  services/transcoder/Cargo.lock
  services/transcoder/Cargo.toml
  services/transcoder/src/main.rs
Due: type-check

fix(audio-optimize): race-safety + retries (addresses Codex review on #1461)
  backend/src/backend/api/tracks/audio_optimize.py
  backend/tests/api/test_audio_optimize.py
  loq.toml
Due: type-check

fix(audio-optimize): retry transient transcode failures (Codex round 2)
  backend/src/backend/api/tracks/audio_optimize.py
  backend/tests/api/test_audio_optimize.py
  loq.toml
Due: type-check

feat(uploads): decouple publish from MP3 optimization — AIFF publishes instantly as WAV (#1461)
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/api/tracks/audio_optimize.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/src/backend/models/job.py
  backend/tests/api/test_audio_optimize.py
  backend/tests/test_transcoder.py
  loq.toml
  services/transcoder/Cargo.lock
  services/transcoder/Cargo.toml
  services/transcoder/src/main.rs
Due: type-check

docs(transcoder): align with decoupled publish/optimize + flag interim WAV in portal
  docs/internal/backend/streaming-uploads.md
  docs/internal/backend/transcoder.md
  frontend/src/lib/components/PdsBackfillControl.svelte
  frontend/src/lib/components/PdsMigrationModal.svelte
  frontend/src/lib/utils/track-audio.ts
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs(status): decoupled publish/optimize shipped — #1461 + #1462, release 2026.0528.060101
  STATUS.md
Due: none

research
  docs/internal/research/2026-05-28-dasl-muxl-s2pa.md
  docs/internal/research/2026-05-28-streamplace-media-architecture.md
Due: none

fix(portal): guard track-edit save against double-submit (#1460)
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(portal): extract playlists section into PlaylistsSection.svelte
  frontend/src/lib/components/portal/PlaylistsSection.svelte
  frontend/src/routes/portal/+page.svelte
Due: svelte-check, eslint

fix(portal): drop now-unused SensitiveImage import after playlists extraction
  frontend/src/routes/portal/+page.svelte
Due: svelte-check, eslint

refactor(portal): extract tracks section into TracksSection.svelte
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(portal): extract tracks section into TracksSection.svelte (#1472)
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(portal): extract shares section into SharesSection.svelte
  frontend/src/lib/components/portal/SharesSection.svelte
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(portal): extract albums section into AlbumsSection.svelte
  frontend/src/lib/components/portal/AlbumsSection.svelte
  frontend/src/routes/portal/+page.svelte
Due: svelte-check, eslint
