Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

widen now-playing rate limit to 30/minute
  backend/src/backend/api/now_playing.py
Due: type-check

fix: prevent now-playing flood from degrading API (#1225)
  backend/src/backend/api/now_playing.py
  frontend/src/lib/now-playing.svelte.ts
Due: type-check, svelte-check, eslint

fix: require user confirmation before deploy
  .claude/skills/deploy/SKILL.md
Due: none

fix: require user confirmation before deploy (#1226)
  .claude/skills/deploy/SKILL.md
Due: none

update STATUS.md — browser observability, now-playing flood fix
  STATUS.md
Due: none

update STATUS.md — browser observability, now-playing flood fix (#1227)
  STATUS.md
Due: none

feat: top tracks time-range toggle + artist leaderboard rank
  backend/src/backend/api/artists.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/api/test_artist_leaderboard.py
  backend/tests/api/test_top_tracks.py
  frontend/src/lib/tracks.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: clear leaderboard cache between tests
  backend/tests/api/test_artist_leaderboard.py
Due: type-check

feat: top tracks time-range toggle + artist leaderboard rank (#1228)
  backend/src/backend/api/artists.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/api/test_artist_leaderboard.py
  backend/tests/api/test_top_tracks.py
  frontend/src/lib/tracks.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: hide artist rank card until ranking criteria are refined
  frontend/src/routes/u/[handle]/+page.svelte
Due: svelte-check, eslint

fix: hide artist rank card until ranking criteria are refined (#1229)
  frontend/src/routes/u/[handle]/+page.svelte
Due: svelte-check, eslint

fix: show all-time like count on period-filtered top tracks
  backend/src/backend/api/tracks/listing.py
  backend/tests/api/test_top_tracks.py
  loq.toml
Due: type-check

fix: show all-time like count on period-filtered top tracks (#1230)
  backend/src/backend/api/tracks/listing.py
  backend/tests/api/test_top_tracks.py
  loq.toml
Due: type-check

update STATUS.md — top tracks period toggle, artist rank pulled
  STATUS.md
Due: none

update STATUS.md — top tracks period toggle, artist rank pulled (#1231)
  STATUS.md
Due: none

chore: model upgrades and CI hygiene
  .github/workflows/export-costs.yml
  .github/workflows/run-moderation-loop.yml
  .github/workflows/run-pre-commit.yml
  .github/workflows/status-maintenance.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-transcoder.yml
  .github/workflows/upload-audio.yml
  scripts/generate_tts.py
  scripts/moderation_agent.py
  scripts/moderation_loop.py
  services/transcoder/Dockerfile
Due: type-check

chore: model upgrades and CI hygiene (#1233)
  .github/workflows/export-costs.yml
  .github/workflows/run-moderation-loop.yml
  .github/workflows/run-pre-commit.yml
  .github/workflows/status-maintenance.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-transcoder.yml
  .github/workflows/upload-audio.yml
  scripts/generate_tts.py
  scripts/moderation_agent.py
  scripts/moderation_loop.py
  services/transcoder/Dockerfile
Due: type-check

move PDS audio uploads toggle from settings/experimental to portal/your data
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

move PDS audio uploads toggle from settings/experimental to portal/your data (#1234)
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix broken "learn more" link in delete account section
  frontend/src/routes/portal/+page.svelte
Due: svelte-check, eslint

fix broken "learn more" link in delete account section (#1235)
  frontend/src/routes/portal/+page.svelte
Due: svelte-check, eslint

fix delete account "learn more" link to point to public docs
  frontend/src/routes/portal/+page.svelte
Due: svelte-check, eslint

fix delete account "learn more" link to point to public docs (#1236)
  frontend/src/routes/portal/+page.svelte
Due: svelte-check, eslint

add multi-track album upload to /upload page
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/components/TrackEntryCard.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

add multi-track album upload to /upload page (#1237)
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/components/TrackEntryCard.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

make album uploads concurrent with per-track toast messages
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: svelte-check, eslint

make album uploads concurrent with per-track toast messages (#1238)
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: svelte-check, eslint

update toast docs to reflect per-track upload messages
  docs-internal/frontend/toast-notifications.md
Due: none

update toast docs to reflect per-track upload messages (#1239)
  docs-internal/frontend/toast-notifications.md
Due: none

fix: return 404 (not 500) for playlists with missing PDS records
  backend/src/backend/_internal/atproto/records/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/api/lists.py
  backend/tests/api/test_playlist_by_uri.py
  loq.toml
Due: type-check

fix: return 404 (not 500) for playlists with missing PDS records (#1240)
  backend/src/backend/_internal/atproto/records/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/api/lists.py
  backend/tests/api/test_playlist_by_uri.py
  loq.toml
Due: type-check

reduce baseline memory ~50-70MB by deferring heavy imports
  backend/pyproject.toml
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/storage/__init__.py
  backend/uv.lock
Due: type-check

fix beartype NameError: use string annotations for deferred type
  backend/src/backend/storage/__init__.py
Due: type-check

fix beartype forward ref: use Any annotation for deferred storage
  backend/src/backend/storage/__init__.py
Due: type-check

fix test patch targets for deferred imports in export_tasks
  backend/tests/test_background_tasks.py
Due: type-check

reduce baseline memory ~50-70MB by deferring heavy imports (#1241)
  backend/pyproject.toml
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/storage/__init__.py
  backend/tests/test_background_tasks.py
  backend/uv.lock
Due: type-check

fix: restore psycopg[binary] to prod deps for alembic migrations
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: restore psycopg[binary] to prod deps for alembic migrations (#1242)
  backend/pyproject.toml
  backend/uv.lock
Due: none

Revert "reduce baseline memory ~50-70MB by deferring heavy imports (#1241)"
  backend/pyproject.toml
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/storage/__init__.py
  backend/tests/test_background_tasks.py
  backend/uv.lock
Due: type-check

Revert "fix: restore psycopg[binary] to prod deps for alembic migrations (#1242)"
  backend/pyproject.toml
  backend/uv.lock
Due: none
