Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: add back to home link on login page (#722)
  frontend/src/routes/login/+page.svelte
Due: frontend-build

fix: clarify status maintenance archival instructions
  .github/workflows/status-maintenance.yml
Due: none

fix: clarify status maintenance archival instructions (#723)
  .github/workflows/status-maintenance.yml
Due: none

fix: correct ATProto vs Bluesky terminology
  .github/workflows/status-maintenance.yml
  STATUS.md
Due: none

fix: correct ATProto vs Bluesky terminology (#725)
  .github/workflows/status-maintenance.yml
  STATUS.md
Due: none

temp: exclude reverted PR #724 from status maintenance lookup
  .github/workflows/status-maintenance.yml
Due: none

temp: exclude reverted PR #724 from status maintenance lookup (#727)
  .github/workflows/status-maintenance.yml
Due: none

docs: add status maintenance workflow documentation
  .github/workflows/status-maintenance.yml
  docs/tools/status-maintenance.md
Due: none

docs: add status maintenance workflow documentation (#729)
  .github/workflows/status-maintenance.yml
  docs/tools/status-maintenance.md
Due: none

Align session expiry with refresh token lifetime
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
  backend/src/backend/config.py
  docs/authentication.md
  docs/frontend/data-loading.md
Due: ty-check

Update auth tests for refresh lifetime cap
  backend/tests/test_auth.py
Due: ty-check

Fix client auth method fallback on refresh
  backend/src/backend/_internal/atproto/client.py
Due: ty-check

Align queue auth checks with layout state
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: accept BytesIO in R2Storage.save() type hint
  backend/src/backend/storage/r2.py
  backend/tests/test_storage_types.py
Due: ty-check

chore: improve status-update workflow and document auth stabilization
  .claude/commands/status-update.md
  STATUS.md
Due: none

feat: timestamped comment sharing
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: use onMount for timestamp param, rename link to share
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: use reactive effect for timestamp seek, document pattern
  docs/frontend/state-management.md
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: ensure playback continues after seek
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: don't force autoplay on timestamp links
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

feat: timestamped comment sharing (#739)
  docs/frontend/state-management.md
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: suppress autoplay error on timestamp deep links
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: suppress autoplay error on timestamp deep links (#740)
  frontend/src/lib/queue.svelte.ts
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: import UploadFile from starlette for beartype compatibility
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/mutations.py
Due: ty-check

fix: import UploadFile from starlette for beartype compatibility (#741)
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/mutations.py
Due: ty-check

improve: track edit UX with artwork removal and better styling
  backend/src/backend/_internal/background.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/main.py
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

improve: track edit UX with artwork removal and better styling (#742)
  backend/src/backend/_internal/background.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/main.py
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

docs: update STATUS.md with Jan 8-9 work
  STATUS.md
Due: none

docs: update STATUS.md with Jan 8-9 work (#743)
  STATUS.md
Due: none

feat: add integration test harness with plyrfm SDK
  .github/workflows/integration-tests.yml
  backend/pyproject.toml
  backend/tests/integration/__init__.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_interactions.py
  backend/tests/integration/test_track_lifecycle.py
  backend/tests/integration/utils/__init__.py
  backend/tests/integration/utils/audio.py
  backend/uv.lock
Due: ty-check

docs: add integration test documentation
  .gitignore
  docs/testing/integration-tests.md
Due: none

ci: temporarily trigger on feature branch push (remove before merge)
  .github/workflows/integration-tests.yml
Due: none

ci: fix job condition to allow push trigger
  .github/workflows/integration-tests.yml
Due: none

ci: remove temporary push trigger after successful test
  .github/workflows/integration-tests.yml
Due: none

feat: add integration test harness with plyrfm SDK (#744)
  .github/workflows/integration-tests.yml
  .gitignore
  backend/pyproject.toml
  backend/tests/integration/__init__.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_interactions.py
  backend/tests/integration/test_track_lifecycle.py
  backend/tests/integration/utils/__init__.py
  backend/tests/integration/utils/audio.py
  backend/uv.lock
  docs/testing/integration-tests.md
Due: ty-check

fix: skip copyright scan for integration tests on staging
  backend/src/backend/api/tracks/uploads.py
Due: ty-check

fix: also skip notifications for integration tests on staging
  backend/src/backend/api/tracks/uploads.py
Due: ty-check

fix: skip copyright scan for integration tests on staging (#745)
  backend/src/backend/api/tracks/uploads.py
Due: ty-check

config: bump upload rate limit from 5/min to 20/min
  backend/src/backend/config.py
Due: ty-check
