Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

revert(test): remove the \"flakiness\" retry-poll on test_cross_user_like
  backend/tests/integration/test_interactions.py
Due: type-check

revert(test): remove the \"flakiness\" retry-poll on test_cross_user_like (#1322)
  backend/tests/integration/test_interactions.py
Due: type-check

feat(ci): workflow_dispatch deploy triggers for frontend + backend prod
  .github/workflows/deploy-frontend-prod.yml
  .github/workflows/deploy-frontend-staging.yml
  .github/workflows/deploy-prod.yml
Due: none

docs(deployment): correct frontend Pages build config
  docs/internal/deployment/environments.md
Due: none

docs(deployment): correct frontend Pages build config (#1324)
  docs/internal/deployment/environments.md
Due: none

fix(restore): re-upload blob to PDS when it's been GC'd
  backend/src/backend/api/tracks/revisions.py
  backend/tests/api/track_audio_replace/test_revisions.py
  loq.toml
Due: type-check

fix(restore): re-upload blob to PDS when it's been GC'd (#1325)
  backend/src/backend/api/tracks/revisions.py
  backend/tests/api/track_audio_replace/test_revisions.py
  loq.toml
Due: type-check

fix(portal): audio buttons inherit global font
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(portal): audio buttons inherit global font (#1326)
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(portal): audio-clear-btn inherits global font for consistency
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(portal): audio-clear-btn inherits global font for consistency (#1327)
  frontend/src/routes/portal/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(confirm-dialog): stack above other modals
  frontend/src/lib/components/ConfirmDialog.svelte
Due: svelte-check, eslint

fix(confirm-dialog): use native <dialog> + showModal for top-layer stacking
  frontend/src/lib/components/ConfirmDialog.svelte
Due: svelte-check, eslint

fix(confirm-dialog): use native <dialog> + showModal for top-layer stacking (#1330)
  frontend/src/lib/components/ConfirmDialog.svelte
Due: svelte-check, eslint

fix(uploads): migrate track upload + audio replace to docket
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/track_audio_replace/test_endpoint.py
  backend/tests/integration/test_album_upload.py
  loq.toml
Due: type-check

fix(uploads): migrate track upload + audio replace to docket (#1331)
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/track_audio_replace/test_endpoint.py
  backend/tests/integration/test_album_upload.py
  loq.toml
Due: type-check

fix(atproto): always refresh on 401 + widen transient-error retry net
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/test_pds_network_retry.py
  loq.toml
Due: type-check

fix(atproto): always refresh on 401 + widen transient-error retry net (#1332)
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/test_pds_network_retry.py
  loq.toml
Due: type-check

fix(uploads): per-DID concurrency cap + exponential backoff on PDS calls
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/test_pds_network_retry.py
  loq.toml
Due: type-check

fix(uploads): per-DID concurrency cap + exponential backoff on PDS calls (#1333)
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/test_pds_network_retry.py
  loq.toml
Due: type-check

fix(upload): avoid session-state race in concurrent album creation
  backend/src/backend/api/tracks/services.py
  backend/tests/api/test_get_or_create_album.py
Due: type-check

fix(upload): avoid session-state race in concurrent album creation (#1334)
  backend/src/backend/api/tracks/services.py
  backend/tests/api/test_get_or_create_album.py
Due: type-check

feat(scripts): 12-concurrent-drone upload smoke test
  scripts/drone_smoke_test.py
Due: type-check

update skill
  .claude/skills/deploy/SKILL.md
Due: none

fix(uploads): stage audio + image to shared storage before enqueueing docket
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_session_reload.py
  backend/tests/api/track_audio_replace/_helpers.py
  backend/tests/api/track_audio_replace/test_endpoint.py
  loq.toml
Due: type-check

fix(uploads): clean up staged storage on handler-side + pre-DB worker aborts
  backend/loq.toml
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_storage_cleanup.py
  backend/tests/api/track_audio_replace/_helpers.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  loq.toml
Due: type-check

chore: drop stray backend/loq.toml
  backend/loq.toml
Due: none

chore(uploads): consolidate cleanup helper, drop redundant deferred import
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_session_reload.py
  loq.toml
Due: type-check

fix(uploads): stage audio + image to shared storage before enqueueing docket (#1336)
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_session_reload.py
  backend/tests/api/test_upload_storage_cleanup.py
  backend/tests/api/track_audio_replace/_helpers.py
  backend/tests/api/track_audio_replace/test_endpoint.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  loq.toml
Due: type-check

fix(frontend): inherit album cover when a track has no per-track image
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/track-cover.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(frontend): inherit album cover when a track has no per-track image (#1337)
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/track-cover.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(likes): tombstone cancelled URIs to prevent like resurrection race
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/_internal/tasks/pds.py
  backend/tests/test_jetstream.py
  backend/tests/test_pds_create_like_tombstone.py
  loq.toml
Due: type-check

fix(likes): tombstone cancelled URIs to prevent like resurrection race (#1338)
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/_internal/tasks/pds.py
  backend/tests/test_jetstream.py
  backend/tests/test_pds_create_like_tombstone.py
  loq.toml
Due: type-check

fix(player): synchronous fast path for auto-advance to survive locked-screen autoplay
  frontend/src/lib/audio-source.ts
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/observability.ts
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix(player): preserve auto-advance through gated tracks; fix telemetry pollution
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

chore(player): drop dead frontend telemetry plumbing
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/observability.ts
Due: svelte-check, eslint

fix(player): synchronous fast path for auto-advance to survive locked-screen autoplay (#1339)
  frontend/src/lib/audio-source.ts
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/queue.svelte.ts
  loq.toml
Due: svelte-check, eslint

fix(embed): wire MediaSession metadata + action handlers
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/media-session.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(embed): wire MediaSession metadata + action handlers (#1340)
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/media-session.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(copyright): suppress self-match flags before they reach UI/DM
  backend/src/backend/_internal/moderation.py
  backend/tests/_internal/test_copyright_self_match.py
Due: type-check

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
