Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

docs: retro — the upload memory wedge (#1831, #1832) (#1833)
  STATUS.md
  docs/internal/runbooks/2026-08-14-upload-memory-wedge.md
Due: none

fix(track-page): mobile controls clear the 44px touch-target floor
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(track-page): press feedback on the play disc; punt material to #1835
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(track-page): mobile controls clear the 44px touch-target floor (#1834)
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(albums): download an album as a cached zip
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/api/albums/__init__.py
  backend/src/backend/api/albums/downloads.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_album_download.py
  frontend/src/lib/components/DownloadButton.svelte
  frontend/src/lib/downloads.ts
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(albums): download an album as a cached zip (#1836)
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/api/albums/__init__.py
  backend/src/backend/api/albums/downloads.py
  backend/src/backend/api/albums/listing.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/api/test_album_download.py
  frontend/src/lib/components/DownloadButton.svelte
  frontend/src/lib/downloads.ts
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(albums): honest, live progress toast for cold album downloads
  frontend/src/lib/downloads.ts
Due: svelte-check, eslint

fix(albums): honest, live progress toast for cold album downloads (#1837)
  frontend/src/lib/downloads.ts
Due: svelte-check, eslint

fix(albums): glanceable toast copy, and a toast-copy skill
  .claude/skills/toast-copy/SKILL.md
  frontend/src/lib/downloads.ts
Due: svelte-check, eslint

fix(albums): glanceable toast copy, and a toast-copy skill (#1838)
  .claude/skills/toast-copy/SKILL.md
  frontend/src/lib/downloads.ts
Due: svelte-check, eslint

docs: downloads reach the settings copy and the public docs
  docs/public/artists.md
  docs/public/listeners.md
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

docs: downloads reach the settings copy and the public docs (#1839)
  docs/public/artists.md
  docs/public/listeners.md
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

docs: status — album downloads, mobile touch targets, the toast-copy skill (#1834-#1839)
  STATUS.md
Due: none

docs: status — album downloads, mobile touch targets, the toast-copy skill (#1834-#1839) (#1840)
  STATUS.md
Due: none

feat(downloads): artist download policy — open / ask / supporters / off (#1841)
  backend/alembic/versions/2026_08_14_000000_c4e2b8f51da1_download_policy_replaces_allow_downloads.py
  backend/src/backend/api/albums/downloads.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/artist.py
  backend/src/backend/models/preferences.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/downloads.py
  backend/tests/api/test_album_download.py
  backend/tests/api/test_audio_download.py
  frontend/src/lib/components/DownloadAskModal.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/portal/ProfileSection.svelte
  frontend/src/lib/download-ask.svelte.ts
  frontend/src/lib/downloads.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(downloads): artist download policy — open / ask / supporters / off (#1841) (#1842)
  backend/alembic/versions/2026_08_14_000000_c4e2b8f51da1_download_policy_replaces_allow_downloads.py
  backend/src/backend/api/albums/downloads.py
  backend/src/backend/api/audio.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/artist.py
  backend/src/backend/models/preferences.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/downloads.py
  backend/tests/api/test_album_download.py
  backend/tests/api/test_audio_download.py
  frontend/src/lib/components/DownloadAskModal.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/portal/ProfileSection.svelte
  frontend/src/lib/download-ask.svelte.ts
  frontend/src/lib/downloads.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(portal): drop the redundant 'saved to PDS' pill from the save picker
  frontend/src/lib/components/PdsSaveModal.svelte
Due: svelte-check, eslint

fix(portal): drop the redundant 'saved to PDS' pill from the save picker (#1843)
  frontend/src/lib/components/PdsSaveModal.svelte
Due: svelte-check, eslint

fix(track-page): vertical rhythm scales with the viewport
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(track-page): vertical rhythm scales with the viewport (#1844)
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(track-page): comments move into a sheet, the page surfaces the count
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(track-page): comments move into a sheet, the page surfaces the count (#1845)
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(track-page): extract TrackComments component
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(track-page): extract TrackComments component (#1846)
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(comments): trigger joins the utilities row; sheet at the bottom everywhere
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(comments): trigger joins the utilities row; sheet at the bottom everywhere (#1847)
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(comments): non-modal panel (leaflet-inspired), and a tad of like whimsy
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(comments): non-modal panel (leaflet-inspired), and a tad of like whimsy (#1848)
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(panels): comments and queue become siblings; apple-space pass on mobile
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(panels): comments and queue become siblings; apple-space pass on mobile (#1849)
  frontend/src/lib/components/TrackComments.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(comments): bottom-anchor the desktop card — no header clipping, no hollow column
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

fix(comments): bottom-anchor the desktop card — no header clipping, no hollow column (#1850)
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

fix(comments): rm per-comment share, kill the load pop-in, add timestamp emissions
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

fix(comments): rm per-comment share, kill the load pop-in, add timestamp emissions (#1851)
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

fix(comments): the count flash was two bugs — a backend zero and a double load
  backend/src/backend/api/tracks/playback.py
  backend/tests/api/test_audio_download.py
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(comments): the count flash was two bugs — a backend zero and a double load (#1853)
  backend/src/backend/api/tracks/playback.py
  backend/tests/api/test_audio_download.py
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(track-page): center the composition; artwork absorbs spare height
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix(track-page): center the composition; artwork absorbs spare height (#1854)
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix(comments): the emission surfaces below the utilities row, not over the stats
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

fix(comments): the emission surfaces below the utilities row, not over the stats (#1855)
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
