Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

install bun in GitHub Actions for frontend build check
  .github/workflows/run-pre-commit.yml
Due: none

clean up pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: use svelte-check in pre-commit, build in CI
  .github/workflows/run-pre-commit.yml
  .pre-commit-config.yaml
Due: none

use ruff-check and ruff-format instead of legacy ruff alias
  .pre-commit-config.yaml
Due: none

install frontend dependencies in CI for svelte-check
  .github/workflows/run-pre-commit.yml
Due: none

fix typescript errors in svelte components
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix all svelte-check warnings
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
Due: frontend-build

create .env file in CI for svelte-check
  .github/workflows/run-pre-commit.yml
Due: none

add logfire OTEL instrumentation and bluesky DM notifications
  pyproject.toml
  scripts/sync-fly-secrets.sh
  src/relay/config.py
  src/relay/main.py
  src/relay/models/database.py
  src/relay/notifications.py
  tests/settings/__init__.py
  tests/settings/test_notifications.py
  uv.lock
Due: ty-check

move auth and notifications to _internal module
  src/relay/_internal/__init__.py
  src/relay/_internal/auth.py
  src/relay/_internal/notifications.py
  src/relay/api/artists.py
  src/relay/api/auth.py
  src/relay/api/preferences.py
  src/relay/api/tracks.py
  src/relay/atproto/records.py
  src/relay/config.py
  src/relay/main.py
  tests/settings/test_notifications.py
Due: ty-check

fix type annotations and API usage in notifications
  src/relay/_internal/notifications.py
Due: ty-check

fix neon database SSL connection pool errors
  docs/logfire-querying.md
  src/relay/models/database.py
Due: ty-check

remove redundant "decentralized" from tagline
  CLAUDE.md
  README.md
  frontend/src/routes/+layout.svelte
  frontend/src/routes/login/+page.svelte
Due: frontend-build

migrate to async SQLAlchemy with per-event-loop engine caching
  src/relay/_internal/auth.py
  src/relay/_internal/notifications.py
  src/relay/api/artists.py
  src/relay/api/auth.py
  src/relay/api/preferences.py
  src/relay/api/tracks.py
  src/relay/main.py
  src/relay/models/database.py
Due: ty-check

refactor: move database utilities to utilities/database.py
  src/relay/models/__init__.py
  src/relay/models/database.py
  src/relay/utilities/__init__.py
  src/relay/utilities/database.py
Due: ty-check

fix: parameterize naked dict type annotations
  src/relay/_internal/auth.py
  src/relay/atproto/records.py
Due: ty-check

fix: migrate notification service to AsyncClient
  CLAUDE.md
  src/relay/_internal/notifications.py
Due: ty-check

fix: async SQLAlchemy session management and lazy loading
  src/relay/_internal/auth.py
  src/relay/_internal/notifications.py
  src/relay/api/tracks.py
  src/relay/models/__init__.py
  src/relay/utilities/database.py
Due: ty-check

feat: add Logfire environment tagging
  src/relay/config.py
  src/relay/main.py
Due: ty-check

docs: add 307 redirect explanation and link to Logfire guide
  CLAUDE.md
  docs/logfire-querying.md
Due: none

fix lazy loading issues in track endpoints
  src/relay/api/tracks.py
  src/relay/models/track.py
Due: ty-check

feat: implement postgres-backed OAuth state store
  alembic/versions/846cc6b867b8_add_oauth_states_table.py
  src/relay/_internal/auth.py
  src/relay/config.py
  src/relay/main.py
  src/relay/models/__init__.py
  src/relay/models/oauth_state.py
  src/relay/stores/__init__.py
  src/relay/stores/postgres.py
Due: ty-check

docs: clarify automated migration handling in CLAUDE.md
  CLAUDE.md
Due: none

docs: clarify deployment is automated via GitHub Actions
  CLAUDE.md
Due: none

feat: implement streaming uploads to prevent OOM
  CLAUDE.md
  docs/design/streaming-uploads.md
  src/relay/storage/filesystem.py
  src/relay/storage/r2.py
  src/relay/utilities/hashing.py
  tests/storage/__init__.py
  tests/storage/test_large_file_upload.py
  tests/storage/test_r2_upload.py
  tests/utilities/__init__.py
  tests/utilities/test_hashing.py
Due: ty-check

feat: implement streaming uploads with toast notifications
  HTTP_CONNECTION_LIMITATION.md
  docs/README.md
  docs/architecture/global-state-management.md
  docs/design/toast-notifications.md
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/Toast.svelte
  frontend/src/lib/toast.svelte.ts
  frontend/src/lib/tracks.svelte.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  src/relay/_internal/notifications.py
  src/relay/_internal/uploads.py
  src/relay/api/tracks.py
  src/relay/main.py
Due: ty-check, frontend-build

refactor: address Copilot review feedback
  frontend/src/routes/portal/+page.svelte
  src/relay/_internal/notifications.py
  src/relay/_internal/uploads.py
  src/relay/api/tracks.py
Due: ty-check, frontend-build

feat: improve header navigation and make featured artists clickable
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: ensure all hover states respect accent color
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/ShareButton.svelte
Due: frontend-build

feat: implement OAuth session hardening with exchange tokens and encryption
  alembic/versions/ec40ac6453bc_add_exchange_tokens_table_for_secure_.py
  src/relay/_internal/__init__.py
  src/relay/_internal/auth.py
  src/relay/api/auth.py
  src/relay/config.py
  src/relay/models/__init__.py
  src/relay/models/exchange_token.py
Due: ty-check

feat: update frontend to use exchange token flow
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
Due: frontend-build

fix: add actual migration SQL for exchange_tokens table
  alembic/versions/ec40ac6453bc_add_exchange_tokens_table_for_secure_.py
Due: ty-check

test: add comprehensive test coverage for OAuth session security
  tests/test_auth.py
Due: ty-check

fix: address OAuth session hardening PR review feedback
  CLAUDE.md
  frontend/src/lib/components/ColorSettings.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  pyproject.toml
  src/relay/_internal/auth.py
  src/relay/api/auth.py
  src/relay/config.py
  tests/test_auth.py
Due: ty-check, frontend-build

docs: add OAUTH_ENCRYPTION_KEY to fly.toml secrets list
  fly.toml
Due: none

fix: restore cross-domain auth by removing HttpOnly cookies
  frontend/src/lib/components/ColorSettings.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  src/relay/_internal/auth.py
  src/relay/api/auth.py
Due: ty-check, frontend-build

fix: restore authentication state on artist page and unify button sizing
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

chore: move HTTP connection limitation doc to sandbox
  sandbox/HTTP_CONNECTION_LIMITATION.md
Due: none

fix: remove sandbox directory from version control
  sandbox/HTTP_CONNECTION_LIMITATION.md
Due: none

feat: add 4 relay logo concepts and preview page
  frontend/src/lib/assets/favicon-option-1.svg
  frontend/src/lib/assets/favicon-option-2.svg
  frontend/src/lib/assets/favicon-option-3.svg
  frontend/src/lib/assets/favicon-option-4.svg
  frontend/src/lib/assets/logo-preview.html
Due: frontend-build
