Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

fix(embed): radio embed can pin and switch stations
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/routes/embed/+layout@.svelte
Due: svelte-check, eslint

fix(embed): radio embed can pin and switch stations (#1571)
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/routes/embed/+layout@.svelte
Due: svelte-check, eslint

docs(status): lexicon documentation (#1569) + radio embed station switching (#1571)
  STATUS.md
Due: none

docs(status): lexicon documentation (#1569) + radio embed station switching (#1571) (#1572)
  STATUS.md
Due: none

docs(private-media): align with ZDS member-list removal (#1573); owner-only by app policy
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/api/audio.py
  docs/internal/architecture/permissioned-private-media.md
Due: type-check

docs(private-media): align with ZDS member-list removal (#1573); owner-only by app policy (#1574)
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/api/audio.py
  docs/internal/architecture/permissioned-private-media.md
Due: type-check

docs(status): permissioned-data member-list pivot (#1573/#1574) + June 10 prod release
  STATUS.md
Due: none

docs(status): permissioned-data member-list pivot (#1573/#1574) + June 10 prod release (#1575)
  STATUS.md
Due: none

fix(embed): always blur sensitive artwork in embeds
  .github/workflows/run-pre-commit.yml
  .pre-commit-config.yaml
  frontend/bun.lockb
  frontend/eslint.config.js
  frontend/justfile
  frontend/package.json
  frontend/src/lib/components/SensitiveImage.svelte
  frontend/src/lib/components/SensitiveImage.test.ts
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
  frontend/src/tests/stubs/app-environment.ts
  frontend/src/tests/stubs/app-stores.ts
  frontend/src/tests/stubs/env-static-public.ts
  frontend/vitest.config.ts
  loq.toml
Due: svelte-check, eslint

fix(embed): always blur sensitive artwork in embeds (#1577)
  .github/workflows/run-pre-commit.yml
  .pre-commit-config.yaml
  frontend/bun.lockb
  frontend/eslint.config.js
  frontend/justfile
  frontend/package.json
  frontend/src/lib/components/SensitiveImage.svelte
  frontend/src/lib/components/SensitiveImage.test.ts
  frontend/src/lib/components/embed/CollectionEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
  frontend/src/tests/stubs/app-environment.ts
  frontend/src/tests/stubs/app-stores.ts
  frontend/src/tests/stubs/env-static-public.ts
  frontend/vitest.config.ts
  loq.toml
Due: svelte-check, eslint

refactor(playlist): extract API actions from the playlist route into $lib/playlist-actions
  docs/plans/2026-06-10-frontend-native-readiness-phase1.md
  frontend/src/lib/playlist-actions.test.ts
  frontend/src/lib/playlist-actions.ts
  frontend/src/routes/playlist/[id]/+page.svelte
Due: svelte-check, eslint

refactor(playlist): extract API actions from the playlist route into $lib/playlist-actions (#1579)
  docs/plans/2026-06-10-frontend-native-readiness-phase1.md
  frontend/src/lib/playlist-actions.test.ts
  frontend/src/lib/playlist-actions.ts
  frontend/src/routes/playlist/[id]/+page.svelte
Due: svelte-check, eslint

refactor(album): extract API actions from the album route into $lib/album-actions
  frontend/src/lib/album-actions.test.ts
  frontend/src/lib/album-actions.ts
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: svelte-check, eslint

refactor(album): extract API actions from the album route into $lib/album-actions (#1581)
  frontend/src/lib/album-actions.test.ts
  frontend/src/lib/album-actions.ts
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: svelte-check, eslint

refactor(collections): share one drag-to-reorder module across playlist and album pages
  frontend/src/lib/list-reorder.svelte.ts
  frontend/src/lib/list-reorder.test.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: svelte-check, eslint

refactor(collections): share one drag-to-reorder module across playlist and album pages (#1582)
  frontend/src/lib/list-reorder.svelte.ts
  frontend/src/lib/list-reorder.test.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: svelte-check, eslint

refactor(collections): share play/queue helpers and ConfirmDialog across collection pages
  frontend/src/lib/collection-playback.test.ts
  frontend/src/lib/collection-playback.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: svelte-check, eslint

fix(config): normalize driverless postgres URLs to async psycopg (#1584)
  backend/.env.example
  backend/src/backend/config.py
  backend/tests/conftest.py
  backend/tests/test_settings.py
  docs/internal/local-development/setup.md
  loq.toml
Due: type-check

fix(config): normalize driverless postgres URLs to async psycopg (#1584) (#1585)
  backend/.env.example
  backend/src/backend/config.py
  backend/tests/conftest.py
  backend/tests/test_settings.py
  docs/internal/local-development/setup.md
  loq.toml
Due: type-check

fix(migrations): async alembic engine + db-init bootstrap for fresh databases
  backend/alembic/env.py
  backend/justfile
  backend/scripts/init_db.py
  docs/internal/local-development/setup.md
Due: type-check

fix(migrations): async alembic engine + db-init bootstrap for fresh databases (#1586)
  backend/alembic/env.py
  backend/justfile
  backend/scripts/init_db.py
  docs/internal/local-development/setup.md
Due: type-check

refactor(collections): share play/queue helpers and ConfirmDialog across collection pages (#1583)
  frontend/src/lib/collection-playback.test.ts
  frontend/src/lib/collection-playback.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: svelte-check, eslint

refactor(playlist): decompose the route into presentation components + document the pattern
  docs/internal/frontend/collection-pages.md
  frontend/src/lib/components/playlist/AddTracksModal.svelte
  frontend/src/lib/components/playlist/OwnerActionButtons.svelte
  frontend/src/lib/components/playlist/PlaylistTrackList.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

refactor(playlist): decompose the route into presentation components + document the pattern (#1591)
  docs/internal/frontend/collection-pages.md
  frontend/src/lib/components/playlist/AddTracksModal.svelte
  frontend/src/lib/components/playlist/OwnerActionButtons.svelte
  frontend/src/lib/components/playlist/PlaylistTrackList.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(radio): add autoplay query parameter
  frontend/src/routes/radio/[[station]]/+page.svelte
Due: svelte-check, eslint

feat(radio): add autoplay query parameter (#1592)
  frontend/src/routes/radio/[[station]]/+page.svelte
Due: svelte-check, eslint

feat(embed): honor ?autoplay=1 in the radio embed + document embed params
  docs/public/artists.md
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(embed): honor ?autoplay=1 in the radio embed + document embed params (#1593)
  docs/public/artists.md
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): roll back radio mode when a policy-blocked autoplay tune-in fails
  frontend/src/lib/player-radio.test.ts
  frontend/src/lib/player.svelte.ts
Due: svelte-check, eslint

fix(radio): roll back radio mode when a policy-blocked autoplay tune-in fails (#1596)
  frontend/src/lib/player-radio.test.ts
  frontend/src/lib/player.svelte.ts
Due: svelte-check, eslint

fix(radio): build stream_url from configured base, not request scheme
  backend/loq.toml
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

fix(radio): build stream_url from configured base, not request scheme (#1597)
  backend/loq.toml
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/tests/api/test_radio.py
  loq.toml
Due: type-check

fix(upload): detect ALAC-in-m4a and schedule a streaming transcode
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/utilities/audio.py
  backend/tests/api/test_audio_optimize.py
  backend/tests/utilities/test_audio.py
  loq.toml
  scripts/backfill_alac_transcodes.py
Due: type-check

refactor: make the ALAC m4a script audit-only (no remediation)
  scripts/audit_alac_m4a.py
  scripts/backfill_alac_transcodes.py
Due: type-check

fix(upload): detect ALAC-in-m4a and schedule a streaming transcode (#1598)
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/utilities/audio.py
  backend/tests/api/test_audio_optimize.py
  backend/tests/utilities/test_audio.py
  loq.toml
  scripts/audit_alac_m4a.py
Due: type-check

fix(costs): export pulls live infra costs instead of hardcoded stale numbers
  COSTS.md
  scripts/costs/export_costs.py
Due: type-check

fix(costs): export pulls live infra costs instead of hardcoded stale numbers (#1599)
  COSTS.md
  scripts/costs/export_costs.py
Due: type-check

fix(embed): show artist display name in radio embed, not the handle
  frontend/src/lib/components/embed/RadioEmbed.svelte
Due: svelte-check, eslint

fix(embed): show artist display name in radio embed, not the handle (#1600)
  frontend/src/lib/components/embed/RadioEmbed.svelte
Due: svelte-check, eslint

docs: clarify local db setup steps
  docs/public/contributing.md
Due: none

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
