Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

feat: display like counts in frontend
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

refactor: move imports to top level
  src/backend/api/artists.py
  src/backend/api/tracks.py
Due: ty-check

feat: make analytics cards clickable links to track detail page
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: use APP_TAGLINE constant in login page instead of hardcoded text
  frontend/src/routes/login/+page.svelte
Due: frontend-build

fix: improve liked page UX for authenticated and unauthenticated states
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

fix: improve login page font consistency and add ATProto handle help
  frontend/src/routes/login/+page.svelte
Due: frontend-build

fix: improve liked page UX for authenticated and unauthenticated states (#173)
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

fix: improve login page font consistency and add ATProto handle help (#174)
  frontend/src/routes/login/+page.svelte
Due: frontend-build

fix: update help link to point to handle spec instead of account spec
  frontend/src/routes/login/+page.svelte
Due: frontend-build

fix: improve track detail page mobile layout
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: improve track detail page mobile layout (#176)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: always show play count and like count on mobile
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

feat: graceful handling of tracks with missing ATProto records
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  src/backend/api/tracks.py
  src/backend/atproto/tid.py
Due: ty-check, frontend-build

fix: update help link to point to handle spec instead of account spec (#175)
  frontend/src/routes/login/+page.svelte
Due: frontend-build

fix: always show play count and like count on mobile (#177)
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

feat: add endpoint to list tracks with missing ATProto records
  src/backend/api/tracks.py
Due: ty-check

fix: improve mobile track detail page button layout
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: improve mobile track detail page button layout (#178)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: restore desktop buttons and improve mobile button spacing
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

feat: add POST /tracks/{id}/restore-record endpoint
  src/backend/api/tracks.py
Due: ty-check

feat: add broken tracks UI to portal
  frontend/src/lib/components/BrokenTracks.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: restore desktop buttons and improve mobile button spacing (#179)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

refactor: redesign track detail page button layout for consistency
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

refactor: redesign track detail page button layout for consistency (#181)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

refactor: improve restore-record endpoint implementation
  scripts/simulate_broken_tracks.py
  src/backend/api/tracks.py
Due: ty-check

fix: use Pydantic BaseModel instead of TypedDict for response models
  src/backend/api/tracks.py
Due: ty-check

fix: use dict[str, Any] for track fields in response models
  src/backend/api/tracks.py
Due: ty-check

fix: use consistent font-family for restore button
  frontend/src/lib/components/BrokenTracks.svelte
Due: frontend-build

feat: add 'restore all' button for batch track restoration
  frontend/src/lib/components/BrokenTracks.svelte
  scripts/simulate_broken_tracks.py
Due: ty-check, frontend-build

fix: improve error messages in batch restore
  frontend/src/lib/components/BrokenTracks.svelte
Due: frontend-build

fix: disable individual restore buttons during batch restore
  frontend/src/lib/components/BrokenTracks.svelte
Due: frontend-build

fix: add per-session locking to prevent token refresh race conditions
  src/backend/_internal/__init__.py
  src/backend/atproto/records.py
  tests/test_token_refresh.py
Due: ty-check

graceful recovery for tracks with missing ATProto records (#180)
  frontend/src/lib/components/BrokenTracks.svelte
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/portal/+page.svelte
  scripts/simulate_broken_tracks.py
  src/backend/_internal/__init__.py
  src/backend/api/tracks.py
  src/backend/atproto/records.py
  src/backend/atproto/tid.py
  tests/test_token_refresh.py
Due: ty-check, frontend-build

fix: add upload progress tracking and implement streaming uploads
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

fix: correct pluralization in track restore toast messages
  frontend/src/lib/components/BrokenTracks.svelte
Due: frontend-build

fix: add upload progress tracking and implement streaming uploads (#182)
  frontend/src/lib/components/BrokenTracks.svelte
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  src/backend/api/tracks.py
Due: ty-check, frontend-build

add changelog target
  justfile
Due: none

add changelog target (#183)
  justfile
Due: none

fix: store image URLs in database to eliminate N+1 R2 API calls
  alembic/versions/14fff0296365_add_image_url_to_tracks.py
  src/backend/_internal/queue.py
  src/backend/api/tracks.py
  src/backend/models/track.py
Due: ty-check

perf: batch API calls and add database indexes
  alembic/versions/2d6d201752ef_add_performance_indexes_on_track_.py
  src/backend/_internal/queue.py
  src/backend/api/tracks.py
  src/backend/models/track.py
  src/backend/models/track_like.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
