Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: keep top tracks when the past month is empty; drop the hold-PRs-local agent rule (#2132)
  AGENTS.md
  docs/internal/tools/skills.md
  frontend/src/routes/+page.svelte
  frontend/src/routes/page.test.ts
Due: svelte-check, eslint

feat: in-browser equalizer for the web player (experimental setting) (#2134)
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
  backend/tests/api/test_audio_space_checks.py
  frontend/src/lib/audio-source.ts
  frontend/src/lib/components/player/EqButton.svelte
  frontend/src/lib/components/player/EqPanel.stories.svelte
  frontend/src/lib/components/player/EqPanel.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/eq.svelte.ts
  frontend/src/lib/eq.test.ts
  frontend/src/lib/eq/bands.test.ts
  frontend/src/lib/eq/bands.ts
  frontend/src/lib/player.svelte.ts
  frontend/src/routes/settings/+page.svelte
  infrastructure/r2/README.md
  loq.toml
Due: type-check, svelte-check, eslint

mobile: open the next track ahead and start it at the tap
  bun.lock
  mobile/AGENTS.md
  mobile/README.md
  mobile/src/player/Deck.tsx
  mobile/src/player/PlayerProvider.tsx
  mobile/src/player/formats.test.ts
  mobile/src/player/formats.ts
  mobile/src/player/media.ts
  mobile/src/player/nowPlaying.ts
  mobile/src/player/timeline.ts
  mobile/src/player/useUpNextActivity.ts
  package.json
  patches/react-native-audio-api@0.13.5.patch
Due: none

fix: let the track embed fill near-square and tall frames (#2137)
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: svelte-check, eslint

mobile: send Now Playing updates one at a time
  mobile/src/player/latestOnly.test.ts
  mobile/src/player/latestOnly.ts
  mobile/src/player/nowPlaying.ts
Due: none

mobile: system slider scrubber, no sheet drag from the controls
  mobile/DESIGN.md
  mobile/app/player.tsx
  mobile/modules/scrubber/expo-module.config.json
  mobile/modules/scrubber/index.ts
  mobile/modules/scrubber/ios/Scrubber.podspec
  mobile/modules/scrubber/ios/ScrubberModule.swift
  mobile/modules/sheet-guard/expo-module.config.json
  mobile/modules/sheet-guard/index.ts
  mobile/modules/sheet-guard/ios/SheetGuard.podspec
  mobile/modules/sheet-guard/ios/SheetGuardModule.swift
  mobile/src/components/Scrubber.tsx
Due: none

mobile: rainbow strip on the player sheet and mini player
  mobile/DESIGN.md
  mobile/app/player.tsx
  mobile/src/components/MiniPlayer.tsx
  mobile/src/components/RainbowStrip.tsx
  shared/rainbow.test.ts
  shared/rainbow.ts
Due: none

mobile: track description behind an info button
  mobile/DESIGN.md
  mobile/app/_layout.tsx
  mobile/app/about.tsx
  mobile/app/player.tsx
Due: none

mobile: accent hairline on the player's own top edge
  mobile/DESIGN.md
  mobile/app/_layout.tsx
  mobile/app/player.tsx
  mobile/src/components/MiniPlayer.tsx
  mobile/src/components/RainbowStrip.tsx
  mobile/src/components/TopEdge.tsx
  mobile/src/palette.ts
  mobile/src/theme.ts
  shared/rainbow.test.ts
  shared/rainbow.ts
  shared/topBar.test.ts
  shared/topBar.ts
Due: none

mobile: hide the top edge line while paused
  mobile/DESIGN.md
  mobile/src/components/TopEdge.tsx
  mobile/src/palette.ts
  mobile/src/theme.ts
  shared/topBar.test.ts
  shared/topBar.ts
Due: none

ci: make the mobile check's path filter valid again
  .github/workflows/check-mobile.yml
Due: none

fix: fall back when track embed artwork fails to load
  frontend/src/lib/track-cover.test.ts
  frontend/src/lib/track-cover.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: svelte-check, eslint

status: the iOS experiment, in-browser EQ, embed and top-tracks fixes
  STATUS.md
Due: none

fix: fall back when track embed artwork fails to load (#2138)
  frontend/src/lib/track-cover.test.ts
  frontend/src/lib/track-cover.ts
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: svelte-check, eslint

mobile: search under the status bar, paging that recovers, a tab bar that stays
  .github/workflows/check-mobile.yml
  mobile/DESIGN.md
  mobile/app/(tabs)/(home,search)/_layout.tsx
  mobile/app/(tabs)/(home,search)/artist/[handle].tsx
  mobile/app/(tabs)/(home,search)/home.tsx
  mobile/app/(tabs)/(home,search)/search.tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/src/components/MoreFooter.tsx
  mobile/src/components/SearchField.tsx
  mobile/src/components/TrackListScreen.tsx
  mobile/src/data.ts
  shared/search.test.ts
  shared/search.ts
Due: none

mobile: remove the up next Live Activity
  bun.lock
  mobile/DESIGN.md
  mobile/app.json
  mobile/package.json
  mobile/src/player/PlayerProvider.tsx
  mobile/src/player/upNext.test.ts
  mobile/src/player/upNext.ts
  mobile/src/player/upNextActivity.tsx
  mobile/src/player/useUpNextActivity.ts
Due: none

mobile: quieter top edge line, search charts that continue
  .github/workflows/check-mobile.yml
  mobile/DESIGN.md
  mobile/app/(tabs)/(home,search)/search.tsx
  mobile/src/components/TopEdge.tsx
  mobile/src/data.ts
  shared/top.test.ts
  shared/top.ts
  shared/topBar.test.ts
  shared/topBar.ts
Due: none

mobile: give the queue the app's row rhythm and real headings
  mobile/DESIGN.md
  mobile/app/queue.tsx
Due: none

mobile: now-playing bars that follow the audio
  mobile/DESIGN.md
  mobile/app/queue.tsx
  mobile/src/components/Levels.tsx
  mobile/src/components/TrackRow.tsx
  mobile/src/player/PlayerProvider.tsx
  mobile/src/player/levels.ts
  mobile/src/player/spectrum.test.ts
  mobile/src/player/spectrum.ts
Due: none

mobile: put the whole tab bar away on scroll down
  mobile/DESIGN.md
  mobile/app/(tabs)/(home,search)/home.tsx
  mobile/app/(tabs)/(home,search)/search.tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/src/components/TrackListScreen.tsx
  mobile/src/tabBar.ts
Due: none

mobile: sleep timer in the player
  mobile/DESIGN.md
  mobile/app/player.tsx
  mobile/src/components/SleepButton.tsx
  mobile/src/player/PlayerProvider.tsx
  mobile/src/player/sleep.test.ts
  mobile/src/player/sleep.ts
  mobile/src/player/useSleepTimer.ts
Due: none

mobile: sleep timer as a Live Activity
  bun.lock
  mobile/DESIGN.md
  mobile/app.json
  mobile/package.json
  mobile/src/components/SleepButton.tsx
  mobile/src/player/PlayerProvider.tsx
  mobile/src/player/sleepActivity.tsx
  mobile/src/player/useSleepActivity.ts
  mobile/src/player/useSleepTimer.ts
Due: none

mobile: animate the tab bar away, one mini player layout
  bun.lock
  mobile/DESIGN.md
  mobile/src/components/MiniPlayer.tsx
  package.json
  patches/react-native-screens@4.26.2.patch
Due: none

mobile: open detail screens in the tab that's showing
  mobile/src/nav.ts
Due: none

mobile: open from the player sheet in the tab under it
  mobile/app/(tabs)/_layout.tsx
  mobile/src/nav.ts
Due: none

mobile: queue banner and haptics for transport, toggles and queueing
  mobile/DESIGN.md
  mobile/app/(tabs)/(home,search)/home.tsx
  mobile/app/_layout.tsx
  mobile/app/player.tsx
  mobile/src/components/MiniPlayer.tsx
  mobile/src/components/QueueBanner.tsx
  mobile/src/components/TrackItem.tsx
  mobile/src/components/Transport.tsx
  mobile/src/haptics.ts
  mobile/src/player/useSleepTimer.ts
  mobile/src/queueBanner.ts
Due: none

mobile: add to queue on album and playlist pages
  mobile/DESIGN.md
  mobile/src/components/CollectionHeader.tsx
  mobile/src/player/PlayerProvider.tsx
Due: none

mobile: settings on the device: accent, play-through, client, hidden tags
  .github/workflows/check-mobile.yml
  mobile/DESIGN.md
  mobile/app/(tabs)/(home,search)/_layout.tsx
  mobile/app/(tabs)/(home,search)/album/[handle]/[slug].tsx
  mobile/app/(tabs)/(home,search)/artist/[handle].tsx
  mobile/app/(tabs)/(home,search)/home.tsx
  mobile/app/(tabs)/(home,search)/playlist/[id].tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/app/about.tsx
  mobile/app/player.tsx
  mobile/app/queue.tsx
  mobile/app/settings.tsx
  mobile/src/components/Button.tsx
  mobile/src/components/CollectionHeader.tsx
  mobile/src/components/Levels.tsx
  mobile/src/components/MoreFooter.tsx
  mobile/src/components/QueueBanner.tsx
  mobile/src/components/Scrubber.tsx
  mobile/src/components/SearchResultRow.tsx
  mobile/src/components/SleepButton.tsx
  mobile/src/components/TopEdge.tsx
  mobile/src/components/TopTracks.tsx
  mobile/src/components/TrackItem.tsx
  mobile/src/components/TrackListScreen.tsx
  mobile/src/components/TrackRow.tsx
  mobile/src/config.ts
  mobile/src/data.ts
  mobile/src/palette.test.ts
  mobile/src/palette.ts
  mobile/src/settings.ts
  mobile/src/theme.ts
  shared/atclients.test.ts
  shared/atclients.ts
  shared/settings.test.ts
  shared/settings.ts
Due: none

status: voice the podcast without Gemini when Gemini refuses
  .github/workflows/check-scripts.yml
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  loq.toml
  scripts/generate_tts.py
  scripts/generate_tts_local.py
  scripts/tests/test_generate_tts_local.py
  scripts/tests/test_status_maintenance_workflow.py
Due: type-check

status: record the Blacksky shim check and the podcast's recovery
  STATUS.md
Due: none

status: drop the fallback voice; a Gemini refusal fails the run
  .github/workflows/check-scripts.yml
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  loq.toml
  scripts/generate_tts_local.py
  scripts/tests/test_generate_tts_local.py
  scripts/tests/test_status_maintenance_workflow.py
Due: type-check

auth: add native app sign-in with an identity-only grant
  backend/alembic/versions/2026_10_10_000000_b6e2f4a1c9d3_add_native_app_login.py
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/auth/app_login.py
  backend/src/backend/_internal/auth/dependencies.py
  backend/src/backend/_internal/auth/exchange.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/_internal/auth/revoke.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/auth_app.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/exchange_token.py
  backend/src/backend/models/pending_app_login.py
  backend/tests/_internal/test_pds_nonce.py
  backend/tests/_internal/test_require_auth_app_password.py
  backend/tests/api/test_app_login.py
  loq.toml
Due: type-check

mobile: sign in with an atmosphere account
  bun.lock
  mobile/DESIGN.md
  mobile/README.md
  mobile/app.json
  mobile/app/_layout.tsx
  mobile/app/settings.tsx
  mobile/app/sign-in.tsx
  mobile/package.json
  mobile/src/api.ts
  mobile/src/components/Avatar.tsx
  mobile/src/components/HandleField.tsx
  mobile/src/query.tsx
  mobile/src/session/SessionProvider.tsx
  mobile/src/session/auth.ts
  mobile/src/session/token.ts
  mobile/src/session/typeahead.ts
  shared/account.test.ts
  shared/account.ts
Due: none
