Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix(staging): set ATPROTO_USER_AGENT in fly.staging.toml too
  backend/fly.staging.toml
Due: none

fix(staging): set ATPROTO_USER_AGENT in fly.staging.toml too (#1417)
  backend/fly.staging.toml
Due: none

chore: remove dead ATPROTO_PDS_URL env var
  backend/.env.example
  backend/fly.staging.toml
  backend/fly.toml
  backend/src/backend/config.py
Due: type-check

chore: remove dead ATPROTO_PDS_URL env var (#1418)
  backend/.env.example
  backend/fly.staging.toml
  backend/fly.toml
  backend/src/backend/config.py
Due: type-check

feat(auth): surface upstream 503 instead of stack-trace 400 for bsky edge block
  backend/src/backend/_internal/auth/oauth.py
  backend/tests/_internal/test_bsky_edge_block_error.py
  loq.toml
Due: type-check

docs(status): document 2026-05-17 bsky.social WAF JA4 collateral-block incident
  STATUS.md
Due: none

docs(status): document 2026-05-17 bsky.social WAF JA4 collateral-block incident (#1420)
  STATUS.md
Due: none

docs(readme): point local development at CONTRIBUTING.md + docs.plyr.fm
  README.md
Due: none

fix(audio-replace): preserve PDS record createdAt across replace
  backend/src/backend/api/tracks/audio_replace.py
  backend/tests/api/track_audio_replace/test_pipeline.py
  loq.toml
Due: type-check

fix(test): compare against natural created_at instead of backdating
  backend/tests/api/track_audio_replace/test_pipeline.py
Due: type-check

docs(status): drop #1316 from "next" — fixed in this PR
  STATUS.md
Due: none

refactor(sheets): unify on BottomSheet frame; swipe-from-body like instagram comments (#1348)
  frontend/src/lib/components/AudioRevisionsSheet.svelte
  frontend/src/lib/components/BottomSheet.svelte
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/swipe-to-dismiss.ts
Due: svelte-check, eslint

refactor(sheets): unify on BottomSheet frame; swipe-from-body like instagram comments (#1348) (#1423)
  frontend/src/lib/components/AudioRevisionsSheet.svelte
  frontend/src/lib/components/BottomSheet.svelte
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/swipe-to-dismiss.ts
Due: svelte-check, eslint

fix(#1356): pause player when track changes from remote tab sync
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix(notifications): lazy re-setup + only mark notification_sent on real success
  backend/src/backend/_internal/notifications.py
  backend/src/backend/_internal/tasks/hooks.py
  backend/tests/_internal/test_notification_service.py
  backend/tests/test_post_create_hooks.py
  loq.toml
Due: type-check

fix(now-playing): claim throttle before await to stop duplicate burst sends
  frontend/src/lib/now-playing.svelte.ts
Due: svelte-check, eslint

fix(notifications): lazy re-setup + only mark notification_sent on real success (#1425)
  backend/src/backend/_internal/notifications.py
  backend/src/backend/_internal/tasks/hooks.py
  backend/tests/_internal/test_notification_service.py
  backend/tests/test_post_create_hooks.py
  loq.toml
Due: type-check

feat(skills): add traffic-overview for multi-horizon performance reports
  .claude/skills/traffic-overview/SKILL.md
  scripts/cf_analytics.py
Due: type-check

refactor(skills): traffic-overview uses CF API MCP instead of bespoke script
  .claude/skills/traffic-overview/SKILL.md
Due: none

refactor(skills): trim traffic-overview SKILL.md (165 → 73 lines)
  .claude/skills/traffic-overview/SKILL.md
Due: none

docs(status): document May 22 cluster — notification + now-playing fixes, BottomSheet, traffic-overview skill
  STATUS.md
Due: none

docs(status): document May 22 cluster — notification + now-playing fixes, BottomSheet, traffic-overview skill (#1428)
  STATUS.md
Due: none

feat(header): info icon on desktop top-left + subtle elevation on home section titles
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(header): consolidate desktop info icon, swap to asterisk glyph
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
Due: svelte-check, eslint

fix(header): consolidate desktop info icon, swap to asterisk glyph (#1430)
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
Due: svelte-check, eslint

fix(modals): Escape closes feedback panel and the more/links menu
  frontend/src/lib/components/FeedbackModal.svelte
  frontend/src/lib/components/LinksMenu.svelte
  loq.toml
Due: svelte-check, eslint

fix(modals): Escape closes feedback panel and the more/links menu (#1431)
  frontend/src/lib/components/FeedbackModal.svelte
  frontend/src/lib/components/LinksMenu.svelte
  loq.toml
Due: svelte-check, eslint

docs(status): document May 23 header polish cluster
  STATUS.md
Due: none

fix(#1356): pause player when track changes from remote tab sync (#1424)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix(player): pause on remote index-only queue updates
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

docs(status): drop stranded-DM backfill references
  STATUS.md
Due: none

fix(player): pause on remote index-only queue updates (#1434)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

docs(status): drop stranded-DM backfill references (#1435)
  STATUS.md
Due: none

feat(profiles): open atproto links in the client of your choice
  frontend/src/lib/atclients.ts
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/u/[handle]/+error.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/upload/+page.svelte
Due: svelte-check, eslint

feat(profiles): open atproto links in the client of your choice (#1436)
  frontend/src/lib/atclients.ts
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/u/[handle]/+error.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/upload/+page.svelte
Due: svelte-check, eslint

fix(profiles): use the reference client registry + theme-safe logos
  frontend/src/lib/atclients.ts
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix(profiles): use the reference client registry + theme-safe logos (#1437)
  frontend/src/lib/atclients.ts
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix(copy): drop bluesky-specific copy from avatar setup + handle placeholders
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
Due: svelte-check, eslint

fix(loq): raise limits for settings + upload pages after client picker
  loq.toml
Due: none

fix(profiles): scope preferred-client to the signed-in account
  frontend/src/lib/atclients.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint
