Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

status maintenance: the research keeps only writing that bears on a window change, and says nothing about the rest (#2018)
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  loq.toml
Due: none

status maintenance: model dispatch input, defaulting to STATUS_MODEL
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  loq.toml
Due: none

status maintenance: model dispatch input, defaulting to STATUS_MODEL (#2019)
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
  loq.toml
Due: none

status maintenance: run on claude-fable-5-1
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: run on claude-fable-5-1 (#2020)
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
Due: none

status: the maintenance run's window report, pub-search research step, and the move to fable 5.1 (#2008–#2020)
  STATUS.md
Due: none

status: the maintenance run's window report, pub-search research step, and the move to fable 5.1 (#2008–#2020) (#2021)
  STATUS.md
Due: none

Refresh the README around listening, publishing, and portable audio
  README.md
  STATUS.md
  frontend/README.md
Due: svelte-check

Refresh the README around listening, publishing, and portable audio (#2023)
  README.md
  STATUS.md
  frontend/README.md
Due: svelte-check

Add agent discovery and align docs with verified interfaces
  .agents/skills/change/SKILL.md
  .agents/skills/contribute/SKILL.md
  .agents/skills/deploy/SKILL.md
  README.md
  STATUS.md
  docs/internal/tools/plyrfm.md
  docs/public/artists.md
  docs/public/developers/agents.md
  docs/public/developers/auth.md
  docs/public/developers/index.md
  docs/public/developers/quickstart.md
  docs/public/glossary.md
  docs/public/index.mdx
  docs/public/lexicons/overview.md
  docs/public/listeners.md
  docs/public/moderation.md
  docs/public/troubleshooting.md
  docs/site/astro.config.mjs
  docs/site/public/agents.md
  docs/site/public/llms.txt
  frontend/static/llms.txt
Due: svelte-check

Embed the canonical agent text in onboarding pages
  .github/workflows/deploy-docs.yml
  docs/public/contributing.mdx
  docs/public/developers/index.mdx
  docs/site/src/components/LlmsPreview.astro
  frontend/static/llms.txt
Due: svelte-check

Publish agent discovery and embedded llms.txt previews (#2024)
  .agents/skills/change/SKILL.md
  .agents/skills/contribute/SKILL.md
  .agents/skills/deploy/SKILL.md
  .github/workflows/deploy-docs.yml
  README.md
  STATUS.md
  docs/internal/tools/plyrfm.md
  docs/public/artists.md
  docs/public/contributing.mdx
  docs/public/developers/agents.md
  docs/public/developers/auth.md
  docs/public/developers/index.mdx
  docs/public/developers/quickstart.md
  docs/public/glossary.md
  docs/public/index.mdx
  docs/public/lexicons/overview.md
  docs/public/listeners.md
  docs/public/moderation.md
  docs/public/troubleshooting.md
  docs/site/astro.config.mjs
  docs/site/public/agents.md
  docs/site/public/llms.txt
  docs/site/src/components/LlmsPreview.astro
  frontend/static/llms.txt
Due: svelte-check

Document interface choices and guard the client API contract
  .github/workflows/interface-contracts.yml
  .pre-commit-config.yaml
  docs/internal/contracts/README.md
  docs/internal/contracts/client-api.json
  docs/public/developers/agents.md
  frontend/static/llms.txt
  justfile
  loq.toml
  scripts/check_client_contract.py
Due: type-check, svelte-check

Check public SDK examples in interface CI
  .github/workflows/interface-contracts.yml
  docs/internal/contracts/README.md
Due: none

Include mutation parity in the cross-repository gate
  .github/workflows/interface-contracts.yml
Due: none

Add concise MCP design guidance from the webinar
  docs/public/developers/agents.md
Due: none

Install contract hook prerequisites in pre-commit CI
  .github/workflows/run-pre-commit.yml
Due: none

Document prerelease installation for the local MCP
  docs/public/developers/agents.md
  docs/public/developers/index.mdx
  frontend/static/llms.txt
Due: svelte-check

Include prerelease resolution in MCP dependency setup
  docs/public/developers/index.mdx
Due: none

Clarify integration choices and enforce client API parity (#2025)
  .github/workflows/interface-contracts.yml
  .github/workflows/run-pre-commit.yml
  .pre-commit-config.yaml
  docs/internal/contracts/README.md
  docs/internal/contracts/client-api.json
  docs/public/developers/agents.md
  docs/public/developers/index.mdx
  frontend/static/llms.txt
  justfile
  loq.toml
  scripts/check_client_contract.py
Due: type-check, svelte-check

fix: give player metadata room for descenders
  frontend/src/lib/components/player/TrackInfo.svelte
Due: svelte-check, eslint

fix: give player metadata room for descenders (#2026)
  frontend/src/lib/components/player/TrackInfo.svelte
Due: svelte-check, eslint

fix: hydrate queues by track identity instead of shared audio
  backend/src/backend/_internal/queue.py
  backend/tests/api/test_queue.py
Due: type-check

fix: hydrate queues by track identity instead of shared audio (#2027)
  backend/src/backend/_internal/queue.py
  backend/tests/api/test_queue.py
Due: type-check

fix: persist selected track identities through queue sync
  docs/internal/frontend/queue.md
  frontend/src/lib/queue-identity.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: svelte-check, eslint

fix: persist selected track identities through queue sync (#2028)
  docs/internal/frontend/queue.md
  frontend/src/lib/queue-identity.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: svelte-check, eslint

docs: record player fixes and production rollout
  STATUS.md
Due: none

docs: record player fixes and production rollout (#2029)
  STATUS.md
Due: none

feat: edit owned tracks in context with a shared modal
  docs/internal/frontend/design-tokens.md
  docs/internal/frontend/interaction-quality.md
  frontend/src/lib/audio-replacement-status.test.ts
  frontend/src/lib/components/AlbumSelect.svelte
  frontend/src/lib/components/AutocompleteInteraction.test.ts
  frontend/src/lib/components/EditTrackModal.svelte
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/TrackEditForm.svelte
  frontend/src/lib/components/TrackEditForm.test.ts
  frontend/src/lib/components/portal/TracksSection.svelte
  frontend/src/lib/components/track-edit/TrackAccessFields.svelte
  frontend/src/lib/components/track-edit/TrackArtworkField.svelte
  frontend/src/lib/components/track-edit/TrackAudioEditor.svelte
  frontend/src/lib/queue-identity.test.ts
  frontend/src/lib/queue.svelte.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: svelte-check, eslint

refine track edit icon and spacing
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

update portal editor story for edit track label
  frontend/src/lib/components/portal/TracksSection.stories.svelte
Due: svelte-check, eslint

Show standard bot labels and harden studio deployment startup
  STATUS.md
  experiments/agent-musicians/prefect.yaml
  experiments/agent-musicians/provision_tokens.py
  experiments/agent-musicians/studio/brain.py
  experiments/agent-musicians/studio/flow.py
  experiments/agent-musicians/studio/state.py
  experiments/agent-musicians/tests/test_limits.py
  frontend/src/lib/bot-label.test.ts
  frontend/src/lib/bot-label.ts
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

Close Pi stdin under Prefect and preserve bounded retries
  experiments/agent-musicians/STUDIO.md
  experiments/agent-musicians/prefect.yaml
  experiments/agent-musicians/seed_profiles.py
  experiments/agent-musicians/studio/brain.py
  experiments/agent-musicians/tests/test_worker_stdin.py
Due: type-check

Run the musician studio continuously with visible cost budgets
  STATUS.md
  experiments/agent-musicians/LAUNCH.md
  experiments/agent-musicians/STUDIO.md
  experiments/agent-musicians/prefect.yaml
  experiments/agent-musicians/provision_tokens.py
  experiments/agent-musicians/studio/flow.py
  experiments/agent-musicians/studio/state.py
  experiments/agent-musicians/tests/test_limits.py
Due: type-check

Pin the continuous musician deployment
  experiments/agent-musicians/prefect.yaml
Due: none

Allow one budgeted correction for invalid musician scores
  experiments/agent-musicians/STUDIO.md
  experiments/agent-musicians/studio/brain.py
  experiments/agent-musicians/tests/test_limits.py
Due: type-check

Pin validated-score correction deployment
  experiments/agent-musicians/prefect.yaml
Due: none

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
