Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

refactor(radio): make fresh/deep-cuts genuinely distinct stations (#1526)
  backend/src/backend/api/radio/lenses.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/src/lib/radio.svelte.ts
Due: type-check, svelte-check, eslint

feat(radio): slop station — quarantine ai-tagged tracks
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/src/lib/components/radio/StationPills.svelte
Due: type-check, svelte-check, eslint

feat(radio): bookmarkable station path params (/radio/<slug>)
  frontend/src/lib/horizontal-swipe.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): keep plyr.fm account's own tracks out of slop
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
Due: type-check

fix(radio): keep plyr.fm account's own tracks out of slop (#1530)
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
Due: type-check

fix(radio): rank-decay station weighting + per-station link previews
  backend/src/backend/api/radio/lenses.py
  backend/src/backend/api/radio/sampler.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/src/routes/+layout.svelte
  frontend/src/routes/radio/[[station]]/+page.server.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(radio): rank-decay station weighting + per-station link previews (#1531)
  backend/src/backend/api/radio/lenses.py
  backend/src/backend/api/radio/sampler.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/api/radio/stations.py
  backend/tests/api/test_radio.py
  frontend/src/routes/+layout.svelte
  frontend/src/routes/radio/[[station]]/+page.server.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(radio): hide deactivated accounts from discovery + handle long titles
  backend/alembic/versions/2026_06_04_015653_e9ec24f00cd1_add_artist_deactivated_flag.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/for_you.py
  backend/src/backend/api/radio/corpus.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/models/artist.py
  backend/tests/api/test_radio.py
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
  scripts/backfill_account_status.py
Due: type-check, svelte-check, eslint

fix(radio): stop mobile reload loop + accidental station switching
  frontend/src/lib/horizontal-swipe.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): stop mobile reload loop + accidental station switching (#1533)
  frontend/src/lib/horizontal-swipe.ts
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): tighten mobile layout so the tuner fits without scrolling
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): tighten mobile layout so the tuner fits without scrolling (#1534)
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): distribute the page vertically instead of centering
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): redesign page layout so it balances in both player states
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): blur sensitive cover art + don't die on track end
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): blur sensitive cover art + don't die on track end (#1537)
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): top-anchor the tuner so the header gap is gone
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): top-anchor the tuner so the header gap is gone (#1538)
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(radio): replace station tabs with a tuner dial
  frontend/src/lib/components/radio/StationPills.svelte
  frontend/src/lib/components/radio/TunerDial.svelte
  frontend/src/routes/radio/[[station]]/+page.svelte
Due: svelte-check, eslint

fix(radio): fill the viewport — artwork grows, no top gap, footer always visible
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): fill the viewport — artwork grows, no top gap, footer always visible (#1540)
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(radio): ambient blurred backdrop + contained square cover + small top gap
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(radio): like from radio + faster artwork swap + softer backdrop
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): stable-width tuner dial + needle indicator + heart under controls
  frontend/src/lib/components/radio/TunerDial.svelte
  frontend/src/routes/radio/[[station]]/+page.svelte
Due: svelte-check, eslint

fix(radio): stable-width tuner dial + needle indicator + heart under controls (#1543)
  frontend/src/lib/components/radio/TunerDial.svelte
  frontend/src/routes/radio/[[station]]/+page.svelte
Due: svelte-check, eslint

fix(radio): handle short viewports (landscape phones / small windows)
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

docs(neon): replace real dev connection string with placeholder
  docs/internal/tools/neon.md
Due: none

feat(radio): show liked state on the radio like button
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/api/test_radio.py
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat(radio): show liked state on the radio like button (#1546)
  backend/src/backend/api/radio/schemas.py
  backend/src/backend/api/radio/state.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/api/test_radio.py
  docs/internal/tools/neon.md
  frontend/src/lib/radio.svelte.ts
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix(radio): move credit/integration to the header line + anchored panel
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): move credit/integration to the header line + anchored panel (#1547)
  frontend/src/routes/radio/[[station]]/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(radio): send session cookie when loading radio state
  frontend/src/lib/radio.svelte.ts
Due: svelte-check, eslint

docs(status): radio stations + tuner dial + per-user liked state (#1530→#1548)
  STATUS.md
Due: none

docs(status): radio stations + tuner dial + per-user liked state (#1530→#1548) (#1549)
  STATUS.md
Due: none

docs: developer tokens are created in settings, not the portal
  docs/internal/authentication.md
  docs/internal/testing/integration-tests.md
  docs/internal/tools/plyrfm.md
  docs/public/developers/api-reference/index.md
  docs/public/developers/auth.md
  docs/public/developers/index.md
  docs/public/developers/quickstart.md
  docs/public/glossary.md
  docs/public/troubleshooting.md
  docs/site/public/llms-full.txt
  docs/site/public/llms.txt
  docs/site/templates/api-reference-index.md
Due: none

docs: developer tokens are created in settings, not the portal (#1551)
  docs/internal/authentication.md
  docs/internal/testing/integration-tests.md
  docs/internal/tools/plyrfm.md
  docs/public/developers/api-reference/index.md
  docs/public/developers/auth.md
  docs/public/developers/index.md
  docs/public/developers/quickstart.md
  docs/public/glossary.md
  docs/public/troubleshooting.md
  docs/site/public/llms-full.txt
  docs/site/public/llms.txt
  docs/site/templates/api-reference-index.md
Due: none

feat(spaces): permissioned-data private-media foundation (#1528)
  backend/alembic/versions/2026_06_07_000000_a1b2c3d4e5f6_add_private_media_to_track.py
  backend/src/backend/_internal/atproto/spaces/__init__.py
  backend/src/backend/_internal/atproto/spaces/capability.py
  backend/src/backend/_internal/atproto/spaces/client.py
  backend/src/backend/_internal/atproto/spaces/uris.py
  backend/src/backend/_internal/auth/oauth.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/meta.py
  backend/src/backend/config.py
  backend/src/backend/models/track.py
  backend/tests/_internal/test_permissioned_spaces.py
  docs/internal/architecture/permissioned-private-media.md
  lexicons/privateMedia.json
  loq.toml
  scripts/permissioned_smoke.py
Due: type-check

feat(spaces): wire private-media upload toggle + credential-gated playback (#1528)
  backend/src/backend/api/audio.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_private_media_upload.py
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

test(auth): scope upgrade preserves indiemusi + permissioned scopes
  backend/tests/api/test_scope_upgrade.py
Due: type-check

fix(spaces): stop private media leaking through public read/edit paths (#1528)
  backend/src/backend/api/search.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/schemas.py
  backend/tests/api/test_private_media_visibility.py
  loq.toml
Due: type-check

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
