Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: PDS tooltip hover — use delayed hide like LikersTooltip
  frontend/src/lib/components/PdsTooltip.svelte
Due: svelte-check, eslint

add auto-tag tooltip, extract reusable InfoTooltip component
  docs/artists.md
  frontend/src/lib/components/InfoTooltip.svelte
  frontend/src/lib/components/PdsTooltip.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: PDS tooltip hover — use delayed hide (#1110)
  docs/artists.md
  frontend/src/lib/components/InfoTooltip.svelte
  frontend/src/lib/components/PdsTooltip.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

document loq relax workflow in justfile and CLAUDE.md
  AGENTS.md
  justfile
Due: none

document loq relax workflow in justfile and CLAUDE.md (#1111)
  AGENTS.md
  justfile
Due: none

fix: artists docs — auto-tagging links, correct gated storage description
  docs/artists.md
Due: none

fix: artists docs — auto-tagging links, correct gated storage description (#1112)
  docs/artists.md
Due: none

docs: rewrite listeners page for humans
  docs/listeners.md
Due: none

docs: rewrite listeners page for humans (#1113)
  docs/listeners.md
Due: none

docs: polish listeners page — admonition, PDS hosting context
  docs/listeners.md
Due: none

docs: polish listeners page — admonition, PDS hosting context (#1114)
  docs/listeners.md
Due: none

docs: move account callout below opener, simplify
  docs/listeners.md
Due: none

docs: move account callout below opener, simplify (#1115)
  docs/listeners.md
Due: none

docs: rewrite listeners intro — lead with experience, not protocol
  docs/listeners.md
Due: none

docs: rewrite listeners intro — lead with experience, not protocol (#1116)
  docs/listeners.md
Due: none

docs: rewrite creators page intro — experience first, breadcrumbs to protocol
  docs/artists.md
Due: none

docs: rewrite creators page intro — experience first, breadcrumbs to protocol (#1117)
  docs/artists.md
Due: none

docs: update upload form screenshot for new field order
  docs-site/public/screenshots/upload-form.png
  docs/artists.md
Due: none

docs: update upload form screenshot for new field order (#1118)
  docs-site/public/screenshots/upload-form.png
  docs/artists.md
Due: none

docs: creators bullet tweak + listeners manual edits
  docs/artists.md
  docs/listeners.md
Due: none

docs: creators bullet tweak + listeners manual edits (#1119)
  docs/artists.md
  docs/listeners.md
Due: none

docs: fold auto-tagging into metadata step, remove from page nav
  docs/artists.md
Due: none

docs: fold auto-tagging into metadata step, remove from page nav (#1120)
  docs/artists.md
Due: none

fix: clicking liker profile links no longer interrupts playback
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

fix: clicking liker profile links no longer interrupts playback (#1121)
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

feat: add AT-URI lookup endpoints for tracks and playlists
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/playback.py
  backend/tests/api/test_playlist_by_uri.py
  backend/tests/api/test_track_by_uri.py
  loq.toml
Due: type-check

feat: add AT-URI lookup endpoints for tracks and playlists (#1123)
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/playback.py
  backend/tests/api/test_playlist_by_uri.py
  backend/tests/api/test_track_by_uri.py
  loq.toml
Due: type-check

docs: note that listeners can use plyr.fm without an account
  docs/listeners.md
Due: none

docs: note that listeners can use plyr.fm without an account (#1124)
  docs/listeners.md
Due: none

fix: use RSS icon for devlog link in docs header
  docs-site/src/components/SocialIcons.astro
Due: none

fix: use RSS icon for devlog link in docs header (#1125)
  docs-site/src/components/SocialIcons.astro
Due: none

feat: ambient weather theme ("aura") — location-aware atmospheric background
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat: ambient weather theme ("aura") — location-aware atmospheric background (#1127)
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: make aura card mysterious — locked silhouette until activated
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: make aura card mysterious — locked silhouette until activated (#1128)
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: move aura into theme button row — 4th button next to dark/light/auto
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix: move aura into theme button row — 4th button next to dark/light/auto (#1129)
  frontend/src/routes/settings/+page.svelte
Due: svelte-check, eslint

fix: set logfire service_name and tag spans with user identity
  backend/src/backend/_internal/auth/dependencies.py
  backend/src/backend/utilities/observability.py
  docs-internal/tools/logfire.md
Due: type-check

feat: ambient theme overhaul — rename aura→live, add full UI tinting
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat: ambient theme overhaul — rename aura→live, add full UI tinting (#1132)
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: svelte-check, eslint
