Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

revert: remove letta-backed status maintenance, restore claude-code-action (#602)
  .github/workflows/status-maintenance.yml
  STATUS.md
  scripts/letta_status_agent.py
  scripts/status_maintenance.py
Due: ty-check

feat: improve login page with internet handle terminology
  frontend/src/routes/login/+page.svelte
Due: frontend-build

feat: improve login page with internet handle terminology (#604)
  frontend/src/routes/login/+page.svelte
Due: frontend-build

feat: add Open Graph tags to tag detail page for link previews
  frontend/src/routes/tag/[name]/+page.server.ts
  frontend/src/routes/tag/[name]/+page.svelte
  frontend/src/routes/tag/[name]/+page.ts
Due: frontend-build

feat: add Open Graph tags to tag detail page for link previews (#605)
  frontend/src/routes/tag/[name]/+page.server.ts
  frontend/src/routes/tag/[name]/+page.svelte
  frontend/src/routes/tag/[name]/+page.ts
Due: frontend-build

fix: add /tag/ to hasPageMetadata check in layout
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: add /tag/ to hasPageMetadata check in layout (#606)
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: mobile modal positioning to use full screen
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/ProfileMenu.svelte
Due: frontend-build

fix: use svelte-portal for modal positioning
  docs/frontend/portals.md
  frontend/bun.lockb
  frontend/package.json
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/ProfileMenu.svelte
Due: frontend-build

fix: mobile modal positioning to use full screen (#607)
  docs/frontend/portals.md
  frontend/bun.lockb
  frontend/package.json
  frontend/src/lib/components/LinksMenu.svelte
  frontend/src/lib/components/ProfileMenu.svelte
Due: frontend-build

feat: add offline mode foundation with auto-download liked tracks
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/storage.ts
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/settings/+page.svelte
Due: ty-check, frontend-build

fix: require auth for audio URL endpoint
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
Due: ty-check

fix: improve IndexedDB robustness
  frontend/src/lib/storage.ts
Due: frontend-build

feat: add offline mode foundation with auto-download liked tracks (#610)
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/LikeButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/storage.ts
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/settings/+page.svelte
Due: ty-check, frontend-build

refactor: move auto-download toggle to experimental section
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

refactor: move auto-download to experimental section (#611)
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

docs: add offline mode to STATUS.md
  STATUS.md
Due: none

docs: add offline mode to STATUS.md (#612)
  STATUS.md
Due: none

feat: normalize login input (strip @ and at:// prefixes)
  frontend/src/routes/login/+page.svelte
Due: frontend-build

feat: normalize login input (strip @ and at:// prefixes) (#613)
  frontend/src/routes/login/+page.svelte
Due: frontend-build

fix: artist page track pagination and mobile album card overflow
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: artist page track pagination and mobile album card overflow (#615)
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

test: add regression tests for OAuth client teal scopes
  backend/tests/test_teal_scrobbling.py
Due: ty-check

refactor: moderation cleanup (#541, #542, #543)
  backend/alembic/versions/2025_12_19_000905_f2380236c97b_drop_copyright_scan_resolution_columns.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/moderation_client.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/copyright_scan.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/test_moderation.py
  backend/tests/utilities/test_aggregations.py
Due: ty-check

feat: add research/plan/implement workflow commands
  .claude/commands/consider-review.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/research.md
  docs/plans/.gitkeep
  docs/research/.gitkeep
  docs/research/2025-12-18-moderation-cleanup.md
Due: none

refactor: moderation cleanup (#541, #542, #543) (#617)
  .claude/commands/consider-review.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/research.md
  backend/alembic/versions/2025_12_19_000905_f2380236c97b_drop_copyright_scan_resolution_columns.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/moderation_client.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/copyright_scan.py
  backend/src/backend/utilities/aggregations.py
  backend/tests/test_moderation.py
  backend/tests/utilities/test_aggregations.py
  docs/plans/.gitkeep
  docs/research/.gitkeep
  docs/research/2025-12-18-moderation-cleanup.md
Due: ty-check

fix: make sync_copyright_resolutions run automatically via docket Perpetual
  backend/src/backend/_internal/background_tasks.py
Due: ty-check

fix: make sync_copyright_resolutions run automatically via docket Perpetual (#618)
  backend/src/backend/_internal/background_tasks.py
Due: ty-check

fix: enable beartype runtime type checking and fix type violations
  backend/src/backend/__init__.py
  backend/src/backend/_internal/atproto/sync.py
  backend/src/backend/_internal/audio.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/_internal/image.py
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/moderation_client.py
  backend/src/backend/api/albums.py
  backend/src/backend/storage/__init__.py
  backend/src/backend/storage/r2.py
  backend/src/backend/utilities/hashing.py
  backend/tests/api/test_albums.py
  backend/tests/conftest.py
  docs/research/2025-12-19-beartype.md
Due: ty-check

chore: add beartype as explicit dependency
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: disable automatic perpetual task scheduling in tests
  backend/pyproject.toml
  backend/src/backend/_internal/background.py
  backend/src/backend/config.py
Due: ty-check

perf: session-scope TestClient fixture for 5x faster tests
  backend/tests/conftest.py
Due: ty-check

refactor: remove init_db() from lifespan
  backend/src/backend/main.py
  backend/src/backend/models/__init__.py
  backend/src/backend/utilities/database.py
Due: ty-check

feat: beartype runtime type checking + test infrastructure improvements (#619)
  backend/pyproject.toml
  backend/src/backend/__init__.py
  backend/src/backend/_internal/atproto/sync.py
  backend/src/backend/_internal/audio.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/image.py
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/moderation_client.py
  backend/src/backend/api/albums.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/src/backend/models/__init__.py
  backend/src/backend/storage/__init__.py
  backend/src/backend/storage/r2.py
  backend/src/backend/utilities/database.py
  backend/src/backend/utilities/hashing.py
  backend/tests/api/test_albums.py
  backend/tests/conftest.py
  backend/uv.lock
  docs/research/2025-12-19-beartype.md
Due: ty-check

fix: add font-family inherit to load more tracks button
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

docs: add Dec 16-19 work to STATUS.md
  STATUS.md
Due: none

fix: add font-family inherit to load more tracks button (#622)
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

docs: add Dec 16-19 work to STATUS.md (#621)
  STATUS.md
Due: none

share button research
  docs/research/2025-12-19-ios-share-extension-minimal-app.md
  docs/research/2025-12-19-web-share-target-ios-pwa.md
Due: none

share button research (#623)
  docs/research/2025-12-19-ios-share-extension-minimal-app.md
  docs/research/2025-12-19-web-share-target-ios-pwa.md
Due: none

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
