Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

supporters: verify attested.network payment attestations (#1939)
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/atprotofans.py
  backend/src/backend/_internal/attested.py
  backend/src/backend/_internal/supporters.py
  backend/src/backend/config.py
  backend/tests/_internal/test_attested.py
  backend/tests/_internal/test_supporters.py
Due: type-check

docs: status update for the plyr × ATM arc (#1936, #1938, #1939)
  STATUS.md
Due: none

docs: status update for the plyr × ATM arc (#1936, #1938, #1939) (#1940)
  STATUS.md
Due: none

docs: status update for August 27 field reports
  STATUS.md
Due: none

docs: status update for August 27 field reports (#1942)
  STATUS.md
Due: none

uploader: honest toast for the 0%-instant upload failure
  frontend/src/lib/uploader.svelte.ts
Due: svelte-check, eslint

uploader: honest toast for the 0%-instant upload failure (#1943)
  frontend/src/lib/uploader.svelte.ts
Due: svelte-check, eslint

docs: status update for the upload toast fix (#1943)
  STATUS.md
Due: none

docs: status update for the upload toast fix (#1943) (#1944)
  STATUS.md
Due: none

TrackItem: truncate the feat. credit line instead of overflowing the card
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

TrackItem: truncate the feat. credit line instead of overflowing the card (#1945)
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

BufoEasterEgg: call find-bufo.com and send X-Client
  frontend/src/lib/components/BufoEasterEgg.svelte
Due: svelte-check, eslint

BufoEasterEgg: call find-bufo.com and send X-Client (#1946)
  frontend/src/lib/components/BufoEasterEgg.svelte
Due: svelte-check, eslint

uploads: resumable upload sessions (start → parts → finish) for the web uploader
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/reaper.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/upload_sessions.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/keys.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/_internal/test_stuck_upload_reaper.py
  backend/tests/api/test_upload_sessions.py
  backend/tests/conftest.py
  docs/internal/backend/resumable-uploads.md
  docs/internal/backend/streaming-uploads.md
  frontend/src/lib/upload-session.test.ts
  frontend/src/lib/upload-session.ts
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

uploads: self-review fixes for resumable sessions
  backend/src/backend/api/tracks/upload_sessions.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_sessions.py
  backend/tests/conftest.py
  backend/tests/docker-compose.yml
  docs/internal/backend/resumable-uploads.md
  frontend/src/lib/upload-session.ts
  loq.toml
Due: type-check, svelte-check, eslint

uploads: resumable upload sessions for the web uploader (#1947)
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/reaper.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/upload_sessions.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/storage/keys.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/_internal/test_stuck_upload_reaper.py
  backend/tests/api/test_upload_sessions.py
  backend/tests/conftest.py
  backend/tests/docker-compose.yml
  docs/internal/backend/resumable-uploads.md
  docs/internal/backend/streaming-uploads.md
  frontend/src/lib/upload-session.test.ts
  frontend/src/lib/upload-session.ts
  frontend/src/lib/uploader.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

client writes phase 0: browser OAuth session + verified ingest echo
  backend/src/backend/api/ingest.py
  backend/src/backend/api/meta.py
  backend/src/backend/main.py
  backend/tests/api/test_ingest_echo.py
  docs/plans/2026-08-31-client-side-writes.md
  frontend/bun.lock
  frontend/e2e/lib.mjs
  frontend/package.json
  frontend/src/lib/atproto/client.ts
  frontend/src/lib/atproto/metadata.test.ts
  frontend/src/lib/atproto/metadata.ts
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/config.ts
  frontend/src/routes/atproto/callback/+page.svelte
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/oauth-client-metadata.json/+server.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
Due: type-check, svelte-check, eslint

client writes phase 0: browser OAuth session + verified ingest echo (#1948)
  backend/src/backend/api/ingest.py
  backend/src/backend/api/meta.py
  backend/src/backend/main.py
  backend/tests/api/test_ingest_echo.py
  docs/plans/2026-08-31-client-side-writes.md
  frontend/bun.lock
  frontend/e2e/lib.mjs
  frontend/package.json
  frontend/src/lib/atproto/client.ts
  frontend/src/lib/atproto/metadata.test.ts
  frontend/src/lib/atproto/metadata.ts
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/config.ts
  frontend/src/routes/atproto/callback/+page.svelte
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/oauth-client-metadata.json/+server.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
Due: type-check, svelte-check, eslint

atproto client: keep @atproto/api out of the browser-session module
  docs/internal/authentication.md
  frontend/src/lib/atproto/client.ts
  loq.toml
Due: svelte-check, eslint

atproto client: keep @atproto/api out of the browser-session module (#1949)
  docs/internal/authentication.md
  frontend/src/lib/atproto/client.ts
  loq.toml
Due: svelte-check, eslint

vite: bundle @atproto/api into SSR and alias tlds to its JSON
  frontend/eslint.config.js
  frontend/vite.config.ts
Due: svelte-check, eslint

vite: bundle @atproto/api into SSR and alias tlds to its JSON (#1950)
  frontend/eslint.config.js
  frontend/vite.config.ts
Due: svelte-check, eslint

docs: status update for resumable uploads (#1947) and client-writes phase 0 (#1948–#1950)
  STATUS.md
Due: none

docs: status update for resumable uploads (#1947) and client-writes phase 0 (#1948–#1950) (#1951)
  STATUS.md
Due: none

Revert "client writes phase 0: browser OAuth session + verified ingest echo (#1948)"
  backend/src/backend/api/ingest.py
  backend/src/backend/api/meta.py
  backend/src/backend/main.py
  backend/tests/api/test_ingest_echo.py
  docs/plans/2026-08-31-client-side-writes.md
  frontend/bun.lock
  frontend/e2e/lib.mjs
  frontend/package.json
  frontend/src/lib/atproto/client.ts
  frontend/src/lib/atproto/metadata.test.ts
  frontend/src/lib/atproto/metadata.ts
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/config.ts
  frontend/src/routes/atproto/callback/+page.svelte
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/oauth-client-metadata.json/+server.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
Due: type-check, svelte-check, eslint

Revert "vite: bundle @atproto/api into SSR and alias tlds to its JSON (#1950)"
  frontend/eslint.config.js
  frontend/vite.config.ts
Due: svelte-check, eslint

Revert "atproto client: keep @atproto/api out of the browser-session module (#1949)"
  docs/internal/authentication.md
  frontend/src/lib/atproto/client.ts
  loq.toml
Due: svelte-check, eslint

status: record the client-writes phase 0 revert
  STATUS.md
Due: none

revert client-writes phase 0: second OAuth consent at sign-in (#1948–#1950) (#1952)
  STATUS.md
  backend/src/backend/api/ingest.py
  backend/src/backend/api/meta.py
  backend/src/backend/main.py
  backend/tests/api/test_ingest_echo.py
  docs/internal/authentication.md
  docs/plans/2026-08-31-client-side-writes.md
  frontend/bun.lock
  frontend/e2e/lib.mjs
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/lib/atproto/client.ts
  frontend/src/lib/atproto/metadata.test.ts
  frontend/src/lib/atproto/metadata.ts
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/config.ts
  frontend/src/routes/atproto/callback/+page.svelte
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/oauth-client-metadata.json/+server.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/vite.config.ts
  loq.toml
Due: type-check, svelte-check, eslint

notifications: re-login and retry once when the bot's bsky session is rejected
  backend/src/backend/_internal/notifications.py
  backend/tests/_internal/test_notification_service.py
Due: type-check

notifications: keep the error_type comment on one line
  backend/src/backend/_internal/notifications.py
Due: type-check

notifications: re-login and retry once when the bot's bsky session is rejected (#1953)
  backend/src/backend/_internal/notifications.py
  backend/tests/_internal/test_notification_service.py
Due: type-check

upload: preview the chosen file and start its transfer on selection
  frontend/src/lib/audio/peaks.ts
  frontend/src/lib/audio/probe.test.ts
  frontend/src/lib/audio/probe.ts
  frontend/src/lib/components/AudioPreview.stories.svelte
  frontend/src/lib/components/AudioPreview.svelte
  frontend/src/lib/components/Waveform.svelte
  frontend/src/lib/staged-transfer.svelte.ts
  frontend/src/lib/staged-transfer.test.ts
  frontend/src/lib/upload-session.test.ts
  frontend/src/lib/upload-session.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

upload preview: a11y contrast, failed-bar color, KB sizes, handled attempt promise
  frontend/src/lib/audio/probe.test.ts
  frontend/src/lib/audio/probe.ts
  frontend/src/lib/components/AudioPreview.stories.svelte
  frontend/src/lib/components/AudioPreview.svelte
  frontend/src/lib/staged-transfer.svelte.ts
Due: svelte-check, eslint

upload preview: no redirect from a background transfer, safe context close, upload copy
  frontend/src/lib/audio/peaks.ts
  frontend/src/lib/components/AudioPreview.svelte
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

upload: preview the chosen file and start its transfer on selection (#1954)
  frontend/src/lib/audio/peaks.ts
  frontend/src/lib/audio/probe.test.ts
  frontend/src/lib/audio/probe.ts
  frontend/src/lib/components/AudioPreview.stories.svelte
  frontend/src/lib/components/AudioPreview.svelte
  frontend/src/lib/components/Waveform.svelte
  frontend/src/lib/staged-transfer.svelte.ts
  frontend/src/lib/staged-transfer.test.ts
  frontend/src/lib/upload-session.test.ts
  frontend/src/lib/upload-session.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/record/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

status: upload file preview (#1954), notification bot session recovery (#1953), two known issues
  STATUS.md
Due: none

status: upload file preview (#1954), notification bot session recovery (#1953), two known issues (#1955)
  STATUS.md
Due: none

release: fast-forward production-fe with a direct push instead of a local checkout
  scripts/release
Due: none

release: fast-forward production-fe with a direct push instead of a local checkout (#1956)
  scripts/release
Due: none
