Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: prevent scrolling text from overlapping icons in player
  frontend/src/lib/components/Player.svelte
Due: frontend-build

feat: switch TrackItem metadata to vertical stacking
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: add proper truncation to TrackItem vertical metadata layout
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: mobile player improvements + share button enhancements (#254)
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/ShareButton.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: make only text clickable in TrackItem metadata, not full row
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: make only text clickable in TrackItem metadata, not full row (#255)
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: add color to album-link after restructuring
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: add color to album-link after restructuring (#256)
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: album padding and portal metadata layout
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

chore: hide redundant artist metadata on scoped pages
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

chore: clean up portal metadata display
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: album padding & metadata consistency (#257)
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

docs: fix queue design link
  docs/frontend/state-management.md
Due: none

docs: fix queue design link (#258)
  docs/frontend/state-management.md
Due: none

refactor: use Pydantic models for consistent track serialization
  src/backend/_internal/queue.py
  src/backend/api/tracks.py
  src/backend/schemas.py
Due: ty-check

test: add queue album serialization test and use explicit JSON mode
  src/backend/_internal/queue.py
  tests/api/test_queue.py
Due: ty-check

refactor: use Pydantic models for consistent track serialization (#259)
  src/backend/_internal/queue.py
  src/backend/api/tracks.py
  src/backend/schemas.py
  tests/api/test_queue.py
Due: ty-check

fix: serialize TrackResponse to dict in album endpoint
  src/backend/api/albums.py
  tests/api/test_albums.py
Due: ty-check

fix: serialize TrackResponse to dict in album endpoint (#260)
  src/backend/api/albums.py
  tests/api/test_albums.py
Due: ty-check

fix: use environment-aware frontend URL in notifications
  src/backend/_internal/notifications.py
Due: ty-check

cleanup: remove unused canonical_url and canonical_host config
  src/backend/config.py
Due: ty-check

fix: use environment-aware frontend URL in notifications (#261)
  src/backend/_internal/notifications.py
  src/backend/config.py
Due: ty-check

fix: replace hardcoded ATProto namespaces with config references
  scripts/backfill_atproto_records.py
  src/backend/_internal/atproto/records.py
  src/backend/config.py
Due: ty-check

fix: rename relay_settings to app_settings (relay is old app name)
  scripts/backfill_atproto_records.py
Due: ty-check

fix: use like_collection in OAuth scope generation (config.py:304)
  src/backend/config.py
Due: ty-check

docs: update backfill script docstring to reference docs/tools/
  scripts/backfill_atproto_records.py
Due: ty-check

feat: add ATProto namespace migration script with dry-run mode
  scripts/migrate_atproto_namespace.py
Due: ty-check

fix: handle both users in migration script + fix column name
  scripts/migrate_atproto_namespace.py
Due: ty-check

deps: add typer for migration script CLI
  pyproject.toml
  uv.lock
Due: none

fix: replace hardcoded ATProto namespaces with config references (#263)
  pyproject.toml
  scripts/backfill_atproto_records.py
  scripts/migrate_atproto_namespace.py
  src/backend/_internal/atproto/records.py
  src/backend/config.py
  uv.lock
Due: ty-check

fix: migration script now uses database track URIs for likes
  scripts/migrate_atproto_namespace.py
Due: ty-check

docs: document ATProto namespace separation across environments
  docs/backend/configuration.md
  docs/deployment/environments.md
Due: none

chore: remove typer from project dependencies
  pyproject.toml
  scripts/migrate_atproto_namespace.py
  uv.lock
Due: ty-check

docs: document ATProto namespace separation (#264)
  docs/backend/configuration.md
  docs/deployment/environments.md
  pyproject.toml
  scripts/migrate_atproto_namespace.py
  uv.lock
Due: ty-check

fix: keep album tracks clear of sticky player
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: keep album tracks clear of sticky player (#265)
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

refactor: centralize sticky player padding
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

refactor: centralize sticky player padding (#266)
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: restore mobile bottom padding to 1.25rem
  frontend/src/routes/+layout.svelte
Due: frontend-build
