Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: elevate track-container z-index when likers tooltip is open
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: elevate track-container z-index when likers tooltip is open (#485)
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

docs: update STATUS.md with likers tooltip stacking fix
  STATUS.md
Due: none

docs: update STATUS.md with likers tooltip stacking fix (#486)
  STATUS.md
Due: none

docs: fix inaccuracies in database migrations documentation
  docs/deployment/database-migrations.md
Due: none

docs: fix inaccuracies in database migrations documentation (#487)
  docs/deployment/database-migrations.md
Due: none

fix: respect sensitive artwork preference in media session
  frontend/src/lib/components/player/Player.svelte
Due: frontend-build

fix: apply SensitiveImage wrapper to remaining image displays
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: complete sensitive image coverage across all image displays (#488)
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
Due: frontend-build

fix: use content_type for image format detection on mobile uploads
  backend/src/backend/_internal/image.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/test_image_formats.py
  frontend/src/routes/upload/+page.svelte
Due: ty-check, frontend-build

fix: use content_type for image format detection on mobile uploads (#489)
  backend/src/backend/_internal/image.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/test_image_formats.py
  frontend/src/routes/upload/+page.svelte
Due: ty-check, frontend-build

docs: update STATUS.md with Dec 6 fixes (#488, #489)
  STATUS.md
Due: none

docs: update STATUS.md with Dec 6 fixes (#488, #489) (#490)
  STATUS.md
Due: none

feat: configurable bufo exclude/include patterns via env vars
  backend/src/backend/config.py
  backend/src/backend/main.py
  frontend/src/lib/components/BufoEasterEgg.svelte
  frontend/src/lib/config.ts
Due: ty-check, frontend-build

feat: configurable bufo exclude/include patterns via env vars (#491)
  backend/src/backend/config.py
  backend/src/backend/main.py
  frontend/src/lib/components/BufoEasterEgg.svelte
  frontend/src/lib/config.ts
Due: ty-check, frontend-build

fix: include patterns in bufo cache key
  frontend/src/lib/components/BufoEasterEgg.svelte
Due: frontend-build

fix: include patterns in bufo cache key (#492)
  frontend/src/lib/components/BufoEasterEgg.svelte
Due: frontend-build

feat: add /deploy claude command
  .claude/commands/deploy.md
  STATUS.md
Due: none

docs: add bluesky thread link to bufo section in STATUS.md
  STATUS.md
Due: none

feat: add /deploy claude command (#493)
  .claude/commands/deploy.md
  STATUS.md
Due: none

add lexicons dir
  lexicons/comment.json
  lexicons/like.json
  lexicons/track.json
Due: none

add lexicons dir (#495)
  lexicons/comment.json
  lexicons/like.json
  lexicons/track.json
Due: none

feat: consolidate user preferences into dedicated settings page
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/SensitiveImage.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

fix: add font-family inherit to buttons, rename profile → portal in mobile menu
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

refactor: move delete account from settings to portal
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

feat: consolidate user preferences into dedicated settings page (#496)
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/SensitiveImage.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend-build

docs: update STATUS.md with settings consolidation (PR #496)
  STATUS.md
Due: none

docs: update STATUS.md with settings consolidation (PR #496) (#497)
  STATUS.md
Due: none

feat: add public liked pages for any user (#498)
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/users.py
  backend/src/backend/main.py
  backend/tests/api/test_users.py
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/liked/[handle]/+page.svelte
  frontend/src/routes/liked/[handle]/+page.ts
Due: ty-check, frontend-build

refactor: consolidate optional auth into get_optional_session dependency
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/utilities/auth.py
  backend/tests/api/test_hidden_tags_filter.py
Due: ty-check

feat: add show_liked_on_profile preference
  backend/alembic/versions/2025_12_06_212328_358af8d5d40a_add_show_liked_on_profile_preference.py
  backend/src/backend/models/preferences.py
Due: ty-check

feat: add show_liked_on_profile setting with artist page integration
  backend/src/backend/api/artists.py
  backend/src/backend/api/preferences.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

feat: add fm.plyr.list lexicon for playlists and albums
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/config.py
  lexicons/list.json
Due: ty-check

refactor: generalize fm.plyr.list to support any record type
  backend/src/backend/_internal/atproto/records.py
  lexicons/list.json
Due: ty-check

refactor: simplify fm.plyr.list lexicon to minimal fields
  backend/src/backend/_internal/atproto/records.py
  lexicons/list.json
Due: ty-check

feat: add optional updatedAt field to fm.plyr.list
  backend/src/backend/_internal/atproto/records.py
  lexicons/list.json
Due: ty-check

docs: add feat/playlists branch status to STATUS.md
  STATUS.md
Due: none

feat: add fm.plyr.actor.profile lexicon and upsert function
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/config.py
  lexicons/profile.json
Due: ty-check

feat: wire up profile record upsert to artist bio endpoints
  backend/src/backend/api/artists.py
  backend/tests/api/test_artist_profile_record.py
Due: ty-check

feat: sync profile record on login with proper background task handling
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/api/artists.py
Due: ty-check
