Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

simplify lossless badge to icon-only with tooltip
  frontend/src/lib/components/LosslessBadge.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

simplify lossless badge to icon-only with tooltip (#1190)
  frontend/src/lib/components/LosslessBadge.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

add resolve-flag skill for copyright flag triage
  .claude/skills/resolve-flag/SKILL.md
Due: none

add resolve-flag skill for copyright flag triage (#1191)
  .claude/skills/resolve-flag/SKILL.md
Due: none

fix deploy skill to pick release command deterministically
  .claude/skills/deploy/SKILL.md
Due: none

fix deploy skill to pick release command deterministically (#1192)
  .claude/skills/deploy/SKILL.md
Due: none

replace floating lossless badge with subtle card treatment + inline indicator
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

replace floating lossless badge with subtle card treatment (#1193)
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

fix activity page not respecting live/ambient theme
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix activity page not respecting live/ambient theme (#1194)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix activity page lava-bg to layer in front of theme background
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix activity page lava-bg to layer in front of theme background (#1195)
  frontend/src/routes/activity/+page.svelte
Due: svelte-check, eslint

fix tags row overflowing card boundary on mobile
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

fix tags row overflowing card boundary on mobile (#1196)
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

fix tags truncating with ellipsis instead of overflowing on mobile
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

fix ambient theme lost on full page load of ssr=false pages
  frontend/src/lib/auth.svelte.ts
Due: svelte-check, eslint

fix tags overflow and ambient theme on activity page (#1197)
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

redirect OAuth errors to frontend with human-readable toasts
  backend/src/backend/api/auth.py
  frontend/src/routes/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix scope_mismatch toast — reference permission sets, not "updating PDS"
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

redirect OAuth errors to frontend with human-readable toasts (#1198)
  backend/src/backend/api/auth.py
  frontend/src/routes/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

update STATUS.md — FLAC GA, OAuth errors, activity page fixes
  STATUS.md
Due: none

update STATUS.md — FLAC GA, OAuth errors, activity page fixes (#1199)
  STATUS.md
Due: none

sync handle changes via Jetstream identity events
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

pin track 778 on docs homepage, deduplicate by artist
  docs-site/src/components/TrendingTracks.astro
Due: none

pin track 778 on docs homepage, deduplicate by artist (#1201)
  docs-site/src/components/TrendingTracks.astro
Due: none

sync handle changes via Jetstream identity events (#1200)
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: image URL extension must match R2 storage key
  backend/src/backend/_internal/image_uploads.py
  backend/tests/test_image_formats.py
Due: type-check

fix: image URL extension must match R2 storage key (#1202)
  backend/src/backend/_internal/image_uploads.py
  backend/tests/test_image_formats.py
Due: type-check

harden WebSocket security: origin validation, session_id omission (#1131)
  backend/src/backend/api/auth.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/jam.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix CI: omit session_id field entirely for browser flows, fix beartype + WS close code assertions
  backend/src/backend/api/auth.py
  backend/tests/api/test_jams.py
  loq.toml
Due: type-check

fix pre-existing CI failures: beartype on UploadFile mock, missing DB in disconnect test
  backend/tests/api/test_jams.py
  backend/tests/test_image_formats.py
  loq.toml
Due: type-check

narrow contextlib.suppress to specific exceptions for ws.close()
  backend/src/backend/api/jams.py
Due: type-check

harden WebSocket security: origin validation, session_id omission (#1203)
  backend/src/backend/api/auth.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  backend/tests/test_image_formats.py
  frontend/src/lib/jam.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix CI: use .code attribute for WebSocketDisconnect assertions
  backend/tests/api/test_jams.py
Due: type-check

add WebSocket reliability: idle timeout, rate limiting, connection limits
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/jam.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix flaky idle timeout test: accept 4008 or 1011 close code
  backend/tests/api/test_jams.py
  loq.toml
Due: type-check

fix flaky test_ws_command_round_trip: consume messages until expected state
  backend/tests/api/test_jams.py
  loq.toml
Due: type-check

relax loq limit for test_jams.py
  loq.toml
Due: none

narrow contextlib.suppress to specific exceptions for ws.close()
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
Due: type-check

add WebSocket reliability: idle timeout, rate limiting, connection limits (#1204)
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/jam.svelte.ts
  loq.toml
Due: type-check, svelte-check, eslint
