Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

use user-friendly upload messaging with personality
  frontend/src/lib/uploader.svelte.ts
  src/backend/api/tracks/uploads.py
Due: ty-check, frontend-build

always show XHR upload percentage
  frontend/src/lib/uploader.svelte.ts
Due: frontend-build

add streaming upload progress tracking (#282)
  frontend/src/lib/uploader.svelte.ts
  src/backend/_internal/uploads.py
  src/backend/api/tracks/uploads.py
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
Due: ty-check, frontend-build

feat: add wave loading animation and clickable refresh
  frontend/src/lib/components/BrokenTracks.svelte
  frontend/src/lib/components/LoadingOverlay.svelte
  frontend/src/lib/components/LoadingSpinner.svelte
  frontend/src/lib/components/WaveLoading.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

feat: add wave loading animation and clickable refresh (#283)
  frontend/src/lib/components/BrokenTracks.svelte
  frontend/src/lib/components/LoadingOverlay.svelte
  frontend/src/lib/components/LoadingSpinner.svelte
  frontend/src/lib/components/WaveLoading.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: forward session cookie in artist page server load for liked state
  frontend/src/routes/u/[handle]/+page.server.ts
Due: frontend-build

fix: hydrate artist tracks client side
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: hydrate artist page likes client-side (#284)
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

perf: hydrate artist likes faster
  .claude/commands/status-update.md
  docs/README.md
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

perf: hydrate artist likes faster (#285)
  .claude/commands/status-update.md
  docs/README.md
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

perf: add file_type hints to R2 get_url calls
  src/backend/api/audio.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/uploads.py
Due: ty-check

docs: clarify /audio/ endpoint only serves audio files
  src/backend/api/audio.py
Due: ty-check

refactor: rename stream_media to stream_audio and remove dead code
  src/backend/api/audio.py
Due: ty-check

perf: add file_type hints to R2 get_url calls (#286)
  src/backend/api/audio.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/uploads.py
Due: ty-check

perf: eliminate R2 HEAD request loops by using track metadata
  src/backend/api/audio.py
  src/backend/api/tracks/uploads.py
  src/backend/storage/r2.py
  tests/api/test_audio.py
Due: ty-check

fix: move R2 optimization into R2 branch, respect storage interface boundaries
  src/backend/api/audio.py
  tests/api/test_audio.py
Due: ty-check

perf: eliminate R2 HEAD request loops by using track metadata (#287)
  src/backend/api/audio.py
  src/backend/api/tracks/uploads.py
  src/backend/storage/r2.py
  tests/api/test_audio.py
Due: ty-check

remove FilesystemStorage backend
  .env.example
  src/backend/api/albums.py
  src/backend/api/audio.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/uploads.py
  src/backend/config.py
  src/backend/storage/__init__.py
  src/backend/storage/filesystem.py
  tests/api/test_audio.py
  tests/storage/__init__.py
  tests/storage/test_large_file_upload.py
  tests/storage/test_r2_upload.py
  tests/test_settings.py
Due: ty-check

fix tests: mock storage to avoid R2 credential requirements
  tests/conftest.py
Due: ty-check

fix: lazy storage initialization for tests
  src/backend/storage/__init__.py
  tests/conftest.py
Due: ty-check

remove FilesystemStorage backend (#288)
  .env.example
  src/backend/api/albums.py
  src/backend/api/audio.py
  src/backend/api/tracks/metadata_service.py
  src/backend/api/tracks/uploads.py
  src/backend/config.py
  src/backend/storage/__init__.py
  src/backend/storage/filesystem.py
  tests/api/test_audio.py
  tests/conftest.py
  tests/storage/__init__.py
  tests/storage/test_large_file_upload.py
  tests/storage/test_r2_upload.py
  tests/test_settings.py
Due: ty-check

fix: eliminate unnecessary auth requests when logged out
  frontend/src/routes/+layout.svelte
  frontend/src/routes/liked/+page.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: eliminate unnecessary auth requests when logged out (#289)
  frontend/src/routes/+layout.svelte
  frontend/src/routes/liked/+page.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: add artist share action
  STATUS.md
  docs/README.md
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: add artist share action (#290)
  STATUS.md
  docs/README.md
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

chore: modularize player component
  STATUS.md
  docs/README.md
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

feat: smooth seek bar and clear warnings
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: interpolate seek thumb
  frontend/src/lib/components/player/PlaybackControls.svelte
Due: frontend-build

Revert "fix: interpolate seek thumb"
  frontend/src/lib/components/player/PlaybackControls.svelte
Due: frontend-build

Revert "feat: smooth seek bar and clear warnings"
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

chore: reapply warning fixes
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: restore original player layout and styles
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

fix: enforce stable player layout
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

feat: stabilize player layout (#291)
  STATUS.md
  docs/README.md
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: smooth scrubber animation
  frontend/src/lib/components/player/PlaybackControls.svelte
Due: frontend-build

feat: smooth scrubber animation (#293)
  frontend/src/lib/components/player/PlaybackControls.svelte
Due: frontend-build

feat: show featured artists inline
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

fix: sync feature scrolling + hideArtist handling
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

feat: show featured artists inline (#294)
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: frontend-build

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
