Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

docs: update STATUS.md with Feb 19-25 work
  STATUS.md
Due: none

docs: update STATUS.md with Feb 19-25 work (#961)
  STATUS.md
Due: none

feat: add jam output mode — "one speaker" vs "everyone"
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: type-check, svelte-check, eslint

feat: add jam output mode — "one speaker" vs "everyone" (#962)
  backend/src/backend/_internal/jams.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/jam.svelte.ts
  frontend/src/lib/types.ts
  loq.toml
Due: type-check, svelte-check, eslint

fix: eliminate jam "no output" state + restructure header UI
  backend/src/backend/_internal/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: eliminate jam "no output" state + restructure header UI (#963)
  backend/src/backend/_internal/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: auto-claim jam output when nobody has it
  frontend/src/lib/jam.svelte.ts
Due: svelte-check, eslint

fix: auto-claim jam output when nobody has it (#964)
  frontend/src/lib/jam.svelte.ts
Due: svelte-check, eslint

feat: remove jams feature flag — available to all users
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/jam.svelte.ts
  frontend/src/routes/+layout.svelte
Due: type-check, svelte-check, eslint

feat: remove jams feature flag — available to all users (#965)
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/jams.py
  backend/tests/api/test_jams.py
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/config.ts
  frontend/src/routes/+layout.svelte
Due: type-check, svelte-check, eslint

fix: JSONB null vs SQL NULL on support_gate — tracks invisible to backfill
  backend/alembic/versions/2026_02_26_000000_fix_jsonb_null_support_gate.py
  backend/src/backend/models/job.py
  backend/src/backend/models/track.py
  backend/tests/models/test_support_gate_null.py
  frontend/src/lib/components/PdsBackfillControl.svelte
Due: type-check, svelte-check, eslint

fix: JSONB null vs SQL NULL on support_gate — tracks invisible to backfill (#966)
  backend/alembic/versions/2026_02_26_000000_fix_jsonb_null_support_gate.py
  backend/src/backend/models/job.py
  backend/src/backend/models/track.py
  backend/tests/models/test_support_gate_null.py
  frontend/src/lib/components/PdsBackfillControl.svelte
Due: type-check, svelte-check, eslint

fix: use proper alembic revision ID for support_gate migration
  backend/alembic/versions/2026_02_26_000000_fix_jsonb_null_support_gate.py
Due: type-check

fix: replace hand-written migration with alembic-generated one
  backend/alembic/versions/2026_02_26_085017_97e520a2e2fa_fix_jsonb_null_in_support_gate.py
Due: type-check

fix: replace hand-written migration with alembic-generated one (#968)
  backend/alembic/versions/2026_02_26_085017_97e520a2e2fa_fix_jsonb_null_in_support_gate.py
Due: type-check

feat: remove pds-audio-uploads feature flag — available to all users
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/pds_backfill.py
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
  frontend/src/lib/components/PdsBackfillControl.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
  frontend/src/lib/config.ts
Due: type-check, svelte-check, eslint

feat: remove pds-audio-uploads feature flag — available to all users (#969)
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/pds_backfill.py
  backend/src/backend/api/tracks/uploads.py
  frontend/src/lib/components/PdsAudioUploadsToggle.svelte
  frontend/src/lib/components/PdsBackfillControl.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
  frontend/src/lib/config.ts
Due: type-check, svelte-check, eslint

feat: cache bluesky follow graph in Redis
  backend/src/backend/_internal/follow_graph.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/sync.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/discover.py
  backend/tests/_internal/test_follow_graph.py
  backend/tests/api/test_discover.py
  backend/tests/api/test_list_record_sync.py
Due: type-check

feat: cache bluesky follow graph in Redis (#970)
  backend/src/backend/_internal/follow_graph.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/sync.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/discover.py
  backend/tests/_internal/test_follow_graph.py
  backend/tests/api/test_discover.py
  backend/tests/api/test_list_record_sync.py
Due: type-check

fix: add fade transitions and reduced-motion support across loading states
  frontend/src/lib/components/CommentersTooltip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/lib/components/WaveLoading.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: add fade transitions and reduced-motion support across loading states (#972)
  frontend/src/lib/components/CommentersTooltip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/lib/components/WaveLoading.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: parallelize network artists fetch with other homepage data
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: parallelize network artists fetch with other homepage data (#973)
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: persist network artists across navigations with module-level cache
  frontend/src/lib/network-artists.svelte.ts
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: persist network artists across navigations with module-level cache (#974)
  frontend/src/lib/network-artists.svelte.ts
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: network artists fetch missed on initial load due to auth race
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: network artists fetch missed on initial load due to auth race (#975)
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

feat: generate 96x96 WebP thumbnails for track/album/playlist artwork
  backend/alembic/versions/2026_02_27_120000_add_thumbnail_url_column.py
  backend/pyproject.toml
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/thumbnails.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/album.py
  backend/src/backend/models/playlist.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/src/backend/storage/__init__.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/test_background_tasks.py
  backend/tests/test_storage_types.py
  backend/tests/test_thumbnails.py
  backend/uv.lock
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  scripts/backfill_thumbnails.py
Due: type-check, svelte-check, eslint

refactor: improve test_storage_types patterns
  backend/tests/test_storage_types.py
Due: type-check

fix: move deferred imports to top-level, add generate_and_save tests
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/test_thumbnails.py
  frontend/src/lib/types.ts
Due: type-check, svelte-check, eslint

feat: generate 96x96 WebP thumbnails for artwork (#976)
  backend/alembic/versions/2026_02_27_120000_add_thumbnail_url_column.py
  backend/pyproject.toml
  backend/src/backend/_internal/export_tasks.py
  backend/src/backend/_internal/thumbnails.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/album.py
  backend/src/backend/models/playlist.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/src/backend/storage/__init__.py
  backend/src/backend/storage/protocol.py
  backend/src/backend/storage/r2.py
  backend/tests/test_background_tasks.py
  backend/tests/test_storage_types.py
  backend/tests/test_thumbnails.py
  backend/uv.lock
  frontend/src/lib/components/TrackCard.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  scripts/backfill_thumbnails.py
Due: type-check, svelte-check, eslint

fix: use unique alembic revision ID for thumbnail migration
  backend/alembic/versions/2026_02_27_120000_add_thumbnail_url_column.py
Due: type-check

fix: use unique alembic revision ID for thumbnail migration (#977)
  backend/alembic/versions/2026_02_27_120000_add_thumbnail_url_column.py
Due: type-check

fix: include alembic migrations in release change detection
  scripts/release
Due: none

fix: include alembic migrations in release change detection (#978)
  scripts/release
Due: none

refactor: use storage proxy instead of settings in export_tasks
  backend/src/backend/_internal/export_tasks.py
Due: type-check

refactor: use storage proxy instead of settings in export_tasks (#979)
  backend/src/backend/_internal/export_tasks.py
Due: type-check

docs: update STATUS.md with PRs #963-979
  STATUS.md
Due: none

docs: update STATUS.md with PRs #963-979 (#980)
  STATUS.md
Due: none

fix: reload auth session after PDS blob upload to prevent stale token 401
  backend/src/backend/api/tracks/uploads.py
  backend/tests/api/test_upload_session_reload.py
Due: type-check

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
