Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

project verified PDS likes
  .github/workflows/deploy-staging.yml
  backend-zig/README.md
  backend-zig/fly.canary.toml
  backend-zig/justfile
  backend-zig/scripts/bench_http.py
  backend-zig/scripts/check_canary_image
  backend-zig/scripts/test_http.py
  backend-zig/scripts/test_list_migration.py
  backend-zig/scripts/test_play_http.py
  backend-zig/src/config.zig
  backend-zig/src/internal/atproto/like_record.zig
  backend-zig/src/internal/ingest/catalog_reconcile_runner.zig
  backend-zig/src/internal/ingest/continuous_runner.zig
  backend-zig/src/internal/ingest/postgres_repository_candidates.zig
  backend-zig/src/internal/ingest/projector.zig
  backend-zig/src/internal/ingest/repair_runner.zig
  backend-zig/src/internal/projection/commit_verifier.zig
  backend-zig/src/internal/projection/like_change.zig
  backend-zig/src/internal/projection/like_store.zig
  backend-zig/src/internal/projection/postgres_like_store.zig
  backend-zig/src/internal/projection/postgres_verified_commit_store.zig
  backend-zig/src/internal/projection/postgres_verified_snapshot_store.zig
  backend-zig/src/internal/projection/record_rejection.zig
  backend-zig/src/internal/projection/snapshot_verifier.zig
  backend-zig/src/internal/projection/verified_commit.zig
  backend-zig/src/internal/projection/verified_snapshot.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_09_110000_d71a2c9e4f83_add_verified_like_projection.py
  docs/internal/architecture/zig-ingestion-transport.md
Due: type-check

activate complete zig auth configuration
  backend-zig/src/config.zig
Due: none

require verified profiles for artist reads
  backend-zig/README.md
  backend-zig/src/api/artists.zig
  backend-zig/src/internal/domain/artist.zig
  backend-zig/src/internal/index/postgres_artist_store.zig
  backend-zig/src/internal/index/postgres_track_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-v1-artist.md
Due: none

serve verified track likes from zig
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/check_track_likes.py
  backend-zig/scripts/test_http.py
  backend-zig/src/api/router.zig
  backend-zig/src/api/tracks.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-rest-api-scope.md
  docs/internal/architecture/zig-v1-track-likes.md
Due: type-check

complete secure zig browser login
  backend-zig/README.md
  backend-zig/build.zig.zon
  backend-zig/scripts/test_http.py
  backend-zig/src/api/auth.zig
  backend-zig/src/api/response.zig
  backend-zig/src/api/router.zig
  backend-zig/src/config.zig
  backend-zig/src/internal/application/browser_login.zig
  backend-zig/src/internal/auth/oauth_gateway.zig
  backend-zig/src/internal/auth/oauth_state.zig
  backend-zig/src/internal/auth/postgres_store.zig
  backend-zig/src/internal/auth/store.zig
  backend-zig/src/internal/ingest/safe_endpoint.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-canary.md
  loq.toml
Due: type-check

benchmark verified artist reads
  backend-zig/justfile
  backend-zig/scripts/composed_track_bench.sql
Due: none

serve artist pages from Zig v1
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
  loq.toml
Due: svelte-check, eslint

wire next frontend to zig browser auth
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/lib/utils/auth-callback.test.ts
  frontend/src/lib/utils/auth-callback.ts
  frontend/src/routes/portal/+page.svelte
Due: svelte-check, eslint

serve next playlist embeds from zig
  frontend/src/routes/embed/playlist/[id]/+page.server.ts
  frontend/src/routes/embed/playlist/[id]/page.server.test.ts
Due: svelte-check, eslint

record the next frontend cutover
  backend-zig/README.md
  docs/internal/architecture/zig-canary.md
  frontend-next/justfile
  frontend-next/scripts/deploy
Due: none

serve verified playlists in the next frontend
  frontend/src/lib/api/zig-v1-playlists.test.ts
  frontend/src/lib/api/zig-v1-playlists.ts
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/playlist/[id]/+page.server.ts
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/playlist/[id]/+page.ts
Due: svelte-check, eslint

prepare isolated next auth deployment
  .github/workflows/deploy-staging.yml
  backend-zig/fly.canary.toml
  backend-zig/scripts/canary_smoke.py
  backend-zig/scripts/test_canary_smoke.py
  docs/internal/deployment/environments.md
Due: type-check

give next its own API hostname
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/test_canary_smoke.py
  docs/internal/architecture/zig-canary.md
  docs/internal/deployment/environments.md
  frontend/justfile
  frontend/scripts/deploy-next
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/config.ts
  frontend/src/routes/api/[...path]/+server.ts
Due: type-check, svelte-check, eslint

include verified playlists in next search
  frontend/src/lib/api/zig-v1-search.ts
  frontend/src/lib/api/zig-v1.test.ts
Due: svelte-check, eslint

compare canonical search identity
  backend-zig/scripts/canary_smoke.py
  backend-zig/scripts/test_canary_smoke.py
Due: type-check

show verified liker state in the next frontend
  backend-zig/README.md
  backend-zig/scripts/check_track_likes.py
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/src/api/charts.zig
  backend-zig/src/api/router.zig
  backend-zig/src/internal/application/list_track_chart.zig
  backend-zig/src/internal/domain/track.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_track_chart_store.zig
  backend-zig/src/internal/index/postgres_verified_list_store.zig
  backend-zig/src/internal/index/track_chart_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-v1-track-likes.md
  frontend/src/lib/api/zig-v1-playlists.test.ts
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/likers-sheet.svelte.ts
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

benchmark verified album collections
  backend-zig/justfile
  docs/internal/architecture/zig-v1-album-collection.md
Due: none

record deployed search and play canary
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/canary_smoke.py
  backend-zig/scripts/test_canary_smoke.py
  docs/internal/architecture/zig-canary.md
Due: type-check

bind chart likes to exact track revisions
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/src/internal/index/postgres_track_chart_store.zig
Due: none

unify album reads on verified lists
  backend-zig/README.md
  backend-zig/scripts/canary_smoke.py
  backend-zig/scripts/test_canary_smoke.py
  backend-zig/src/api/albums.zig
  backend-zig/src/api/router.zig
  backend-zig/src/internal/application/list_albums.zig
  backend-zig/src/internal/domain/album.zig
  backend-zig/src/internal/domain/album_list.zig
  backend-zig/src/internal/index/album_store.zig
  backend-zig/src/internal/index/postgres_album_store.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_track_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-rest-api-scope.md
  docs/internal/architecture/zig-v1-album-collection.md
Due: type-check

model verified likes as strong references
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/application/list_track_likes.zig
  backend-zig/src/internal/domain/like.zig
  backend-zig/src/internal/index/like_query_store.zig
  backend-zig/src/internal/index/postgres_like_query_store.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_10_020000_f93c4e1a6b05_index_exact_subject_likes.py
  loq.toml
Due: type-check

use Zig search in the existing frontend
  frontend/src/lib/api/zig-v1-search.ts
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/search.svelte.ts
Due: svelte-check, eslint

record sustained plays in Zig
  backend-zig/build.zig
  backend-zig/build.zig.zon
  backend-zig/justfile
  backend-zig/scripts/test_http.py
  backend-zig/scripts/test_list_migration.py
  backend-zig/scripts/test_play_http.py
  backend-zig/src/api/response.zig
  backend-zig/src/api/router.zig
  backend-zig/src/api/tracks.zig
  backend-zig/src/config.zig
  backend-zig/src/internal/application/record_play.zig
  backend-zig/src/internal/metrics/play_dedup_store.zig
  backend-zig/src/internal/metrics/play_metric_store.zig
  backend-zig/src/internal/metrics/postgres_play_metric_store.zig
  backend-zig/src/internal/metrics/redis_play_dedup_store.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_09_083000_c69d4e8a217f_grant_zig_canary_play_writes.py
Due: type-check

render Zig artist metrics in the existing frontend
  frontend/src/lib/api/zig-v1-artist-metrics.ts
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/types.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: svelte-check, eslint

narrow zig auth database authority
  backend-zig/scripts/test_list_migration.py
  backend/alembic/versions/2026_08_10_010000_e82b3d0f5a94_add_zig_auth_store.py
Due: type-check

restore play recording in the existing frontend
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  frontend/src/lib/player.svelte.ts
  frontend/src/routes/api/[...path]/+server.ts
Due: svelte-check, eslint

benchmark verified catalog search
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/scripts/search_bench.sql
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-rest-api-scope.md
  docs/internal/architecture/zig-v1-search.md
Due: none

browse verified playlists on next
  frontend-next/README.md
  frontend-next/public/api.js
  frontend-next/public/app.js
  frontend-next/public/index.html
  frontend-next/public/styles.css
  frontend-next/test/api.test.ts
Due: none

restore homepage charts on zig
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  frontend/src/lib/tracks.svelte.ts
Due: svelte-check, eslint

benchmark equivalent python and zig catalogue reads
  backend-zig/justfile
  backend-zig/scripts/api_parity_bench.sql
  backend-zig/scripts/bench_api_parity.py
  backend-zig/scripts/bench_http.py
  backend-zig/scripts/run_api_parity_bench
  backend-zig/scripts/test_bench_api_parity.py
  backend-zig/scripts/test_bench_http.py
  docs/internal/architecture/zig-http-benchmark.md
Due: type-check

serve canonical artist metrics
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/canary_smoke.py
  backend-zig/scripts/test_canary_smoke.py
  backend-zig/scripts/test_http.py
  backend-zig/src/api/artists.zig
  backend-zig/src/api/router.zig
  backend-zig/src/internal/application/get_artist_metrics.zig
  backend-zig/src/internal/domain/artist_metrics.zig
  backend-zig/src/internal/http/path_segment.zig
  backend-zig/src/internal/metrics/artist_metric_store.zig
  backend-zig/src/internal/metrics/postgres_artist_metric_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-v1-artist-metrics.md
Due: type-check

serve verified track charts
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/bench_http.py
  backend-zig/scripts/check_track_chart.py
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/scripts/test_http.py
  backend-zig/src/api/charts.zig
  backend-zig/src/api/router.zig
  backend-zig/src/internal/application/list_track_chart.zig
  backend-zig/src/internal/domain/track_chart.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_track_chart_store.zig
  backend-zig/src/internal/index/track_chart_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-rest-api-scope.md
Due: type-check

show verified playlists on next artist pages
  frontend/src/lib/api/zig-v1-playlists.test.ts
  frontend/src/lib/api/zig-v1-playlists.ts
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: svelte-check, eslint

benchmark authenticated zig identity reads
  backend-zig/scripts/bench_http.py
  backend-zig/scripts/test_bench_http.py
  docs/internal/architecture/zig-http-benchmark.md
Due: type-check

make fresh database bootstrap complete
  backend/scripts/init_db.py
  backend/tests/test_init_db_script.py
Due: type-check

gate next on isolated play writes
  backend-zig/README.md
  backend-zig/scripts/canary_smoke.py
  backend-zig/scripts/test_canary_smoke.py
  docs/internal/architecture/zig-canary.md
  infrastructure/redis/README.md
  infrastructure/redis/fly.next.toml
Due: type-check

make frontend checks work in isolated worktrees
  .pre-commit-config.yaml
  frontend/justfile
Due: svelte-check

pin the next deployment account
  docs/internal/deployment/environments.md
  frontend/scripts/deploy-next
Due: svelte-check

add verified catalog search
  backend-zig/scripts/canary_smoke.py
  backend-zig/scripts/test_canary_smoke.py
  backend-zig/scripts/test_http.py
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/api/router.zig
  backend-zig/src/api/search.zig
  backend-zig/src/internal/application/search_catalog.zig
  backend-zig/src/internal/domain/search.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_search_store.zig
  backend-zig/src/internal/index/search_store.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_09_070000_b58f2a7c91d4_add_projection_search_indexes.py
Due: type-check

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
