Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

ci: add backend tests to pull requests (#202)
  .github/workflows/test-backend.yml
  pyproject.toml
  tests/api/test_track_deletion.py
  tests/storage/test_r2_upload.py
  tests/test_token_refresh.py
Due: ty-check

docs: reorganize and update documentation structure
  CLAUDE.md
  alembic/env.py
  docs/CLAUDE.md
  docs/README.md
  docs/backend/configuration.md
  docs/backend/liked-tracks.md
  docs/backend/streaming-uploads.md
  docs/backend/transcoder.md
  docs/design/toast-notifications.md
  docs/frontend/queue.md
  docs/frontend/state-management.md
  docs/frontend/toast-notifications.md
  docs/local-development/setup.md
  docs/tools/logfire.md
  docs/tools/neon.md
  docs/tools/pdsx.md
  docs/ui-performance-assessment.md
  frontend/CLAUDE.md
  src/backend/_internal/CLAUDE.md
  src/backend/api/CLAUDE.md
  tests/CLAUDE.md
Due: ty-check, frontend-build

docs: reorganize and update documentation structure (#203)
  CLAUDE.md
  alembic/env.py
  docs/CLAUDE.md
  docs/README.md
  docs/backend/configuration.md
  docs/backend/liked-tracks.md
  docs/backend/streaming-uploads.md
  docs/backend/transcoder.md
  docs/design/toast-notifications.md
  docs/frontend/queue.md
  docs/frontend/state-management.md
  docs/frontend/toast-notifications.md
  docs/local-development/setup.md
  docs/tools/logfire.md
  docs/tools/neon.md
  docs/tools/pdsx.md
  docs/ui-performance-assessment.md
  frontend/CLAUDE.md
  src/backend/_internal/CLAUDE.md
  src/backend/api/CLAUDE.md
  tests/CLAUDE.md
Due: ty-check, frontend-build

feat: add upload size limits to prevent disk exhaustion
  .env.example
  src/backend/api/tracks.py
  src/backend/config.py
  tests/api/test_upload_size_limits.py
Due: ty-check

feat: add client-side file size validation
  frontend/src/lib/config.ts
  frontend/src/routes/portal/+page.svelte
  src/backend/main.py
Due: ty-check, frontend-build

fix: validate file sizes on selection, not submission
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: stop showing upload percentage after HTTP transfer completes
  frontend/src/lib/uploader.svelte.ts
Due: frontend-build

fix: simplify upload size limit tests
  tests/api/test_upload_size_limits.py
Due: ty-check

feat: add upload size limits to prevent disk exhaustion (#209)
  .env.example
  frontend/src/lib/config.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  src/backend/api/tracks.py
  src/backend/config.py
  src/backend/main.py
  tests/api/test_upload_size_limits.py
Due: ty-check, frontend-build

feat(frontend): centralize auth and improve data loading
  frontend/src/lib/auth.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/liked/+page.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat(frontend): complete auth centralization for all pages
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
Due: frontend-build

feat(frontend): centralize auth and improve data loading (#210)
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/liked/+page.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat(frontend): add queue keyboard navigation and improve layout consistency
  frontend/src/lib/components/Queue.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

remove up/down arrows from queue items
  frontend/src/lib/components/Queue.svelte
Due: frontend-build

fix: make track detail page respect queue sidebar width
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

docs: add keyboard shortcuts documentation
  docs/README.md
  docs/frontend/keyboard-shortcuts.md
  frontend/CLAUDE.md
Due: frontend-build

feat(frontend): add queue keyboard navigation and improve layout consistency (#211)
  docs/README.md
  docs/frontend/keyboard-shortcuts.md
  frontend/CLAUDE.md
  frontend/src/lib/components/Queue.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: standardize page heading sizes across routes
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

refactor: use CSS custom properties for typography scale
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: align liked tracks page spacing with home page
  frontend/src/routes/liked/+page.svelte
Due: frontend-build

fix: standardize page heading sizes (#212)
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

add fe release justfile target
  justfile
Due: none

add fe release justfile target (#213)
  justfile
Due: none

feat: add album support with browsing and detail pages
  alembic/versions/2025_11_13_100209_30344721c491_add_album_slug_column_to_tracks.py
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/album/[slug]/+page.svelte
  frontend/src/routes/album/[slug]/+page.ts
  src/backend/api/albums.py
  src/backend/api/tracks.py
  src/backend/main.py
  src/backend/models/track.py
  src/backend/utilities/slugs.py
  tests/utilities/test_slugs.py
Due: ty-check, frontend-build

fix: address album support feedback issues
  alembic/versions/2025_11_13_100209_30344721c491_add_album_slug_column_to_tracks.py
  frontend/src/routes/album/[slug]/+page.ts
  src/backend/api/albums.py
  src/backend/api/tracks.py
Due: ty-check, frontend-build

feat: enable SSR for album pages with social previews
  frontend/src/routes/+layout.ts
  frontend/src/routes/album/[slug]/+page.svelte
Due: frontend-build

fix: scope album lookups by artist to handle name changes
  alembic/versions/2025_11_13_100209_30344721c491_add_album_slug_column_to_tracks.py
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.ts
  src/backend/api/albums.py
  src/backend/api/tracks.py
Due: ty-check, frontend-build

feat: add album support with browsing and detail pages (#214)
  alembic/versions/2025_11_13_100209_30344721c491_add_album_slug_column_to_tracks.py
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.ts
  src/backend/api/albums.py
  src/backend/api/tracks.py
  src/backend/main.py
  src/backend/models/track.py
  src/backend/utilities/slugs.py
  tests/utilities/test_slugs.py
Due: ty-check, frontend-build

fix album handle lookup
  src/backend/api/albums.py
Due: ty-check

clean up svelte warnings
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix/album handle resolution (#216)
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  src/backend/api/albums.py
Due: ty-check, frontend-build

add artist discography section]},
  frontend/src/lib/types.ts
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
  src/backend/api/albums.py
  tests/api/test_albums.py
Due: ty-check, frontend-build

add artist discography section]}, (#217)
  frontend/src/lib/types.ts
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
  src/backend/api/albums.py
  tests/api/test_albums.py
Due: ty-check, frontend-build

tweak discography layout
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

polish discography layout
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

center discography section
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

wip: album schema, models, and partial CRUD implementation
  alembic/versions/2025_11_13_210000_add_albums_table.py
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  src/backend/api/albums.py
  src/backend/api/tracks.py
  src/backend/models/__init__.py
  src/backend/models/album.py
  src/backend/models/artist.py
  src/backend/models/track.py
Due: ty-check, frontend-build

fix: album/track relationship naming (album_rel)
  src/backend/models/album.py
Due: ty-check

feat: add album cover art upload endpoint
  src/backend/api/albums.py
Due: ty-check

fix: use album_rel relationship in selectinload calls
  src/backend/api/tracks.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
