Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

feat: add artist support link setting (#532)
  backend/alembic/versions/2025_12_08_170130_a6069b752a90_add_support_url_to_user_preferences.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  backend/tests/api/test_preferences.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/lib/types.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

docs: update STATUS.md with Dec 8 releases
  STATUS.md
Due: none

docs: update STATUS.md with Dec 8 releases (#533)
  STATUS.md
Due: none

feat: add pydocket for background task infrastructure
  AGENTS.md
  backend/pyproject.toml
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/tests/docker-compose.yml
  backend/uv.lock
Due: ty-check

fix: make docket opt-in, add fallback to asyncio.create_task
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
Due: ty-check

refactor: clean up upload background processing
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/uploads.py
  compose.yaml
  justfile
Due: ty-check

chore: simplify just dev to single command
  justfile
Due: none

docs: add background tasks and redis documentation
  docs/backend/background-tasks.md
  docs/backend/configuration.md
  docs/deployment/environments.md
Due: none

refactor: use UploadContext dataclass for background processing
  backend/src/backend/api/tracks/uploads.py
  docs/deployment/environments.md
  justfile
Due: ty-check

refactor: reorganize atproto module by lexicon namespace
  backend/src/backend/_internal/CLAUDE.md
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/_internal/atproto/records/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/comment.py
  backend/src/backend/_internal/atproto/records/fm_plyr/like.py
  backend/src/backend/_internal/atproto/records/fm_plyr/list.py
  backend/src/backend/_internal/atproto/records/fm_plyr/profile.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/atproto/records/fm_teal/__init__.py
  backend/src/backend/_internal/atproto/records/fm_teal/play.py
  backend/src/backend/_internal/atproto/records/fm_teal/status.py
  backend/src/backend/_internal/atproto/sync.py
  backend/src/backend/_internal/atproto/teal.py
  backend/tests/api/test_list_record_sync.py
  backend/tests/test_token_refresh.py
  justfile
Due: ty-check

style: make header stats smaller and evenly distributed
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/PlatformStats.svelte
Due: frontend-build

fix: resolve docket startup and logging issues
  backend/src/backend/_internal/background.py
  backend/src/backend/main.py
Due: ty-check

refactor: make suppressed loggers configurable
  backend/src/backend/config.py
  backend/src/backend/main.py
Due: ty-check

feat: docket background tasks, atproto refactor, header stats styling (#534)
  AGENTS.md
  backend/pyproject.toml
  backend/src/backend/_internal/CLAUDE.md
  backend/src/backend/_internal/atproto/__init__.py
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/_internal/atproto/records.py
  backend/src/backend/_internal/atproto/records/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/__init__.py
  backend/src/backend/_internal/atproto/records/fm_plyr/comment.py
  backend/src/backend/_internal/atproto/records/fm_plyr/like.py
  backend/src/backend/_internal/atproto/records/fm_plyr/list.py
  backend/src/backend/_internal/atproto/records/fm_plyr/profile.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/atproto/records/fm_teal/__init__.py
  backend/src/backend/_internal/atproto/records/fm_teal/play.py
  backend/src/backend/_internal/atproto/records/fm_teal/status.py
  backend/src/backend/_internal/atproto/sync.py
  backend/src/backend/_internal/atproto/teal.py
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/tests/api/test_list_record_sync.py
  backend/tests/docker-compose.yml
  backend/tests/test_token_refresh.py
  backend/uv.lock
  compose.yaml
  docs/backend/background-tasks.md
  docs/backend/configuration.md
  docs/deployment/environments.md
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/PlatformStats.svelte
  justfile
Due: ty-check, frontend-build

docs: update env docs for docket and suppressed loggers
  backend/.env.example
  backend/fly.staging.toml
  backend/fly.toml
  docs/backend/configuration.md
Due: none

feat: add docket_runs.py script to check task status
  scripts/docket_runs.py
Due: ty-check

docs: update env docs for docket and suppressed loggers (#535)
  backend/.env.example
  backend/fly.staging.toml
  backend/fly.toml
  docs/backend/configuration.md
  scripts/docket_runs.py
Due: ty-check

feat: migrate media export to docket background tasks
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/exports.py
  backend/tests/test_background_tasks.py
  docs/backend/background-tasks.md
Due: ty-check

feat: migrate media export to docket background tasks (#536)
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/exports.py
  backend/tests/test_background_tasks.py
  docs/backend/background-tasks.md
Due: ty-check

fix: respect album name casing and theme-aware scrollbar in AddToMenu
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: respect album name casing and theme-aware scrollbar in AddToMenu (#537)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: migrate ATProto sync and teal scrobbling to docket
  .github/workflows/test-backend.yml
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/playback.py
  backend/tests/test_background_tasks.py
Due: ty-check

fix: update test for schedule_atproto_sync, fix cookies deprecation
  backend/tests/api/test_hidden_tags_filter.py
  backend/tests/api/test_list_record_sync.py
Due: ty-check

feat: template database pattern for fast parallel test execution
  backend/tests/conftest.py
Due: ty-check

ci: enable parallel test execution with xdist
  .github/workflows/test-backend.yml
Due: none

fix: ensure test_app fixture depends on db_session for xdist
  backend/tests/api/test_oembed.py
Due: ty-check

feat: migrate ATProto sync and teal scrobbling to docket (#539)
  .github/workflows/test-backend.yml
  backend/src/backend/_internal/background.py
  backend/src/backend/_internal/background_tasks.py
  backend/src/backend/api/auth.py
  backend/src/backend/api/tracks/playback.py
  backend/tests/api/test_hidden_tags_filter.py
  backend/tests/api/test_list_record_sync.py
  backend/tests/api/test_oembed.py
  backend/tests/conftest.py
  backend/tests/test_background_tasks.py
Due: ty-check

docs: add testing philosophy and xdist parallel execution guide
  docs/testing/README.md
Due: none

feat: parallel test execution with xdist template databases (#540)
  docs/testing/README.md
Due: none

feat: parallelize export downloads with asyncio.gather
  backend/src/backend/_internal/background_tasks.py
  backend/tests/test_background_tasks.py
Due: ty-check

feat: parallelize export downloads with asyncio.gather (#545)
  backend/src/backend/_internal/background_tasks.py
  backend/tests/test_background_tasks.py
Due: ty-check

feat: add audd api cost tracking dashboard
  scripts/audd_costs.py
Due: ty-check

feat: add audd api cost tracking dashboard (#546)
  scripts/audd_costs.py
Due: ty-check

docs: audit and update documentation
  STATUS.md
  backend/src/backend/_internal/CLAUDE.md
  backend/src/backend/api/CLAUDE.md
  docs/CLAUDE.md
  docs/README.md
  docs/runbooks/README.md
  docs/runbooks/connection-pool-exhaustion.md
Due: none

docs: update README with current state
  README.md
Due: none

docs: audit and update documentation (#547)
  README.md
  STATUS.md
  backend/src/backend/_internal/CLAUDE.md
  backend/src/backend/api/CLAUDE.md
  docs/CLAUDE.md
  docs/README.md
  docs/runbooks/README.md
  docs/runbooks/connection-pool-exhaustion.md
Due: none

feat: public costs dashboard with daily export to R2
  .github/workflows/export-costs.yml
  STATUS.md
  backend/src/backend/api/stats.py
  backend/src/backend/config.py
  frontend/src/routes/costs/+page.svelte
  scripts/costs/export_costs.py
Due: ty-check, frontend-build

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
