Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

comments: dock when the trigger is under the player; keep the margin from grazed chrome
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

comments: dock when the trigger is under the player; keep the margin from grazed chrome (#1977)
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

comments: an obstacle is the control under the probe, not the icon inside it
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

comments: an obstacle is the control under the probe, not the icon inside it (#1978)
  frontend/src/lib/components/TrackComments.svelte
  loq.toml
Due: svelte-check, eslint

status: comment stack — beside placement and the lit icon (#1976–#1978)
  STATUS.md
Due: none

status: comment stack — beside placement and the lit icon (#1976–#1978) (#1979)
  STATUS.md
Due: none

comments: one breath and a quiet emergence instead of the ring, bump, glow and overshoot
  frontend/src/lib/components/TrackComments.svelte
Due: svelte-check, eslint

comments: one breath and a quiet emergence instead of the ring, bump, glow and overshoot (#1980)
  frontend/src/lib/components/TrackComments.svelte
Due: svelte-check, eslint

status: comment motion reduced to one breath (#1980)
  STATUS.md
Due: none

status: comment motion reduced to one breath (#1980) (#1981)
  STATUS.md
Due: none

status: maintenance for the August 24 – September 2 window
  .status_history/2026-08.md
  STATUS.md
Due: none

status: maintenance for the August 24 – September 2 window (#1982)
  .status_history/2026-08.md
  STATUS.md
Due: none

docs: pass for September 1–2 — flags, uploads, player, release, passing comments; restore the client-writes plan
  backend/src/backend/_internal/CLAUDE.md
  docs/internal/README.md
  docs/internal/backend/feature-flags.md
  docs/internal/backend/resumable-uploads.md
  docs/internal/deployment/environments.md
  docs/internal/frontend/keyboard-shortcuts.md
  docs/internal/frontend/passing-comments.md
  docs/internal/frontend/state-management.md
  docs/plans/2026-08-31-client-side-writes.md
  docs/public/artists.md
  docs/public/listeners.md
  docs/public/troubleshooting.md
  frontend/CLAUDE.md
Due: svelte-check

docs: pass for September 1–2 — flags, uploads, player, release, passing comments; restore the client-writes plan (#1983)
  backend/src/backend/_internal/CLAUDE.md
  docs/internal/README.md
  docs/internal/backend/feature-flags.md
  docs/internal/backend/resumable-uploads.md
  docs/internal/deployment/environments.md
  docs/internal/frontend/keyboard-shortcuts.md
  docs/internal/frontend/passing-comments.md
  docs/internal/frontend/state-management.md
  docs/plans/2026-08-31-client-side-writes.md
  docs/public/artists.md
  docs/public/listeners.md
  docs/public/troubleshooting.md
  frontend/CLAUDE.md
Due: svelte-check

status maintenance: run weekly on a schedule
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: run weekly on a schedule (#1984)
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: post the podcast transcript into the PR body
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
Due: none

status maintenance: post the podcast transcript into the PR body (#1985)
  .github/workflows/status-maintenance.yml
  docs/internal/tools/status-maintenance.md
Due: none

player: spotify's footer structure and a like button, behind the skip-buttons flag
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/LikeToggle.svelte
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/components/player/VolumeControl.svelte
  frontend/src/lib/likes.svelte.ts
  frontend/src/lib/likes.test.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

player: spotify's footer structure and a like button, behind the skip-buttons flag (#1987)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/LikeToggle.svelte
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/lib/components/player/VolumeControl.svelte
  frontend/src/lib/likes.svelte.ts
  frontend/src/lib/likes.test.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

likes: the owner learns the viewer's liked ids instead of trusting the track object
  frontend/src/lib/components/LikeToggle.svelte
  frontend/src/lib/likes.svelte.ts
  frontend/src/lib/likes.test.ts
Due: svelte-check, eslint

likes: the owner learns the viewer's liked ids instead of trusting the track object (#1988)
  frontend/src/lib/components/LikeToggle.svelte
  frontend/src/lib/likes.svelte.ts
  frontend/src/lib/likes.test.ts
Due: svelte-check, eslint

player: the stage bar on a phone is art, title, heart, play
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: svelte-check, eslint

player: the stage bar on a phone is art, title, heart, play (#1989)
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: svelte-check, eslint

player: heart and play sit at the end of the phone stage bar
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: svelte-check, eslint

player: heart and play sit at the end of the phone stage bar (#1990)
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
Due: svelte-check, eslint

player: the stage transport never wraps, the scrubber takes the centre, and the glyphs are one family
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

player: the stage transport never wraps, the scrubber takes the centre, and the glyphs are one family (#1991)
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

player: stage polish — hover roles, active dots, hidden-until-hover scrubber thumb, click-to-mute, heart pop, focus rings
  frontend/src/lib/components/LikeToggle.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/VolumeControl.svelte
  loq.toml
Due: svelte-check, eslint

player: stage polish — hover roles, active dots, hidden-until-hover scrubber thumb, click-to-mute, heart pop, focus rings (#1992)
  frontend/src/lib/components/LikeToggle.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/VolumeControl.svelte
  loq.toml
Due: svelte-check, eslint

stage player: heart opens the add menu, sits beside the title, cleaner shuffle glyph
  frontend/src/lib/components/LikeToggle.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

stage player: heart opens the add menu, sits beside the title, cleaner shuffle glyph (#1993)
  frontend/src/lib/components/LikeToggle.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/components/player/TrackInfo.svelte
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

stage player: load the viewer's liked ids for the footer heart
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

stage player: load the viewer's liked ids for the footer heart (#1994)
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

stage player: borderless heart, menu hangs from the heart's left edge
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

stage player: borderless heart, menu hangs from the heart's left edge (#1995)
  frontend/src/lib/components/AddToMenu.svelte
  frontend/src/lib/components/player/Player.svelte
  loq.toml
Due: svelte-check, eslint

add menu: portal the phone top sheet to body
  frontend/src/lib/components/AddToMenu.svelte
  loq.toml
Due: svelte-check, eslint

add menu: portal the phone top sheet to body (#1996)
  frontend/src/lib/components/AddToMenu.svelte
  loq.toml
Due: svelte-check, eslint

add menu: phone sheet wins over the start-aligned upward offset
  frontend/src/lib/components/AddToMenu.svelte
  loq.toml
Due: svelte-check, eslint

add menu: phone sheet wins over the start-aligned upward offset (#1997)
  frontend/src/lib/components/AddToMenu.svelte
  loq.toml
Due: svelte-check, eslint
