Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

feat: add top tracks section to homepage (#684)
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/utilities/aggregations.py
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/+page.svelte
Due: ty-check, frontend-build

feat: sync avatar on login and add to ATProto profile record
  backend/src/backend/_internal/atproto/records/fm_plyr/profile.py
  backend/src/backend/_internal/atproto/sync.py
  lexicons/profile.json
Due: ty-check

add one-time avatar backfill script
  scripts/backfill_avatars.py
Due: ty-check

feat: sync avatar on login and add to ATProto profile record (#685)
  backend/src/backend/_internal/atproto/records/fm_plyr/profile.py
  backend/src/backend/_internal/atproto/sync.py
  lexicons/profile.json
  scripts/backfill_avatars.py
Due: ty-check

docs: add avatar sync to STATUS.md
  STATUS.md
Due: none

docs: add avatar sync to STATUS.md (#686)
  STATUS.md
Due: none

feat: add automated image moderation via Claude vision
  backend/src/backend/_internal/moderation_client.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/config.py
  moderation/Cargo.lock
  moderation/Cargo.toml
  moderation/src/claude.rs
  moderation/src/config.rs
  moderation/src/db.rs
  moderation/src/handlers.rs
  moderation/src/main.rs
  moderation/src/state.rs
Due: ty-check

feat: add automated image moderation via Claude vision (#687)
  backend/src/backend/_internal/moderation_client.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/config.py
  moderation/Cargo.lock
  moderation/Cargo.toml
  moderation/src/claude.rs
  moderation/src/config.rs
  moderation/src/db.rs
  moderation/src/handlers.rs
  moderation/src/main.rs
  moderation/src/state.rs
Due: ty-check

fix: use correct Claude Sonnet 4.5 model ID
  moderation/src/claude.rs
  moderation/src/config.rs
  moderation/src/handlers.rs
Due: none

fix: use correct Claude Sonnet 4.5 model ID (#688)
  moderation/src/claude.rs
  moderation/src/config.rs
  moderation/src/handlers.rs
Due: none

feat: send DM notification when image is flagged
  backend/src/backend/_internal/notifications.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/tracks/metadata_service.py
Due: ty-check

feat: send DM notification when image is flagged (#690)
  backend/src/backend/_internal/notifications.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/tracks/metadata_service.py
Due: ty-check

feat: redesign header for cleaner desktop layout
  frontend/CLAUDE.md
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/SearchTrigger.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: frontend-build

style: increase nav item spacing for better visual rhythm
  frontend/src/lib/components/Header.svelte
Due: frontend-build

style: flatten header structure for even space-between distribution
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: restore social links (bluesky, status, tangled) to desktop header
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: move social links to left of logo (original position)
  frontend/src/lib/components/Header.svelte
Due: frontend-build

feat: add social links to header left margin
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: hide social links on narrow desktop screens
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: remove nav spacers for proper redistribution
  frontend/src/lib/components/Header.svelte
Due: frontend-build

feat: redesign header with UserMenu dropdown and even spacing (#691)
  frontend/CLAUDE.md
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/SearchTrigger.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: frontend-build

feat: add feed/library toggle to maintain consistent header items
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: include liked and playlist pages in collection check
  frontend/src/lib/components/Header.svelte
Due: frontend-build

fix: show feed/library buttons independently
  frontend/src/lib/components/Header.svelte
Due: frontend-build

feat: add feed/library toggle for consistent header layout (#692)
  frontend/src/lib/components/Header.svelte
Due: frontend-build

feat: move shuffle button from player to queue
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
Due: frontend-build

feat: move shuffle button from player to queue (#693)
  frontend/src/lib/components/Queue.svelte
  frontend/src/lib/components/player/PlaybackControls.svelte
Due: frontend-build

chore: standardize justfile commands across modules
  AGENTS.md
  README.md
  backend/justfile
  docs/README.md
  docs/deployment/environments.md
  frontend/justfile
  justfile
Due: frontend-build

chore: standardize justfile commands across modules (#694)
  AGENTS.md
  README.md
  backend/justfile
  docs/README.md
  docs/deployment/environments.md
  frontend/justfile
  justfile
Due: frontend-build

feat: show atprotofans supporter count and list on artist pages
  frontend/src/lib/atprotofans.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: remove count badge from support button, fix avatar handling
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: enrich atprotofans supporters with avatars from Bluesky
  frontend/src/lib/atprotofans.ts
Due: frontend-build

refactor: remove frontend Bluesky API calls for avatar enrichment
  frontend/src/lib/atprotofans.ts
Due: frontend-build

feat: enrich supporters with avatar_url via backend batch endpoint
  backend/src/backend/api/artists.py
  frontend/src/lib/atprotofans.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

style: compact overlapping avatar circles for supporters
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: link supporter avatars to plyr.fm artist pages
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

feat: show atprotofans supporter count and list on artist pages (#695)
  backend/src/backend/api/artists.py
  frontend/src/lib/atprotofans.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

fix: move /batch route before /{did} to fix route matching
  backend/src/backend/api/artists.py
Due: ty-check

fix: move /batch route before /{did} to fix route matching (#696)
  backend/src/backend/api/artists.py
Due: ty-check

feat: add ATProto OAuth permission sets
  STATUS.md
  backend/src/backend/config.py
  docs/lexicons/overview.md
  docs/research/2026-01-01-atproto-oauth-permission-sets.md
  lexicons/authFullApp.json
Due: ty-check
