Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/jakekaplan/loq
    rev: v0.1.0-alpha.7
    hooks:
      - id: loq

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        files: ^backend/pyproject\.toml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: type-check
        name: type check
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        pass_filenames: false

      - id: svelte-check
        name: svelte check
        entry: bash -c 'cd frontend && bun run check'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-check-moderation
        name: cargo check (moderation)
        entry: bash -c 'cd moderation && cargo check --quiet'
        language: system
        files: ^moderation/.*\.rs$
        pass_filenames: false

      - id: cargo-check-transcoder
        name: cargo check (transcoder)
        entry: bash -c 'cd transcoder && cargo check --quiet'
        language: system
        files: ^transcoder/.*\.rs$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

docs: add community feedback section and API dedup to STATUS.md (#1087)
  STATUS.md
Due: none

docs: information architecture improvements (#1054)
  docs-site/astro.config.mjs
  docs-site/public/llms-full.txt
  docs-site/public/llms.txt
  docs/artists.md
  docs/developers/api-reference.md
  docs/developers/auth.md
  docs/developers/index.md
  docs/developers/quickstart.md
  docs/glossary.md
  docs/lexicons/overview.md
  docs/listeners.md
  docs/troubleshooting.md
Due: none

docs: use plain "handle" except on first formal introduction
  docs-site/public/llms.txt
  docs/artists.md
  docs/listeners.md
Due: none

docs: information architecture improvements (#1089)
  docs-site/astro.config.mjs
  docs-site/public/llms-full.txt
  docs-site/public/llms.txt
  docs/artists.md
  docs/developers/api-reference.md
  docs/developers/auth.md
  docs/developers/index.md
  docs/developers/quickstart.md
  docs/glossary.md
  docs/lexicons/overview.md
  docs/listeners.md
  docs/troubleshooting.md
Due: none

docs: fix music-only framing and mood search GA claims
  docs-site/public/llms-full.txt
  docs-site/public/llms.txt
  docs/artists.md
  docs/developers/api-reference.md
  docs/glossary.md
  docs/index.mdx
  docs/lexicons/overview.md
  docs/listeners.md
Due: none

docs: fix music-only framing, remove feature-flagged items from public API surface
  README.md
  docs-site/public/llms-full.txt
  docs-site/public/llms.txt
  docs/artists.md
  docs/glossary.md
  docs/index.mdx
  docs/lexicons/overview.md
  docs/listeners.md
Due: none

docs: fix music-only framing, remove feature-flagged items from public API surface (#1091)
  README.md
  docs-site/public/llms-full.txt
  docs-site/public/llms.txt
  docs/artists.md
  docs/glossary.md
  docs/index.mdx
  docs/lexicons/overview.md
  docs/listeners.md
Due: none

docs: use "log in" consistently, link to PDS viewer, add developer prompt
  docs-site/public/llms.txt
  docs/artists.md
  docs/developers/index.md
  docs/lexicons/overview.md
  docs/listeners.md
  docs/troubleshooting.md
Due: none

docs: use "log in" consistently, link to PDS viewer, add developer prompt (#1092)
  docs-site/public/llms.txt
  docs/artists.md
  docs/developers/index.md
  docs/lexicons/overview.md
  docs/listeners.md
  docs/troubleshooting.md
Due: none

docs: add screenshot capture skill and initial UI screenshots
  .claude/commands/screenshot-docs.md
  docs-site/public/screenshots/feed-track-card.png
  docs-site/public/screenshots/landing-page.png
  docs-site/public/screenshots/login-page.png
  docs-site/public/screenshots/search-overlay.png
  docs/artists.md
  docs/listeners.md
Due: none

docs: add screenshot capture skill and initial UI screenshots (#1093)
  .claude/commands/screenshot-docs.md
  docs-site/public/screenshots/feed-track-card.png
  docs-site/public/screenshots/landing-page.png
  docs-site/public/screenshots/login-page.png
  docs-site/public/screenshots/search-overlay.png
  docs/artists.md
  docs/listeners.md
Due: none

docs: improve screenshot framing, add auth'd screenshots for listeners/creators
  .claude/commands/screenshot-docs.md
  docs-site/public/screenshots/feed-track-card.png
  docs-site/public/screenshots/landing-page.png
  docs-site/public/screenshots/login-page.png
  docs-site/public/screenshots/portal-dashboard.png
  docs-site/public/screenshots/search-overlay.png
  docs-site/public/screenshots/track-actions-menu.png
  docs-site/public/screenshots/upload-form.png
  docs/artists.md
  docs/listeners.md
Due: none

docs: improve screenshot framing, add auth'd screenshots for listeners/creators (#1094)
  .claude/commands/screenshot-docs.md
  docs-site/public/screenshots/feed-track-card.png
  docs-site/public/screenshots/landing-page.png
  docs-site/public/screenshots/login-page.png
  docs-site/public/screenshots/portal-dashboard.png
  docs-site/public/screenshots/search-overlay.png
  docs-site/public/screenshots/track-actions-menu.png
  docs-site/public/screenshots/upload-form.png
  docs/artists.md
  docs/listeners.md
Due: none

docs: improve text/image flow, add portal track editor screenshot
  docs-site/public/screenshots/portal-track-editor.png
  docs/artists.md
  docs/listeners.md
Due: none

docs: improve text/image flow, add portal track editor screenshot (#1095)
  docs-site/public/screenshots/portal-track-editor.png
  docs/artists.md
  docs/listeners.md
Due: none

copy: standardize on "sign in" / "sign out" across UI and docs
  .claude/commands/screenshot-docs.md
  docs-site/public/llms.txt
  docs/artists.md
  docs/legal/privacy.md
  docs/lexicons/overview.md
  docs/listeners.md
  docs/troubleshooting.md
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LogoutModal.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

copy: standardize on "sign in" / "sign out" across UI and docs (#1096)
  .claude/commands/screenshot-docs.md
  docs-site/public/llms.txt
  docs/artists.md
  docs/legal/privacy.md
  docs/lexicons/overview.md
  docs/listeners.md
  docs/troubleshooting.md
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LogoutModal.svelte
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/routes/liked/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

docs: add docs link to header, update landing screenshot
  docs-site/public/screenshots/landing-page.png
  docs/listeners.md
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
Due: svelte-check, eslint

docs: add docs link to header, update landing screenshot (#1097)
  docs-site/public/screenshots/landing-page.png
  docs/listeners.md
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/LinksMenu.svelte
Due: svelte-check, eslint

docs: swap feed track card screenshot to non-explicit track
  docs-site/public/screenshots/feed-track-card.png
Due: none

docs: swap feed track card screenshot to non-explicit track (#1098)
  docs-site/public/screenshots/feed-track-card.png
Due: none

docs: replace hand-written API reference with mdxify-generated docs
  docs-site/astro.config.mjs
  docs-site/justfile
  docs/developers/api-reference.md
  docs/developers/api-reference/backend-api-account.md
  docs/developers/api-reference/backend-api-activity.md
  docs/developers/api-reference/backend-api-albums.md
  docs/developers/api-reference/backend-api-artists.md
  docs/developers/api-reference/backend-api-audio.md
  docs/developers/api-reference/backend-api-auth.md
  docs/developers/api-reference/backend-api-discover.md
  docs/developers/api-reference/backend-api-exports.md
  docs/developers/api-reference/backend-api-feeds.md
  docs/developers/api-reference/backend-api-jams.md
  docs/developers/api-reference/backend-api-lists.md
  docs/developers/api-reference/backend-api-meta.md
  docs/developers/api-reference/backend-api-moderation.md
  docs/developers/api-reference/backend-api-now_playing.md
  docs/developers/api-reference/backend-api-oembed.md
  docs/developers/api-reference/backend-api-preferences.md
  docs/developers/api-reference/backend-api-queue.md
  docs/developers/api-reference/backend-api-search.md
  docs/developers/api-reference/backend-api-stats.md
  docs/developers/api-reference/backend-api-tracks-__init__.md
  docs/developers/api-reference/backend-api-tracks-comments.md
  docs/developers/api-reference/backend-api-tracks-likes.md
  docs/developers/api-reference/backend-api-tracks-listing.md
  docs/developers/api-reference/backend-api-tracks-metadata_service.md
  docs/developers/api-reference/backend-api-tracks-mutations.md
  docs/developers/api-reference/backend-api-tracks-playback.md
  docs/developers/api-reference/backend-api-tracks-shares.md
  docs/developers/api-reference/backend-api-tracks-tags.md
  docs/developers/api-reference/backend-api-tracks-uploads.md
  docs/developers/api-reference/backend-api-users.md
Due: none

docs: replace hand-written API reference with mdxify-generated docs (#1099)
  docs-site/astro.config.mjs
  docs-site/justfile
  docs/developers/api-reference.md
  docs/developers/api-reference/backend-api-account.md
  docs/developers/api-reference/backend-api-activity.md
  docs/developers/api-reference/backend-api-albums.md
  docs/developers/api-reference/backend-api-artists.md
  docs/developers/api-reference/backend-api-audio.md
  docs/developers/api-reference/backend-api-auth.md
  docs/developers/api-reference/backend-api-discover.md
  docs/developers/api-reference/backend-api-exports.md
  docs/developers/api-reference/backend-api-feeds.md
  docs/developers/api-reference/backend-api-jams.md
  docs/developers/api-reference/backend-api-lists.md
  docs/developers/api-reference/backend-api-meta.md
  docs/developers/api-reference/backend-api-moderation.md
  docs/developers/api-reference/backend-api-now_playing.md
  docs/developers/api-reference/backend-api-oembed.md
  docs/developers/api-reference/backend-api-preferences.md
  docs/developers/api-reference/backend-api-queue.md
  docs/developers/api-reference/backend-api-search.md
  docs/developers/api-reference/backend-api-stats.md
  docs/developers/api-reference/backend-api-tracks-__init__.md
  docs/developers/api-reference/backend-api-tracks-comments.md
  docs/developers/api-reference/backend-api-tracks-likes.md
  docs/developers/api-reference/backend-api-tracks-listing.md
  docs/developers/api-reference/backend-api-tracks-metadata_service.md
  docs/developers/api-reference/backend-api-tracks-mutations.md
  docs/developers/api-reference/backend-api-tracks-playback.md
  docs/developers/api-reference/backend-api-tracks-shares.md
  docs/developers/api-reference/backend-api-tracks-tags.md
  docs/developers/api-reference/backend-api-tracks-uploads.md
  docs/developers/api-reference/backend-api-users.md
Due: none

docs: nest api-reference by subpackage, strip prefix from filenames
  docs-site/justfile
  docs/developers/api-reference/account.md
  docs/developers/api-reference/activity.md
  docs/developers/api-reference/albums.md
  docs/developers/api-reference/artists.md
  docs/developers/api-reference/audio.md
  docs/developers/api-reference/auth.md
  docs/developers/api-reference/discover.md
  docs/developers/api-reference/exports.md
  docs/developers/api-reference/feeds.md
  docs/developers/api-reference/jams.md
  docs/developers/api-reference/lists.md
  docs/developers/api-reference/meta.md
  docs/developers/api-reference/moderation.md
  docs/developers/api-reference/now_playing.md
  docs/developers/api-reference/oembed.md
  docs/developers/api-reference/preferences.md
  docs/developers/api-reference/queue.md
  docs/developers/api-reference/search.md
  docs/developers/api-reference/stats.md
  docs/developers/api-reference/tracks/comments.md
  docs/developers/api-reference/tracks/likes.md
  docs/developers/api-reference/tracks/listing.md
  docs/developers/api-reference/tracks/metadata_service.md
  docs/developers/api-reference/tracks/mutations.md
  docs/developers/api-reference/tracks/overview.md
  docs/developers/api-reference/tracks/playback.md
  docs/developers/api-reference/tracks/shares.md
  docs/developers/api-reference/tracks/tags.md
  docs/developers/api-reference/tracks/uploads.md
  docs/developers/api-reference/users.md
Due: none

docs: nest api-reference by subpackage, strip prefix from filenames (#1100)
  docs-site/justfile
  docs/developers/api-reference/account.md
  docs/developers/api-reference/activity.md
  docs/developers/api-reference/albums.md
  docs/developers/api-reference/artists.md
  docs/developers/api-reference/audio.md
  docs/developers/api-reference/auth.md
  docs/developers/api-reference/discover.md
  docs/developers/api-reference/exports.md
  docs/developers/api-reference/feeds.md
  docs/developers/api-reference/jams.md
  docs/developers/api-reference/lists.md
  docs/developers/api-reference/meta.md
  docs/developers/api-reference/moderation.md
  docs/developers/api-reference/now_playing.md
  docs/developers/api-reference/oembed.md
  docs/developers/api-reference/preferences.md
  docs/developers/api-reference/queue.md
  docs/developers/api-reference/search.md
  docs/developers/api-reference/stats.md
  docs/developers/api-reference/tracks/comments.md
  docs/developers/api-reference/tracks/likes.md
  docs/developers/api-reference/tracks/listing.md
  docs/developers/api-reference/tracks/metadata_service.md
  docs/developers/api-reference/tracks/mutations.md
  docs/developers/api-reference/tracks/overview.md
  docs/developers/api-reference/tracks/playback.md
  docs/developers/api-reference/tracks/shares.md
  docs/developers/api-reference/tracks/tags.md
  docs/developers/api-reference/tracks/uploads.md
  docs/developers/api-reference/users.md
Due: none

perf: rewrite hidden tags filter from NOT IN to NOT EXISTS
  backend/alembic/versions/2026_03_13_144717_298ad5c58e0e_add_track_tags_track_id_index.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/models/tag.py
Due: type-check

perf: rewrite hidden tags filter from NOT IN to NOT EXISTS (#1101)
  backend/alembic/versions/2026_03_13_144717_298ad5c58e0e_add_track_tags_track_id_index.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/models/tag.py
Due: type-check

debug: add logfire spans to tracks listing for latency diagnosis
  backend/src/backend/api/tracks/listing.py
Due: type-check

debug: add logfire spans to tracks listing for latency diagnosis (#1102)
  backend/src/backend/api/tracks/listing.py
Due: type-check

fix: CORS missing on 429 responses + frontend retry storm
  backend/src/backend/main.py
  frontend/src/lib/network-artists.svelte.ts
Due: type-check, svelte-check, eslint

fix: CORS missing on 429 responses + frontend retry storm (#1103)
  backend/src/backend/main.py
  frontend/src/lib/network-artists.svelte.ts
Due: type-check, svelte-check, eslint

add SVG version of logo
  frontend/src/lib/assets/logo.svg
Due: svelte-check

add SVG version of logo (#1104)
  frontend/src/lib/assets/logo.svg
Due: svelte-check

status: remove stale moderation gap language
  STATUS.md
Due: none

cors: allow any HTTPS origin to call the API
  backend/src/backend/config.py
  backend/tests/test_cors_origins.py
Due: type-check

fix: jetstream crash loop + PDS upload retry for network errors
  backend/src/backend/_internal/atproto/client.py
  backend/src/backend/_internal/jetstream.py
  backend/tests/test_pds_network_retry.py
Due: type-check

reorder upload form: required fields first
  frontend/src/routes/upload/+page.svelte
Due: svelte-check, eslint

reorder upload form: required fields first (#1108)
  frontend/src/routes/upload/+page.svelte
Due: svelte-check, eslint

PDS tooltip on upload form, collapse API ref nav, rewrite your-data docs
  docs-site/astro.config.mjs
  docs/artists.md
  frontend/src/lib/components/PdsTooltip.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

PDS tooltip on upload form, collapse API ref nav, rewrite your-data docs (#1109)
  docs-site/astro.config.mjs
  docs/artists.md
  frontend/src/lib/components/PdsTooltip.svelte
  frontend/src/lib/components/PdsUploadNote.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint
