Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

fix: prevent R2 image deletion when re-uploading same file + theme-aware description fade
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/mutations.py
  backend/tests/api/test_track_deletion.py
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
  services/moderation/fly.toml
Due: type-check, svelte-check, eslint

feat: support DID-based profile URLs for permalinks
  frontend/src/routes/u/[handle]/+error.svelte
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/album/[slug]/+page.ts
  frontend/src/routes/u/[handle]/liked/+page.ts
Due: svelte-check, eslint

fix: revert AcoustID/chromaprint back to AuDD for copyright scanning
  STATUS.md
  backend/src/backend/config.py
  docs/legal/privacy.md
  frontend/src/routes/costs/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  loq.toml
  scripts/costs/export_costs.py
  services/moderation/Cargo.lock
  services/moderation/Cargo.toml
  services/moderation/Dockerfile
  services/moderation/justfile
  services/moderation/src/admin.rs
  services/moderation/src/audd.rs
  services/moderation/src/config.rs
  services/moderation/src/handlers.rs
  services/moderation/src/main.rs
  services/moderation/src/state.rs
Due: type-check, svelte-check, eslint

fix: address self-review — AudD branding, privacy date sync, workflow comment
  .github/workflows/export-costs.yml
  docs/legal/privacy.md
  frontend/src/routes/privacy/+page.svelte
Due: svelte-check, eslint

docs: update logfire guide — service_name is now plyr-api
  docs-internal/tools/logfire.md
Due: none

fix: prevent R2 image deletion when re-uploading same file (#1176)
  backend/src/backend/api/albums.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/mutations.py
  backend/tests/api/test_track_deletion.py
  frontend/src/routes/track/[id]/+page.svelte
  loq.toml
  services/moderation/fly.toml
Due: type-check, svelte-check, eslint

docs: add internal image format handling reference
  docs-internal/backend/image-formats.md
Due: none

docs: add internal image format handling reference (#1177)
  docs-internal/backend/image-formats.md
Due: none

docs: add artwork guidelines for creators and API reference
  docs/artists.md
  docs/developers/api-reference/tracks/uploads.md
Due: none

docs: add artwork guidelines for creators and API reference (#1178)
  docs/artists.md
  docs/developers/api-reference/tracks/uploads.md
Due: none

docs: status catchup — chronicle AcoustID arc, recent fixes
  STATUS.md
Due: none

docs: status catchup — chronicle AcoustID arc, recent fixes (#1179)
  STATUS.md
Due: none

docs: clarify AcoustID revert reason — whole-file vs segment matching
  STATUS.md
Due: none

docs: clarify AcoustID revert reason — whole-file vs segment matching (#1180)
  STATUS.md
Due: none

docs: document moderation service deploy incident during AuDD revert
  STATUS.md
Due: none

docs: document moderation service deploy incident during AuDD revert (#1182)
  STATUS.md
Due: none

feat: linkify track descriptions and comments with shared RichText component
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

feat: linkify track descriptions and comments with shared RichText component (#1183)
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: use 5s timeout for user-facing CLAP text embedding
  backend/src/backend/_internal/clients/clap.py
  backend/src/backend/config.py
Due: type-check

fix: use 5s timeout for user-facing CLAP text embedding (#1184)
  backend/src/backend/_internal/clients/clap.py
  backend/src/backend/config.py
Due: type-check

feat: surface collection activity in the feed (#1172)
  backend/alembic/versions/2026_03_20_131821_4e5638f6576a_add_collection_events_table.py
  backend/src/backend/api/activity.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/services.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/collection_event.py
  frontend/src/lib/types.ts
  frontend/src/routes/activity/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: prevent integration test tracks from sending DM notifications
  backend/src/backend/_internal/tasks/hooks.py
  backend/tests/test_post_create_hooks.py
Due: type-check

fix: suppress Jetstream notifications and copyright scans on staging
  backend/src/backend/_internal/tasks/ingest.py
  loq.toml
Due: type-check

fix: prevent integration test tracks from leaking DM notifications (#1185)
  backend/src/backend/_internal/tasks/hooks.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_post_create_hooks.py
  loq.toml
Due: type-check

docs: update STATUS.md with Mar 23-24 work
  STATUS.md
Due: none

docs: update STATUS.md with Mar 23-24 work (#1186)
  STATUS.md
Due: none

fix: break infinite loop when gated tracks enter the queue
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

fix: break infinite loop when gated tracks enter the queue (#1187)
  frontend/src/lib/components/player/Player.svelte
Due: svelte-check, eslint

chore: migrate .claude/commands to .claude/skills format
  .claude/skills/check-spans/SKILL.md
  .claude/skills/consider-review/SKILL.md
  .claude/skills/contribute/SKILL.md
  .claude/skills/deploy/SKILL.md
  .claude/skills/digest/SKILL.md
  .claude/skills/enable-flag/SKILL.md
  .claude/skills/implement/SKILL.md
  .claude/skills/investigate-report/SKILL.md
  .claude/skills/onboard/SKILL.md
  .claude/skills/plan/SKILL.md
  .claude/skills/research/SKILL.md
  .claude/skills/screenshot-docs/SKILL.md
  .claude/skills/status-update/SKILL.md
Due: none

docs: add frontmatter to skills, fix stale refs, add internal docs
  .claude/skills/deploy/SKILL.md
  .claude/skills/onboard/SKILL.md
  .claude/skills/screenshot-docs/SKILL.md
  .claude/skills/status-update/SKILL.md
  STATUS.md
  docs-internal/tools/skills.md
  docs/contributing.md
Due: none

chore: migrate .claude/commands to .claude/skills format (#1188)
  .claude/skills/check-spans/SKILL.md
  .claude/skills/consider-review/SKILL.md
  .claude/skills/contribute/SKILL.md
  .claude/skills/deploy/SKILL.md
  .claude/skills/digest/SKILL.md
  .claude/skills/enable-flag/SKILL.md
  .claude/skills/implement/SKILL.md
  .claude/skills/investigate-report/SKILL.md
  .claude/skills/onboard/SKILL.md
  .claude/skills/plan/SKILL.md
  .claude/skills/research/SKILL.md
  .claude/skills/screenshot-docs/SKILL.md
  .claude/skills/status-update/SKILL.md
  STATUS.md
  docs-internal/tools/skills.md
  docs/contributing.md
Due: none

feat: adopt Osprey rules engine for declarative moderation
  backend/src/backend/_internal/moderation.py
  backend/tests/moderation/__init__.py
  backend/tests/moderation/conftest.py
  backend/tests/moderation/test_client.py
  backend/tests/moderation/test_copyright.py
  backend/tests/moderation/test_events.py
  backend/tests/moderation/test_images.py
  backend/tests/moderation/test_reports.py
  backend/tests/test_moderation.py
  justfile
  services/osprey/Dockerfile
  services/osprey/fly.toml
  services/osprey/justfile
  services/osprey/plugin/__init__.py
  services/osprey/plugin/input_stream.py
  services/osprey/plugin/output_sink.py
  services/osprey/plugin/udfs/__init__.py
  services/osprey/pyproject.toml
  services/osprey/rules/main.sml
  services/osprey/rules/models/base.sml
  services/osprey/rules/models/copyright.sml
  services/osprey/rules/models/image.sml
  services/osprey/rules/rules/blocklist/index.sml
  services/osprey/rules/rules/copyright/index.sml
  services/osprey/rules/rules/images/index.sml
Due: type-check

fix: align SML rules with actual AudD data, add observability
  services/osprey/plugin/input_stream.py
  services/osprey/plugin/output_sink.py
  services/osprey/rules/models/copyright.sml
  services/osprey/rules/rules/copyright/index.sml
Due: type-check

test: align fixtures with AudD response shape, add SML payload test
  backend/tests/moderation/conftest.py
  backend/tests/moderation/test_events.py
Due: type-check

fix: restore mod docs in justfile — osprey is additive, not a replacement
  justfile
Due: none

feat: graduate FLAC uploads — remove feature flag
  backend/src/backend/_internal/audio.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/integration/test_lossless_uploads.py
  backend/tests/test_audio_formats.py
  frontend/src/lib/audio-support.ts
  frontend/src/lib/components/LosslessBadge.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/upload/+page.svelte
Due: type-check, svelte-check, eslint

fix: update jetstream hooks test to match skip_notification kwargs
  backend/tests/test_jetstream.py
Due: type-check

feat: graduate FLAC uploads — remove feature flag (#1189)
  backend/src/backend/_internal/audio.py
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/tracks/uploads.py
  backend/tests/integration/test_lossless_uploads.py
  backend/tests/test_audio_formats.py
  backend/tests/test_jetstream.py
  frontend/src/lib/audio-support.ts
  frontend/src/lib/components/LosslessBadge.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/upload/+page.svelte
Due: type-check, svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
