Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

fix: ambient body-null error + scope localStorage by DID
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

fix: ambient body-null error + scope localStorage by DID (#1133)
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

feat: make live a first-class theme with server-side persistence
  backend/alembic/versions/2026_03_16_190207_40474bbaccb1_add_theme_column_to_user_preferences.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: type-check, svelte-check, eslint

feat: make live a first-class theme with server-side persistence (#1134)
  backend/alembic/versions/2026_03_16_190207_40474bbaccb1_add_theme_column_to_user_preferences.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  frontend/src/lib/ambient.svelte.ts
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: type-check, svelte-check, eslint

fix: add live theme to ProfileMenu quick settings
  frontend/src/lib/components/ProfileMenu.svelte
Due: svelte-check, eslint

fix: add live theme to ProfileMenu quick settings (#1135)
  frontend/src/lib/components/ProfileMenu.svelte
Due: svelte-check, eslint

fix: sync accent color from server to localStorage on fetch
  frontend/src/lib/preferences.svelte.ts
Due: svelte-check, eslint

fix: sync accent color from server to localStorage on fetch (#1136)
  frontend/src/lib/preferences.svelte.ts
Due: svelte-check, eslint

status: add ambient theme, CORS, AT-URI lookup, docs rewrite, UX fixes
  STATUS.md
Due: none

status: add ambient theme, CORS, AT-URI lookup, docs rewrite, UX fixes (#1137)
  STATUS.md
Due: none

fix: handle extensionless avatar URLs in RSS feeds
  backend/src/backend/api/feeds.py
  backend/tests/api/test_feeds.py
  scripts/cf_analytics.py
Due: type-check

fix: drop itunes namespace assertion from feed test
  backend/tests/api/test_feeds.py
Due: type-check

revert: remove RSS feed feature and feedgen dependency
  backend/pyproject.toml
  backend/src/backend/api/__init__.py
  backend/src/backend/api/feeds.py
  backend/src/backend/main.py
  backend/tests/api/test_feeds.py
  backend/uv.lock
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  scripts/cf_analytics.py
Due: type-check, svelte-check, eslint

revert: remove RSS feed feature and feedgen dependency (#1139)
  backend/pyproject.toml
  backend/src/backend/api/__init__.py
  backend/src/backend/api/feeds.py
  backend/src/backend/main.py
  backend/tests/api/test_feeds.py
  backend/uv.lock
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  scripts/cf_analytics.py
Due: type-check, svelte-check, eslint

feat: switch handle typeahead from bluesky to community service
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/config.py
Due: type-check

feat: switch handle typeahead from bluesky to community service (#1140)
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/config.py
Due: type-check

feat: call typeahead service directly from frontend
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/config.ts
Due: svelte-check, eslint

chore: remove dead /search/handles endpoint and typeahead config
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/api/search.py
  backend/src/backend/config.py
  docs/developers/api-reference/search.md
Due: type-check

fix: hardcode typeahead URL instead of importing from env
  frontend/src/lib/config.ts
Due: svelte-check, eslint

feat: call typeahead service directly from frontend (#1141)
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/api/search.py
  backend/src/backend/config.py
  docs/developers/api-reference/search.md
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/config.ts
Due: type-check, svelte-check, eslint

status: add typeahead migration and RSS removal
  STATUS.md
Due: none

status: refine typeahead and RSS framing
  STATUS.md
Due: none

docs: update moderation docs to reflect actual system state
  docs-internal/moderation/atproto-labeler.md
  docs-internal/moderation/copyright-detection.md
  docs-internal/moderation/overview.md
  docs-internal/moderation/sensitive-content.md
Due: none

status: note Osprey on hold, add infra consolidation to backlog
  STATUS.md
Due: none

docs: update moderation docs, note infra consolidation (#1143)
  STATUS.md
  docs-internal/moderation/atproto-labeler.md
  docs-internal/moderation/copyright-detection.md
  docs-internal/moderation/overview.md
  docs-internal/moderation/sensitive-content.md
Due: none

fix: collapse long track descriptions with show more/less toggle
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: collapse long track descriptions with show more/less toggle (#1144)
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: improve collapsible description toggle visibility and styling
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: improve collapsible description toggle visibility and styling (#1145)
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: restyle description toggle as centered pill button
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: restyle description toggle as centered pill button (#1146)
  frontend/src/routes/track/[id]/+page.svelte
Due: svelte-check, eslint

fix: align frontend form validation with backend limits
  backend/src/backend/api/tracks/comments.py
  frontend/src/lib/components/AlbumSelect.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: align frontend form validation with backend limits (#1148)
  backend/src/backend/api/tracks/comments.py
  frontend/src/lib/components/AlbumSelect.svelte
  frontend/src/lib/components/HandleSearch.svelte
  frontend/src/lib/components/SearchModal.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/playlist/[id]/+page.svelte
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/profile/setup/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

docs: backfill STATUS.md with Mar 1-18 work
  STATUS.md
Due: none

docs: backfill STATUS.md with Mar 1-18 work (#1149)
  STATUS.md
Due: none

fix: add X-Client header to typeahead API requests
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
Due: svelte-check, eslint

fix: add X-Client header to typeahead API requests (#1150)
  frontend/src/lib/components/HandleAutocomplete.svelte
  frontend/src/lib/components/HandleSearch.svelte
Due: svelte-check, eslint

feat: add floating activity background to homepage
  frontend/src/lib/components/FloatingActivity.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

feat: add floating activity background to homepage (#1151)
  frontend/src/lib/components/FloatingActivity.svelte
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: restyle floating activity with distinct shapes and ephemeral motion
  frontend/src/lib/components/FloatingActivity.svelte
Due: svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
