Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: allow multiple tracks to reference same audio file (#118)
  alembic/versions/ba46ea4ba64e_remove_unique_constraint_from_tracks_.py
  src/backend/api/tracks.py
  src/backend/models/track.py
Due: ty-check

fix: eliminate gap between player and screen bottom on Chrome iOS
  frontend/src/lib/components/Player.svelte
Due: frontend-build

fix: eliminate gap between player and screen bottom on Chrome iOS (#119)
  frontend/src/lib/components/Player.svelte
Due: frontend-build

fix: force player to stick to bottom on Chrome iOS
  frontend/src/app.html
  frontend/src/lib/components/Player.svelte
Due: frontend-build

fix: force player to stick to bottom on Chrome iOS (#120)
  frontend/src/app.html
  frontend/src/lib/components/Player.svelte
Due: frontend-build

feat: add image support for tracks
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  src/backend/api/audio.py
  src/backend/api/tracks.py
  src/backend/models/image.py
  src/backend/models/track.py
Due: ty-check, frontend-build

test: add unit tests for ImageFormat enum
  tests/test_image_formats.py
Due: ty-check

feat: add database migration for image_id field
  alembic/versions/36868f2c20e5_add_image_id_to_tracks.py
Due: ty-check

fix: add image edit support and fix avatar styling
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/portal/+page.svelte
  pyproject.toml
  src/backend/api/tracks.py
  uv.lock
Due: ty-check, frontend-build

fix: support image uploads in storage backends
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
Due: ty-check

feat: add image/cover art to ATProto track records
  src/backend/api/tracks.py
  src/backend/atproto/records.py
Due: ty-check

feat: add generic ATProto record update support
  src/backend/api/tracks.py
  src/backend/atproto/records.py
Due: ty-check

fix: move deferred imports to top of module
  src/backend/api/tracks.py
  src/backend/atproto/records.py
Due: ty-check

fix: add image_url to all track API responses
  src/backend/api/tracks.py
Due: ty-check

feat: add cover art display to player and portal
  frontend/src/lib/components/Player.svelte
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: R2Storage get_url() and delete() now support images
  src/backend/storage/r2.py
Due: ty-check

feat: show current artwork in edit form
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

feat: add image support for tracks (#123)
  alembic/versions/36868f2c20e5_add_image_id_to_tracks.py
  frontend/src/lib/components/Player.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
  pyproject.toml
  src/backend/api/audio.py
  src/backend/api/tracks.py
  src/backend/atproto/records.py
  src/backend/models/image.py
  src/backend/models/track.py
  src/backend/storage/filesystem.py
  src/backend/storage/r2.py
  tests/test_image_formats.py
  uv.lock
Due: ty-check, frontend-build

chore: add atproto record backfill script
  scripts/backfill_atproto_records.py
Due: ty-check

docs: add pdsx usage guide for plyr.fm
  docs/pdsx-guide.md
Due: none

docs: link pdsx known limitations to upstream issues
  docs/pdsx-guide.md
Due: none

fix: separate R2 buckets for audio and images
  docs/configuration.md
  docs/deployment/environments.md
  docs/testing-with-atproto-records.md
  scripts/check_r2_images.py
  scripts/migrate_images_to_new_buckets.py
  scripts/test_image_upload.py
  src/backend/config.py
  src/backend/models/track.py
  src/backend/storage/r2.py
  src/backend/utilities/database.py
Due: ty-check

chore: remove temporary debugging scripts
  scripts/check_r2_images.py
  scripts/test_image_upload.py
Due: ty-check

fix: separate R2 buckets for audio and images (#124)
  docs/configuration.md
  docs/deployment/environments.md
  docs/pdsx-guide.md
  docs/testing-with-atproto-records.md
  scripts/backfill_atproto_records.py
  scripts/migrate_images_to_new_buckets.py
  src/backend/config.py
  src/backend/models/track.py
  src/backend/storage/r2.py
  src/backend/utilities/database.py
Due: ty-check

feat: add track cover art to link previews
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

feat: add track cover art to link previews (#125)
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: improve social media link previews
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: improve social media link previews (#126)
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: redirect track detail page to home with working player
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: redirect track detail page to home with working player (#127)
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: use reactive effect for auto-playing shared tracks
  frontend/src/routes/+page.svelte
Due: frontend-build

fix: use reactive effect for auto-playing shared tracks (#128)
  frontend/src/routes/+page.svelte
Due: frontend-build

fix: initialize image_format to avoid UnboundLocalError
  src/backend/api/tracks.py
Due: ty-check

fix: initialize image_format to avoid UnboundLocalError (#129)
  src/backend/api/tracks.py
Due: ty-check

fix: redesign mobile player for compact layout
  frontend/src/lib/components/Player.svelte
Due: frontend-build

fix: redesign mobile player for compact layout (#130)
  frontend/src/lib/components/Player.svelte
Due: frontend-build

fix: constrain player text scrolling within grid layout
  frontend/src/lib/components/Player.svelte
Due: frontend-build

fix: constrain player text scrolling within grid layout (#131)
  frontend/src/lib/components/Player.svelte
Due: frontend-build

fix: restrict image uploads to supported formats and improve link previews
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: frontend-build

fix: remove wildcard audio/* from file picker accept attribute
  frontend/src/routes/portal/+page.svelte
Due: frontend-build
