Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

feat: add ATProto OAuth permission sets (#697)
  STATUS.md
  backend/src/backend/config.py
  docs/lexicons/overview.md
  docs/research/2026-01-01-atproto-oauth-permission-sets.md
  lexicons/authFullApp.json
Due: ty-check

fix: update atproto SDK for permission set scope validation
  backend/uv.lock
  docs/research/2026-01-01-atproto-oauth-permission-sets.md
  scripts/publish_permission_set.py
Due: ty-check

fix: update atproto SDK for permission set scope validation (#698)
  backend/uv.lock
  docs/research/2026-01-01-atproto-oauth-permission-sets.md
  scripts/publish_permission_set.py
Due: ty-check

docs: update STATUS.md with permission sets work
  STATUS.md
Due: none

docs: update STATUS.md with permission sets work (#699)
  STATUS.md
Due: none

feat: render links in artist bio
  frontend/src/lib/components/RichText.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: align link hover style with existing patterns
  frontend/src/lib/components/RichText.svelte
Due: frontend-build

feat: render links in artist bio (#700)
  frontend/src/lib/components/RichText.svelte
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: handle bare domain/path URLs in bio links
  frontend/src/lib/components/RichText.svelte
Due: frontend-build

fix: handle bare domain/path URLs in bio links (#701)
  frontend/src/lib/components/RichText.svelte
Due: frontend-build

feat: improve legal pages with configurable emails and accurate content
  backend/src/backend/config.py
  backend/src/backend/main.py
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/config.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/cookies/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/privacy/+page.ts
  frontend/src/routes/terms/+page.svelte
  frontend/src/routes/terms/+page.ts
Due: ty-check, frontend-build

simplify terms and privacy to match tangled.org style
  frontend/src/routes/cookies/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: await logout and reload page to dismiss terms overlay
  frontend/src/lib/components/TermsOverlay.svelte
Due: frontend-build

feat: add terms of service and privacy policy pages
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

docs: add legal drafts
  docs/legal/privacy.md
  docs/legal/questions.md
  docs/legal/terms.md
Due: none

feat: require terms acceptance on first login
  backend/alembic/versions/2025_12_10_184404_883e927fdd76_add_terms_accepted_at_to_user_.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/accept-terms/+page.svelte
Due: ty-check, frontend-build

docs: clarify safe harbor question
  docs/legal/questions.md
Due: none

docs: use protonmail for legal contact emails
  docs/legal/privacy.md
  docs/legal/terms.md
Due: none

fix: stop auto-emitting copyright labels, add configurable threshold
  backend/src/backend/_internal/moderation.py
  backend/tests/test_moderation.py
  docs/legal/meetings/2026-01-02-notes.md
  docs/legal/meetings/2026-01-03-initial.md
  moderation/src/audd.rs
  moderation/src/config.rs
  moderation/src/main.rs
  moderation/src/state.rs
Due: ty-check

fix: stop auto-emitting copyright labels, add configurable threshold (#703)
  backend/src/backend/_internal/moderation.py
  backend/tests/test_moderation.py
  docs/legal/meetings/2026-01-02-notes.md
  docs/legal/meetings/2026-01-03-initial.md
  moderation/src/audd.rs
  moderation/src/config.rs
  moderation/src/main.rs
  moderation/src/state.rs
Due: ty-check

feat: send DM notifications when tracks are copyright flagged
  backend/alembic/versions/2026_01_02_140513_15472c0b3bb4_add_notified_at_to_copyright_scans.py
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/notifications.py
  backend/src/backend/models/copyright_scan.py
Due: ty-check

feat: add logfire spans and structured error handling to notifications
  backend/src/backend/_internal/moderation.py
  backend/src/backend/_internal/notifications.py
Due: ty-check

refactor: consolidate DM sending logic into _send_dm_to_did helper
  backend/src/backend/_internal/notifications.py
Due: ty-check

docs: update STATUS.md with copyright moderation improvements
  STATUS.md
Due: none

feat: add shared audio lexicon config (audio.ooo.track)
  backend/src/backend/config.py
  docs/lexicons/overview.md
  docs/research/2026-01-03-shared-audio-lexicon.md
  lexicons/audio.ooo.track.json
Due: ty-check

feat: implement shared audio lexicon write/read logic
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/api/tracks/mutations.py
  docs/research/2026-01-03-shared-audio-lexicon.md
Due: ty-check

refactor: move readable_track_collections to config
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/config.py
  docs/research/2026-01-03-shared-audio-lexicon.md
Due: ty-check

refactor: simplify shared lexicon config
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/config.py
  docs/research/2026-01-03-shared-audio-lexicon.md
Due: ty-check

docs: remove reference to removed setting
  docs/lexicons/overview.md
Due: none

fix: remove hallucinated app name, delete lexicon we don't own
  docs/lexicons/overview.md
  docs/research/2026-01-03-shared-audio-lexicon.md
  lexicons/audio.ooo.track.json
Due: none

docs: add shared audio lexicon to STATUS.md
  STATUS.md
Due: none

docs: add multi-account experience design spec
  docs/research/2026-01-03-multi-account-experience.md
Due: none

docs: add bluesky implementation study to multi-account spec
  docs/research/2026-01-03-multi-account-experience.md
Due: none

chore: update atproto SDK with prompt parameter support
  backend/uv.lock
Due: none

docs: expand bluesky implementation study with detailed patterns
  docs/research/2026-01-03-multi-account-experience.md
Due: none

feat: implement multi-account experience
  backend/alembic/versions/2026_01_03_183351_3e972db238c6_add_session_groups_for_multi_account.py
  backend/alembic/versions/2026_01_03_184157_5d2522e9f7e9_add_pending_add_accounts_table.py
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/pending_add_account.py
  backend/src/backend/models/session.py
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
  frontend/src/lib/types.ts
Due: ty-check, frontend-build

fix: add-account flow now prompts for new handle
  backend/src/backend/api/auth.py
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: ty-check, frontend-build

fix: stop propagation on add account click
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: frontend-build

fix: deactivate other sessions when adding new account
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/auth.py
Due: ty-check

fix: filter other accounts by DID, not is_active flag
  frontend/src/lib/components/ProfileMenu.svelte
  frontend/src/lib/components/UserMenu.svelte
Due: frontend-build
