Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

fix(copyright): suppress self-match flags before they reach UI/DM (#1341)
  backend/src/backend/_internal/moderation.py
  backend/tests/_internal/test_copyright_self_match.py
Due: type-check

fix(likers-sheet): make the drag handle actually swipe-to-dismiss
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/swipe-to-dismiss.ts
Due: svelte-check, eslint

fix(likers-sheet): make the drag handle actually swipe-to-dismiss (#1342)
  frontend/src/lib/components/LikersSheet.svelte
  frontend/src/lib/swipe-to-dismiss.ts
Due: svelte-check, eslint

fix(album-upload): use canonical album route in success toast
  frontend/src/lib/components/AlbumUploadForm.svelte
Due: svelte-check, eslint

fix(album-upload): use canonical album route in success toast (#1349)
  frontend/src/lib/components/AlbumUploadForm.svelte
Due: svelte-check, eslint

feat(upload): pre-flight auth check before destructive upload step
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/upload-form-stash.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat(upload): pre-flight auth check before destructive upload step (#1350)
  frontend/src/lib/components/AlbumUploadForm.svelte
  frontend/src/lib/upload-form-stash.ts
  frontend/src/routes/upload/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix(infra): bump prod backend to 2GB; add OOM-cycle runbook
  backend/fly.toml
  docs/internal/runbooks/README.md
  docs/internal/runbooks/upload-oom-cycle.md
Due: none

feat(infra): split docket worker onto its own fly process group
  backend/fly.toml
  backend/src/backend/_internal/background.py
  backend/src/backend/main.py
  backend/src/backend/worker.py
Due: type-check

fix(worker): set up notification_service before tasks run
  backend/src/backend/worker.py
Due: type-check

chore(staging): mirror process group split in fly.staging.toml
  backend/fly.staging.toml
Due: none

feat(infra): split docket worker onto its own fly process group (#1359)
  backend/fly.staging.toml
  backend/fly.toml
  backend/src/backend/_internal/background.py
  backend/src/backend/main.py
  backend/src/backend/worker.py
Due: type-check

test(integration): use flat artist_handle field on track response
  backend/tests/test_integration_upload.py
Due: type-check

test(integration): use flat artist_handle field on track response (#1360)
  backend/tests/test_integration_upload.py
Due: type-check

docs: sync internal docs with worker process split + cyclopts CLI
  docs/internal/backend/background-tasks.md
  docs/internal/backend/streaming-uploads.md
  docs/internal/deployment/environments.md
  docs/internal/local-development/setup.md
  docs/internal/tools/plyrfm.md
Due: none

docs: sync internal docs with worker process split + cyclopts CLI (#1361)
  docs/internal/backend/background-tasks.md
  docs/internal/backend/streaming-uploads.md
  docs/internal/deployment/environments.md
  docs/internal/local-development/setup.md
  docs/internal/tools/plyrfm.md
Due: none

feat(features): canonical DID storage with read-time profile resolution
  backend/alembic/versions/2026_05_02_165001_90bfeb4a0dd3_normalize_track_features_to_did_only.py
  backend/src/backend/_internal/atproto/profiles.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/pds_backfill_tasks.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_featured_artist_normalization.py
  docs/internal/plans/featured-artist-references.md
  lexicons/track.json
  loq.toml
Due: type-check

test(jetstream): assert ingest stores DID-only features (#1355)
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

review: address inline feedback
  backend/src/backend/_internal/atproto/profiles.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/tests/_internal/test_featured_artist_normalization.py
Due: type-check

feat(features): canonical DID storage with read-time profile resolution (#1362)
  backend/alembic/versions/2026_05_02_165001_90bfeb4a0dd3_normalize_track_features_to_did_only.py
  backend/src/backend/_internal/atproto/profiles.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/pds_backfill_tasks.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/albums/mutations.py
  backend/src/backend/api/tracks/audio_replace.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/revisions.py
  backend/src/backend/schemas.py
  backend/tests/_internal/test_featured_artist_normalization.py
  backend/tests/test_jetstream.py
  docs/internal/plans/featured-artist-references.md
  lexicons/track.json
  loq.toml
Due: type-check

fix(features): also strip upload-path resolver to DID-only
  backend/src/backend/_internal/atproto/handles.py
Due: type-check

refactor(features): consolidate two parallel resolvers into one
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/api/tracks/constants.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  loq.toml
Due: type-check

test: patch process_image_upload (post-inline)
  backend/tests/api/test_track_deletion.py
  loq.toml
Due: type-check

review: strip preachy 'do not do X' comments
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/_internal/atproto/profiles.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/schemas.py
Due: type-check

refactor(features): consolidate two parallel resolvers + tighten module structure (#1363)
  backend/src/backend/_internal/atproto/handles.py
  backend/src/backend/_internal/atproto/profiles.py
  backend/src/backend/_internal/atproto/records/fm_plyr/track.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/api/tracks/constants.py
  backend/src/backend/api/tracks/metadata_service.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/schemas.py
  backend/tests/api/test_track_deletion.py
  loq.toml
Due: type-check

fix(images): apply EXIF orientation on upload + thumbnail; backfill script
  backend/src/backend/_internal/image.py
  backend/src/backend/_internal/image_uploads.py
  backend/src/backend/_internal/thumbnails.py
  backend/tests/_internal/test_image_orientation.py
  scripts/backfill_image_orientation.py
Due: type-check

fix(images): apply EXIF orientation on upload + thumbnail; backfill script (#1364)
  backend/src/backend/_internal/image.py
  backend/src/backend/_internal/image_uploads.py
  backend/src/backend/_internal/thumbnails.py
  backend/tests/_internal/test_image_orientation.py
  scripts/backfill_image_orientation.py
Due: type-check

fix(images): consolidate two parallel image-upload paths
  backend/src/backend/_internal/image_uploads.py
  backend/src/backend/api/tracks/uploads.py
  loq.toml
Due: type-check

fix(images): consolidate two parallel image-upload paths (#1365)
  backend/src/backend/_internal/image_uploads.py
  backend/src/backend/api/tracks/uploads.py
  loq.toml
Due: type-check

fix(images): normalize iPhone MPO format + unwrap storage proxy in backfill
  backend/src/backend/_internal/image.py
  backend/tests/_internal/test_image_orientation.py
  scripts/backfill_image_orientation.py
Due: type-check

fix(images): normalize iPhone MPO format + unwrap storage proxy in backfill (#1366)
  backend/src/backend/_internal/image.py
  backend/tests/_internal/test_image_orientation.py
  scripts/backfill_image_orientation.py
Due: type-check

docs: capture late-april through may 3 work + 2026-05-05 issue triage
  STATUS.md
Due: none

docs: capture late-april through may 3 work + 2026-05-05 issue triage (#1369)
  STATUS.md
Due: none

feat(font): switch default font from mono to georgia
  docs/site/src/styles/custom.css
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

feat(font): switch default font from mono to georgia (#1371)
  docs/site/src/styles/custom.css
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
Due: svelte-check, eslint

docs: capture georgia default + deploy-docs misconfig incident
  STATUS.md
Due: none

docs: capture georgia default + deploy-docs misconfig incident (#1372)
  STATUS.md
Due: none

add CONTRIBUTING.md file
  CONTRIBUTING.md
Due: none

add CONTRIBUTING.md file (#1373)
  CONTRIBUTING.md
Due: none

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
