Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

config: bump upload rate limit from 5/min to 20/min (#746)
  backend/src/backend/config.py
Due: ty-check

docs: document Neon scale-to-zero configuration for production
  STATUS.md
  docs/backend/database/connection-pooling.md
Due: none

docs: document Neon scale-to-zero configuration for production (#747)
  STATUS.md
  docs/backend/database/connection-pooling.md
Due: none

fix: use dominant match detection for copyright flagging
  moderation/src/audd.rs
  moderation/src/config.rs
  moderation/src/state.rs
Due: none

fix: use dominant match detection for copyright flagging (#748)
  moderation/src/audd.rs
  moderation/src/config.rs
  moderation/src/state.rs
Due: none

fix: handle stale avatar URLs with auto-refresh from Bluesky
  backend/src/backend/api/artists.py
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

fix: handle stale avatar URLs with auto-refresh from Bluesky (#749)
  backend/src/backend/api/artists.py
  frontend/src/routes/u/[handle]/+page.svelte
Due: ty-check, frontend-build

feat: add interactive tooltip hover for likes and comments
  frontend/src/lib/components/CommentersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tooltip-cache.svelte.ts
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/liked/[handle]/+page.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/liked/+page.svelte
  frontend/src/routes/u/[handle]/liked/+page.ts
Due: frontend-build

feat: add interactive tooltip hover for likes and comments (#750)
  frontend/src/lib/components/CommentersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tooltip-cache.svelte.ts
  frontend/src/lib/tracks.svelte.ts
  frontend/src/routes/liked/[handle]/+page.ts
  frontend/src/routes/track/[id]/+page.svelte
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/liked/+page.svelte
  frontend/src/routes/u/[handle]/liked/+page.ts
Due: frontend-build

fix: trigger avatar refresh from any broken avatar
  frontend/src/lib/avatar-refresh.svelte.ts
  frontend/src/lib/components/CommentersTooltip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tooltip-cache.svelte.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

fix: trigger avatar refresh from any broken avatar (#751)
  frontend/src/lib/avatar-refresh.svelte.ts
  frontend/src/lib/components/CommentersTooltip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/tooltip-cache.svelte.ts
  frontend/src/routes/u/[handle]/+page.svelte
Due: frontend-build

chore: add prettier config and fix tooltip hover intensity
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/bun.lockb
  frontend/package.json
  frontend/src/lib/components/CommentersTooltip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

feat: make track title link to detail page
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

fix: add top padding to tooltips to prevent hover clipping
  frontend/src/lib/components/CommentersTooltip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

docs: update STATUS.md with recent changes
  STATUS.md
Due: none

fix: constrain track title link width to content only
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

feat: idempotent teal scrobbles via deterministic TIDs
  backend/src/backend/_internal/atproto/records/fm_teal/play.py
  backend/tests/test_teal_scrobbling.py
Due: ty-check

fix: prevent leftmost avatar clipping in tooltip hover
  frontend/src/lib/components/CommentersTooltip.svelte
  frontend/src/lib/components/LikersTooltip.svelte
Due: frontend-build

fix: improve logout modal copy for clarity
  frontend/src/lib/components/LogoutModal.svelte
Due: frontend-build

fix: improve logout modal copy for clarity (#756)
  frontend/src/lib/components/LogoutModal.svelte
Due: frontend-build

fix: simplify logout modal to single clear question
  frontend/src/lib/components/LogoutModal.svelte
Due: frontend-build

fix: simplify logout modal to single clear question (#757)
  frontend/src/lib/components/LogoutModal.svelte
Due: frontend-build

docs: add content gating research notes for Nick call
  STATUS.md
  docs/content-gating-roadmap.md
Due: none

docs: add content gating research notes for Nick call (#758)
  STATUS.md
  docs/content-gating-roadmap.md
Due: none

feat: add terms of service and privacy policy pages
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

feat: require terms acceptance on first login
  backend/alembic/versions/2025_12_10_184404_883e927fdd76_add_terms_accepted_at_to_user_.py
  backend/src/backend/api/preferences.py
  backend/src/backend/models/preferences.py
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/accept-terms/+page.svelte
Due: ty-check, frontend-build

docs: add legal drafts
  docs/legal/privacy.md
  docs/legal/questions.md
  docs/legal/terms.md
Due: none

fix: await logout and reload page to dismiss terms overlay
  frontend/src/lib/components/TermsOverlay.svelte
Due: frontend-build

docs: clarify safe harbor question
  docs/legal/questions.md
Due: none

simplify terms and privacy to match tangled.org style
  frontend/src/routes/cookies/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

docs: use protonmail for legal contact emails
  docs/legal/privacy.md
  docs/legal/terms.md
Due: none

feat: improve legal pages with configurable emails and accurate content
  backend/src/backend/config.py
  backend/src/backend/main.py
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/config.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/cookies/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/privacy/+page.ts
  frontend/src/routes/terms/+page.svelte
  frontend/src/routes/terms/+page.ts
Due: ty-check, frontend-build

feat: add terms of service and privacy policy pages (#567)
  backend/alembic/versions/2025_12_10_184404_883e927fdd76_add_terms_accepted_at_to_user_.py
  backend/src/backend/api/preferences.py
  backend/src/backend/config.py
  backend/src/backend/main.py
  backend/src/backend/models/preferences.py
  docs/legal/privacy.md
  docs/legal/questions.md
  docs/legal/terms.md
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/privacy/+page.ts
  frontend/src/routes/terms/+page.svelte
  frontend/src/routes/terms/+page.ts
Due: ty-check, frontend-build

chore: remove closed #225 from known issues
  STATUS.md
Due: none

chore: remove closed #225 from known issues (#759)
  STATUS.md
Due: none

fix: improve legal language accuracy
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: correct legal language for ATProto accuracy
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: correct legal language for ATProto accuracy (#761)
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: correct third parties list and DMCA deletion claim
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: clarify that audio files are always under our control
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
