Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

docs: add note about R2 HEAD vs GET cache verification
  docs/internal/backend/configuration.md
Due: none

docs: add note about R2 HEAD vs GET cache verification (#1279)
  docs/internal/backend/configuration.md
Due: none

chore: remove completed one-time migration scripts, add CDN URL backfill
  scripts/backfill_atproto_records.py
  scripts/backfill_avatars.py
  scripts/backfill_duration.py
  scripts/backfill_image_urls.py
  scripts/copy_r2_buckets.py
  scripts/migrate_cdn_urls.py
  scripts/migrate_images_to_new_buckets.py
  scripts/migrate_r2_bucket.py
  scripts/migrate_sensitive_images.py
Due: type-check

chore: remove completed one-time migration scripts, add CDN URL backfill (#1280)
  scripts/backfill_atproto_records.py
  scripts/backfill_avatars.py
  scripts/backfill_duration.py
  scripts/backfill_image_urls.py
  scripts/copy_r2_buckets.py
  scripts/migrate_cdn_urls.py
  scripts/migrate_images_to_new_buckets.py
  scripts/migrate_r2_bucket.py
  scripts/migrate_sensitive_images.py
Due: type-check

docs: update STATUS.md — CDN caching, backend decomposition, scripts cleanup
  STATUS.md
Due: none

docs: update STATUS.md — CDN caching, backend decomposition, scripts cleanup (#1281)
  STATUS.md
Due: none

feat: homepage feed switcher — toggle between latest and for-you
  docs/internal/plans/2026-04-12-homepage-feed-switcher.md
  frontend/src/lib/for-you.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

feat: homepage feed switcher — toggle between latest and for-you (#1282)
  docs/internal/plans/2026-04-12-homepage-feed-switcher.md
  frontend/src/lib/for-you.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: replace inline feed toggle with segmented control
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: replace inline feed toggle with segmented control (#1283)
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: glass styling for feed switcher + tag filtering on for-you
  backend/src/backend/api/for_you.py
  frontend/src/lib/for-you.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: glass styling for feed switcher + tag filtering on for-you (#1284)
  backend/src/backend/api/for_you.py
  frontend/src/lib/for-you.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: decouple for-you probe from cache, fix tag persistence across feeds
  frontend/src/lib/for-you.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: decouple for-you probe from cache, fix tag persistence across feeds (#1285)
  frontend/src/lib/for-you.svelte.ts
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: feed mode not persisting across hard refresh
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

fix: feed mode not persisting across hard refresh (#1286)
  frontend/src/routes/+page.svelte
  loq.toml
Due: svelte-check, eslint

perf: warm full connection pool at startup, not just one connection
  backend/src/backend/main.py
Due: type-check

perf: warm full connection pool at startup, not just one connection (#1287)
  backend/src/backend/main.py
Due: type-check

feat: BROWSER_OBSERVABILITY env var to toggle browser telemetry proxy
  backend/src/backend/api/meta.py
  backend/src/backend/config.py
  frontend/src/lib/config.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: type-check, svelte-check, eslint

feat: BROWSER_OBSERVABILITY env var to toggle browser telemetry proxy (#1288)
  backend/src/backend/api/meta.py
  backend/src/backend/config.py
  frontend/src/lib/config.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: type-check, svelte-check, eslint

fix: short-circuit logfire proxy when browser_observability is disabled
  backend/src/backend/api/meta.py
Due: type-check

fix: short-circuit logfire proxy when browser_observability is disabled (#1289)
  backend/src/backend/api/meta.py
Due: type-check

docs: update STATUS.md — browser telemetry incident, feed switcher, pool warmup
  STATUS.md
Due: none

docs: update STATUS.md — browser telemetry incident, feed switcher, pool warmup (#1290)
  STATUS.md
Due: none

fix: restore avatar on account reactivation, clear on deactivation
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

fix: restore avatar on account reactivation, clear on deactivation (#1291)
  backend/src/backend/_internal/jetstream.py
  backend/src/backend/_internal/tasks/__init__.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/tests/test_jetstream.py
  loq.toml
Due: type-check

docs: update STATUS.md — avatar restore on account reactivation
  STATUS.md
Due: none

docs: update STATUS.md — avatar restore on account reactivation (#1292)
  STATUS.md
Due: none

fix: update plyrfm CLI calls for v0.0.1a16 namespace restructure
  .github/workflows/status-maintenance.yml
  .github/workflows/upload-audio.yml
  docs/site/public/llms-full.txt
Due: none

fix: update plyrfm CLI calls for v0.0.1a16 namespace restructure (#1293)
  .github/workflows/status-maintenance.yml
  .github/workflows/upload-audio.yml
  docs/site/public/llms-full.txt
Due: none

docs: update STATUS.md — SDK namespace restructure, playlist support, cyclopts CLI
  STATUS.md
Due: none

docs: update STATUS.md — SDK namespace restructure, playlist support, cyclopts CLI (#1294)
  STATUS.md
Due: none

fix: replace feed switcher pill with inline cycle toggle
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

fix: replace feed switcher pill with inline cycle toggle (#1296)
  frontend/src/routes/+page.svelte
Due: svelte-check, eslint

docs: update STATUS.md — feed toggle cleanup (#1296)
  STATUS.md
Due: none

docs: update STATUS.md — feed toggle cleanup (#1296) (#1297)
  STATUS.md
Due: none

fix: eliminate diagonal banding in live theme ambient gradient
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

fix: eliminate diagonal banding in live theme ambient gradient (#1298)
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

Revert "fix: eliminate diagonal banding in live theme ambient gradient (#1298)"
  frontend/src/lib/ambient.svelte.ts
  frontend/src/routes/+layout.svelte
  loq.toml
Due: svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
