Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-check
        name: ty type checking
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-build
        name: frontend build check
        entry: bash -c 'cd frontend && bun run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

fix: admin UI styling + add artist/track links
  backend/src/backend/_internal/moderation.py
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/handlers.rs
  moderation/static/admin.css
Due: ty-check

fix: update test to include track_id parameter
  backend/tests/test_moderation.py
Due: ty-check

fix: admin UI styling + add artist/track links (#414)
  backend/src/backend/_internal/moderation.py
  backend/tests/test_moderation.py
  moderation/src/admin.rs
  moderation/src/db.rs
  moderation/src/handlers.rs
  moderation/static/admin.css
Due: ty-check

update justfile command
  AGENTS.md
Due: none

update justfile command (#415)
  AGENTS.md
Due: none

feat: add now-playing API for teal.fm/Piper integration
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/now_playing.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/now_playing.py
  backend/src/backend/main.py
  backend/tests/api/test_now_playing.py
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/now-playing.svelte.ts
Due: ty-check, frontend-build

fix: use cookie-based auth check in now-playing service
  frontend/src/lib/now-playing.svelte.ts
Due: frontend-build

fix: use latest state in debounced now-playing reports
  frontend/src/lib/now-playing.svelte.ts
Due: frontend-build

feat: add now-playing API for teal.fm/Piper integration (#416)
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/now_playing.py
  backend/src/backend/api/__init__.py
  backend/src/backend/api/now_playing.py
  backend/src/backend/main.py
  backend/tests/api/test_now_playing.py
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/now-playing.svelte.ts
Due: ty-check, frontend-build

update prompt
  .github/workflows/status-maintenance.yml
Due: none

tweak prompts
  .github/workflows/status-maintenance.yml
  .status_history/2025-11.md
  STATUS.md
Due: none

improve status maintenance workflow prompt
  .github/workflows/status-maintenance.yml
  STATUS.md
Due: none

improve status maintenance workflow prompt (#419)
  .github/workflows/status-maintenance.yml
  STATUS.md
Due: none

fix: increase connection pool resilience for Neon cold starts
  STATUS.md
  backend/src/backend/config.py
  docs/backend/database/connection-pooling.md
Due: ty-check

fix: increase connection pool resilience for Neon cold starts (#422)
  STATUS.md
  backend/src/backend/config.py
  docs/backend/database/connection-pooling.md
Due: ty-check

docs: note scale to zero disabled for cold start prevention
  STATUS.md
Due: none

docs: note scale to zero disabled for cold start prevention (#424)
  STATUS.md
Due: none

small prompt tweak
  .github/workflows/status-maintenance.yml
Due: none

docs/neon scale to zero (#425)
  .github/workflows/status-maintenance.yml
Due: none

proompt
  .github/workflows/status-maintenance.yml
Due: none

fix: stats position adjusts when queue opens/closes
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

feat: add touch-friendly drag handles for queue reordering
  frontend/src/lib/components/Queue.svelte
Due: frontend-build

fix: stats position adjusts when queue opens/closes (#426)
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-build

feat: add touch-friendly drag handles for queue reordering (#428)
  frontend/src/lib/components/Queue.svelte
Due: frontend-build

docs: update status with queue touch reorder and stats fix
  STATUS.md
Due: none

docs: update cost structure to reflect current expenses
  STATUS.md
Due: none

docs: update README costs and clarify SDK/MCP link
  README.md
Due: none

docs: update status with queue touch reorder and stats fix (#429)
  README.md
  STATUS.md
Due: none

feat: add tag filtering system with user-configurable hidden tags
  backend/alembic/versions/2025_12_01_223433_ae401a1f0b56_add_tags_and_track_tags_tables.py
  backend/alembic/versions/2025_12_01_225809_f60f46fb6014_add_hidden_tags_to_user_preferences.py
  backend/src/backend/api/preferences.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/preferences.py
  backend/src/backend/models/tag.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  backend/src/backend/utilities/tags.py
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

refactor: move hidden tags filter inline with discovery feed
  backend/src/backend/api/tracks/listing.py
  backend/tests/api/test_hidden_tags_filter.py
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/routes/+page.svelte
Due: ty-check, frontend-build

feat: add tag filtering system with user-configurable hidden tags (#431)
  backend/alembic/versions/2025_12_01_223433_ae401a1f0b56_add_tags_and_track_tags_tables.py
  backend/alembic/versions/2025_12_01_225809_f60f46fb6014_add_hidden_tags_to_user_preferences.py
  backend/src/backend/api/preferences.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/preferences.py
  backend/src/backend/models/tag.py
  backend/src/backend/models/track.py
  backend/src/backend/schemas.py
  backend/src/backend/utilities/aggregations.py
  backend/src/backend/utilities/tags.py
  backend/tests/api/test_hidden_tags_filter.py
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/types.ts
  frontend/src/lib/uploader.svelte.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

feat: add tag detail pages and clickable tag links
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/main.py
  backend/src/backend/utilities/tags.py
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/config.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/tag/[name]/+page.svelte
  frontend/src/routes/tag/[name]/+page.ts
Due: ty-check, frontend-build

refactor: use pydantic TypeAdapter for tag validation
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/utilities/tags.py
Due: ty-check

feat: add tag detail pages and clickable tag links (#432)
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/main.py
  backend/src/backend/utilities/tags.py
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/TagInput.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/config.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/tag/[name]/+page.svelte
  frontend/src/routes/tag/[name]/+page.ts
Due: ty-check, frontend-build

refactor: centralize preferences loading in layout
  frontend/src/lib/components/ColorSettings.svelte
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

refactor: centralize preferences loading in layout (#433)
  frontend/src/lib/components/ColorSettings.svelte
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/SettingsMenu.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

fix: move filter icon inline with heading and cache stats
  STATUS.md
  frontend/src/lib/components/HiddenTagsFilter.svelte
  frontend/src/lib/components/PlatformStats.svelte
  frontend/src/lib/stats.svelte.ts
  frontend/src/routes/+page.svelte
Due: frontend-build
