Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

define the next parallel environment
  backend-zig/README.md
  backend-zig/fly.canary.toml
  docs/internal/architecture/zig-canary.md
Due: none

move next machines behind semantic gates
  .github/workflows/deploy-staging.yml
  backend-zig/justfile
  backend-zig/scripts/canary_placement.py
  backend-zig/scripts/test_canary_placement.py
  docs/internal/architecture/zig-canary.md
Due: type-check

enforce read-only canary database role
  backend-zig/README.md
  backend-zig/scripts/test_list_migration.py
  backend/alembic/versions/2026_08_09_060000_a47e19c83b20_grant_zig_canary_projection_reads.py
  docs/internal/architecture/zig-canary.md
Due: type-check

consume signed relay commits continuously
  backend-zig/build.zig
  backend-zig/justfile
  backend-zig/src/bench_ingest_dispatch.zig
  backend-zig/src/config.zig
  backend-zig/src/internal/ingest/continuous_runner.zig
  backend-zig/src/internal/ingest/watched_repositories.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-http-benchmark.md
  docs/internal/architecture/zig-ingestion-transport.md
  docs/internal/architecture/zig-v1-album-collection.md
  docs/internal/architecture/zig-v1-album-detail.md
  docs/internal/architecture/zig-verified-list-projection.md
Due: none

define account availability evidence
  backend-zig/src/internal/account/availability.zig
  backend-zig/src/internal/account/current_pds_status_source.zig
  backend-zig/src/internal/account/postgres_availability_store.zig
  backend-zig/src/internal/account/repo_status.zig
  backend-zig/src/internal/ingest/pinned_tls.zig
  backend-zig/src/internal/ingest/zat_pds_repository_source.zig
  backend-zig/src/main.zig
Due: none

quarantine malformed verified records
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/projection/commit_verifier.zig
  backend-zig/src/internal/projection/postgres_record_rejection_store.zig
  backend-zig/src/internal/projection/postgres_verified_commit_store.zig
  backend-zig/src/internal/projection/postgres_verified_snapshot_store.zig
  backend-zig/src/internal/projection/record_rejection.zig
  backend-zig/src/internal/projection/snapshot_verifier.zig
  backend-zig/src/internal/projection/verified_commit.zig
  backend-zig/src/internal/projection/verified_snapshot.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_09_011000_a8d20f4bc731_add_verified_record_rejections.py
  loq.toml
Due: type-check

gate canary deploy on product reads
  .github/workflows/deploy-zig-canary.yml
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/canary_smoke.py
Due: type-check

make canary deployment measurable
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-zig-canary.yml
  backend-zig/.dockerignore
  backend-zig/Dockerfile
  backend-zig/README.md
  backend-zig/scripts/bench_http.py
  backend-zig/scripts/canary-resource-snapshot
  backend-zig/scripts/canary_report.py
  backend-zig/scripts/test_bench_http.py
  backend-zig/scripts/test_canary_report.py
  docs/internal/architecture/zig-canary.md
Due: type-check

bound canary database concurrency
  backend-zig/README.md
  backend-zig/fly.canary.toml
  backend-zig/scripts/bench_http.py
  backend-zig/src/config.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_track_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-canary.md
Due: type-check

guard direct PDS repository fetches
  backend-zig/src/internal/application/get_album.zig
  backend-zig/src/internal/ingest/projector.zig
  backend-zig/src/internal/ingest/repository_source.zig
  backend-zig/src/internal/ingest/safe_endpoint.zig
  backend-zig/src/internal/ingest/zat_pds_repository_source.zig
  backend-zig/src/internal/ingest/zat_repository_source.zig
  backend-zig/src/main.zig
Due: none

stabilize verified next reads
  backend-zig/README.md
  backend-zig/build.zig.zon
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/index/postgres_album_store.zig
  backend-zig/src/internal/index/postgres_track_store.zig
  backend/alembic/versions/2026_08_09_060000_a47e19c83b20_grant_zig_canary_projection_reads.py
  docs/internal/architecture/zig-canary.md
Due: type-check

project canonical operator moderation
  backend-zig/README.md
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/domain/track.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend/alembic/versions/2026_08_09_044500_d42f8c5b103e_add_track_access_policies.py
  backend/alembic/versions/2026_08_09_050000_e53a9d6c214f_add_track_moderation_policies.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/_internal/tasks/labels.py
  backend/src/backend/_internal/track_access_policy.py
  backend/src/backend/_internal/track_policy.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/track_access_policy.py
  backend/src/backend/models/track_policy.py
  backend/tests/_internal/test_track_access_policy.py
  backend/tests/_internal/test_track_policy.py
  backend/tests/api/test_track_edit_pds_sync.py
  backend/tests/test_jetstream.py
  backend/tests/test_moderation.py
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-v1-track-collection.md
  docs/internal/architecture/zig-verified-track-projection.md
Due: type-check

preserve did route identity in the next client
  frontend-next/public/api.js
  frontend-next/test/api.test.ts
Due: none

schedule durable account checks
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/account/check_schedule.zig
  backend-zig/src/internal/account/postgres_check_schedule.zig
  backend/alembic/versions/2026_08_09_006000_f7c19e4a3b82_add_account_status_check_schedule.py
Due: type-check

verify authored profile changes
  backend-zig/README.md
  backend-zig/fly.canary.toml
  backend-zig/justfile
  backend-zig/scripts/bench_http.py
  backend-zig/scripts/test_http.py
  backend-zig/src/bench_snapshot.zig
  backend-zig/src/config.zig
  backend-zig/src/internal/ingest/continuous_runner.zig
  backend-zig/src/internal/ingest/projector.zig
  backend-zig/src/internal/ingest/repair_runner.zig
  backend-zig/src/internal/projection/commit_verifier.zig
  backend-zig/src/internal/projection/postgres_verified_snapshot_store.zig
  backend-zig/src/internal/projection/snapshot_verifier.zig
  backend-zig/src/internal/projection/verified_commit.zig
  backend-zig/src/internal/projection/verified_snapshot.zig
  backend-zig/src/main.zig
  loq.toml
Due: type-check

project verified track records
  backend-zig/README.md
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/bench_snapshot.zig
  backend-zig/src/internal/atproto/track_record.zig
  backend-zig/src/internal/projection/commit_verifier.zig
  backend-zig/src/internal/projection/postgres_track_store.zig
  backend-zig/src/internal/projection/postgres_verified_commit_store.zig
  backend-zig/src/internal/projection/postgres_verified_snapshot_store.zig
  backend-zig/src/internal/projection/snapshot_verifier.zig
  backend-zig/src/internal/projection/track_change.zig
  backend-zig/src/internal/projection/track_store.zig
  backend-zig/src/internal/projection/verified_commit.zig
  backend-zig/src/internal/projection/verified_snapshot.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_09_003000_b2e74a19c5d0_add_verified_track_projection.py
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-ingestion-transport.md
  docs/internal/architecture/zig-v1-album-collection.md
  docs/internal/architecture/zig-verified-list-projection.md
  docs/internal/architecture/zig-verified-track-projection.md
  loq.toml
Due: type-check

record deployed playlist canary evidence
  backend-zig/README.md
  docs/internal/architecture/zig-canary.md
Due: none

verify canary database authority
  backend-zig/README.md
  backend-zig/fly.canary.toml
  backend-zig/src/config.zig
  backend-zig/src/internal/index/postgres_track_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-canary.md
Due: none

compose verified track reads
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/bench_http.py
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/src/api/tracks.zig
  backend-zig/src/internal/domain/track.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_track_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-v1-track-collection.md
  docs/internal/architecture/zig-v1-track.md
  docs/internal/architecture/zig-verified-track-projection.md
  loq.toml
Due: type-check

gate canary on measured efficiency
  backend-zig/README.md
  backend-zig/scripts/canary_report.py
  backend-zig/scripts/test_canary_report.py
Due: type-check

scope next deployment credentials
  .github/workflows/deploy-staging.yml
Due: none

decode verified profile records
  backend-zig/src/internal/atproto/lexicon_value.zig
  backend-zig/src/internal/atproto/profile_record.zig
  backend-zig/src/internal/atproto/track_record.zig
  backend-zig/src/internal/projection/profile_change.zig
  backend-zig/src/main.zig
Due: none

serve a native v1 next frontend
  backend-zig/README.md
  docs/internal/architecture/zig-canary.md
  frontend-next/README.md
  frontend-next/bun.lock
  frontend-next/functions/api/[[path]].js
  frontend-next/justfile
  frontend-next/package.json
  frontend-next/public/api.js
  frontend-next/public/app.js
  frontend-next/public/icon.svg
  frontend-next/public/index.html
  frontend-next/public/styles.css
  frontend-next/test/api.test.ts
  frontend-next/test/proxy.test.ts
  frontend-next/tsconfig.json
  frontend-next/wrangler.jsonc
  justfile
Due: none

preserve verified delivery evidence
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/album_detail_bench.sql
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/account/postgres_availability_store.zig
  backend-zig/src/internal/account/postgres_check_schedule.zig
  backend-zig/src/internal/domain/track.zig
  backend-zig/src/internal/index/postgres_album_detail_store.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_track_store.zig
  backend-zig/src/internal/ingest/postgres_relay_cursor.zig
  backend-zig/src/internal/ingest/postgres_repository_candidates.zig
  backend-zig/src/internal/projection/postgres_list_store.zig
  backend-zig/src/internal/projection/postgres_profile_store.zig
  backend-zig/src/internal/projection/postgres_track_store.zig
  backend-zig/src/internal/projection/postgres_verified_commit_store.zig
  backend-zig/src/internal/projection/postgres_verified_snapshot_store.zig
  backend/alembic/versions/2026_08_09_034000_c31e7b4a902d_add_verified_delivery_origins.py
  backend/src/backend/_internal/delivery_origins.py
  backend/src/backend/_internal/tasks/pds_mirror.py
  backend/tests/_internal/test_pds_mirror.py
  backend/tests/docker-compose.yml
  docs/internal/architecture/zig-v1-track.md
  docs/internal/architecture/zig-verified-track-projection.md
  loq.toml
Due: type-check

enforce lexicon grapheme limits
  backend-zig/build.zig
  backend-zig/build.zig.zon
  backend-zig/src/internal/atproto/list_record.zig
  backend-zig/src/internal/text/lexicon_string.zig
Due: none

pin pg.zig channel binding support
  backend-zig/build.zig.zon
Due: none

persist verified profile records
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/index/postgres_album_detail_store.zig
  backend-zig/src/internal/index/postgres_track_store.zig
  backend-zig/src/internal/ingest/postgres_relay_cursor.zig
  backend-zig/src/internal/projection/postgres_list_store.zig
  backend-zig/src/internal/projection/postgres_profile_store.zig
  backend-zig/src/internal/projection/postgres_track_store.zig
  backend-zig/src/internal/projection/postgres_verified_commit_store.zig
  backend-zig/src/internal/projection/postgres_verified_snapshot_store.zig
  backend-zig/src/internal/projection/profile_store.zig
  backend-zig/src/internal/testing/postgres_lock.zig
  backend-zig/src/main.zig
  backend/alembic/versions/2026_08_09_004000_d5a97c8f1e42_add_verified_profile_projection.py
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-verified-list-projection.md
  docs/internal/architecture/zig-verified-profile-projection.md
  docs/internal/architecture/zig-verified-track-projection.md
  loq.toml
Due: type-check

separate canonical track metrics
  backend-zig/README.md
  backend-zig/scripts/album_detail_bench.sql
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/domain/track.zig
  backend-zig/src/internal/index/postgres_album_detail_store.zig
  backend-zig/src/internal/index/postgres_album_store.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_track_store.zig
  backend/alembic/versions/2026_08_09_051500_f64b0e7d325a_add_track_metrics.py
  backend/src/backend/_internal/track_metrics.py
  backend/src/backend/api/subsonic/endpoints.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/track_metric.py
  backend/tests/_internal/test_track_metrics.py
  backend/tests/api/test_play_count_dedup.py
  backend/tests/api/test_subsonic.py
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-v1-album-collection.md
  docs/internal/architecture/zig-v1-album-detail.md
  docs/internal/architecture/zig-v1-track.md
Due: type-check

document direct Neon canary connections
  backend-zig/README.md
  docs/internal/architecture/zig-canary.md
Due: none

persist verified account availability
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/projection/postgres_verified_commit_store.zig
  backend-zig/src/internal/projection/postgres_verified_snapshot_store.zig
  backend/alembic/versions/2026_08_09_005000_e6b08d3f2a71_add_account_availability_projection.py
  docs/internal/architecture/zig-account-availability.md
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-ingestion-transport.md
  docs/internal/architecture/zig-verified-profile-projection.md
  loq.toml
Due: type-check

require real canary product reads
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/canary_smoke.py
  backend-zig/scripts/test_canary_smoke.py
  docs/internal/architecture/zig-canary.md
Due: type-check

accept staging postgres urls
  backend-zig/README.md
  backend-zig/src/internal/index/postgres_track_store.zig
  backend-zig/src/internal/index/postgres_url.zig
Due: none

place next beside its database
  .github/workflows/deploy-staging.yml
  backend-zig/fly.canary.toml
  docs/internal/architecture/zig-canary.md
Due: none

consume the flat v1 artist resource
  frontend-next/public/api.js
  frontend-next/public/app.js
  frontend-next/test/api.test.ts
Due: none

serve verified public playlists
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/album_detail_bench.sql
  backend-zig/scripts/canary_smoke.py
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/scripts/test_canary_smoke.py
  backend-zig/scripts/test_http.py
  backend-zig/src/api/albums.zig
  backend-zig/src/api/playlists.zig
  backend-zig/src/api/router.zig
  backend-zig/src/internal/application/get_playlist.zig
  backend-zig/src/internal/application/list_playlists.zig
  backend-zig/src/internal/atproto/list_record.zig
  backend-zig/src/internal/domain/album_detail.zig
  backend-zig/src/internal/domain/verified_list.zig
  backend-zig/src/internal/identity/playlist_id.zig
  backend-zig/src/internal/identity/scoped_record_cursor.zig
  backend-zig/src/internal/index/album_detail_store.zig
  backend-zig/src/internal/index/postgres_album_detail_store.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend-zig/src/internal/index/postgres_verified_list_store.zig
  backend-zig/src/internal/index/verified_list_store.zig
  backend-zig/src/internal/projection/postgres_list_store.zig
  backend-zig/src/main.zig
  docs/internal/architecture/zig-backend.md
  docs/internal/architecture/zig-canary.md
  docs/internal/architecture/zig-http-benchmark.md
  docs/internal/architecture/zig-rest-api-scope.md
  docs/internal/architecture/zig-v1-album-detail.md
  docs/internal/architecture/zig-v1-playlist.md
Due: type-check

isolate the next deployment
  .github/workflows/deploy-staging.yml
  backend-zig/README.md
  backend-zig/fly.canary.toml
  backend/alembic/versions/2026_08_09_060000_a47e19c83b20_grant_zig_canary_projection_reads.py
  docs/internal/architecture/zig-canary.md
Due: type-check

separate track access policy
  backend-zig/README.md
  backend-zig/scripts/composed_track_bench.sql
  backend-zig/scripts/test_list_migration.py
  backend-zig/src/internal/domain/track.zig
  backend-zig/src/internal/index/postgres_composed_track_store.zig
  backend/alembic/versions/2026_08_09_044500_d42f8c5b103e_add_track_access_policies.py
  backend/scripts/init_db.py
  backend/src/backend/_internal/tasks/ingest.py
  backend/src/backend/_internal/track_access_policy.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/track_access_policy.py
  backend/tests/_internal/test_track_access_policy.py
  backend/tests/api/test_track_edit_pds_sync.py
  backend/tests/conftest.py
  backend/tests/test_jetstream.py
Due: type-check

shorten zig validation loop
  .github/workflows/build-docker.yml
  .github/workflows/run-pre-commit.yml
  .github/workflows/test-backend.yml
  backend-zig/README.md
  backend-zig/justfile
  backend-zig/scripts/check_canary_image
Due: none

render verified albums in the existing frontend
  frontend/src/lib/api/zig-v1-albums.ts
  frontend/src/lib/api/zig-v1.test.ts
  frontend/src/lib/api/zig-v1.ts
  frontend/src/lib/types.ts
  frontend/src/routes/u/[handle]/+page.server.ts
  frontend/src/routes/u/[handle]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.svelte
  frontend/src/routes/u/[handle]/album/[slug]/+page.ts
Due: svelte-check, eslint

refresh line budgets after main rebase
  loq.toml
Due: none

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
