Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type checking
  entry: uv run ty check
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build check
  entry: bash -c 'cd frontend && bun run build'
  language: system
  pass_filenames: false

fix: correct third parties list and DMCA deletion claim (#762)
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: use "public blob storage" instead of "our servers"
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

update some language
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: use 'public blob storage' instead of 'our servers' (#763)
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: add proper privacy intro, MIT license, and email fallbacks
  LICENSE
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: add proper privacy intro, MIT license, and email fallbacks (#764)
  LICENSE
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: standardize AT Protocol naming and add links
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: standardize AT Protocol naming and add links (#765)
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: merge alembic migration heads for staging deploy
  backend/alembic/versions/2026_01_19_192000_merge_heads.py
Due: ty-check

refactor: move accept-terms from /preferences to /account
  backend/src/backend/api/account.py
  backend/src/backend/api/preferences.py
  frontend/src/lib/preferences.svelte.ts
Due: ty-check, frontend-build

fix: merge alembic migration heads for staging deploy (#766)
  backend/alembic/versions/2026_01_19_192000_merge_heads.py
  backend/src/backend/api/account.py
  backend/src/backend/api/preferences.py
  frontend/src/lib/preferences.svelte.ts
Due: ty-check, frontend-build

fix: terms overlay hangs after accepting
  frontend/src/lib/account.svelte.ts
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: terms overlay hangs after accepting (#767)
  frontend/src/lib/account.svelte.ts
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/lib/preferences.svelte.ts
  frontend/src/routes/+layout.svelte
Due: frontend-build

fix: profile setup UX polish
  frontend/src/routes/profile/setup/+page.svelte
Due: frontend-build

fix: profile setup UX polish (#768)
  frontend/src/routes/profile/setup/+page.svelte
Due: frontend-build

fix: legal docs polish and add missing third parties
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: legal docs polish and add missing third parties (#769)
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: capitalize sentence starts in legal docs and terms overlay
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

fix: capitalize sentence starts in legal docs and terms overlay (#770)
  frontend/src/lib/components/TermsOverlay.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/terms/+page.svelte
Due: frontend-build

feat: flexible embed layout for square containers
  frontend/src/routes/embed/+layout@.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

feat: flexible embed layout for square containers (#771)
  frontend/src/routes/embed/+layout@.svelte
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

feat: responsive embed with container query units and width-first modes
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

feat: responsive embed with container query units and width-first modes (#772)
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: frontend-build

feat: listen receipts - track who clicked shared links
  backend/alembic/versions/2026_01_21_000000_add_share_links_tables.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/share_link.py
  frontend/src/lib/player.svelte.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

fix: generate tracked share links from feed and mobile menu
  frontend/src/lib/components/ShareButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
Due: frontend-build

feat: show copyable share link URL in portal stats
  frontend/src/routes/portal/+page.svelte
Due: frontend-build

feat: show visitors and listeners with consistent avatar design
  backend/src/backend/api/tracks/shares.py
  frontend/src/routes/portal/+page.svelte
Due: ty-check, frontend-build

fix: eliminate N+1 query in share link stats
  backend/src/backend/api/tracks/shares.py
Due: ty-check

refactor: clean up shares.py per review feedback
  backend/src/backend/api/tracks/shares.py
Due: ty-check

fix: replace naked dict returns with typed response models
  backend/src/backend/api/albums.py
  backend/src/backend/api/exports.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/now_playing.py
  backend/src/backend/api/search.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/api/users.py
  backend/src/backend/schemas.py
Due: ty-check

feat: listen receipts - see who clicked your shared links (#773)
  backend/alembic/versions/2026_01_21_000000_add_share_links_tables.py
  backend/src/backend/api/albums.py
  backend/src/backend/api/exports.py
  backend/src/backend/api/lists.py
  backend/src/backend/api/now_playing.py
  backend/src/backend/api/search.py
  backend/src/backend/api/tracks/__init__.py
  backend/src/backend/api/tracks/comments.py
  backend/src/backend/api/tracks/likes.py
  backend/src/backend/api/tracks/listing.py
  backend/src/backend/api/tracks/mutations.py
  backend/src/backend/api/tracks/playback.py
  backend/src/backend/api/tracks/shares.py
  backend/src/backend/api/tracks/tags.py
  backend/src/backend/api/tracks/uploads.py
  backend/src/backend/api/users.py
  backend/src/backend/models/__init__.py
  backend/src/backend/models/share_link.py
  backend/src/backend/schemas.py
  frontend/src/lib/components/ShareButton.svelte
  frontend/src/lib/components/TrackActionsMenu.svelte
  frontend/src/lib/components/TrackItem.svelte
  frontend/src/lib/player.svelte.ts
  frontend/src/routes/portal/+page.svelte
  frontend/src/routes/track/[id]/+page.svelte
Due: ty-check, frontend-build

fix: create Artist record on OAuth login for handle resolution
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/auth.py
Due: ty-check

fix: create Artist record on OAuth login for handle resolution (#774)
  backend/src/backend/_internal/__init__.py
  backend/src/backend/_internal/auth.py
  backend/src/backend/api/artists.py
  backend/src/backend/api/auth.py
Due: ty-check

docs: fix documentation drift
  docs/authentication.md
  docs/backend/background-tasks.md
  docs/frontend/state-management.md
Due: none

docs: fix documentation drift (#776)
  docs/authentication.md
  docs/backend/background-tasks.md
  docs/frontend/state-management.md
Due: none

chore: adopt loq for file size enforcement
  .gitignore
  .pre-commit-config.yaml
  loq.toml
Due: none

chore: adopt loq for file size enforcement (#777)
  .gitignore
  .pre-commit-config.yaml
  loq.toml
Due: none

fix: raise sensitive-images rate limit from 10 to 120/min
  backend/src/backend/api/moderation.py
Due: ty-check

fix: raise sensitive-images rate limit from 10 to 120/min (#778)
  backend/src/backend/api/moderation.py
Due: ty-check

docs: document audio persistence known issue in bluesky in-app browser
  STATUS.md
Due: none

Path conditions:
  ty-check: any of: \.py$
  frontend-build: any of: ^frontend/
