Repository zzstoatzz/plyr.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, svelte-check, eslint, cargo-check-moderation, cargo-check-transcoder

type-check:
  name: type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte check
  entry: bash -c 'cd frontend && bun run check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint'
  language: system
  pass_filenames: false

cargo-check-moderation:
  name: cargo check (moderation)
  entry: bash -c 'cd moderation && cargo check --quiet'
  language: system
  pass_filenames: false

cargo-check-transcoder:
  name: cargo check (transcoder)
  entry: bash -c 'cd transcoder && cargo check --quiet'
  language: system
  pass_filenames: false

test: identify granted listeners by returned profile
  frontend/e2e/private-media.mjs
Due: svelte-check

test: select the exact requested listener handle
  frontend/e2e/private-media.mjs
Due: svelte-check

test: identify shared listeners independently of their display name (#2127)
  frontend/e2e/private-media.mjs
Due: svelte-check

status: the review queue's first decisions, 76 to 33 open
  STATUS.md
Due: none

status: the review queue's first decisions, 76 to 33 open (#2128)
  STATUS.md
Due: none

feat: enlarge desktop track-list artwork
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

feat: enlarge desktop track-list artwork (#2129)
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

Revert "feat: enlarge desktop track-list artwork (#2129)"
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

revert: enlarge desktop track-list artwork (#2130)
  frontend/src/lib/components/TrackItem.svelte
Due: svelte-check, eslint

fix: keep top tracks on the homepage when the past month has no likes
  frontend/src/routes/+page.svelte
  frontend/src/routes/page.test.ts
Due: svelte-check, eslint

docs: drop the agent rule that held PRs and issues local until authorized
  .agents/AGENTS.md
  docs/internal/tools/skills.md
Due: none

feat: in-browser equalizer for the web player (flagged)
  backend/src/backend/_internal/feature_flags.py
  backend/src/backend/api/audio.py
  backend/tests/api/test_audio.py
  backend/tests/api/test_audio_space_checks.py
  frontend/src/lib/audio-source.ts
  frontend/src/lib/components/player/EqButton.svelte
  frontend/src/lib/components/player/EqPanel.stories.svelte
  frontend/src/lib/components/player/EqPanel.svelte
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/eq.svelte.ts
  frontend/src/lib/eq.test.ts
  frontend/src/lib/eq/bands.test.ts
  frontend/src/lib/eq/bands.ts
  frontend/src/lib/player.svelte.ts
  infrastructure/r2/README.md
  loq.toml
Due: type-check, svelte-check, eslint

mobile: declare react-native-worklets and reanimated as direct deps
  bun.lock
  mobile/package.json
Due: none

mobile: skip now-playing hide before anything was shown
  mobile/src/player/nowPlaying.ts
Due: none

fix: eq panel hint meets contrast (text-tertiary)
  frontend/src/lib/components/player/EqPanel.svelte
Due: svelte-check, eslint

docs: keep instructions in AGENTS.md only
  .agents/AGENTS.md
  .github/workflows/CLAUDE.md
  AGENTS.md
  CLAUDE.md
  backend/src/backend/_internal/CLAUDE.md
  backend/src/backend/api/CLAUDE.md
  backend/src/backend/utilities/downloads.py
  backend/tests/CLAUDE.md
  docs/internal/CLAUDE.md
  docs/internal/tools/skills.md
  frontend/CLAUDE.md
  justfile
Due: type-check, svelte-check

docs: keep instructions in AGENTS.md only (#2135)
  .agents/AGENTS.md
  .github/workflows/CLAUDE.md
  AGENTS.md
  CLAUDE.md
  backend/src/backend/_internal/CLAUDE.md
  backend/src/backend/api/CLAUDE.md
  backend/src/backend/utilities/downloads.py
  backend/tests/CLAUDE.md
  docs/internal/CLAUDE.md
  docs/internal/tools/skills.md
  frontend/CLAUDE.md
  justfile
Due: type-check, svelte-check

mobile: register EAS project for TestFlight
  mobile/README.md
  mobile/app.json
Due: none

mobile: configure App Store Connect submission
  mobile/README.md
  mobile/eas.json
Due: none

mobile: record successful TestFlight upload
  mobile/README.md
Due: none

mobile: declare a microphone purpose string
  mobile/app.json
Due: none

radio: persist autoplay state when switching stations (#2111)
  docs/internal/frontend/radio.md
  frontend/src/lib/components/radio/SisterRadio.svelte
  frontend/src/lib/player-radio-transition.test.ts
  loq.toml
Due: svelte-check, eslint

mobile: tag-filtered home, artist/tag/playlist pages, multi-entity search
  mobile/README.md
  mobile/app/(tabs)/(home,search)/artist/[handle].tsx
  mobile/app/(tabs)/(home,search)/home.tsx
  mobile/app/(tabs)/(home,search)/playlist/[id].tsx
  mobile/app/(tabs)/(home,search)/search.tsx
  mobile/app/(tabs)/(home,search)/tag/[name].tsx
  mobile/src/components/SearchResultRow.tsx
  mobile/src/components/TagChips.tsx
  mobile/src/components/TopTracks.tsx
  mobile/src/components/TrackItem.tsx
  mobile/src/components/TrackListScreen.tsx
  mobile/src/components/TrackRow.tsx
  mobile/src/data.ts
  mobile/src/nav.ts
  shared/contract.test.ts
  shared/contract.ts
  shared/format.ts
  shared/playback.test.ts
  shared/search.test.ts
  shared/search.ts
  shared/tags.test.ts
  shared/tags.ts
Due: none

ci: run the mobile check when a file its parity tests read changes
  .github/workflows/check-mobile.yml
Due: none

mobile: download wav and flac before decoding, fix tag-filter wording
  mobile/app/(tabs)/(home,search)/home.tsx
  mobile/app/player.tsx
  mobile/src/components/MiniPlayer.tsx
  mobile/src/components/TrackItem.tsx
  mobile/src/data.ts
  mobile/src/player/PlayerProvider.tsx
  mobile/src/player/formats.test.ts
  mobile/src/player/formats.ts
  shared/format.ts
  shared/playback.test.ts
Due: none

mobile: artist albums, playlists and support link, album page, Comic Neue
  .github/workflows/check-mobile.yml
  bun.lock
  mobile/DESIGN.md
  mobile/README.md
  mobile/app.json
  mobile/app/(tabs)/(home,search)/_layout.tsx
  mobile/app/(tabs)/(home,search)/album/[handle]/[slug].tsx
  mobile/app/(tabs)/(home,search)/artist/[handle].tsx
  mobile/app/(tabs)/(home,search)/playlist/[id].tsx
  mobile/app/(tabs)/(home,search)/search.tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/app/player.tsx
  mobile/package.json
  mobile/src/components/AlbumShelf.tsx
  mobile/src/components/Button.tsx
  mobile/src/components/CollectionHeader.tsx
  mobile/src/components/CollectionRow.tsx
  mobile/src/components/MiniPlayer.tsx
  mobile/src/components/SearchResultRow.tsx
  mobile/src/components/TagChips.tsx
  mobile/src/components/TopTracks.tsx
  mobile/src/components/TrackItem.tsx
  mobile/src/components/TrackListScreen.tsx
  mobile/src/data.ts
  mobile/src/nav.ts
  mobile/src/palette.test.ts
  mobile/src/palette.ts
  mobile/src/player/PlayerProvider.tsx
  mobile/src/theme.ts
  mobile/src/type.ts
  shared/AGENTS.md
  shared/contract.test.ts
  shared/contract.ts
  shared/playback.test.ts
  shared/queue.test.ts
  shared/queue.ts
  shared/support.test.ts
  shared/support.ts
Due: none

mobile: local queue with up next, queue screen, track description
  .github/workflows/check-mobile.yml
  mobile/DESIGN.md
  mobile/README.md
  mobile/app/(tabs)/(home,search)/album/[handle]/[slug].tsx
  mobile/app/(tabs)/(home,search)/artist/[handle].tsx
  mobile/app/(tabs)/(home,search)/home.tsx
  mobile/app/(tabs)/(home,search)/playlist/[id].tsx
  mobile/app/(tabs)/(home,search)/search.tsx
  mobile/app/(tabs)/(home,search)/tag/[name].tsx
  mobile/app/_layout.tsx
  mobile/app/player.tsx
  mobile/app/queue.tsx
  mobile/src/components/CollectionHeader.tsx
  mobile/src/components/TopTracks.tsx
  mobile/src/components/TrackItem.tsx
  mobile/src/components/TrackListScreen.tsx
  mobile/src/components/TrackRow.tsx
  mobile/src/components/Transport.tsx
  mobile/src/haptics.ts
  mobile/src/player/PlayerProvider.tsx
  mobile/src/player/saved.ts
  shared/contract.ts
  shared/queue.test.ts
  shared/queue.ts
  shared/richtext.test.ts
  shared/richtext.ts
Due: none

mobile: send every Now Playing field, stop the clock while buffering
  mobile/.gitignore
  mobile/DESIGN.md
  mobile/expo-env.d.ts
  mobile/src/player/nowPlaying.ts
  mobile/src/player/nowPlayingInfo.test.ts
  mobile/src/player/nowPlayingInfo.ts
Due: none

mobile: draft up-next Live Activity with expo-widgets
  bun.lock
  mobile/app.json
  mobile/package.json
  mobile/src/player/PlayerProvider.tsx
  mobile/src/player/upNextActivity.tsx
  mobile/src/player/useUpNextActivity.ts
Due: none

fix: air the live firehose broadcast in the radio embed
  docs/internal/frontend/radio.md
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
Due: svelte-check, eslint

test: inject hls.js into the radio embed instead of mocking the module
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
Due: svelte-check, eslint

mobile: drag between up next and the tail, VoiceOver and Dynamic Type in the queue
  mobile/DESIGN.md
  mobile/app/player.tsx
  mobile/app/queue.tsx
  mobile/src/components/TrackRow.tsx
  mobile/src/player/PlayerProvider.tsx
  shared/queue.test.ts
  shared/queue.ts
Due: none

mobile: up next Live Activity in the Dynamic Island and on the lock screen
  bun.lock
  mobile/DESIGN.md
  mobile/app.json
  mobile/package.json
  mobile/src/player/PlayerProvider.tsx
  mobile/src/player/upNext.test.ts
  mobile/src/player/upNext.ts
  mobile/src/player/upNextActivity.tsx
  mobile/src/player/useUpNextActivity.ts
Due: none

fix: air the live firehose broadcast in the radio embed (#2136)
  docs/internal/frontend/radio.md
  frontend/src/lib/components/embed/RadioEmbed.svelte
  frontend/src/lib/components/embed/RadioEmbed.test.ts
Due: svelte-check, eslint

mobile: AirPlay route button in the player
  mobile/.gitignore
  mobile/DESIGN.md
  mobile/app/player.tsx
  mobile/modules/route-picker/expo-module.config.json
  mobile/modules/route-picker/index.ts
  mobile/modules/route-picker/ios/RoutePicker.podspec
  mobile/modules/route-picker/ios/RoutePickerModule.swift
Due: none

mobile: thin scrubber in the player
  mobile/DESIGN.md
  mobile/app/player.tsx
  mobile/src/components/Scrubber.tsx
Due: none

mobile: drop the navigation bar on home, title under the status bar
  mobile/DESIGN.md
  mobile/app/(tabs)/(home,search)/_layout.tsx
  mobile/app/(tabs)/(home,search)/home.tsx
  mobile/src/type.ts
Due: none

fix: let the track embed fill near-square and tall frames
  frontend/src/routes/embed/track/[id]/+page.svelte
Due: svelte-check, eslint

feat: offer the eq as an experimental setting instead of a feature flag
  backend/src/backend/_internal/feature_flags.py
  frontend/src/lib/components/player/Player.svelte
  frontend/src/lib/config.ts
  frontend/src/lib/eq.svelte.ts
  frontend/src/routes/settings/+page.svelte
  loq.toml
Due: type-check, svelte-check, eslint

Path conditions:
  type-check: any of: \.py$
  svelte-check: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|svelte)$
  cargo-check-moderation: any of: ^moderation/.*\.rs$
  cargo-check-transcoder: any of: ^transcoder/.*\.rs$
